Repository astriaorg/astria, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, conductor, composer, docker, proto, sequencer, sequencer-relayer, documentation

.github/labeler.yml:

ci:
  - '.github/**'
conductor:
  - 'crates/astria-conductor/**'
composer:
  - 'crates/astria-composer/**'
docker:
  - 'containerfiles/**'
proto:
  - 'crates/astria-proto/**'
sequencer:
  - 'crates/astria-sequencer/**'
  - 'crates/astria-sequencer-client/**'
  - 'crates/astria-sequencer-utils/**'
sequencer-relayer:
  - 'crates/astria-sequencer-relayer/**'
  - 'crates/astria-gossipnet/**'
documentation:
  - 'specs/**'

split monolithic queue test into individual tests
  crates/astria-conductor/src/executor/queue.rs
Labels: conductor

tiny spelling and syntax fixes
  crates/astria-conductor/src/executor/mod.rs
  crates/astria-conductor/src/executor/queue.rs
  specs/conductor.md
Labels: conductor, documentation

readme typo fix
  crates/astria-conductor/README.md
Labels: conductor

conductor spec updates
  specs/conductor.md
Labels: documentation

wip sequencer app doc
  specs/sequencer-app.md
Labels: documentation

Boil down relayer integration test
  crates/astria-sequencer-relayer/src/config/mod.rs
  crates/astria-sequencer-relayer/src/relayer.rs
  crates/astria-sequencer-relayer/tests/smoke/helper.rs
  crates/astria-sequencer-relayer/tests/smoke/main.rs
Labels: sequencer-relayer
