Repository astriaorg/astria, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, conductor, composer, docker, proto, sequencer, sequencer-relayer, documentation

fix proto tool
  tools/protobuf-compiler/src/main.rs
Labels: none

fix docker-build
  .github/workflows/docker-build.yml
Labels: ci

fix toml formatting
  crates/composer/Cargo.toml
  crates/conductor/Cargo.toml
  crates/sequencer-relayer/Cargo.toml
  crates/sequencer/Cargo.toml
Labels: conductor, composer, sequencer, sequencer-relayer

feat: add pretty-printing to stdout
  crates/astria-composer/local.env.example
  crates/astria-composer/src/config.rs
  crates/astria-composer/src/main.rs
  crates/astria-conductor/local.env.example
  crates/astria-conductor/src/config.rs
  crates/astria-conductor/src/main.rs
  crates/astria-sequencer-relayer/local.env.example
  crates/astria-sequencer-relayer/src/config.rs
  crates/astria-sequencer-relayer/src/main.rs
  crates/astria-sequencer/local.env.example
  crates/astria-sequencer/src/config.rs
  crates/astria-sequencer/src/main.rs
  crates/astria-telemetry/src/lib.rs
Labels: none

fix tests
  crates/astria-composer/src/searcher/executor/tests.rs
  crates/astria-composer/tests/blackbox/helper/mod.rs
  crates/astria-sequencer-relayer/tests/blackbox/helper.rs
Labels: none

clippy
  crates/astria-conductor/src/config.rs
  crates/astria-sequencer-relayer/src/config.rs
  crates/astria-sequencer/src/config.rs
Labels: none

switch from pretty-printed to compact formatting
  crates/astria-telemetry/src/lib.rs
Labels: none

feat!: add pretty-printing to stdout (#736)
  crates/astria-composer/local.env.example
  crates/astria-composer/src/config.rs
  crates/astria-composer/src/main.rs
  crates/astria-composer/src/searcher/executor/tests.rs
  crates/astria-composer/tests/blackbox/helper/mod.rs
  crates/astria-conductor/local.env.example
  crates/astria-conductor/src/config.rs
  crates/astria-conductor/src/main.rs
  crates/astria-sequencer-relayer/local.env.example
  crates/astria-sequencer-relayer/src/config.rs
  crates/astria-sequencer-relayer/src/main.rs
  crates/astria-sequencer-relayer/tests/blackbox/helper.rs
  crates/astria-sequencer/local.env.example
  crates/astria-sequencer/src/config.rs
  crates/astria-sequencer/src/main.rs
  crates/astria-telemetry/src/lib.rs
Labels: none

ignore tests that need env vars
  crates/astria-build-info/README.md
  crates/astria-build-info/src/lib.rs
Labels: none

fmt proto
  proto/sequencerapis/astria/sequencer/v1alpha1/transaction.proto
Labels: none

feat(conductor): set permitted commitment spread from rollup genesis (#743)
  crates/astria-conductor/src/block_cache.rs
  crates/astria-conductor/src/celestia/mod.rs
  crates/astria-conductor/src/executor/builder.rs
  crates/astria-conductor/src/executor/channel.rs
  crates/astria-conductor/src/executor/mod.rs
  crates/astria-conductor/src/sequencer.rs
Labels: none

feat(sequencer): implement ability to update fee assets using sudo key (#752)
  crates/astria-core/src/generated/astria.sequencer.v1alpha1.rs
  crates/astria-core/src/sequencer/v1alpha1/transaction/action.rs
  crates/astria-sequencer/src/app.rs
  crates/astria-sequencer/src/fee_asset_change.rs
  crates/astria-sequencer/src/lib.rs
  crates/astria-sequencer/src/state_ext.rs
  crates/astria-sequencer/src/transaction/mod.rs
  proto/sequencerapis/astria/sequencer/v1alpha1/transaction.proto
Labels: none

move ibc-related code to its own module
  crates/astria-sequencer/src/accounts/component.rs
  crates/astria-sequencer/src/accounts/mod.rs
  crates/astria-sequencer/src/accounts/state_ext.rs
  crates/astria-sequencer/src/app.rs
  crates/astria-sequencer/src/ibc/component.rs
  crates/astria-sequencer/src/ibc/host_interface.rs
  crates/astria-sequencer/src/ibc/ibc_relayer_change.rs
  crates/astria-sequencer/src/ibc/ics20_transfer.rs
  crates/astria-sequencer/src/ibc/ics20_withdrawal.rs
  crates/astria-sequencer/src/ibc/mod.rs
  crates/astria-sequencer/src/ibc/state_ext.rs
  crates/astria-sequencer/src/lib.rs
  crates/astria-sequencer/src/sequencer.rs
  crates/astria-sequencer/src/transaction/mod.rs
Labels: none

update naming a bit, add http annotations for how these could be REST endpoints
  crates/astria-core/src/generated/astria.sequencer.v1alpha1.rs
  proto/sequencerapis/astria/sequencer/v1alpha1/service.proto
  proto/sequencerapis/buf.yaml
Labels: none

update patched versions
  crates/astria-cli/Cargo.toml
  crates/astria-composer/Cargo.toml
  crates/astria-config/Cargo.toml
  crates/astria-merkle/Cargo.toml
  crates/astria-sequencer-utils/Cargo.toml
  crates/astria-telemetry/Cargo.toml
  crates/astria-test-utils/Cargo.toml
Labels: none

refactor(sequencer): move ibc-related code to its own module (#757)
  crates/astria-sequencer/src/accounts/component.rs
  crates/astria-sequencer/src/accounts/mod.rs
  crates/astria-sequencer/src/accounts/state_ext.rs
  crates/astria-sequencer/src/app.rs
  crates/astria-sequencer/src/ibc/component.rs
  crates/astria-sequencer/src/ibc/host_interface.rs
  crates/astria-sequencer/src/ibc/ibc_relayer_change.rs
  crates/astria-sequencer/src/ibc/ics20_transfer.rs
  crates/astria-sequencer/src/ibc/ics20_withdrawal.rs
  crates/astria-sequencer/src/ibc/mod.rs
  crates/astria-sequencer/src/ibc/state_ext.rs
  crates/astria-sequencer/src/lib.rs
  crates/astria-sequencer/src/sequencer.rs
  crates/astria-sequencer/src/transaction/mod.rs
Labels: none

chore: add some information to crates update msrv (#754)
  crates/astria-celestia-client/Cargo.toml
  crates/astria-celestia-mock/Cargo.toml
  crates/astria-cli/Cargo.toml
  crates/astria-composer/Cargo.toml
  crates/astria-conductor/Cargo.toml
  crates/astria-config/Cargo.toml
  crates/astria-core/Cargo.toml
  crates/astria-merkle/Cargo.toml
  crates/astria-optimism/Cargo.toml
  crates/astria-sequencer-client/Cargo.toml
  crates/astria-sequencer-relayer/Cargo.toml
  crates/astria-sequencer-utils/Cargo.toml
  crates/astria-sequencer/Cargo.toml
  crates/astria-telemetry/Cargo.toml
  crates/astria-test-utils/Cargo.toml
Labels: none

feat: print build info in all services (#753)
  Cargo.lock
  Cargo.toml
  crates/astria-build-info/Cargo.toml
  crates/astria-build-info/README.md
  crates/astria-build-info/src/lib.rs
  crates/astria-composer/Cargo.toml
  crates/astria-composer/build.rs
  crates/astria-composer/src/build_info.rs
  crates/astria-composer/src/lib.rs
  crates/astria-composer/src/main.rs
  crates/astria-conductor/Cargo.toml
  crates/astria-conductor/build.rs
  crates/astria-conductor/src/build_info.rs
  crates/astria-conductor/src/lib.rs
  crates/astria-conductor/src/main.rs
  crates/astria-sequencer-relayer/Cargo.toml
  crates/astria-sequencer-relayer/build.rs
  crates/astria-sequencer-relayer/src/build_info.rs
  crates/astria-sequencer-relayer/src/lib.rs
  crates/astria-sequencer-relayer/src/main.rs
  crates/astria-sequencer/Cargo.toml
  crates/astria-sequencer/build.rs
  crates/astria-sequencer/src/build_info.rs
  crates/astria-sequencer/src/lib.rs
  crates/astria-sequencer/src/main.rs
Labels: none

release: composer 0.4, conductor 0.12, sequencer 0.9, sequencer-relayer 0.10
  Cargo.lock
  crates/astria-composer/Cargo.toml
  crates/astria-conductor/Cargo.toml
  crates/astria-sequencer-relayer/Cargo.toml
  crates/astria-sequencer/Cargo.toml
Labels: none

release: composer 0.4, conductor 0.12, sequencer 0.9, relayer 0.10 (#760)
  Cargo.lock
  crates/astria-composer/Cargo.toml
  crates/astria-conductor/Cargo.toml
  crates/astria-sequencer-relayer/Cargo.toml
  crates/astria-sequencer/Cargo.toml
Labels: none

fix(conductor): add path to celestia RPC URI if missing
  crates/astria-conductor/src/celestia/builder.rs
Labels: none

fix(conductor): keep wsclient alive
  crates/astria-conductor/src/celestia/mod.rs
Labels: none

cleanup
  crates/astria-conductor/src/celestia/mod.rs
Labels: none

fix(ci): build composer, and allow builds on old tags
  .github/workflows/build.yml
  .github/workflows/docker-build.yml
  .github/workflows/reusable-build.yml
  .github/workflows/reusable-docker-build.yml
Labels: ci

fix(conductor): keep wsclient alive (#762)
  crates/astria-conductor/src/celestia/mod.rs
Labels: none

add sequencer-util build
  .github/workflows/build.yml
Labels: ci

basic scripts
  .gitignore
  scripts/download-binaries-macos-aarch64.sh
  scripts/download-binaries.sh
  scripts/genesis.json
  scripts/identify-os-and-arch.sh
  scripts/justfile
  scripts/local-bin-mprocs.yaml
Labels: none

refactor
  .github/workflows/build.yml
  .github/workflows/docker-build.yml
  .github/workflows/reusable-build.yml
  .github/workflows/reusable-docker-build.yml
Labels: ci

try adding scheme if missing
  crates/astria-conductor/src/celestia/builder.rs
Labels: none

clippy
  crates/astria-conductor/src/celestia/builder.rs
Labels: none

feat: simplify error reporting
  Cargo.lock
  Cargo.toml
  crates/astria-eyre/Cargo.toml
  crates/astria-eyre/README.md
  crates/astria-eyre/src/lib.rs
  crates/astria-sequencer-client/Cargo.toml
Labels: none

conductor remove AsRef casting of eyre reports where appropriate
  Cargo.lock
  crates/astria-conductor/Cargo.toml
  crates/astria-conductor/src/celestia/block_verifier.rs
  crates/astria-conductor/src/celestia/builder.rs
  crates/astria-conductor/src/celestia/mod.rs
  crates/astria-conductor/src/client_provider.rs
  crates/astria-conductor/src/conductor.rs
  crates/astria-conductor/src/executor/builder.rs
  crates/astria-conductor/src/executor/client.rs
  crates/astria-conductor/src/executor/mod.rs
  crates/astria-conductor/src/executor/optimism.rs
  crates/astria-conductor/src/lib.rs
  crates/astria-conductor/src/main.rs
  crates/astria-conductor/src/sequencer.rs
Labels: none

composer: remove AsRef eyre report casting where appropriate
  Cargo.lock
  crates/astria-composer/Cargo.toml
  crates/astria-composer/src/composer.rs
  crates/astria-composer/src/main.rs
  crates/astria-composer/src/searcher/collector.rs
  crates/astria-composer/src/searcher/executor/mod.rs
  crates/astria-composer/src/searcher/executor/tests.rs
  crates/astria-composer/src/searcher/mod.rs
Labels: none

sequencer-relayer: replace eyre report asref casting where appropriate
  Cargo.lock
  crates/astria-sequencer-relayer/Cargo.toml
  crates/astria-sequencer-relayer/src/main.rs
  crates/astria-sequencer-relayer/src/relayer.rs
  crates/astria-sequencer-relayer/src/sequencer_relayer.rs
  crates/astria-sequencer-relayer/src/validator.rs
Labels: none

feat: add contributing style guide
  CONTRIBUTING.md
  crates/astria-core/src/sequencer/v1alpha1/mod.rs
Labels: none

chore(ci): add metrics to pr template
  .github/pull_request_template.md
Labels: ci

fmt
  crates/astria-conductor/src/celestia/block_verifier.rs
  crates/astria-conductor/src/celestia/builder.rs
  crates/astria-conductor/src/executor/client.rs
  crates/astria-conductor/src/executor/optimism.rs
  crates/astria-conductor/src/sequencer.rs
Labels: none

fix markdown
  crates/astria-eyre/README.md
Labels: none

fix(ci): build composer, and allow builds on old tags (#763)
  .github/workflows/build.yml
  .github/workflows/docker-build.yml
  .github/workflows/reusable-build.yml
  .github/workflows/reusable-docker-build.yml
Labels: ci

big env file, all binary download
  scripts/download-binaries-macos-x86_64.sh
  scripts/download-binaries.sh
  scripts/genesis.json
  scripts/justfile
  scripts/local-bin-mprocs.yaml
  scripts/local.env.example
Labels: none

.github/labeler.yml:

ci:
  - '.github/**'
conductor:
  - 'crates/conductor/**'
composer:
  - 'crates/composer/**'
docker:
  - 'containerfiles/**'
proto:
  - 'crates/proto/**'
sequencer:
  - 'crates/sequencer/**'
  - 'crates/sequencer-client/**'
  - 'crates/sequencer-utils/**'
sequencer-relayer:
  - 'crates/sequencer-relayer/**'
  - 'crates/gossipnet/**'
documentation:
  - 'specs/**'
