Repository astriaorg/astria, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, conductor, composer, docker, proto, sequencer, sequencer-relayer, documentation

.github/labeler.yml:

ci:
  - '.github/**'
conductor:
  - 'crates/astria-conductor/**'
composer:
  - 'crates/astria-composer/**'
docker:
  - 'containerfiles/**'
proto:
  - 'proto/**'
  - 'crates/astria-core/src/generated/**'
sequencer:
  - 'crates/astria-sequencer/**'
  - 'crates/astria-sequencer-client/**'
  - 'crates/astria-sequencer-utils/**'
sequencer-relayer:
  - 'crates/astria-sequencer-relayer/**'
  - 'crates/astria-gossipnet/**'
documentation:
  - 'specs/**'

fix(relayer): add metrics (#771)
  crates/astria-sequencer-relayer/src/metrics_init.rs
  crates/astria-sequencer-relayer/src/relayer/mod.rs
  crates/astria-sequencer-relayer/src/relayer/read.rs
  crates/astria-sequencer-relayer/src/relayer/write.rs
Labels: sequencer-relayer

feat(conductor)!: provide explicit http, ws celestia RPC URLs
  Cargo.lock
  crates/astria-conductor/Cargo.toml
  crates/astria-conductor/local.env.example
  crates/astria-conductor/src/celestia/builder.rs
  crates/astria-conductor/src/conductor.rs
  crates/astria-conductor/src/config.rs
Labels: conductor

feat(relayer)!: provide address, not port, to serve API requests (#776)
  Cargo.lock
  crates/astria-sequencer-relayer/Cargo.toml
  crates/astria-sequencer-relayer/local.env.example
  crates/astria-sequencer-relayer/src/api.rs
  crates/astria-sequencer-relayer/src/config.rs
  crates/astria-sequencer-relayer/src/sequencer_relayer.rs
  crates/astria-sequencer-relayer/tests/blackbox/helper.rs
  crates/astria-sequencer-relayer/tests/blackbox/main.rs
Labels: sequencer-relayer

chore(conductor): remove all optimism functionality
  .github/workflows/test.yml
  Cargo.lock
  Cargo.toml
  crates/astria-conductor/Cargo.toml
  crates/astria-conductor/local.env.example
  crates/astria-conductor/src/conductor.rs
  crates/astria-conductor/src/config.rs
  crates/astria-conductor/src/executor/builder.rs
  crates/astria-conductor/src/executor/mod.rs
  crates/astria-conductor/src/executor/optimism.rs
  crates/astria-conductor/src/executor/tests.rs
  crates/astria-optimism/Cargo.toml
  crates/astria-optimism/OptimismPortal.abi
  crates/astria-optimism/README.md
  crates/astria-optimism/contracts/MockOptimismPortal.sol
  crates/astria-optimism/src/contract.rs
  crates/astria-optimism/src/deposit.rs
  crates/astria-optimism/src/lib.rs
  crates/astria-optimism/src/test_utils.rs
Labels: ci, conductor

chore(conductor)!: remove all optimism functionality (#775)
  .github/workflows/test.yml
  Cargo.lock
  Cargo.toml
  crates/astria-conductor/Cargo.toml
  crates/astria-conductor/local.env.example
  crates/astria-conductor/src/conductor.rs
  crates/astria-conductor/src/config.rs
  crates/astria-conductor/src/executor/builder.rs
  crates/astria-conductor/src/executor/mod.rs
  crates/astria-conductor/src/executor/optimism.rs
  crates/astria-conductor/src/executor/tests.rs
  crates/astria-optimism/Cargo.toml
  crates/astria-optimism/OptimismPortal.abi
  crates/astria-optimism/README.md
  crates/astria-optimism/contracts/MockOptimismPortal.sol
  crates/astria-optimism/src/contract.rs
  crates/astria-optimism/src/deposit.rs
  crates/astria-optimism/src/lib.rs
  crates/astria-optimism/src/test_utils.rs
Labels: ci, conductor

Revert "chore(conductor)!: remove all optimism functionality (#775)"
  .github/workflows/test.yml
  Cargo.lock
  Cargo.toml
  crates/astria-conductor/Cargo.toml
  crates/astria-conductor/local.env.example
  crates/astria-conductor/src/conductor.rs
  crates/astria-conductor/src/config.rs
  crates/astria-conductor/src/executor/builder.rs
  crates/astria-conductor/src/executor/mod.rs
  crates/astria-conductor/src/executor/optimism.rs
  crates/astria-conductor/src/executor/tests.rs
  crates/astria-optimism/Cargo.toml
  crates/astria-optimism/OptimismPortal.abi
  crates/astria-optimism/README.md
  crates/astria-optimism/contracts/MockOptimismPortal.sol
  crates/astria-optimism/src/contract.rs
  crates/astria-optimism/src/deposit.rs
  crates/astria-optimism/src/lib.rs
  crates/astria-optimism/src/test_utils.rs
Labels: ci, conductor

chore: update penumbra versions + security fixes
  Cargo.lock
  Cargo.toml
  crates/astria-core/src/sequencer/v1alpha1/transaction/action.rs
  crates/astria-sequencer/Cargo.toml
Labels: sequencer
