Repository astriaorg/astria, pull requests merged in 2023-09, with the labels that each got.

#321 sequencer: avoid an extra allocation
  crates/astria-sequencer/src/proposal/commitment.rs
Labels: sequencer

#275 ci: markdown formatting
  .github/pull_request_template.md
  .github/workflows/lint.yml
  .github/workflows/reusable-run-checker.yml
  README.md
  crates/astria-celestia-jsonrpc-client/README.md
  crates/astria-composer/README.md
  crates/astria-conductor/README.md
  crates/astria-proto/README.md
  crates/astria-sequencer-relayer/README.md
  crates/astria-sequencer-relayer/TESTING.md
  crates/astria-sequencer-utils/README.md
  crates/astria-sequencer/README.md
  crates/astria-sequencer/TESTNET.md
  specs/conductor.md
  specs/execution-api.md
  specs/sequencer-app.md
  specs/sequencer-inclusion-proofs.md
Labels: documentation, ci, conductor, proto, sequencer, sequencer-relayer, composer

#326 sequencer: remove todo for issue that's done
  crates/astria-sequencer/src/transaction/mod.rs
Labels: sequencer

#324 remove alert actor from conductor
  crates/astria-conductor/src/alert.rs
  crates/astria-conductor/src/bin/astria-conductor.rs
  crates/astria-conductor/src/driver.rs
  crates/astria-conductor/src/executor.rs
  crates/astria-conductor/src/lib.rs
  crates/astria-conductor/src/reader.rs
Labels: conductor

#290 feat(conductor): implement `RollupNamespaceData` verification inside conductor
  Cargo.lock
  crates/astria-conductor/Cargo.toml
  crates/astria-conductor/src/block_verifier.rs
  crates/astria-conductor/src/driver.rs
  crates/astria-conductor/src/executor.rs
  crates/astria-conductor/src/reader.rs
  crates/astria-sequencer-relayer/src/data_availability.rs
  crates/astria-sequencer-types/src/sequencer_block_data.rs
Labels: conductor, sequencer-relayer

#327 feat(sequencer-types): verify `last_commit_hash` when constructing `SequencerBlockData`
  Cargo.lock
  crates/astria-conductor/src/block_verifier.rs
  crates/astria-sequencer-relayer/tests/smoke/helper.rs
  crates/astria-sequencer-types/Cargo.toml
  crates/astria-sequencer-types/src/lib.rs
  crates/astria-sequencer-types/src/sequencer_block_data.rs
  crates/astria-sequencer-types/src/tendermint.rs
  crates/astria-sequencer-types/src/test_utils.rs
  crates/astria-sequencer/src/transaction/mod.rs
Labels: conductor, sequencer, sequencer-relayer

#344 proto: remove concept of head from execution api
  crates/astria-proto/proto/astria/execution/v1alpha2/execution.proto
  crates/astria-proto/src/proto/generated/astria.execution.v1alpha2.rs
  crates/astria-proto/src/proto/generated/astria.execution.v1alpha2.tonic.rs
  specs/assets/execution_api_sequence.png
  specs/assets/sequence-diagram.txt
  specs/execution-api.md
Labels: documentation, proto

#350 proto: regenerate
  crates/astria-proto/src/proto/generated/astria.execution.v1alpha2.rs
Labels: proto

#335 Conductor: More structured logging
  crates/astria-conductor/src/bin/astria-conductor.rs
  crates/astria-conductor/src/block_verifier.rs
  crates/astria-conductor/src/driver.rs
  crates/astria-conductor/src/executor.rs
  crates/astria-conductor/src/reader.rs
Labels: conductor

#336 sequencer-relayer: update config to astria standard
  Cargo.lock
  crates/astria-sequencer-relayer/Cargo.toml
  crates/astria-sequencer-relayer/README.md
  crates/astria-sequencer-relayer/docker/Dockerfile.celestia-node
  crates/astria-sequencer-relayer/docker/cleanup-docker.sh
  crates/astria-sequencer-relayer/docker/start-bridge.sh
  crates/astria-sequencer-relayer/docker/start-celestia-appd.sh
  crates/astria-sequencer-relayer/docker/test-docker-compose.yml
  crates/astria-sequencer-relayer/docker/wait-for-it.sh
  crates/astria-sequencer-relayer/justfile
  crates/astria-sequencer-relayer/local.env.example
  crates/astria-sequencer-relayer/src/config.rs
  crates/astria-sequencer-relayer/src/config/cli.rs
  crates/astria-sequencer-relayer/src/config/mod.rs
  crates/astria-sequencer-relayer/src/main.rs
  crates/astria-sequencer-relayer/tests/blackbox/helper.rs
  crates/astria-sequencer-relayer/tests/blackbox/main.rs
Labels: sequencer-relayer

#338 feat(sequencer): implement generating and verifying chain ID commitment
  crates/astria-sequencer/src/proposal/commitment.rs
  crates/astria-sequencer/src/service/consensus.rs
Labels: sequencer

#346 remove `Namespace` from `SequencerBlockData`, use `ChainId` instead
  crates/astria-conductor/src/block_verifier.rs
  crates/astria-conductor/src/executor.rs
  crates/astria-conductor/src/types.rs
  crates/astria-sequencer-relayer/src/data_availability.rs
  crates/astria-sequencer-relayer/src/relayer.rs
  crates/astria-sequencer-types/src/lib.rs
  crates/astria-sequencer-types/src/sequencer_block_data.rs
  crates/astria-sequencer-types/src/serde.rs
  crates/astria-sequencer-validation/src/utils.rs
Labels: conductor, sequencer-relayer

#362 fix(sequencer): remove unneeded `AppHash` alias
  crates/astria-sequencer/src/app.rs
Labels: sequencer

#329 Update Conductor config management
  Cargo.lock
  crates/astria-conductor/Cargo.toml
  crates/astria-conductor/README.md
  crates/astria-conductor/justfile
  crates/astria-conductor/local.env.example
  crates/astria-conductor/src/bin/astria-conductor.rs
  crates/astria-conductor/src/cli.rs
  crates/astria-conductor/src/config.rs
  crates/astria-conductor/src/lib.rs
Labels: conductor

#380 conductor: remove defaults from configuration
  crates/astria-conductor/Cargo.toml
  crates/astria-conductor/local.env.example
  crates/astria-conductor/src/config.rs
Labels: conductor

#375 sequencer-validation: type errors
  Cargo.lock
  crates/astria-sequencer-relayer/src/data_availability.rs
  crates/astria-sequencer-validation/Cargo.toml
  crates/astria-sequencer-validation/src/proof.rs
Labels: sequencer-relayer, sequencer-client

#352 Conductor: add v1alpha2 rpc interface to conductor execution client
  crates/astria-conductor/src/execution_client.rs
  crates/astria-conductor/src/executor.rs
Labels: conductor

#365 feat(conductor): implement verification of chain IDs commitment
  Cargo.lock
  crates/astria-conductor/Cargo.toml
  crates/astria-conductor/src/block_verifier.rs
  crates/astria-conductor/src/executor.rs
  crates/astria-sequencer-relayer/src/data_availability.rs
  crates/astria-sequencer-relayer/tests/blackbox/helper.rs
  crates/astria-sequencer-types/src/sequencer_block_data.rs
  crates/astria-sequencer/src/app.rs
Labels: conductor, sequencer, sequencer-relayer

#354 Conductor: implement v1alpha2 functionality in conductor
  crates/astria-conductor/src/executor.rs
Labels: conductor

#387 Conductor: fix config loading from environment to have more control
  crates/astria-conductor/src/config.rs
Labels: conductor

#385 fix(sequencer): fix init_chain and update astria-sequencer-utils
  crates/astria-sequencer-utils/README.md
  crates/astria-sequencer-utils/src/config.rs
  crates/astria-sequencer-utils/src/genesis_parser.rs
  crates/astria-sequencer-utils/src/main.rs
  crates/astria-sequencer/README.md
  crates/astria-sequencer/src/app.rs
  crates/astria-sequencer/src/config.rs
  crates/astria-sequencer/src/genesis.rs
  crates/astria-sequencer/src/sequencer.rs
  crates/astria-sequencer/src/service/consensus.rs
  crates/astria-sequencer/src/service/info/mod.rs
  crates/astria-sequencer/test-genesis-app-state.json
  crates/astria-sequencer/test-genesis.json
Labels: sequencer

#399 Remove execution api v1alpha1 from conductor
  crates/astria-conductor/src/execution_client.rs
  crates/astria-conductor/src/executor.rs
Labels: conductor

#322 update conductor docs after validation changes
  specs/conductor.md
Labels: documentation

#382 sequencer-client: add extension trait to subscriber to new sequencer blocks
  Cargo.lock
  Cargo.toml
  crates/astria-sequencer-client/Cargo.toml
  crates/astria-sequencer-client/src/extension_trait.rs
  crates/astria-sequencer-client/src/lib.rs
  crates/astria-sequencer-client/src/tests/http.rs
  crates/astria-sequencer-client/src/tests/mod.rs
  crates/astria-sequencer-types/Cargo.toml
Labels: sequencer

#383 conductor: replace gossipnet by a subscription to cometbft/sequencer
  Cargo.lock
  crates/astria-conductor/Cargo.toml
  crates/astria-conductor/README.md
  crates/astria-conductor/local.env.example
  crates/astria-conductor/src/block_verifier.rs
  crates/astria-conductor/src/config.rs
  crates/astria-conductor/src/driver.rs
  crates/astria-conductor/src/executor.rs
  crates/astria-conductor/src/lib.rs
  crates/astria-conductor/src/network.rs
  crates/astria-conductor/src/reader.rs
Labels: conductor

#330 Updating sequencer config implementation
  Cargo.lock
  crates/astria-sequencer/Cargo.toml
  crates/astria-sequencer/README.md
  crates/astria-sequencer/TESTNET.md
  crates/astria-sequencer/justfile
  crates/astria-sequencer/local.env.example
  crates/astria-sequencer/src/config.rs
  crates/astria-sequencer/src/main.rs
Labels: sequencer

#371 conductor: infallibly convert verification key to tendermint public key
  crates/astria-conductor/src/block_verifier.rs
Labels: conductor

#384 sequencer-relayer: remove gossipnet
  Cargo.lock
  crates/astria-sequencer-relayer/Cargo.toml
  crates/astria-sequencer-relayer/README.md
  crates/astria-sequencer-relayer/local.env.example
  crates/astria-sequencer-relayer/src/api.rs
  crates/astria-sequencer-relayer/src/config.rs
  crates/astria-sequencer-relayer/src/lib.rs
  crates/astria-sequencer-relayer/src/network.rs
  crates/astria-sequencer-relayer/src/relayer.rs
  crates/astria-sequencer-relayer/src/sequencer_relayer.rs
  crates/astria-sequencer-relayer/tests/blackbox/helper.rs
  crates/astria-sequencer-relayer/tests/blackbox/main.rs
Labels: sequencer-relayer

#353 conductor.md updated to reflect v1alpha2 api changes
  specs/conductor.md
Labels: documentation

#397 fix(ci): conditional workflows fix, fix docker image loading
  .github/workflows/docker-build.yml
  .github/workflows/lint.yml
  .github/workflows/release.yml
  .github/workflows/reusable-docker-build.yml
  .github/workflows/reusable-run-checker.yml
  .github/workflows/test.yml
Labels: ci

#373 conductor: add execute empty blocks setting
  crates/astria-conductor/local.env.example
  crates/astria-conductor/src/config.rs
  crates/astria-conductor/src/executor.rs
Labels: conductor

#364 sequencer: return error code if submitted transaction contained invalid nonce
  crates/astria-sequencer/src/app.rs
  crates/astria-sequencer/src/service/consensus.rs
  crates/astria-sequencer/src/service/mod.rs
  crates/astria-sequencer/src/transaction/mod.rs
Labels: sequencer

#294 fix(composer): refactor executor logic and initialize nonce when pinging sequencer
  crates/astria-composer/src/searcher/collector.rs
  crates/astria-composer/src/searcher/executor.rs
  crates/astria-composer/src/searcher/mod.rs
  crates/astria-composer/tests/blackbox/composer.rs
  crates/astria-composer/tests/blackbox/helper/mock_geth.rs
  crates/astria-composer/tests/blackbox/helper/mock_sequencer.rs
Labels: bug, composer

#403 fix(sequencer): update sequencer docs for cometbft
  crates/astria-sequencer/README.md
  crates/astria-sequencer/TESTNET.md
Labels: sequencer

#415 fix(sequencer): fix config
  crates/astria-sequencer/README.md
  crates/astria-sequencer/src/config.rs
Labels: sequencer

#417 conductor(fix): update conductor diagram and spec to reflect removal of gossip net
  specs/assets/conductor-architecture.png
  specs/conductor.md
Labels: documentation

#418 fix(sequencer): no unwrap in `check_tx`
  crates/astria-sequencer/src/service/mempool.rs
Labels: sequencer

#405 feat(sequencer): implement mempool nonce check
  crates/astria-sequencer/src/sequencer.rs
  crates/astria-sequencer/src/service/mempool.rs
  crates/astria-sequencer/src/transaction/mod.rs
Labels: sequencer

#413 feat(ci): Cut new releases, and autocut moving forward
  .github/workflows/release.yml
  .github/workflows/reusable-cargo-version.yml
  .github/workflows/reusable-run-checker.yml
  Cargo.lock
  crates/astria-composer/Cargo.toml
  crates/astria-conductor/Cargo.toml
  crates/astria-sequencer-relayer/Cargo.toml
  crates/astria-sequencer/Cargo.toml
Labels: ci, conductor, sequencer, sequencer-relayer, composer

#420 revert: CI changes
  .github/workflows/release.yml
  .github/workflows/reusable-cargo-version.yml
  .github/workflows/reusable-run-checker.yml
  Cargo.lock
  crates/astria-composer/Cargo.toml
  crates/astria-conductor/Cargo.toml
  crates/astria-sequencer-relayer/Cargo.toml
  crates/astria-sequencer/Cargo.toml
Labels: ci, conductor, sequencer, sequencer-relayer, composer

#421 Joroshiba/release take 2
  .github/workflows/release.yml
  .github/workflows/reusable-cargo-version.yml
  .github/workflows/reusable-run-checker.yml
  Cargo.lock
  crates/astria-composer/Cargo.toml
  crates/astria-conductor/Cargo.toml
  crates/astria-sequencer-relayer/Cargo.toml
  crates/astria-sequencer/Cargo.toml
Labels: ci, conductor, sequencer, sequencer-relayer, composer

#423 ci: matching tag should not fail
  .github/workflows/reusable-cargo-version.yml
Labels: ci

#414 move out abci codes to astria-sequencer-types crate
  Cargo.lock
  crates/astria-sequencer-types/src/abci_code.rs
  crates/astria-sequencer-types/src/lib.rs
  crates/astria-sequencer/Cargo.toml
  crates/astria-sequencer/src/accounts/query.rs
  crates/astria-sequencer/src/service/consensus.rs
  crates/astria-sequencer/src/service/info/mod.rs
  crates/astria-sequencer/src/service/mempool.rs
  crates/astria-sequencer/src/service/mod.rs
Labels: sequencer

#425 fix(ci): notices appearing when no new release
  .github/workflows/reusable-cargo-version.yml
  .github/workflows/reusable-run-checker.yml
Labels: ci

#422 fix(ci): execute docker builds on new tags
  .github/workflows/reusable-run-checker.yml
Labels: ci

#424 fix tendermint block to SequencerBlockData conversion
  crates/astria-sequencer-relayer/src/lib.rs
  crates/astria-sequencer-relayer/src/transaction.rs
  crates/astria-sequencer-relayer/tests/blackbox/helper.rs
  crates/astria-sequencer-types/src/sequencer_block_data.rs
Labels: sequencer-relayer

#426 fix(conductor): continue to execution when block subset empty
  crates/astria-conductor/src/executor.rs
  crates/astria-conductor/src/types.rs
Labels: conductor

#434 fix(sequencer): Nonces can be equal
  crates/astria-sequencer/src/transaction/mod.rs
Labels: sequencer

#427 release: conductor, sequencer-relayer, sequencer
  Cargo.lock
  crates/astria-conductor/Cargo.toml
  crates/astria-sequencer-relayer/Cargo.toml
  crates/astria-sequencer/Cargo.toml
Labels: conductor, sequencer, sequencer-relayer

#437 ci: run docker builds less frequently + minors
  .github/workflows/docker-build.yml
  .github/workflows/reusable-run-checker.yml
  CODEOWNERS
  justfile
Labels: ci, docker-build

#406 docs: add documentation on e2e rollup data flow and verification
  README.md
  crates/astria-sequencer-relayer/src/data_availability.rs
  specs/data-flow-and-verification.md
Labels: documentation, sequencer-relayer

#429 feat(sequencer): remove byzantine validators in begin_block
  crates/astria-sequencer/src/accounts/component.rs
  crates/astria-sequencer/src/app.rs
  crates/astria-sequencer/src/authority/component.rs
  crates/astria-sequencer/src/authority/state_ext.rs
  crates/astria-sequencer/src/component.rs
  crates/astria-sequencer/src/service/consensus.rs
Labels: sequencer

#438 fix(ci): markdown ci fix
  .github/workflows/lint.yml
  .github/workflows/reusable-run-checker.yml
  .github/workflows/test.yml
  crates/astria-conductor/README.md
  crates/astria-sequencer-utils/README.md
  crates/astria-sequencer/README.md
  crates/astria-sequencer/TESTNET.md
  specs/conductor.md
  specs/data-flow-and-verification.md
Labels: documentation, ci, conductor, sequencer

#446 composer: release new image
  Cargo.lock
  crates/astria-composer/Cargo.toml
Labels: docker-build

#445 conductor: add genesis sequencer block height to config and env vars
  crates/astria-conductor/local.env.example
  crates/astria-conductor/src/config.rs
  crates/astria-conductor/src/executor.rs
Labels: conductor

#450 fix(ci): Run all tests for every non-pr, remove glob check
  .github/workflows/reusable-run-checker.yml
Labels: ci

#449 conductor: fix broken config var
  crates/astria-conductor/local.env.example
  crates/astria-conductor/src/config.rs
  crates/astria-conductor/src/executor.rs
Labels: conductor

#431 feat(sequencer): implement sudo key changes
  crates/astria-proto/proto/astria/sequencer/v1alpha1/transaction.proto
  crates/astria-proto/src/native/sequencer/v1alpha1.rs
  crates/astria-proto/src/proto/generated/astria.sequencer.v1alpha1.rs
  crates/astria-sequencer/src/app.rs
  crates/astria-sequencer/src/authority/action.rs
  crates/astria-sequencer/src/transaction/mod.rs
Labels: proto, sequencer
