Repository astriaorg/astria, pull requests merged in 2023-11, with the labels that each got.

#558 fix(sequencer): run only `prepare_proposal` if proposer
  crates/astria-conductor/src/executor/mod.rs
  crates/astria-sequencer/justfile
  crates/astria-sequencer/src/app.rs
Labels: conductor, sequencer, docker-build

#538 refactor: remove signing and signature verification of data posted to DA
  Cargo.lock
  crates/astria-celestia-client/Cargo.toml
  crates/astria-celestia-client/src/blob_space.rs
  crates/astria-celestia-client/src/client.rs
  crates/astria-celestia-client/src/lib.rs
  crates/astria-composer/tests/blackbox/composer.rs
  crates/astria-conductor/src/block_verifier.rs
  crates/astria-conductor/src/data_availability.rs
  crates/astria-proto/proto/astria/sequencer/v1alpha1/data.proto
  crates/astria-proto/src/proto/generated/astria.sequencer.v1alpha1.rs
  crates/astria-sequencer-relayer/Cargo.toml
  crates/astria-sequencer-relayer/local.env.example
  crates/astria-sequencer-relayer/src/config.rs
  crates/astria-sequencer-relayer/src/relayer.rs
  crates/astria-sequencer-relayer/tests/blackbox/helper.rs
  crates/astria-sequencer-relayer/tests/blackbox/main.rs
Labels: conductor, proto, sequencer-relayer, composer, docker-build

#560 refactor: verify current block commit in conductor; remove `last_commit` from `SequencerBlockData`
  Cargo.lock
  crates/astria-celestia-client/src/blob_space.rs
  crates/astria-celestia-client/src/client.rs
  crates/astria-conductor/src/block_verifier.rs
  crates/astria-conductor/src/types.rs
  crates/astria-sequencer-types/src/sequencer_block_data.rs
Labels: conductor

#556 feat(conductor): remove disable empty block execution config setting
  crates/astria-conductor/local.env.example
  crates/astria-conductor/src/conductor.rs
  crates/astria-conductor/src/config.rs
  crates/astria-conductor/src/executor/mod.rs
  crates/astria-conductor/src/executor/tests.rs
Labels: conductor

#553 feat(conductor): added commitment grab to better set sync start height
  crates/astria-conductor/src/conductor.rs
  crates/astria-conductor/src/executor/mod.rs
  crates/astria-conductor/src/executor/tests.rs
Labels: conductor, docker-build

#566 chore(composer): release 0.2.5
  Cargo.lock
  crates/astria-composer/Cargo.toml
Labels: composer

#563 chore(sequencer): release 0.5.0
  Cargo.lock
  crates/astria-sequencer/Cargo.toml
Labels: sequencer

#564 chore(conductor): release 0.8.0
  Cargo.lock
  crates/astria-conductor/Cargo.toml
Labels: conductor

#565 chore(relayer): release 0.6.0
  Cargo.lock
  crates/astria-sequencer-relayer/Cargo.toml
Labels: sequencer-relayer

#572 chore(relayer): implement clippy pedantic suggestions
  .github/workflows/test.yml
  crates/astria-sequencer-relayer/src/api.rs
  crates/astria-sequencer-relayer/src/main.rs
  crates/astria-sequencer-relayer/src/relayer.rs
  crates/astria-sequencer-relayer/src/sequencer_relayer.rs
  crates/astria-sequencer-relayer/tests/blackbox/helper.rs
  crates/astria-sequencer-relayer/tests/blackbox/main.rs
Labels: ci, sequencer-relayer

#577 fix(conductor, relayer): use sequencer chain id for sequencer blobs
  crates/astria-celestia-client/src/client.rs
  crates/astria-celestia-client/src/lib.rs
  crates/astria-conductor/src/conductor.rs
  crates/astria-conductor/src/data_availability.rs
  crates/astria-sequencer-relayer/src/relayer.rs
Labels: conductor, sequencer-relayer, docker-build

#578 chore(conductor, relayer): release conductor 0.9.0, sequencer-relayer 0.7.0
  Cargo.lock
  crates/astria-conductor/Cargo.toml
  crates/astria-sequencer-relayer/Cargo.toml
Labels: conductor, sequencer-relayer

#583 refactor(conductor): replace executor constructor by type state builder
  crates/astria-conductor/src/conductor.rs
  crates/astria-conductor/src/executor/mod.rs
Labels: conductor

#554 feat: add an RFC 6962 compliant Merkle tree with flat memory representation
  Cargo.lock
  Cargo.toml
  crates/astria-celestia-client/Cargo.toml
  crates/astria-celestia-client/src/blob_space.rs
  crates/astria-celestia-client/src/client.rs
  crates/astria-conductor/Cargo.toml
  crates/astria-conductor/src/block_verifier.rs
  crates/astria-merkle/Cargo.toml
  crates/astria-merkle/src/audit.rs
  crates/astria-merkle/src/lib.rs
  crates/astria-merkle/src/tests.rs
  crates/astria-merkle/tests/transparency-dev/inclusion.rs
  crates/astria-merkle/tests/transparency-dev/main.rs
  crates/astria-sequencer-client/Cargo.toml
  crates/astria-sequencer-relayer/Cargo.toml
  crates/astria-sequencer-relayer/tests/blackbox/helper.rs
  crates/astria-sequencer-types/Cargo.toml
  crates/astria-sequencer-types/src/cometbft.rs
  crates/astria-sequencer-types/src/lib.rs
  crates/astria-sequencer-types/src/sequencer_block_data.rs
  crates/astria-sequencer-types/src/test_utils.rs
  crates/astria-sequencer-validation/Cargo.toml
  crates/astria-sequencer-validation/src/lib.rs
  crates/astria-sequencer-validation/src/proof.rs
  crates/astria-sequencer-validation/src/utils.rs
  crates/astria-sequencer/Cargo.toml
  crates/astria-sequencer/src/proposal/commitment.rs
  specs/data-flow-and-verification.md
Labels: documentation, conductor, sequencer, sequencer-relayer

#535 feat(conductor): implement derivation and execution of optimism `DepositTransaction`s
  .github/workflows/test.yml
  Cargo.lock
  Cargo.toml
  crates/astria-composer/Cargo.toml
  crates/astria-conductor/Cargo.toml
  crates/astria-conductor/local.env.example
  crates/astria-conductor/src/block_verifier.rs
  crates/astria-conductor/src/conductor.rs
  crates/astria-conductor/src/config.rs
  crates/astria-conductor/src/data_availability.rs
  crates/astria-conductor/src/executor/mod.rs
  crates/astria-conductor/src/executor/optimism.rs
  crates/astria-conductor/src/executor/tests.rs
  crates/astria-conductor/src/sequencer/mod.rs
  crates/astria-conductor/src/sequencer/sync.rs
  crates/astria-optimism/Cargo.toml
  crates/astria-optimism/OptimismPortal.abi
  crates/astria-optimism/README.md
  crates/astria-optimism/contracts/MockOptimismPortal.sol
  crates/astria-optimism/src/contract.rs
  crates/astria-optimism/src/deposit.rs
  crates/astria-optimism/src/lib.rs
  crates/astria-optimism/src/test_utils.rs
  crates/astria-test-utils/Cargo.toml
Labels: ci, conductor, composer

#590 fix(relayer): don't use fixed fee pricing
  crates/astria-sequencer-relayer/local.env.example
  crates/astria-sequencer-relayer/src/config.rs
  crates/astria-sequencer-relayer/src/relayer.rs
  crates/astria-sequencer-relayer/tests/blackbox/helper.rs
Labels: sequencer-relayer, docker-build

#591 chore(conductor, relayer, sequencer): release 0.10.0 conductor, 0.8.0 relayer, and 0.6.0 sequencer
  Cargo.lock
  crates/astria-conductor/Cargo.toml
  crates/astria-sequencer-relayer/Cargo.toml
  crates/astria-sequencer/Cargo.toml
Labels: conductor, sequencer, sequencer-relayer, docker-build

#586 fix(relayer): update wait_for_sequencer log to be correct
  crates/astria-sequencer-relayer/src/relayer.rs
Labels: sequencer-relayer

#581 build(proto): replace buf-generate by tonic_build
  Cargo.lock
  crates/astria-proto/Cargo.toml
  crates/astria-proto/buf.gen.yaml
  crates/astria-proto/src/proto/generated/astria.execution.v1alpha1.rs
  crates/astria-proto/src/proto/generated/astria.execution.v1alpha1.tonic.rs
  crates/astria-proto/src/proto/generated/astria.execution.v1alpha2.rs
  crates/astria-proto/src/proto/generated/astria.execution.v1alpha2.tonic.rs
  crates/astria-proto/src/proto/generated/astria.primitive.v1.rs
  crates/astria-proto/src/proto/generated/astria.sequencer.v1alpha1.rs
  crates/astria-proto/tests/proto_build.rs
Labels: proto

#582 chore: bump all dependencies (mainly penumbra, celestia, tendermint)
  .github/workflows/test.yml
  Cargo.lock
  Cargo.toml
  containerfiles/Dockerfile
  crates/astria-celestia-client/Cargo.toml
  crates/astria-conductor/Cargo.toml
  crates/astria-conductor/src/data_availability.rs
  crates/astria-proto/Cargo.toml
  crates/astria-proto/src/proto/generated/astria.execution.v1alpha1.rs
  crates/astria-proto/src/proto/generated/astria.execution.v1alpha2.rs
  crates/astria-sequencer-relayer/Cargo.toml
  crates/astria-sequencer-relayer/src/main.rs
  crates/astria-sequencer-relayer/src/relayer.rs
  crates/astria-sequencer-relayer/src/sequencer_relayer.rs
  crates/astria-sequencer-relayer/tests/blackbox/helper.rs
  crates/astria-sequencer-types/Cargo.toml
  crates/astria-sequencer/Cargo.toml
  crates/astria-sequencer/src/service/mempool.rs
  crates/astria-test-utils/src/mock/geth.rs
Labels: ci, conductor, proto, sequencer, sequencer-relayer, docker, blocked

#589 fix(conductor): remove proposer check; use correct validator set in commit verification
  crates/astria-conductor/src/block_verifier.rs
Labels: conductor

#568 feat(sequencer): implement support for arbitrary assets
  crates/astria-composer/src/searcher/executor.rs
  crates/astria-proto/proto/astria/sequencer/v1alpha1/asset.proto
  crates/astria-proto/proto/astria/sequencer/v1alpha1/transaction.proto
  crates/astria-proto/src/native/sequencer/asset.rs
  crates/astria-proto/src/native/sequencer/mod.rs
  crates/astria-proto/src/native/sequencer/v1alpha1.rs
  crates/astria-proto/src/proto/generated/astria.sequencer.v1alpha1.rs
  crates/astria-sequencer-client/src/tests/http.rs
  crates/astria-sequencer-relayer/tests/blackbox/helper.rs
  crates/astria-sequencer-types/src/test_utils.rs
  crates/astria-sequencer/src/accounts/action.rs
  crates/astria-sequencer/src/accounts/component.rs
  crates/astria-sequencer/src/accounts/query.rs
  crates/astria-sequencer/src/accounts/state_ext.rs
  crates/astria-sequencer/src/app.rs
  crates/astria-sequencer/src/asset/mod.rs
  crates/astria-sequencer/src/authority/action.rs
  crates/astria-sequencer/src/genesis.rs
  crates/astria-sequencer/src/lib.rs
  crates/astria-sequencer/src/mint/action.rs
  crates/astria-sequencer/src/proposal/commitment.rs
  crates/astria-sequencer/src/sequence.rs
  crates/astria-sequencer/src/sequencer.rs
  crates/astria-sequencer/src/service/consensus.rs
  crates/astria-sequencer/src/service/info/mod.rs
  crates/astria-sequencer/src/state_ext.rs
  crates/astria-sequencer/src/transaction/action_handler.rs
  crates/astria-sequencer/src/transaction/mod.rs
  crates/astria-sequencer/test-genesis-app-state.json
Labels: proto, sequencer, sequencer-relayer, composer

#576 refactor: enforce sequencer blob invariants, simplify conductor
  crates/astria-celestia-client/src/blob_space.rs
  crates/astria-celestia-client/src/client.rs
  crates/astria-conductor/src/block_verifier.rs
  crates/astria-conductor/src/data_availability.rs
  crates/astria-sequencer-types/src/sequencer_block_data.rs
Labels: conductor

#595 fix(sequencer): fix instrument logging not to log every tx
  crates/astria-sequencer/src/app.rs
Labels: sequencer

#596 chore(conductor, sequencer): release 0.10.1 conductor and 0.6.1 sequencer
  Cargo.lock
  crates/astria-conductor/Cargo.toml
  crates/astria-sequencer/Cargo.toml
Labels: conductor, sequencer

#593 refactor(conductor): make block verifier a submodule of data availability
  crates/astria-conductor/src/conductor.rs
  crates/astria-conductor/src/data_availability/block_verifier.rs
  crates/astria-conductor/src/data_availability/mod.rs
  crates/astria-conductor/src/lib.rs
Labels: conductor

#436 feat: require chain_id be 32 bytes
  Cargo.lock
  crates/astria-celestia-client/src/client.rs
  crates/astria-composer/src/searcher/collector.rs
  crates/astria-composer/src/searcher/mod.rs
  crates/astria-composer/tests/blackbox/composer.rs
  crates/astria-conductor/src/conductor.rs
  crates/astria-conductor/src/data_availability/block_verifier.rs
  crates/astria-conductor/src/data_availability/mod.rs
  crates/astria-conductor/src/executor/mod.rs
  crates/astria-conductor/src/executor/tests.rs
  crates/astria-proto/Cargo.toml
  crates/astria-proto/src/native/sequencer/v1alpha1.rs
  crates/astria-sequencer-relayer/tests/blackbox/helper.rs
  crates/astria-sequencer-types/Cargo.toml
  crates/astria-sequencer-types/src/lib.rs
  crates/astria-sequencer-types/src/sequencer_block_data.rs
  crates/astria-sequencer-types/src/serde.rs
  crates/astria-sequencer-types/src/test_utils.rs
  crates/astria-sequencer/src/app.rs
  crates/astria-sequencer/src/proposal/commitment.rs
  crates/astria-sequencer/src/service/consensus.rs
Labels: conductor, proto, sequencer, sequencer-relayer, composer

#607 fix(ci): pin foundry version
  .github/workflows/test.yml
Labels: ci

#601 fix(sequencer): cap tx size at 250kb
  crates/astria-sequencer-types/src/abci_code.rs
  crates/astria-sequencer/src/service/mempool.rs
Labels: sequencer

#574 test(composer): add integrity test of eth tx
  crates/astria-composer/tests/blackbox/composer.rs
Labels: composer

#608 fix(ci): pin foundry to different version
  .github/workflows/test.yml
Labels: ci

#579 feat(sequencer): support `IbcAction`s and implement ICS20 incoming transfer application logic
  Cargo.lock
  Cargo.toml
  crates/astria-proto/Cargo.toml
  crates/astria-proto/proto/astria/sequencer/v1alpha1/transaction.proto
  crates/astria-proto/proto/buf.lock
  crates/astria-proto/proto/buf.yaml
  crates/astria-proto/src/native/sequencer/asset.rs
  crates/astria-proto/src/native/sequencer/v1alpha1.rs
  crates/astria-proto/src/proto/generated/astria.sequencer.v1alpha1.rs
  crates/astria-proto/tests/proto_build.rs
  crates/astria-sequencer/Cargo.toml
  crates/astria-sequencer/src/accounts/ics20_transfer.rs
  crates/astria-sequencer/src/accounts/mod.rs
  crates/astria-sequencer/src/accounts/state_ext.rs
  crates/astria-sequencer/src/app.rs
  crates/astria-sequencer/src/sequence.rs
  crates/astria-sequencer/src/sequencer.rs
  crates/astria-sequencer/src/service/mempool.rs
  crates/astria-sequencer/src/transaction/action_handler.rs
  crates/astria-sequencer/src/transaction/mod.rs
Labels: proto, sequencer

#615 chore: update penumbra-ibc features
  Cargo.toml
  crates/astria-sequencer/Cargo.toml
Labels: sequencer

#395 feat: redefine sequencer blocks, celestia blobs as protobuf
  .github/workflows/test.yml
  Cargo.lock
  crates/astria-celestia-client/Cargo.toml
  crates/astria-celestia-client/src/blob_space.rs
  crates/astria-celestia-client/src/client.rs
  crates/astria-celestia-client/src/lib.rs
  crates/astria-composer/src/searcher/collector.rs
  crates/astria-composer/src/searcher/executor.rs
  crates/astria-composer/src/searcher/mod.rs
  crates/astria-composer/tests/blackbox/composer.rs
  crates/astria-conductor/src/conductor.rs
  crates/astria-conductor/src/data_availability/block_verifier.rs
  crates/astria-conductor/src/data_availability/mod.rs
  crates/astria-conductor/src/executor/mod.rs
  crates/astria-conductor/src/executor/tests.rs
  crates/astria-conductor/src/sequencer/mod.rs
  crates/astria-conductor/src/sequencer/sync.rs
  crates/astria-merkle/src/audit.rs
  crates/astria-merkle/src/lib.rs
  crates/astria-optimism/src/contract.rs
  crates/astria-optimism/src/deposit.rs
  crates/astria-proto/Cargo.toml
  crates/astria-proto/proto/astria/sequencer/v1alpha1/block.proto
  crates/astria-proto/proto/astria/sequencer/v1alpha1/celestia.proto
  crates/astria-proto/proto/astria/sequencer/v1alpha1/merkle.proto
  crates/astria-proto/proto/astria/sequencer/v1alpha1/transaction.proto
  crates/astria-proto/src/lib.rs
  crates/astria-proto/src/native/mod.rs
  crates/astria-proto/src/native/sequencer/v1alpha1.rs
  crates/astria-proto/src/proto/generated/astria.sequencer.v1alpha1.rs
  crates/astria-sequencer-client/Cargo.toml
  crates/astria-sequencer-client/src/extension_trait.rs
  crates/astria-sequencer-client/src/lib.rs
  crates/astria-sequencer-relayer/Cargo.toml
  crates/astria-sequencer-relayer/src/relayer.rs
  crates/astria-sequencer-relayer/tests/blackbox/helper.rs
  crates/astria-sequencer-types/src/lib.rs
  crates/astria-sequencer-types/src/sequencer_block_data.rs
  crates/astria-sequencer-types/src/serde.rs
  crates/astria-sequencer-types/src/tendermint.rs
  crates/astria-sequencer-types/src/test_utils.rs
  crates/astria-sequencer/src/app.rs
  crates/astria-sequencer/src/proposal/commitment.rs
  crates/astria-sequencer/src/service/consensus.rs
Labels: question, ci, conductor, proto, sequencer, sequencer-relayer, composer, docker-build

#613 fix(conductor): validator height should be trailing
  crates/astria-conductor/src/data_availability/block_verifier.rs
Labels: conductor, docker-build

#617 feat(conductor): don't attempt to execute finalized blocks
  crates/astria-conductor/src/conductor.rs
  crates/astria-conductor/src/executor/mod.rs
  crates/astria-conductor/src/executor/tests.rs
Labels: conductor

#618 chore(composer, relayer, conductor): release composer 0.3.0, conductor 0.11.0, relayer 0.9.0
  Cargo.lock
  crates/astria-composer/Cargo.toml
  crates/astria-conductor/Cargo.toml
  crates/astria-sequencer-relayer/Cargo.toml
Labels: conductor, sequencer-relayer, composer

#620 fix(constructor): add error context, simplify type conversions
  crates/astria-conductor/src/conductor.rs
  crates/astria-conductor/src/executor/mod.rs
  crates/astria-conductor/src/sequencer/mod.rs
Labels: conductor

#621 fix(conductor): fail hard when executing blocks fails
  crates/astria-conductor/src/executor/mod.rs
Labels: conductor
