Repository astriaorg/astria, pull requests merged in 2023-12, with the labels that each got.

#629 chore(ci): move protobuf specs to repository top level
  .github/workflows/lint.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  Cargo.toml
  crates/astria-proto/README.md
  crates/astria-proto/buf.work.yaml
  justfile
  proto/README.md
  proto/astria/execution/v1alpha1/execution.proto
  proto/astria/execution/v1alpha2/execution.proto
  proto/astria/primitive/v1/types.proto
  proto/astria/sequencer/v1alpha1/account.proto
  proto/astria/sequencer/v1alpha1/asset.proto
  proto/astria/sequencer/v1alpha1/block.proto
  proto/astria/sequencer/v1alpha1/celestia.proto
  proto/astria/sequencer/v1alpha1/data.proto
  proto/astria/sequencer/v1alpha1/merkle.proto
  proto/astria/sequencer/v1alpha1/transaction.proto
  proto/buf.lock
  proto/buf.yaml
  tools/protobuf-compiler/Cargo.lock
  tools/protobuf-compiler/Cargo.toml
  tools/protobuf-compiler/README.md
  tools/protobuf-compiler/src/main.rs
Labels: ci, proto

#635 fix(ci): adjust input to proto breaking change linter after refactor
  .github/workflows/lint.yml
Labels: ci

#637 ci(proto): add proto formatting, cleanup justfile
  .github/workflows/lint.yml
  README.md
  justfile
  proto/README.md
  proto/astria/execution/v1alpha1/execution.proto
  proto/astria/execution/v1alpha2/execution.proto
  proto/astria/sequencer/v1alpha1/asset.proto
  proto/astria/sequencer/v1alpha1/block.proto
  proto/astria/sequencer/v1alpha1/celestia.proto
  proto/astria/sequencer/v1alpha1/data.proto
  proto/astria/sequencer/v1alpha1/merkle.proto
  proto/astria/sequencer/v1alpha1/transaction.proto
Labels: ci

#640 refactor: unify construction of cometbft blocks in tests
  Cargo.lock
  crates/astria-conductor/Cargo.toml
  crates/astria-conductor/src/data_availability/block_verifier.rs
  crates/astria-conductor/src/executor/tests.rs
  crates/astria-conductor/src/sequencer/mod.rs
  crates/astria-proto/Cargo.toml
  crates/astria-proto/src/native/sequencer/v1alpha1/mod.rs
  crates/astria-proto/src/native/sequencer/v1alpha1/test_utils.rs
  crates/astria-sequencer-relayer/Cargo.toml
  crates/astria-sequencer-relayer/tests/blackbox/helper.rs
  crates/astria-sequencer-types/Cargo.toml
  crates/astria-sequencer-types/src/lib.rs
  crates/astria-sequencer-types/src/test_utils.rs
Labels: conductor, proto, sequencer-relayer

#614 feat(sequencer): store mapping of IBC asset ID -> full denomination trace
  crates/astria-proto/src/native/sequencer/asset.rs
  crates/astria-sequencer/src/accounts/ics20_transfer.rs
  crates/astria-sequencer/src/asset/mod.rs
  crates/astria-sequencer/src/asset/state_ext.rs
Labels: proto, sequencer

#639 ci: switch tagging format
  .github/workflows/docker-build.yml
  .github/workflows/reusable-cargo-version.yml
  .github/workflows/reusable-docker-build.yml
Labels: ci

#643 ci(cli): autocut release binaries
  .github/workflows/build.yml
  .github/workflows/release.yml
  .github/workflows/reusable-cargo-version.yml
Labels: ci

#645 ci(cli): fix archive upload
  .github/workflows/build.yml
Labels: ci

#609 feat(sequencer): implement ICS20 withdrawals
  Cargo.lock
  Cargo.toml
  crates/astria-proto/Cargo.toml
  crates/astria-proto/src/native/sequencer/asset.rs
  crates/astria-proto/src/native/sequencer/ics20_withdrawal.rs
  crates/astria-proto/src/native/sequencer/mod.rs
  crates/astria-proto/src/native/sequencer/v1alpha1/mod.rs
  crates/astria-proto/src/proto/generated/astria.sequencer.v1alpha1.rs
  crates/astria-sequencer/Cargo.toml
  crates/astria-sequencer/src/accounts/ics20_withdrawal.rs
  crates/astria-sequencer/src/accounts/mod.rs
  crates/astria-sequencer/src/sequencer.rs
  crates/astria-sequencer/src/transaction/mod.rs
  proto/astria/sequencer/v1alpha1/transaction.proto
Labels: proto, sequencer

#655 chore(sequencer)!: bump penumbra deps, remove `AppHash`
  Cargo.lock
  Cargo.toml
  crates/astria-sequencer/Cargo.toml
  crates/astria-sequencer/src/accounts/ics20_transfer.rs
  crates/astria-sequencer/src/accounts/query.rs
  crates/astria-sequencer/src/accounts/state_ext.rs
  crates/astria-sequencer/src/app.rs
  crates/astria-sequencer/src/app_hash.rs
  crates/astria-sequencer/src/asset/state_ext.rs
  crates/astria-sequencer/src/authority/state_ext.rs
  crates/astria-sequencer/src/component.rs
  crates/astria-sequencer/src/lib.rs
  crates/astria-sequencer/src/sequencer.rs
  crates/astria-sequencer/src/service/consensus.rs
  crates/astria-sequencer/src/service/info/abci_query_router.rs
  crates/astria-sequencer/src/service/info/mod.rs
  crates/astria-sequencer/src/service/mempool.rs
  crates/astria-sequencer/src/state_ext.rs
  crates/astria-sequencer/src/transaction/action_handler.rs
  crates/astria-sequencer/src/transaction/mod.rs
Labels: sequencer

#646 refactor(api): break up sequencer v1alpha1 module
  crates/astria-celestia-client/src/client.rs
  crates/astria-cli/src/commands/sequencer.rs
  crates/astria-composer/src/searcher/executor.rs
  crates/astria-composer/src/searcher/mod.rs
  crates/astria-conductor/src/data_availability/block_verifier.rs
  crates/astria-core/src/sequencer/ics20_withdrawal.rs
  crates/astria-core/src/sequencer/mod.rs
  crates/astria-core/src/sequencer/v1alpha1/account.rs
  crates/astria-core/src/sequencer/v1alpha1/asset.rs
  crates/astria-core/src/sequencer/v1alpha1/block.rs
  crates/astria-core/src/sequencer/v1alpha1/celestia.rs
  crates/astria-core/src/sequencer/v1alpha1/mod.rs
  crates/astria-core/src/sequencer/v1alpha1/test_utils.rs
  crates/astria-core/src/sequencer/v1alpha1/transaction/action.rs
  crates/astria-core/src/sequencer/v1alpha1/transaction/mod.rs
  crates/astria-sequencer-client/src/extension_trait.rs
  crates/astria-sequencer-client/src/tests/http.rs
  crates/astria-sequencer/src/accounts/action.rs
  crates/astria-sequencer/src/accounts/ics20_withdrawal.rs
  crates/astria-sequencer/src/app.rs
  crates/astria-sequencer/src/authority/action.rs
  crates/astria-sequencer/src/mint/action.rs
  crates/astria-sequencer/src/proposal/commitment.rs
  crates/astria-sequencer/src/sequence.rs
  crates/astria-sequencer/src/service/consensus.rs
  crates/astria-sequencer/src/service/info/mod.rs
  crates/astria-sequencer/src/transaction/mod.rs
Labels: conductor, sequencer, refactor, composer

#657 refactor: don't deny unknown config fields
  crates/astria-composer/src/config.rs
  crates/astria-conductor/src/config.rs
  crates/astria-config/src/lib.rs
  crates/astria-config/src/tests.rs
  crates/astria-sequencer-relayer/src/config.rs
  crates/astria-sequencer/src/config.rs
Labels: conductor, sequencer, sequencer-relayer, composer

#666 fix(sequencer): fix ABCI event handling
  crates/astria-sequencer/src/app.rs
  crates/astria-sequencer/src/service/consensus.rs
Labels: sequencer

#659 fix(sequencer): clear processed tx count in begin_block
  crates/astria-sequencer/src/app.rs
Labels: sequencer, docker-build

#631 feat(sequencer): add IBC gRPC server to sequencer app
  Cargo.lock
  crates/astria-sequencer/Cargo.toml
  crates/astria-sequencer/local.env.example
  crates/astria-sequencer/src/config.rs
  crates/astria-sequencer/src/sequencer.rs
Labels: sequencer
