Repository astriaorg/astria, pull requests merged in 2023-10, with the labels that each got.

#455 conductor: refactor and implement full node sync from sequencer
  Cargo.lock
  Cargo.toml
  crates/astria-composer/Cargo.toml
  crates/astria-conductor/Cargo.toml
  crates/astria-conductor/local.env.example
  crates/astria-conductor/src/block_verifier.rs
  crates/astria-conductor/src/client_provider.rs
  crates/astria-conductor/src/conductor.rs
  crates/astria-conductor/src/config.rs
  crates/astria-conductor/src/data_availability.rs
  crates/astria-conductor/src/driver.rs
  crates/astria-conductor/src/execution_client.rs
  crates/astria-conductor/src/executor.rs
  crates/astria-conductor/src/executor/mod.rs
  crates/astria-conductor/src/executor/tests.rs
  crates/astria-conductor/src/lib.rs
  crates/astria-conductor/src/reader.rs
  crates/astria-conductor/src/sequencer/mod.rs
  crates/astria-conductor/src/sequencer/sync.rs
  crates/astria-sequencer-client/src/extension_trait.rs
  crates/astria-sequencer-relayer/src/data_availability.rs
Labels: conductor, sequencer, sequencer-relayer, composer

#466 release(conductor): conductor 0.6.0 release
  Cargo.lock
  crates/astria-conductor/Cargo.toml
Labels: conductor

#467 conductor: don't panic on empty blocks
  crates/astria-conductor/src/executor/mod.rs
  crates/astria-conductor/src/executor/tests.rs
Labels: conductor

#469 fix(conductor): fix action tree root inclusion proof verification
  Cargo.lock
  crates/astria-conductor/src/block_verifier.rs
  crates/astria-sequencer-types/Cargo.toml
  crates/astria-sequencer-types/src/sequencer_block_data.rs
Labels: conductor

#435 feat(sequencer): implement minting module
  crates/astria-proto/proto/astria/sequencer/v1alpha1/transaction.proto
  crates/astria-proto/src/native/sequencer/v1alpha1.rs
  crates/astria-proto/src/proto/generated/astria.sequencer.v1alpha1.rs
  crates/astria-sequencer/Cargo.toml
  crates/astria-sequencer/local.env.example
  crates/astria-sequencer/src/app.rs
  crates/astria-sequencer/src/config.rs
  crates/astria-sequencer/src/lib.rs
  crates/astria-sequencer/src/main.rs
  crates/astria-sequencer/src/mint/action.rs
  crates/astria-sequencer/src/mint/mod.rs
  crates/astria-sequencer/src/transaction/mod.rs
Labels: proto, sequencer

#460 composer: log collected txs
  crates/astria-composer/src/searcher/collector.rs
Labels: composer

#481 fix(sequencer): fix tests without `--all-features`
  crates/astria-sequencer/src/config.rs
Labels: sequencer

#483 conductor: reconnect to sequencer websocket with backoff
  Cargo.lock
  crates/astria-composer/src/searcher/executor.rs
  crates/astria-conductor/Cargo.toml
  crates/astria-conductor/src/block_verifier.rs
  crates/astria-conductor/src/client_provider.rs
  crates/astria-sequencer-client/src/lib.rs
  crates/astria-sequencer-client/src/tests/http.rs
Labels: conductor, sequencer, composer

#479 conductor: log task exit
  crates/astria-conductor/src/conductor.rs
Labels: conductor

#477 ci: bump rust to 1.72
  .github/workflows/test.yml
  containerfiles/Dockerfile
Labels: ci, docker

#490 release(conductor): Release 0.6.1
  Cargo.lock
  crates/astria-conductor/Cargo.toml
Labels: conductor

#474 conductor: added execution commit level v2
  crates/astria-conductor/local.env.example
  crates/astria-conductor/src/conductor.rs
  crates/astria-conductor/src/config.rs
  crates/astria-conductor/src/data_availability.rs
  crates/astria-sequencer-types/src/namespace.rs
  crates/astria-sequencer-types/src/sequencer_block_data.rs
Labels: conductor

#492 composer: report cause of failed nonce fetch
  crates/astria-composer/src/searcher/executor.rs
  crates/astria-sequencer-types/src/namespace.rs
  crates/astria-sequencer-types/src/sequencer_block_data.rs
Labels: composer

#493 release(composer): Release 0.2.2
  Cargo.lock
  crates/astria-composer/Cargo.toml
Labels: composer

#499 conductor: never recycle websocket clients
  crates/astria-conductor/src/client_provider.rs
Labels: conductor

#500 conductor: spawn driver as task and report exit
  crates/astria-conductor/src/client_provider.rs
Labels: conductor

#501 conductor: resubscribe with backoff instead of failing
  crates/astria-conductor/src/client_provider.rs
  crates/astria-conductor/src/sequencer/mod.rs
  crates/astria-sequencer-client/src/extension_trait.rs
Labels: conductor, sequencer

#502 release(conductor): 0.7.0
  Cargo.lock
  crates/astria-conductor/Cargo.toml
Labels: conductor

#457 astria cli
  Cargo.lock
  Cargo.toml
  crates/astria-cli/Cargo.toml
  crates/astria-cli/README.md
  crates/astria-cli/justfile
  crates/astria-cli/src/cli/mod.rs
  crates/astria-cli/src/cli/rollup.rs
  crates/astria-cli/src/cli/sequencer.rs
  crates/astria-cli/src/commands/mod.rs
  crates/astria-cli/src/commands/rollup.rs
  crates/astria-cli/src/commands/sequencer.rs
  crates/astria-cli/src/lib.rs
  crates/astria-cli/src/main.rs
  crates/astria-cli/src/types.rs
  crates/astria-cli/test-utils/Cargo.toml
  crates/astria-cli/test-utils/src/lib.rs
  crates/astria-cli/tests/integration_test.rs
  crates/astria-sequencer-utils/Cargo.toml
Labels: sequencer

#505 fix(conductor): update rollup chain id in conductor example env to match composer
  crates/astria-conductor/local.env.example
Labels: conductor

#508 fix(conductor): clarify logging in executor
  crates/astria-conductor/src/executor/mod.rs
Labels: conductor

#512 fix(cli): genesis account lists now being parsed correctly from envars
  crates/astria-cli/src/cli/rollup.rs
  crates/astria-cli/tests/integration_test.rs
Labels: cli

#514 feat(composer): allow rollup names with dash
  crates/astria-composer/src/searcher/rollup.rs
Labels: composer

#480 fix(sequencer): move transaction execution to prepare/process proposal
  crates/astria-sequencer/src/app.rs
  crates/astria-sequencer/src/proposal/commitment.rs
  crates/astria-sequencer/src/service/consensus.rs
Labels: sequencer

#527 cli: refactor network_id to be a string on the serialization side
  crates/astria-cli/src/types.rs
Labels: cli

#515 feat(conductor): add re-sync for missed sequencer blocks
  Cargo.lock
  crates/astria-conductor/Cargo.toml
  crates/astria-conductor/src/client_provider.rs
  crates/astria-conductor/src/executor/mod.rs
  crates/astria-conductor/src/sequencer/mod.rs
  crates/astria-conductor/src/sequencer/sync.rs
  crates/astria-sequencer-client/src/extension_trait.rs
  crates/astria-sequencer-client/src/lib.rs
  crates/astria-sequencer-types/Cargo.toml
  crates/astria-sequencer-types/src/lib.rs
  crates/astria-sequencer-types/src/sequencer_block_data.rs
  crates/astria-sequencer-types/src/test_utils.rs
Labels: conductor, sequencer

#532 composer: resubscribe if rollup subscription stops
  Cargo.lock
  Cargo.toml
  crates/astria-composer/Cargo.toml
  crates/astria-composer/src/composer.rs
  crates/astria-composer/src/lib.rs
  crates/astria-composer/src/main.rs
  crates/astria-composer/src/searcher/collector.rs
  crates/astria-composer/src/searcher/mod.rs
  crates/astria-composer/tests/blackbox/helper/mod.rs
  crates/astria-conductor/Cargo.toml
  crates/astria-test-utils/Cargo.toml
  crates/astria-test-utils/src/lib.rs
  crates/astria-test-utils/src/mock/geth.rs
  crates/astria-test-utils/src/mock/mod.rs
Labels: conductor, composer

#516 feat(conductor): replace formatted error backtraces by value impl
  crates/astria-conductor/src/client_provider.rs
  crates/astria-conductor/src/conductor.rs
  crates/astria-conductor/src/data_availability.rs
  crates/astria-conductor/src/executor/mod.rs
  crates/astria-conductor/src/main.rs
  crates/astria-conductor/src/sequencer/mod.rs
  crates/astria-conductor/src/sequencer/sync.rs
Labels: conductor

#518 ci: run clippy, doctest tests on buildjet-8vcpu-ubuntu-2204
  .github/workflows/test.yml
Labels: ci

#539 release(composer): 0.2.4
  Cargo.lock
  crates/astria-composer/Cargo.toml
Labels: composer

#541 fix: typos
  crates/astria-cli/README.md
  crates/astria-composer/src/searcher/executor.rs
  crates/astria-proto/README.md
Labels: proto, composer

#528 conductor: v1alpha2 integration
  crates/astria-conductor/justfile
  crates/astria-conductor/src/conductor.rs
  crates/astria-conductor/src/execution_client.rs
  crates/astria-conductor/src/executor/mod.rs
  crates/astria-conductor/src/executor/tests.rs
  crates/astria-conductor/src/types.rs
Labels: conductor, docker-build

#534 fix(ci): success test proper reporting
  .github/workflows/docker-build.yml
  .github/workflows/lint.yml
  .github/workflows/release.yml
  .github/workflows/reusable-success.yml
  .github/workflows/test.yml
Labels: ci

#485 ci: migrate version check to fork
  .github/workflows/reusable-cargo-version.yml
Labels: ci

#536 ci: doctests are tests and should not be skipped
  .github/workflows/test.yml
Labels: ci

#537 config: define service configs in terms of a central crate
  Cargo.lock
  Cargo.toml
  crates/astria-composer/Cargo.toml
  crates/astria-composer/src/config.rs
  crates/astria-composer/src/lib.rs
  crates/astria-composer/src/main.rs
  crates/astria-conductor/Cargo.toml
  crates/astria-conductor/src/config.rs
  crates/astria-conductor/src/lib.rs
  crates/astria-conductor/src/main.rs
  crates/astria-config/Cargo.toml
  crates/astria-config/src/lib.rs
  crates/astria-config/src/tests.rs
  crates/astria-sequencer-relayer/Cargo.toml
  crates/astria-sequencer-relayer/src/config.rs
  crates/astria-sequencer-relayer/src/lib.rs
  crates/astria-sequencer-relayer/src/main.rs
  crates/astria-sequencer/Cargo.toml
  crates/astria-sequencer/src/config.rs
  crates/astria-sequencer/src/main.rs
Labels: conductor, sequencer, sequencer-relayer, composer

#545 ci: require conventional commit naming for PRs
  .github/workflows/lint.yml
Labels: ci

#459 fix(composer): refetch nonce on submission failure
  Cargo.lock
  crates/astria-composer/Cargo.toml
  crates/astria-composer/src/searcher/collector.rs
  crates/astria-composer/src/searcher/executor.rs
  crates/astria-composer/src/searcher/mod.rs
  crates/astria-composer/tests/blackbox/composer.rs
  crates/astria-composer/tests/blackbox/helper/mock_sequencer.rs
  crates/astria-composer/tests/blackbox/helper/mod.rs
  crates/astria-proto/src/native/sequencer/v1alpha1.rs
  crates/astria-sequencer-client/src/extension_trait.rs
  crates/astria-sequencer-types/src/abci_code.rs
Labels: bug, proto, sequencer, composer

#549 fix(ci): only run title lint on pull requests
  .github/workflows/lint.yml
Labels: ci

#548 fix: implement `chain_ids_commitment` inclusion proof generation and verification
  crates/astria-celestia-client/src/blob_space.rs
  crates/astria-celestia-client/src/client.rs
  crates/astria-conductor/src/block_verifier.rs
  crates/astria-sequencer-types/src/sequencer_block_data.rs
  specs/data-flow-and-verification.md
Labels: documentation, conductor

#546 fix(ci): use gh token to avoid rate limit for setup-protoc
  .github/workflows/test.yml
Labels: ci

#552 ci(composer): fix flaky composer test
  crates/astria-composer/tests/blackbox/composer.rs
Labels: composer
