Repository astriaorg/astria, pull requests merged in 2023-08, with the labels that each got.

#193 proto: execution API redesign
  .gitattributes
  crates/astria-proto/proto/astria/execution/v1alpha2/execution.proto
  crates/astria-proto/proto/buf.yaml
  crates/astria-proto/src/proto/generated/astria.execution.v1alpha2.rs
  crates/astria-proto/src/proto/generated/astria.execution.v1alpha2.tonic.rs
  crates/astria-proto/src/proto/mod.rs
  specs/assets/execution_api_sequence.png
  specs/execution-api.md
Labels: proto, size/l

#217 sequencer-client: re-export tendermint Client
  crates/astria-sequencer-client/src/lib.rs
Labels: sequencer, size/s

#218 dev: warn on unreachable pub
  .cargo/config.toml
Labels: size/xs

#192 composer: initial implementation
  .github/workflows/docker-build.yml
  Cargo.lock
  Cargo.toml
  crates/astria-composer/Cargo.toml
  crates/astria-composer/env.example
  crates/astria-composer/src/api.rs
  crates/astria-composer/src/composer.rs
  crates/astria-composer/src/config.rs
  crates/astria-composer/src/lib.rs
  crates/astria-composer/src/main.rs
  crates/astria-composer/src/searcher.rs
  crates/astria-composer/src/telemetry.rs
  crates/astria-composer/tests/blackbox/api.rs
  crates/astria-composer/tests/blackbox/composer.rs
  crates/astria-composer/tests/blackbox/helper/mock_geth.rs
  crates/astria-composer/tests/blackbox/helper/mock_sequencer.rs
  crates/astria-composer/tests/blackbox/helper/mod.rs
  crates/astria-composer/tests/blackbox/main.rs
  crates/astria-sequencer-client/src/tests/http.rs
  crates/astria-sequencer-relayer/Cargo.toml
  crates/astria-sequencer-relayer/tests/smoke/helper.rs
  crates/astria-sequencer/Cargo.toml
Labels: ci, sequencer, sequencer-relayer, composer, size/xl

#225 ci: remove unused excludes, use --all-features everywhere
  .github/workflows/rust.yml
Labels: ci, size/s

#237 Adds Docker Hub Login
  .github/workflows/docker-build.yml
  .github/workflows/reusable-docker-build.yml
Labels: ci, size/s

#212 ci: check toml formatting
  .github/workflows/rust.yml
  README.md
  crates/astria-conductor/Cargo.toml
  crates/astria-gossipnet/Cargo.toml
  crates/astria-sequencer-relayer/Cargo.toml
  crates/astria-sequencer/Cargo.toml
Labels: ci, conductor, sequencer, sequencer-relayer, size/s

#235 use cargo resolver 2, fix used features
  Cargo.toml
  crates/astria-composer/Cargo.toml
  crates/astria-sequencer-relayer/Cargo.toml
Labels: sequencer-relayer, composer, size/s

#236 feat(celestia-client): add utility function to access jsonrpc error
  crates/astria-celestia-jsonrpc-client/src/lib.rs
Labels: size/s

#211 feat(conductor): only read rollup data from our revelant namespace
  crates/astria-conductor/src/block_verifier.rs
  crates/astria-conductor/src/driver.rs
  crates/astria-conductor/src/executor.rs
  crates/astria-conductor/src/lib.rs
  crates/astria-conductor/src/reader.rs
  crates/astria-conductor/src/types.rs
  crates/astria-sequencer-relayer/src/data_availability.rs
Labels: conductor, sequencer-relayer, size/m

#238 Updating crates with images to match released docker image tags
  Cargo.lock
  crates/astria-conductor/Cargo.toml
  crates/astria-sequencer-relayer/Cargo.toml
  crates/astria-sequencer/Cargo.toml
Labels: conductor, sequencer, sequencer-relayer, size/s

#249 Remove the size labeler, annoying message duplication
  .github/workflows/labeler.yml
Labels: ci, size/s

#239 feat(composer): read sequencer private key from env and track nonce
  Cargo.lock
  crates/astria-composer/Cargo.toml
  crates/astria-composer/env.example
  crates/astria-composer/src/config.rs
  crates/astria-composer/src/searcher.rs
  crates/astria-composer/tests/blackbox/helper/mock_sequencer.rs
  crates/astria-composer/tests/blackbox/helper/mod.rs
  crates/astria-sequencer/src/accounts/types.rs
Labels: sequencer, composer, size/m

#206 feat(sequencer): implement fees for actions
  crates/astria-sequencer/src/accounts/action.rs
  crates/astria-sequencer/src/accounts/types.rs
  crates/astria-sequencer/src/app.rs
  crates/astria-sequencer/src/sequence/action.rs
  crates/astria-sequencer/src/transaction/unsigned.rs
Labels: sequencer, size/m

#248 feat(relayer): add `retain` public key check before deserialization retain checks
  crates/astria-sequencer-relayer/src/data_availability.rs
Labels: sequencer-relayer, size/xs

#255 sequencer: use penumbra's `Storage` instead of `TempStorage`
  crates/astria-sequencer/src/config.rs
  crates/astria-sequencer/src/sequencer.rs
Labels: sequencer

#223 Configuration standard spec
  .gitignore
  crates/astria-composer/README.md
  crates/astria-composer/justfile
  crates/astria-composer/local.env.example
  crates/astria-composer/src/config.rs
  specs/config-standard.md
Labels: composer, size/m

#264 ci: correct name gh runner
  .github/workflows/reusable-docker-build.yml
  .github/workflows/rust.yml
Labels: ci

#224 conductor: spec docs
  specs/assets/conductor-architecture.png
  specs/conductor.md
Labels: size/s

#258 refactor: move shared types from `astria_sequencer_relayer` to their own crate
  Cargo.lock
  crates/astria-conductor/Cargo.toml
  crates/astria-conductor/src/block_verifier.rs
  crates/astria-conductor/src/driver.rs
  crates/astria-conductor/src/executor.rs
  crates/astria-conductor/src/reader.rs
  crates/astria-conductor/src/types.rs
  crates/astria-sequencer-relayer/Cargo.toml
  crates/astria-sequencer-relayer/src/data_availability.rs
  crates/astria-sequencer-relayer/src/lib.rs
  crates/astria-sequencer-relayer/src/network.rs
  crates/astria-sequencer-relayer/src/relayer.rs
  crates/astria-sequencer-relayer/src/types.rs
  crates/astria-sequencer-relayer/tests/smoke/helper.rs
  crates/astria-sequencer-relayer/tests/smoke/main.rs
  crates/astria-sequencer-types/Cargo.toml
  crates/astria-sequencer-types/src/lib.rs
  crates/astria-sequencer-types/src/namespace.rs
  crates/astria-sequencer-types/src/sequencer_block_data.rs
  crates/astria-sequencer-types/src/serde.rs
  crates/astria-sequencer-types/src/test_utils.rs
Labels: conductor, sequencer-relayer

#259 ci: ensure that crates compile outside of workspace
  .github/workflows/rust.yml
  crates/astria-composer/Cargo.toml
Labels: ci, composer

#247 sequencer: decouple abci account queries
  Cargo.lock
  crates/astria-composer/Cargo.toml
  crates/astria-composer/src/searcher.rs
  crates/astria-composer/tests/blackbox/helper/mock_sequencer.rs
  crates/astria-conductor/src/execution_client.rs
  crates/astria-conductor/src/executor.rs
  crates/astria-proto/Cargo.toml
  crates/astria-proto/proto/astria/sequencer/v1alpha1/account.proto
  crates/astria-proto/src/lib.rs
  crates/astria-proto/src/native/mod.rs
  crates/astria-proto/src/native/primitive.rs
  crates/astria-proto/src/native/sequencer/mod.rs
  crates/astria-proto/src/native/sequencer/v1alpha1.rs
  crates/astria-proto/src/proto/generated/astria.sequencer.v1alpha1.rs
  crates/astria-proto/src/proto/mod.rs
  crates/astria-sequencer-client/Cargo.toml
  crates/astria-sequencer-client/src/lib.rs
  crates/astria-sequencer-client/src/tests/http.rs
  crates/astria-sequencer-client/src/tests/mod.rs
  crates/astria-sequencer/Cargo.toml
  crates/astria-sequencer/src/accounts/action.rs
  crates/astria-sequencer/src/accounts/component.rs
  crates/astria-sequencer/src/accounts/query.rs
  crates/astria-sequencer/src/accounts/state_ext.rs
  crates/astria-sequencer/src/accounts/types.rs
  crates/astria-sequencer/src/app.rs
  crates/astria-sequencer/src/crypto.rs
  crates/astria-sequencer/src/genesis.rs
  crates/astria-sequencer/src/lib.rs
  crates/astria-sequencer/src/sequence/action.rs
  crates/astria-sequencer/src/sequencer.rs
  crates/astria-sequencer/src/service/info.rs
  crates/astria-sequencer/src/service/info/abci_query_router.rs
  crates/astria-sequencer/src/service/info/mod.rs
  crates/astria-sequencer/src/transaction/action.rs
  crates/astria-sequencer/src/transaction/action_handler.rs
  crates/astria-sequencer/src/transaction/signed.rs
  crates/astria-sequencer/src/transaction/unsigned.rs
Labels: conductor, proto, sequencer, composer, size/xl

#262 ci: add timeout, improve caching
  .github/workflows/reusable-docker-build.yml
  .github/workflows/rust.yml
Labels: ci

#209 feat(sequencer): implement generation of action tree commitment
  crates/astria-sequencer/src/lib.rs
  crates/astria-sequencer/src/proposal/commitment.rs
  crates/astria-sequencer/src/proposal/mod.rs
  crates/astria-sequencer/src/service/consensus.rs
  specs/assets/sequencer_inclusion_proof_0.png
  specs/assets/sequencer_inclusion_proof_1.png
  specs/assets/sequencer_inclusion_proof_2.png
  specs/assets/sequencer_inclusion_proof_3.png
  specs/sequencer-inclusion-proofs.md
Labels: sequencer, size/l

#271 Unify telemetry by replacing telemetry modules by crate
  .github/workflows/rust.yml
  Cargo.lock
  Cargo.toml
  containerfiles/Dockerfile
  crates/astria-composer/Cargo.toml
  crates/astria-composer/src/lib.rs
  crates/astria-composer/src/telemetry.rs
  crates/astria-conductor/Cargo.toml
  crates/astria-conductor/src/bin/astria-conductor.rs
  crates/astria-conductor/src/config.rs
  crates/astria-conductor/src/lib.rs
  crates/astria-conductor/src/telemetry.rs
  crates/astria-gossipnet/Cargo.toml
  crates/astria-sequencer-relayer/Cargo.toml
  crates/astria-sequencer-relayer/src/lib.rs
  crates/astria-sequencer-relayer/src/telemetry.rs
  crates/astria-sequencer-utils/src/telemetry.rs
  crates/astria-sequencer/Cargo.toml
  crates/astria-sequencer/src/config.rs
  crates/astria-sequencer/src/lib.rs
  crates/astria-sequencer/src/main.rs
  crates/astria-sequencer/src/telemetry.rs
  crates/astria-telemetry/Cargo.toml
  crates/astria-telemetry/src/lib.rs
Labels: ci, conductor, sequencer, sequencer-relayer, refactor, composer, code-quality, tech-debt, docker

#272 sequencer: use tendermint hash type instead of opaque bytes
  crates/astria-conductor/src/block_verifier.rs
  crates/astria-conductor/src/executor.rs
  crates/astria-conductor/src/reader.rs
  crates/astria-conductor/src/types.rs
  crates/astria-sequencer-relayer/src/data_availability.rs
  crates/astria-sequencer-types/src/sequencer_block_data.rs
Labels: conductor, sequencer-relayer

#282 composer: test multiple rollups
  crates/astria-composer/tests/blackbox/api.rs
  crates/astria-composer/tests/blackbox/composer.rs
  crates/astria-composer/tests/blackbox/helper/mod.rs
Labels: composer

#277 composer: ingest transactions from multiple rollups
  Cargo.lock
  Cargo.toml
  crates/astria-composer/Cargo.toml
  crates/astria-composer/local.env.example
  crates/astria-composer/src/config.rs
  crates/astria-composer/src/searcher/collector.rs
  crates/astria-composer/src/searcher/mod.rs
  crates/astria-composer/src/searcher/rollup.rs
  crates/astria-composer/tests/blackbox/api.rs
  crates/astria-composer/tests/blackbox/composer.rs
  crates/astria-composer/tests/blackbox/helper/mod.rs
  crates/astria-sequencer-client/Cargo.toml
Labels: sequencer, composer

#256 feat(sequencer, relayer): generate and write merkle inclusion proofs as part of `RollupNamespaceData`
  Cargo.lock
  Cargo.toml
  crates/astria-conductor/src/types.rs
  crates/astria-sequencer-relayer/Cargo.toml
  crates/astria-sequencer-relayer/src/data_availability.rs
  crates/astria-sequencer-relayer/src/relayer.rs
  crates/astria-sequencer-types/src/lib.rs
  crates/astria-sequencer-types/src/sequencer_block_data.rs
  crates/astria-sequencer-types/src/serde.rs
  crates/astria-sequencer-validation/Cargo.toml
  crates/astria-sequencer-validation/src/lib.rs
  crates/astria-sequencer-validation/src/proof.rs
  crates/astria-sequencer-validation/src/utils.rs
  crates/astria-sequencer/Cargo.toml
  crates/astria-sequencer/src/proposal/commitment.rs
Labels: conductor, sequencer, sequencer-relayer

#306 ci: Update to reusable success, nested names
  .github/workflows/docker-build.yml
  .github/workflows/lint.yml
  .github/workflows/release.yml
  .github/workflows/reusable-success.yml
  .github/workflows/test.yml
Labels: ci

#286 feat(sequencer): implement proving of action tree root inside `Header::data_hash`
  Cargo.lock
  Cargo.toml
  crates/astria-conductor/src/types.rs
  crates/astria-sequencer-relayer/src/data_availability.rs
  crates/astria-sequencer-relayer/tests/smoke/helper.rs
  crates/astria-sequencer-types/Cargo.toml
  crates/astria-sequencer-types/src/lib.rs
  crates/astria-sequencer-types/src/sequencer_block_data.rs
  crates/astria-sequencer-validation/src/proof.rs
Labels: conductor, sequencer-relayer

#295 feat(composer): adding more docs
  crates/astria-composer/src/composer.rs
  crates/astria-composer/src/lib.rs
  crates/astria-composer/src/searcher/collector.rs
  crates/astria-composer/src/searcher/mod.rs
  crates/astria-composer/src/searcher/rollup.rs
Labels: composer

#291 fix(sequencer): fix `deliver_tx` to accept the action tree root
  crates/astria-sequencer-types/src/sequencer_block_data.rs
  crates/astria-sequencer/src/app.rs
  crates/astria-sequencer/src/service/consensus.rs
Labels: sequencer

#303 docs: sequencer app document
  specs/sequencer-app.md
Labels: documentation

#311 sequencer: move all public interfaces to `astria-proto` and lock it down
  Cargo.lock
  crates/astria-composer/Cargo.toml
  crates/astria-composer/src/searcher/mod.rs
  crates/astria-composer/tests/blackbox/composer.rs
  crates/astria-conductor/src/executor.rs
  crates/astria-conductor/src/types.rs
  crates/astria-proto/Cargo.toml
  crates/astria-proto/src/native/sequencer/v1alpha1.rs
  crates/astria-sequencer-client/Cargo.toml
  crates/astria-sequencer-client/src/lib.rs
  crates/astria-sequencer-client/src/tests/http.rs
  crates/astria-sequencer-relayer/Cargo.toml
  crates/astria-sequencer-relayer/src/data_availability.rs
  crates/astria-sequencer-relayer/src/network.rs
  crates/astria-sequencer-relayer/src/relayer.rs
  crates/astria-sequencer-relayer/tests/smoke/helper.rs
  crates/astria-sequencer-types/Cargo.toml
  crates/astria-sequencer-types/src/sequencer_block_data.rs
  crates/astria-sequencer-validation/src/proof.rs
  crates/astria-sequencer-validation/src/utils.rs
  crates/astria-sequencer/Cargo.toml
  crates/astria-sequencer/src/accounts/action.rs
  crates/astria-sequencer/src/accounts/mod.rs
  crates/astria-sequencer/src/accounts/query.rs
  crates/astria-sequencer/src/accounts/state_ext.rs
  crates/astria-sequencer/src/accounts/types.rs
  crates/astria-sequencer/src/app.rs
  crates/astria-sequencer/src/genesis.rs
  crates/astria-sequencer/src/lib.rs
  crates/astria-sequencer/src/proposal/commitment.rs
  crates/astria-sequencer/src/sequence.rs
  crates/astria-sequencer/src/sequence/action.rs
  crates/astria-sequencer/src/sequence/mod.rs
  crates/astria-sequencer/src/service/consensus.rs
  crates/astria-sequencer/src/service/info/mod.rs
  crates/astria-sequencer/src/service/mempool.rs
  crates/astria-sequencer/src/service/mod.rs
  crates/astria-sequencer/src/transaction/action.rs
  crates/astria-sequencer/src/transaction/action_handler.rs
  crates/astria-sequencer/src/transaction/mod.rs
  crates/astria-sequencer/src/transaction/signed.rs
  crates/astria-sequencer/src/transaction/unsigned.rs
  crates/astria-sequencer/src/utils.rs
Labels: conductor, proto, sequencer, sequencer-relayer, composer

#315 ci: ensure Cargo.lock is up to date
  .github/workflows/test.yml
Labels: ci

#302 Docs/conductor documentation
  crates/astria-conductor/README.md
  specs/assets/conductor-architecture.png
  specs/conductor.md
Labels: documentation, conductor
