Repository astriaorg/astria, pull requests merged in 2023-07, with the labels that each got.

#89 feat(sequencer-relayer): single entry point
  .github/workflows/rust.yml
  crates/astria-sequencer-relayer/src/api.rs
  crates/astria-sequencer-relayer/src/lib.rs
  crates/astria-sequencer-relayer/src/main.rs
  crates/astria-sequencer-relayer/src/network.rs
  crates/astria-sequencer-relayer/src/relayer.rs
  crates/astria-sequencer-relayer/src/sequencer_relayer.rs
Labels: sequencer-relayer, refactor

#72 feat(sequencer): implement cryptographically-backed accounts and transaction signing
  Cargo.lock
  crates/astria-proto/buf.gen.yaml
  crates/astria-proto/proto/astria/sequencer/v1/transaction.proto
  crates/astria-sequencer/Cargo.toml
  crates/astria-sequencer/src/accounts/query.rs
  crates/astria-sequencer/src/accounts/state_ext.rs
  crates/astria-sequencer/src/accounts/transaction.rs
  crates/astria-sequencer/src/accounts/types.rs
  crates/astria-sequencer/src/app.rs
  crates/astria-sequencer/src/crypto.rs
  crates/astria-sequencer/src/genesis.rs
  crates/astria-sequencer/src/lib.rs
  crates/astria-sequencer/src/service/mempool.rs
  crates/astria-sequencer/src/transaction.rs
  crates/astria-sequencer/src/transaction/action_handler.rs
  crates/astria-sequencer/src/transaction/mod.rs
  crates/astria-sequencer/src/transaction/signed.rs
  crates/astria-sequencer/src/transaction/unsigned.rs
  crates/astria-sequencer/src/utils.rs
  crates/astria-sequencer/test-genesis.json
Labels: sequencer

#200 ci: cache container image layers in ghcr
  .github/workflows/reusable-docker-build.yml
Labels: ci

#190 sequencer-client: replace type wrapper by extension trait
  .github/workflows/rust.yml
  Cargo.lock
  crates/astria-conductor/Cargo.toml
  crates/astria-conductor/src/block_verifier.rs
  crates/astria-sequencer-client/Cargo.toml
  crates/astria-sequencer-client/src/client.rs
  crates/astria-sequencer-client/src/lib.rs
  crates/astria-sequencer-client/src/tests/http.rs
  crates/astria-sequencer-client/src/tests/mod.rs
Labels: sequencer-client

#202 proto: put grpc server and client behind feature flags
  crates/astria-conductor/Cargo.toml
  crates/astria-proto/Cargo.toml
  crates/astria-proto/buf.gen.yaml
  crates/astria-proto/src/proto/tonic/astria.execution.v1alpha1.tonic.rs
Labels: enhancement, proto

#199 ci: auto label prs
  .gitattributes
  .github/labeler.yml
  .github/workflows/labeler.yml
  crates/astria-proto/src/lib.rs
  crates/astria-proto/src/proto/generated/astria.execution.v1alpha1.rs
  crates/astria-proto/src/proto/generated/astria.execution.v1alpha1.tonic.rs
  crates/astria-proto/src/proto/generated/astria.primitive.v1.rs
  crates/astria-proto/src/proto/generated/astria.sequencer.v1alpha1.rs
  crates/astria-proto/src/proto/mod.rs
  crates/astria-proto/tests/proto_build.rs
Labels: ci, proto, size/s

#198 ci: use BuildJet for faster GH Actions
  .github/workflows/reusable-docker-build.yml
  .github/workflows/rust.yml
Labels: ci, size/s

#201 sequencer: tx nonce must match account nonce
  crates/astria-sequencer/src/app.rs
  crates/astria-sequencer/src/transaction/unsigned.rs
Labels: bug, sequencer, size/s

#144 add CODEOWNERS file
  CODEOWNERS
Labels: size/xs
