Repository astriaorg/astria, pull requests merged in 2023-06, with the labels that each got.

#57 Buf workflow only run when protos or workflow changes
  .github/workflows/proto.yml
  .github/workflows/rust.yml
Labels: ci

#58 Add docker container flows
  .github/workflows/docker-build.yml
  .github/workflows/reusable-docker-build.yml
Labels: ci

#91 ci: make pedantic clippy the default
  .github/workflows/rust.yml
  crates/astria-proto/proto/astria/sequencer/v1/block.proto
  crates/astria-proto/proto/astria/sequencer/v1/data.proto
  crates/astria-proto/proto/astria/sequencer/v1/tx.proto
  crates/astria-proto/src/lib.rs
Labels: ci, code-quality

#70 init validator key during sequencer-relayer init
  Cargo.lock
  Cargo.toml
  crates/astria-conductor/Cargo.toml
  crates/astria-conductor/src/reader.rs
  crates/astria-sequencer-relayer/Cargo.toml
  crates/astria-sequencer-relayer/src/base64_string.rs
  crates/astria-sequencer-relayer/src/config/mod.rs
  crates/astria-sequencer-relayer/src/data_availability.rs
  crates/astria-sequencer-relayer/src/keys.rs
  crates/astria-sequencer-relayer/src/lib.rs
  crates/astria-sequencer-relayer/src/main.rs
  crates/astria-sequencer-relayer/src/relayer.rs
  crates/astria-sequencer-relayer/src/validator.rs
  crates/astria-sequencer-relayer/tests/it/data_availability.rs
Labels: sequencer-relayer, refactor
