Repository astriaorg/astria, pull requests merged in 2024-04, with the labels that each got.

#871 test(sequencer): add unit tests for src/accounts/state_ext
  crates/astria-sequencer/src/accounts/state_ext.rs
Labels: sequencer

#888 chore(docs): Add sequencer RPC and EVM rollup RPCs/WSS endpoints in docs
  charts/README.md
Labels: cd

#873 fix(docs): Fix doc for running a smoke test
  charts/README.md
Labels: cd

#875 test(sequencer): add unit tests for src/authority/state_ext
  crates/astria-sequencer/src/authority/state_ext.rs
Labels: sequencer

#876 test(sequencer): add unit tests for src/ibc/state_ext
  crates/astria-sequencer/src/ibc/state_ext.rs
Labels: sequencer

#878 test(sequencer): add unit tests for src/bridge/state_ext
  crates/astria-sequencer/src/bridge/state_ext.rs
Labels: sequencer

#861 ci: chart release setup
  .github/workflows/release.yml
  .github/workflows/reusable-docker-build.yml
  charts/evm-rollup/Chart.yaml
  charts/evm-rollup/files/genesis/geth-genesis.json
Labels: ci, cd

#860 ci: use buildkit cache for dockerfile
  containerfiles/Dockerfile
Labels: ci, docker, docker-build

#898 chore(sequencer): logging as human readable for account state
  crates/astria-sequencer/src/accounts/state_ext.rs
Labels: sequencer

#899 chore(sequencer): cut sequencer 0.10.1 release
  Cargo.lock
  charts/sequencer/Chart.yaml
  charts/sequencer/values.yaml
  crates/astria-sequencer/Cargo.toml
Labels: sequencer, cd

#887 ci: add cargo audit
  .github/workflows/reusable-run-checker.yml
  .github/workflows/scheduled.yml
  .github/workflows/test.yml
Labels: ci

#869 feat(sequencer): check for sufficient balance in `check_tx`
  crates/astria-core/src/generated/astria.sequencer.v1.rs
  crates/astria-core/src/sequencer/v1/abci.rs
  crates/astria-sequencer/src/app.rs
  crates/astria-sequencer/src/service/consensus.rs
  crates/astria-sequencer/src/service/mempool.rs
  crates/astria-sequencer/src/transaction/mod.rs
  proto/sequencerapis/astria/sequencer/v1/abci.proto
Labels: proto, sequencer

#912 chore(charts): update rollup for new geth version
  .github/workflows/docker-build.yml
  charts/evm-rollup/Chart.yaml
  charts/evm-rollup/files/genesis/geth-genesis.json
  charts/evm-rollup/values.yaml
Labels: ci, cd

#889 feat(sequencer-relayer): provide a shutdown controller
  crates/astria-sequencer-relayer/Cargo.toml
  crates/astria-sequencer-relayer/src/lib.rs
  crates/astria-sequencer-relayer/src/main.rs
  crates/astria-sequencer-relayer/src/sequencer_relayer.rs
  crates/astria-sequencer-relayer/tests/blackbox/helper.rs
  crates/astria-sequencer-relayer/tests/blackbox/main.rs
Labels: sequencer-relayer

#905 feat(core): generate pbjon impls for sequencer types needed to mock conductor
  crates/astria-core/src/generated/astria.sequencer.v1.serde.rs
  tools/protobuf-compiler/src/main.rs
Labels: proto

#909 chore(sequencer): no telemetry for formatting db keys
  crates/astria-sequencer/src/api_state_ext.rs
Labels: sequencer

#904 feat(core): generate names for protobuf rust types
  crates/astria-core/src/generated/astria.composer.v1alpha1.rs
  crates/astria-core/src/generated/astria.execution.v1alpha1.rs
  crates/astria-core/src/generated/astria.execution.v1alpha2.rs
  crates/astria-core/src/generated/astria.primitive.v1.rs
  crates/astria-core/src/generated/astria.sequencer.v1.rs
  tools/protobuf-compiler/Cargo.lock
  tools/protobuf-compiler/Cargo.toml
  tools/protobuf-compiler/src/main.rs
Labels: proto, core

#908 feat: replace hex by base64 for display formatting, emitting tracing events
  Cargo.lock
  crates/astria-celestia-client/src/client.rs
  crates/astria-composer/src/executor/mod.rs
  crates/astria-composer/tests/blackbox/grpc_collector.rs
  crates/astria-conductor/src/celestia/block_verifier.rs
  crates/astria-conductor/src/celestia/mod.rs
  crates/astria-conductor/src/celestia/reporting.rs
  crates/astria-conductor/src/executor/mod.rs
  crates/astria-core/Cargo.toml
  crates/astria-core/src/sequencer/v1/asset.rs
  crates/astria-core/src/sequencer/v1/mod.rs
  crates/astria-sequencer-relayer/src/relayer/write/conversion.rs
  crates/astria-sequencer/src/api_state_ext.rs
  crates/astria-sequencer/src/app.rs
  crates/astria-sequencer/src/lib.rs
  crates/astria-sequencer/src/service/consensus.rs
  crates/astria-sequencer/src/state_ext.rs
  crates/astria-sequencer/src/utils.rs
  crates/astria-telemetry/Cargo.toml
  crates/astria-telemetry/src/display.rs
Labels: conductor, sequencer, sequencer-relayer, composer

#923 feat: support grpc ingress for sequencer
  charts/sequencer/Chart.yaml
  charts/sequencer/templates/ingress.yaml
  charts/sequencer/values.yaml
  dev/values/validators/node0.yml
  dev/values/validators/node1.yml
  dev/values/validators/node2.yml
  dev/values/validators/single.yml
Labels: sequencer, demo, cd

#919 feat(ci): ensure all crate targets can be built outside the workspace
  .github/workflows/test.yml
Labels: ci

#890 test(sequencer): add unit tests for src/api_state_ext
  crates/astria-sequencer/src/api_state_ext.rs
Labels: sequencer

#925 fix(conductor): enable tls for grpc connections
  Cargo.lock
  crates/astria-conductor/Cargo.toml
Labels: conductor, docker-build

#927 chore(conductor): release conductor 0.13.1, update evm chart
  Cargo.lock
  charts/evm-rollup/Chart.yaml
  charts/evm-rollup/values.yaml
  crates/astria-conductor/Cargo.toml
Labels: conductor, cd

#928 fix(charts): use statefulsets appropriately for rollup
  charts/evm-rollup/Chart.yaml
  charts/evm-rollup/templates/deployments.yaml
  charts/evm-rollup/templates/statefulsets.yaml
  charts/evm-rollup/templates/storageclasses.yaml
  charts/evm-rollup/templates/volumes.yaml
  dev/values/rollup/dev.yaml
Labels: cd

#852 refactor(conductor)!: use HTTP to periodically poll Celestia heights
  Cargo.lock
  charts/evm-rollup/Chart.yaml
  charts/evm-rollup/templates/configmap.yaml
  crates/astria-conductor/Cargo.toml
  crates/astria-conductor/local.env.example
  crates/astria-conductor/src/celestia/builder.rs
  crates/astria-conductor/src/celestia/latest_height_stream.rs
  crates/astria-conductor/src/celestia/mod.rs
  crates/astria-conductor/src/conductor.rs
  crates/astria-conductor/src/config.rs
Labels: conductor, cd

#941 ci: smoke test fix
  .github/workflows/docker-build.yml
Labels: ci, docker-build

#935 fix(sequencer): set revision number from chain id in `init_chain`
  Cargo.lock
  crates/astria-sequencer/Cargo.toml
  crates/astria-sequencer/src/api_state_ext.rs
  crates/astria-sequencer/src/app.rs
  crates/astria-sequencer/src/state_ext.rs
Labels: sequencer

#936 fix(sequecer): is_proposer check now considers proposer's address
  crates/astria-sequencer/src/app.rs
Labels: sequencer

#939 feat(proto): create sequencerblockapis v1alpha1
  .github/workflows/release.yml
  buf.work.yaml
  crates/astria-core/src/generated/astria.sequencerblock.v1alpha1.rs
  crates/astria-core/src/generated/astria.sequencerblock.v1alpha1.serde.rs
  proto/sequencerblockapis/astria/sequencerblock/v1alpha1/block.proto
  proto/sequencerblockapis/astria/sequencerblock/v1alpha1/celestia.proto
  proto/sequencerblockapis/astria/sequencerblock/v1alpha1/merkle.proto
  proto/sequencerblockapis/astria/sequencerblock/v1alpha1/service.proto
  proto/sequencerblockapis/buf.lock
  proto/sequencerblockapis/buf.yaml
  tools/protobuf-compiler/src/main.rs
Labels: ci, proto

#938 fix(charts): cometbft support for secrets
  charts/sequencer/Chart.yaml
  charts/sequencer/files/cometbft/config/config.toml
  charts/sequencer/files/scripts/init-cometbft.sh
  charts/sequencer/templates/configmaps.yaml
  charts/sequencer/templates/secretproviderclass.yaml
  charts/sequencer/templates/statefulsets.yaml
  charts/sequencer/values.yaml
  dev/values/validators/single.yml
Labels: cd

#944 fix(ci): less flaky smoke test
  .github/workflows/docker-build.yml
  justfile
Labels: ci

#917 feat(conductor): add blackbox tests for conductor running in soft-only mode
  Cargo.lock
  crates/astria-conductor/Cargo.toml
  crates/astria-conductor/src/celestia/builder.rs
  crates/astria-conductor/src/celestia/mod.rs
  crates/astria-conductor/src/conductor.rs
  crates/astria-conductor/src/main.rs
  crates/astria-conductor/tests/blackbox/helpers/macros.rs
  crates/astria-conductor/tests/blackbox/helpers/mock_grpc.rs
  crates/astria-conductor/tests/blackbox/helpers/mod.rs
  crates/astria-conductor/tests/blackbox/main.rs
  crates/astria-conductor/tests/blackbox/soft_only.rs
Labels: ci, conductor, cd

#854 feat(composer): add graceful shutdown
  Cargo.lock
  crates/astria-composer/Cargo.toml
  crates/astria-composer/src/collectors/geth.rs
  crates/astria-composer/src/collectors/grpc.rs
  crates/astria-composer/src/collectors/mod.rs
  crates/astria-composer/src/composer.rs
  crates/astria-composer/src/executor/mod.rs
  crates/astria-composer/src/executor/tests.rs
  crates/astria-composer/src/grpc.rs
Labels: ci, composer, cd

#955 fix(charts): only use one of annotation and spec for ingress
  charts/evm-rollup/Chart.yaml
  charts/evm-rollup/templates/ingress.yaml
  charts/sequencer-faucet/Chart.yaml
  charts/sequencer-faucet/templates/ingress.yaml
  charts/sequencer/Chart.yaml
Labels: cd

#953 refactor(composer): Use config-like Builders instead of `new` Constructors
  crates/astria-composer/src/collectors/geth.rs
  crates/astria-composer/src/composer.rs
  crates/astria-composer/src/executor/builder.rs
  crates/astria-composer/src/executor/mod.rs
  crates/astria-composer/src/executor/tests.rs
  crates/astria-composer/src/grpc.rs
Labels: composer

#960 fix(ci): docker runs should pass for external prs
  .github/workflows/docker-build.yml
  .github/workflows/reusable-docker-build.yml
Labels: ci

#961 fix(ci): disable storage for dev values
  dev/values/validators/single.yml
Labels: cd

#911 fix(sequencer): respect max_tx_bytes when preparing proposals
  crates/astria-sequencer/src/app.rs
  crates/astria-sequencer/src/proposal/block_size_constraints.rs
  crates/astria-sequencer/src/proposal/commitment.rs
  crates/astria-sequencer/src/proposal/mod.rs
Labels: sequencer

#831 feat(sequencer)!: update to ABCI v0.38
  Cargo.lock
  Cargo.toml
  charts/sequencer/Chart.yaml
  charts/sequencer/values.yaml
  crates/astria-sequencer/Cargo.toml
  crates/astria-sequencer/README.md
  crates/astria-sequencer/TESTNET.md
  crates/astria-sequencer/src/app.rs
  crates/astria-sequencer/src/sequencer.rs
  crates/astria-sequencer/src/service/consensus.rs
  crates/astria-sequencer/src/service/info/mod.rs
  crates/astria-sequencer/src/service/mempool.rs
  crates/astria-sequencer/src/service/snapshot.rs
Labels: conductor, proto, sequencer, sequencer-relayer, cd

#954 chore(proto): update execution service to use sequencerblock
  .github/workflows/release.yml
  crates/astria-conductor/src/executor/client.rs
  crates/astria-conductor/src/executor/tests.rs
  crates/astria-core/src/generated/astria.execution.v1alpha2.rs
  crates/astria-core/src/generated/astria.sequencer.v1.rs
  proto/composerapis/buf.yaml
  proto/executionapis/astria/execution/v1alpha2/execution.proto
  proto/executionapis/buf.lock
  proto/executionapis/buf.yaml
  proto/sequencerapis/buf.yaml
  proto/sequencerblockapis/LICENSE
  proto/sequencerblockapis/buf.yaml
Labels: ci, conductor, proto, sequencer, sequencer-relayer, docker-build

#951 Refactor Docker builds to use Depot for zero emulation builds + persistent cache
  .github/workflows/docker-build.yml
  .github/workflows/reusable-docker-build.yml
Labels: ci

#864 feat(sequencer): add display for deposits in `end_block`
  Cargo.lock
  crates/astria-core/Cargo.toml
  crates/astria-core/src/sequencer/v1/asset.rs
  crates/astria-core/src/sequencer/v1/block/mod.rs
  crates/astria-core/src/sequencer/v1/mod.rs
  crates/astria-core/src/sequencer/v1/snapshots/astria_core__sequencer__v1__tests__snapshots.snap
  crates/astria-core/src/sequencerblock/v1alpha1/block.rs
  crates/astria-sequencer/Cargo.toml
  crates/astria-sequencer/src/accounts/state_ext.rs
  crates/astria-sequencer/src/app.rs
Labels: conductor, sequencer

#946 fix(conductor): robust Celestia blob fetch, verify, convert
  Cargo.lock
  crates/astria-celestia-client/src/lib.rs
  crates/astria-conductor/Cargo.toml
  crates/astria-conductor/src/block_cache.rs
  crates/astria-conductor/src/celestia/block_verifier.rs
  crates/astria-conductor/src/celestia/builder.rs
  crates/astria-conductor/src/celestia/convert.rs
  crates/astria-conductor/src/celestia/fetch.rs
  crates/astria-conductor/src/celestia/mod.rs
  crates/astria-conductor/src/celestia/reconstruct.rs
  crates/astria-conductor/src/celestia/reporting.rs
  crates/astria-conductor/src/celestia/verify.rs
  crates/astria-conductor/tests/blackbox/firm_only.rs
  crates/astria-conductor/tests/blackbox/helpers/macros.rs
  crates/astria-conductor/tests/blackbox/helpers/mod.rs
  crates/astria-conductor/tests/blackbox/main.rs
  crates/astria-core/src/sequencer/v1/test_utils.rs
  crates/astria-core/src/sequencerblock/v1alpha1/celestia.rs
Labels: conductor, cd

#973 feat!: require chain id in transactions
  charts/evm-rollup/Chart.yaml
  charts/evm-rollup/templates/configmap.yaml
  charts/evm-rollup/values.yaml
  crates/astria-cli/src/cli/mod.rs
  crates/astria-cli/src/cli/rollup.rs
  crates/astria-cli/src/cli/sequencer.rs
  crates/astria-cli/src/commands/rollup.rs
  crates/astria-cli/src/commands/sequencer.rs
  crates/astria-cli/src/types.rs
  crates/astria-composer/local.env.example
  crates/astria-composer/src/composer.rs
  crates/astria-composer/src/config.rs
  crates/astria-composer/src/executor/builder.rs
  crates/astria-composer/src/executor/mod.rs
  crates/astria-composer/src/executor/tests.rs
  crates/astria-composer/tests/blackbox/helper/mod.rs
  crates/astria-core/src/generated/astria.protocol.transactions.v1alpha1.rs
  crates/astria-core/src/protocol/abci.rs
  crates/astria-core/src/protocol/test_utils.rs
  crates/astria-core/src/protocol/transaction/v1alpha1/mod.rs
  crates/astria-core/src/protocol/transaction/v1alpha1/snapshots/astria_core__protocol__transaction__v1alpha1__test__signed_transaction_hash.snap
  crates/astria-sequencer-client/src/tests/http.rs
  crates/astria-sequencer/src/app.rs
  crates/astria-sequencer/src/proposal/commitment.rs
  crates/astria-sequencer/src/service/consensus.rs
  crates/astria-sequencer/src/service/mempool.rs
  crates/astria-sequencer/src/transaction/mod.rs
  dev/values/rollup/dev.yaml
  proto/protocolapis/astria/protocol/transactions/v1alpha1/types.proto
Labels: ci, conductor, proto, sequencer, sequencer-relayer, composer, cd

#985 chore(sequencer): update justfile and testnet script
  crates/astria-sequencer/justfile
  crates/astria-sequencer/scripts/testnet.sh
Labels: sequencer

#990 fix(composer): account for fee asset id while estimating sequence action size
  crates/astria-composer/src/executor/bundle_factory/mod.rs
  crates/astria-composer/src/executor/bundle_factory/tests.rs
  crates/astria-composer/src/executor/tests.rs
  crates/astria-core/src/primitive/v1/mod.rs
Labels: composer

#988 chore!(sequencer, proto): bridge account only take single asset
  crates/astria-cli/src/commands/sequencer.rs
  crates/astria-core/src/generated/astria.protocol.transactions.v1alpha1.rs
  crates/astria-core/src/protocol/transaction/v1alpha1/action.rs
  crates/astria-sequencer/src/app.rs
  crates/astria-sequencer/src/bridge/bridge_lock_action.rs
  crates/astria-sequencer/src/bridge/init_bridge_account_action.rs
  crates/astria-sequencer/src/bridge/state_ext.rs
  crates/astria-sequencer/src/ibc/ics20_transfer.rs
  proto/protocolapis/astria/protocol/transactions/v1alpha1/types.proto
Labels: ci, conductor, proto, sequencer, cd

#994 chore(chart): improve geth genesis, update secret providers
  charts/evm-rollup/Chart.yaml
  charts/evm-rollup/files/genesis/geth-genesis.json
  charts/evm-rollup/files/scripts/init-geth.sh
  charts/evm-rollup/values.yaml
  charts/hermes/Chart.yaml
  charts/hermes/templates/secretproviderclass.yaml
  charts/hermes/values.yaml
  charts/sequencer-faucet/Chart.yaml
  charts/sequencer-faucet/templates/configmap.yaml
  charts/sequencer-faucet/templates/deployment.yaml
  charts/sequencer-faucet/templates/secretproviderclass.yaml
  charts/sequencer-faucet/values.yaml
  charts/sequencer/Chart.yaml
  charts/sequencer/files/cometbft/config/config.toml
  charts/sequencer/files/cometbft/config/genesis.json
  charts/sequencer/files/cometbft/config/node_key.json
  charts/sequencer/files/cometbft/config/priv_validator_key.json
  charts/sequencer/files/scripts/init-cometbft.sh
  charts/sequencer/templates/configmaps.yaml
  charts/sequencer/templates/secretproviderclass.yaml
  charts/sequencer/templates/statefulsets.yaml
  charts/sequencer/values.yaml
  dev/values/rollup/dev.yaml
  dev/values/validators/node0.yml
  dev/values/validators/node1.yml
  dev/values/validators/node2.yml
Labels: cd

#996 fix(ci): fix deploy of protos on main
  .github/workflows/release.yml
Labels: ci

#999 fix(sequencer): do not allow sudo to cause consensus failures
  crates/astria-sequencer/src/authority/action.rs
  crates/astria-sequencer/src/authority/state_ext.rs
Labels: sequencer

#965 feat(sequencer): add initial set of metrics to sequencer
  Cargo.lock
  crates/astria-sequencer/Cargo.toml
  crates/astria-sequencer/scripts/testnet.sh
  crates/astria-sequencer/src/app.rs
  crates/astria-sequencer/src/lib.rs
  crates/astria-sequencer/src/main.rs
  crates/astria-sequencer/src/metrics_init.rs
  crates/astria-sequencer/src/service/mempool.rs
Labels: sequencer, observability

#1005 refactor(core): remove `SequencerBlock::try_from_cometbft`
  crates/astria-cli/src/commands/rollup.rs
  crates/astria-cli/src/commands/sequencer.rs
  crates/astria-conductor/src/celestia/reporting.rs
  crates/astria-conductor/src/executor/tests.rs
  crates/astria-conductor/src/sequencer/reporting.rs
  crates/astria-conductor/tests/blackbox/helpers/macros.rs
  crates/astria-conductor/tests/blackbox/helpers/mod.rs
  crates/astria-core/src/protocol/test_utils.rs
  crates/astria-core/src/sequencerblock/v1alpha1/block.rs
  crates/astria-core/src/sequencerblock/v1alpha1/tests.rs
  crates/astria-sequencer-client/src/extension_trait.rs
  crates/astria-sequencer-relayer/tests/blackbox/helper.rs
  crates/astria-sequencer/Cargo.toml
  crates/astria-sequencer/src/api_state_ext.rs
  crates/astria-sequencer/src/grpc/sequencer.rs
Labels: conductor, sequencer, sequencer-relayer

#937 fix(composer): add capacity to bundle factory
  charts/evm-rollup/Chart.yaml
  charts/evm-rollup/templates/configmap.yaml
  charts/evm-rollup/values.yaml
  crates/astria-composer/local.env.example
  crates/astria-composer/src/composer.rs
  crates/astria-composer/src/config.rs
  crates/astria-composer/src/executor/builder.rs
  crates/astria-composer/src/executor/bundle_factory/mod.rs
  crates/astria-composer/src/executor/bundle_factory/tests.rs
  crates/astria-composer/src/executor/mod.rs
  crates/astria-composer/src/executor/tests.rs
  crates/astria-composer/tests/blackbox/helper/mod.rs
Labels: composer, cd

#980 feat(conductor)!: fetch blocks pending finalization
  crates/astria-conductor/src/celestia/mod.rs
  crates/astria-conductor/src/conductor.rs
  crates/astria-conductor/src/executor/builder.rs
  crates/astria-conductor/src/executor/client.rs
  crates/astria-conductor/src/executor/mod.rs
  crates/astria-conductor/src/executor/state.rs
  crates/astria-conductor/src/executor/tests.rs
  crates/astria-conductor/src/sequencer/client.rs
  crates/astria-conductor/src/sequencer/mod.rs
  crates/astria-conductor/tests/blackbox/firm_only.rs
  crates/astria-conductor/tests/blackbox/helpers/macros.rs
  crates/astria-conductor/tests/blackbox/helpers/mod.rs
  crates/astria-conductor/tests/blackbox/main.rs
  crates/astria-conductor/tests/blackbox/soft_and_firm.rs
  crates/astria-conductor/tests/blackbox/soft_only.rs
Labels: conductor, docker-build

#1014 fix(composer): use tx hash as hex again
  Cargo.lock
  crates/astria-composer/src/executor/mod.rs
  crates/astria-telemetry/Cargo.toml
  crates/astria-telemetry/src/display.rs
Labels: composer

#998 release: sequencer 0.11, conductor 0.14, composer 0.6, relayer 0.12
  Cargo.lock
  crates/astria-composer/Cargo.toml
  crates/astria-conductor/Cargo.toml
  crates/astria-sequencer-relayer/Cargo.toml
  crates/astria-sequencer/Cargo.toml
Labels: conductor, sequencer, sequencer-relayer, composer

#1009 fix(sequencer): stateful check now ensures balance for total tx
  crates/astria-sequencer/src/app.rs
  crates/astria-sequencer/src/transaction/mod.rs
Labels: sequencer

#1020 fix(ci): only run proto on actual proto changes
  .github/workflows/reusable-run-checker.yml
Labels: ci

#1018 Relayer secret provider
  charts/sequencer-relayer/Chart.yaml
  charts/sequencer-relayer/templates/configmaps.yaml
  charts/sequencer-relayer/templates/secretproviderclass.yaml
  charts/sequencer-relayer/templates/statefulset.yaml
  charts/sequencer-relayer/values.yaml
  charts/sequencer/Chart.lock
  charts/sequencer/Chart.yaml
Labels: sequencer, demo, docker-build, cd

#1019 release: chart upgrades for new releases
  charts/celestia-local/Chart.yaml
  charts/celestia-local/files/scripts/start-bridge.sh
  charts/celestia-local/templates/deployment.yaml
  charts/celestia-local/templates/service.yaml
  charts/celestia-local/values.yaml
  charts/celestia-node/Chart.yaml
  charts/celestia-node/files/scripts/start-node.sh
  charts/celestia-node/templates/statefulset.yaml
  charts/celestia-node/values.yaml
  charts/evm-rollup/Chart.lock
  charts/evm-rollup/Chart.yaml
  charts/evm-rollup/templates/configmap.yaml
  charts/evm-rollup/templates/statefulsets.yaml
  charts/evm-rollup/values.yaml
  charts/hermes/Chart.yaml
  charts/hermes/templates/configmaps.yaml
  charts/hermes/values.yaml
  charts/sequencer-relayer/Chart.yaml
  charts/sequencer-relayer/templates/configmaps.yaml
  charts/sequencer-relayer/values.yaml
  charts/sequencer/Chart.lock
  charts/sequencer/Chart.yaml
  charts/sequencer/values.yaml
  dev/values/hermes/local.yml
  dev/values/rollup/dev.yaml
  dev/values/validators/node0.yml
  dev/values/validators/node1.yml
  dev/values/validators/node2.yml
  dev/values/validators/single.yml
  justfile
Labels: docker-build, cd

#1023 fix(chart): secretObject when no env var usage
  charts/sequencer-relayer/Chart.yaml
  charts/sequencer-relayer/templates/configmaps.yaml
  charts/sequencer-relayer/templates/secretproviderclass.yaml
  charts/sequencer/Chart.lock
  charts/sequencer/Chart.yaml
Labels: cd

#1025 fix(sequencer): set current app hash properly when creating app
  crates/astria-sequencer/src/app.rs
  crates/astria-sequencer/src/sequencer.rs
  crates/astria-sequencer/src/service/consensus.rs
Labels: sequencer

#932 feat(composer): add initial set of metrics
  Cargo.lock
  crates/astria-composer/Cargo.toml
  crates/astria-composer/src/collectors/geth.rs
  crates/astria-composer/src/collectors/grpc.rs
  crates/astria-composer/src/collectors/mod.rs
  crates/astria-composer/src/executor/bundle_factory/mod.rs
  crates/astria-composer/src/executor/mod.rs
  crates/astria-composer/src/lib.rs
  crates/astria-composer/src/main.rs
  crates/astria-composer/src/metrics_init.rs
Labels: sequencer, composer, demo, docker-build

#1022 refactor(conductor, relayer): remove astria-celestia-client
  Cargo.lock
  Cargo.toml
  crates/astria-celestia-mock/Cargo.toml
  crates/astria-conductor/Cargo.toml
  crates/astria-conductor/src/celestia/builder.rs
  crates/astria-conductor/src/celestia/convert.rs
  crates/astria-conductor/src/celestia/fetch.rs
  crates/astria-conductor/src/celestia/latest_height_stream.rs
  crates/astria-conductor/src/celestia/mod.rs
  crates/astria-conductor/src/celestia/reconstruct.rs
  crates/astria-conductor/src/celestia/verify.rs
  crates/astria-conductor/src/executor/mod.rs
  crates/astria-conductor/src/executor/state.rs
  crates/astria-conductor/tests/blackbox/helpers/macros.rs
  crates/astria-conductor/tests/blackbox/helpers/mod.rs
  crates/astria-core/Cargo.toml
  crates/astria-core/src/celestia.rs
  crates/astria-core/src/lib.rs
  crates/astria-sequencer-relayer/Cargo.toml
  crates/astria-sequencer-relayer/src/metrics_init.rs
  crates/astria-sequencer-relayer/src/relayer/celestia_client/mod.rs
  crates/astria-sequencer-relayer/src/relayer/celestia_client/tests.rs
  crates/astria-sequencer-relayer/src/relayer/write/conversion.rs
  crates/astria-sequencer-relayer/src/relayer/write/mod.rs
  crates/astria-sequencer-relayer/tests/blackbox/helper.rs
Labels: conductor, sequencer-relayer

#1001 feat(sequencer-relayer)!: provide filter for rollups
  Cargo.lock
  charts/sequencer-relayer/Chart.yaml
  charts/sequencer-relayer/templates/configmaps.yaml
  charts/sequencer-relayer/values.yaml
  charts/sequencer/Chart.lock
  charts/sequencer/Chart.yaml
  crates/astria-composer/Cargo.toml
  crates/astria-config/src/tests.rs
  crates/astria-sequencer-relayer/Cargo.toml
  crates/astria-sequencer-relayer/local.env.example
  crates/astria-sequencer-relayer/src/config.rs
  crates/astria-sequencer-relayer/src/lib.rs
  crates/astria-sequencer-relayer/src/relayer/builder.rs
  crates/astria-sequencer-relayer/src/relayer/mod.rs
  crates/astria-sequencer-relayer/src/relayer/write/conversion.rs
  crates/astria-sequencer-relayer/src/relayer/write/mod.rs
  crates/astria-sequencer-relayer/src/sequencer_relayer.rs
  crates/astria-sequencer-relayer/tests/blackbox/helper.rs
  crates/astria-sequencer-relayer/tests/blackbox/main.rs
Labels: conductor, sequencer-relayer, composer, cd

#1016 fix(sequencer): panic sequencer instead of cometbft on erroring abci consensus requests
  crates/astria-sequencer/src/service/consensus.rs
Labels: sequencer

#1017 refactor(sequencer): store fees for actions in app state
  crates/astria-sequencer/src/accounts/action.rs
  crates/astria-sequencer/src/accounts/component.rs
  crates/astria-sequencer/src/accounts/state_ext.rs
  crates/astria-sequencer/src/app.rs
  crates/astria-sequencer/src/bridge/bridge_lock_action.rs
  crates/astria-sequencer/src/bridge/component.rs
  crates/astria-sequencer/src/bridge/init_bridge_account_action.rs
  crates/astria-sequencer/src/bridge/mod.rs
  crates/astria-sequencer/src/bridge/state_ext.rs
  crates/astria-sequencer/src/ibc/component.rs
  crates/astria-sequencer/src/ibc/ics20_withdrawal.rs
  crates/astria-sequencer/src/ibc/state_ext.rs
  crates/astria-sequencer/src/sequence/action.rs
  crates/astria-sequencer/src/sequence/component.rs
  crates/astria-sequencer/src/sequence/mod.rs
  crates/astria-sequencer/src/sequence/state_ext.rs
  crates/astria-sequencer/src/transaction/mod.rs
Labels: sequencer
