Repository astriaorg/astria, pull requests merged in 2024-10, with the labels that each got.

#1482 feat(conductor)!: implement chain ID checks
  Cargo.lock
  charts/evm-rollup/Chart.yaml
  charts/evm-rollup/templates/configmap.yaml
  charts/evm-rollup/values.yaml
  charts/evm-stack/Chart.lock
  charts/evm-stack/Chart.yaml
  charts/evm-stack/values.yaml
  crates/astria-conductor/Cargo.toml
  crates/astria-conductor/local.env.example
  crates/astria-conductor/src/celestia/builder.rs
  crates/astria-conductor/src/celestia/mod.rs
  crates/astria-conductor/src/conductor/inner.rs
  crates/astria-conductor/src/conductor/mod.rs
  crates/astria-conductor/src/config.rs
  crates/astria-conductor/src/sequencer/builder.rs
  crates/astria-conductor/src/sequencer/mod.rs
  crates/astria-conductor/tests/blackbox/firm_only.rs
  crates/astria-conductor/tests/blackbox/helpers/macros.rs
  crates/astria-conductor/tests/blackbox/helpers/mod.rs
  crates/astria-conductor/tests/blackbox/soft_and_firm.rs
  crates/astria-conductor/tests/blackbox/soft_only.rs
  dev/values/rollup/dev.yaml
Labels: conductor, cd

#1592 refactor(sequencer): use builder pattern for transaction container tests
  crates/astria-sequencer/src/app/test_utils.rs
  crates/astria-sequencer/src/grpc/sequencer.rs
  crates/astria-sequencer/src/mempool/mod.rs
  crates/astria-sequencer/src/mempool/transactions_container.rs
Labels: sequencer

#1588 ci: code freeze through github actions
  .github/code-freeze-filter.yaml
  .github/workflows/code-freeze.yml
Labels: ci, sequencer-relayer

#1610 fix(ci): code freeze action fix
  .github/workflows/code-freeze.yml
Labels: ci, conductor, override-freeze

#1594 chore(charts): genesis template to support latest changes
  charts/evm-rollup/Chart.yaml
  charts/evm-rollup/files/genesis/geth-genesis.json
  charts/evm-rollup/values.yaml
  charts/evm-stack/Chart.lock
  charts/evm-stack/Chart.yaml
  dev/values/rollup/dev.yaml
Labels: cd

#1513 feat(charts): astrotrek chart
  charts/astrotrek/Chart.yaml
  charts/astrotrek/templates/_helpers.tpl
  charts/astrotrek/templates/configmap.yaml
  charts/astrotrek/templates/deployment.yaml
  charts/astrotrek/templates/ingress.yaml
  charts/astrotrek/templates/service.yaml
  charts/astrotrek/templates/servicemonitor.yaml
  charts/astrotrek/templates/statefulsets.yaml
  charts/astrotrek/templates/storageclasses.yaml
  charts/astrotrek/templates/volumes.yaml
  charts/astrotrek/values.yaml
  charts/deploy.just
Labels: cd

#1595 chore(sequencer): simplify boolean expressions in `transaction container`
  crates/astria-sequencer/src/mempool/transactions_container.rs
Labels: sequencer

#1519 feat(proto): add bundle and optimistic block apis
  crates/astria-core/src/generated/astria.bundle.v1alpha1.rs
  crates/astria-core/src/generated/astria.bundle.v1alpha1.serde.rs
  crates/astria-core/src/generated/astria.sequencerblock.v1alpha1.rs
  crates/astria-core/src/generated/astria.sequencerblock.v1alpha1.serde.rs
  crates/astria-core/src/generated/mod.rs
  proto/executionapis/astria/bundle/v1alpha1/bundle.proto
  proto/executionapis/astria/bundle/v1alpha1/optimistic_execution.proto
  proto/sequencerblockapis/astria/sequencerblock/v1alpha1/optimistic_block.proto
Labels: ci, conductor, proto, sequencer, docker, cd, auctioneer

#1564 fix(charts): hermes monitoring and prometheus rules
  charts/hermes/Chart.yaml
  charts/hermes/files/config.toml
  charts/hermes/templates/_helpers.tpl
  charts/hermes/templates/deployment.yaml
  charts/hermes/templates/prometheusrule.yaml
  charts/hermes/templates/service.yaml
  charts/hermes/templates/servicemonitor.yaml
  charts/hermes/values.yaml
Labels: cd

#1515 fix(sequencer)!: rewrite check_tx to be more efficient and fix regression
  crates/astria-core/src/protocol/abci.rs
  crates/astria-sequencer/src/app/test_utils.rs
  crates/astria-sequencer/src/grpc/sequencer.rs
  crates/astria-sequencer/src/mempool/benchmarks.rs
  crates/astria-sequencer/src/mempool/mod.rs
  crates/astria-sequencer/src/mempool/transactions_container.rs
  crates/astria-sequencer/src/metrics.rs
  crates/astria-sequencer/src/sequencer.rs
  crates/astria-sequencer/src/service/consensus.rs
  crates/astria-sequencer/src/service/mempool.rs
  crates/astria-sequencer/src/service/mempool/mod.rs
  crates/astria-sequencer/src/service/mempool/tests.rs
  crates/astria-sequencer/src/transaction/checks.rs
  crates/astria-sequencer/src/transaction/mod.rs
Labels: sequencer

#1638 feat(sequencer)!: add limit to total amount of transactions in parked
  charts/sequencer/Chart.yaml
  charts/sequencer/templates/configmaps.yaml
  charts/sequencer/values.yaml
  crates/astria-core/src/protocol/abci.rs
  crates/astria-sequencer/local.env.example
  crates/astria-sequencer/src/app/test_utils.rs
  crates/astria-sequencer/src/config.rs
  crates/astria-sequencer/src/grpc/sequencer.rs
  crates/astria-sequencer/src/mempool/benchmarks.rs
  crates/astria-sequencer/src/mempool/mod.rs
  crates/astria-sequencer/src/mempool/transactions_container.rs
  crates/astria-sequencer/src/metrics.rs
  crates/astria-sequencer/src/sequencer.rs
  crates/astria-sequencer/src/service/consensus.rs
  crates/astria-sequencer/src/service/mempool/mod.rs
  crates/astria-sequencer/src/service/mempool/tests.rs
Labels: sequencer, cd

#1618 feat(sequencer)!: enforce block ordering by transaction group
  crates/astria-composer/src/executor/bundle_factory/mod.rs
  crates/astria-core/src/protocol/transaction/v1alpha1/action/group/mod.rs
  crates/astria-core/src/protocol/transaction/v1alpha1/action/group/tests.rs
  crates/astria-core/src/protocol/transaction/v1alpha1/action/mod.rs
  crates/astria-core/src/protocol/transaction/v1alpha1/mod.rs
  crates/astria-sequencer/src/app/mod.rs
  crates/astria-sequencer/src/app/test_utils.rs
  crates/astria-sequencer/src/app/tests_app/mod.rs
  crates/astria-sequencer/src/app/tests_block_ordering.rs
  crates/astria-sequencer/src/mempool/transactions_container.rs
Labels: sequencer, composer

#1643 fix(composer)!: update to work with appside mempool
  Cargo.lock
  charts/composer/Chart.yaml
  charts/composer/templates/configmap.yaml
  charts/composer/values.yaml
  charts/evm-stack/Chart.lock
  charts/evm-stack/Chart.yaml
  crates/astria-composer/Cargo.toml
  crates/astria-composer/local.env.example
  crates/astria-composer/src/composer.rs
  crates/astria-composer/src/config.rs
  crates/astria-composer/src/executor/builder.rs
  crates/astria-composer/src/executor/mod.rs
  crates/astria-composer/src/executor/tests.rs
  crates/astria-composer/tests/blackbox/geth_collector.rs
  crates/astria-composer/tests/blackbox/grpc_collector.rs
  crates/astria-composer/tests/blackbox/helper/mock_abci_sequencer.rs
  crates/astria-composer/tests/blackbox/helper/mock_grpc_sequencer.rs
  crates/astria-composer/tests/blackbox/helper/mod.rs
Labels: composer, cd

#1646 fix(sequencer): fix app hash in horcrux sentries
  crates/astria-sequencer/src/app/mod.rs
  crates/astria-sequencer/src/app/tests_app/mod.rs
Labels: sequencer

#1661 chore(proto)!: prefer astria.primitive.v1.RollupId over bytes
  crates/astria-composer/src/collectors/grpc.rs
  crates/astria-composer/tests/blackbox/grpc_collector.rs
  crates/astria-core/src/execution/v1alpha2/mod.rs
  crates/astria-core/src/generated/astria.composer.v1alpha1.rs
  crates/astria-core/src/generated/astria.composer.v1alpha1.serde.rs
  crates/astria-core/src/generated/astria.sequencerblock.v1alpha1.rs
  crates/astria-core/src/generated/astria.sequencerblock.v1alpha1.serde.rs
  crates/astria-core/src/primitive/v1/mod.rs
  crates/astria-core/src/protocol/bridge/v1alpha1/mod.rs
  crates/astria-core/src/protocol/transaction/v1alpha1/action/mod.rs
  crates/astria-core/src/sequencerblock/v1alpha1/block.rs
  crates/astria-core/src/sequencerblock/v1alpha1/celestia.rs
  crates/astria-sequencer/src/grpc/sequencer.rs
  proto/composerapis/astria/composer/v1alpha1/grpc_collector.proto
  proto/sequencerblockapis/astria/sequencerblock/v1alpha1/block.proto
Labels: proto, sequencer, composer

#1631 feat(cli): add command to perform ics20 withdrawals
  crates/astria-cli/src/sequencer/ics20_withdrawal.rs
  crates/astria-cli/src/sequencer/mod.rs
  crates/astria-cli/src/utils.rs
Labels: cli

#1650 chore(proto)!: call transactions `Transaction`, contents `TransactionBody`
  charts/hermes/Chart.yaml
  charts/hermes/values.yaml
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/startup.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/submitter/mod.rs
  crates/astria-bridge-withdrawer/tests/blackbox/helpers/mock_cometbft.rs
  crates/astria-bridge-withdrawer/tests/blackbox/main.rs
  crates/astria-cli/src/bridge/submit.rs
  crates/astria-cli/src/commands/sequencer.rs
  crates/astria-cli/src/utils.rs
  crates/astria-composer/local.env.example
  crates/astria-composer/src/config.rs
  crates/astria-composer/src/executor/bundle_factory/mod.rs
  crates/astria-composer/src/executor/bundle_factory/tests.rs
  crates/astria-composer/src/executor/mod.rs
  crates/astria-composer/src/executor/tests.rs
  crates/astria-composer/tests/blackbox/helper/mod.rs
  crates/astria-core/src/generated/astria.protocol.transaction.v1alpha1.rs
  crates/astria-core/src/generated/astria.protocol.transaction.v1alpha1.serde.rs
  crates/astria-core/src/generated/astria.protocol.transactions.v1alpha1.rs
  crates/astria-core/src/generated/astria.protocol.transactions.v1alpha1.serde.rs
  crates/astria-core/src/generated/mod.rs
  crates/astria-core/src/protocol/mod.rs
  crates/astria-core/src/protocol/test_utils.rs
  crates/astria-core/src/protocol/transaction/v1alpha1/mod.rs
  crates/astria-core/src/protocol/transaction/v1alpha1/snapshots/astria_core__protocol__transaction__v1alpha1__tests__signed_transaction_hash.snap
  crates/astria-core/src/protocol/transaction/v1alpha1/snapshots/astria_core__protocol__transaction__v1alpha1__tests__transaction_id.snap
  crates/astria-core/src/sequencerblock/v1alpha1/block.rs
  crates/astria-sequencer-client/src/extension_trait.rs
  crates/astria-sequencer-client/src/lib.rs
  crates/astria-sequencer-client/src/tests/http.rs
  crates/astria-sequencer/src/accounts/mod.rs
  crates/astria-sequencer/src/app/mod.rs
  crates/astria-sequencer/src/app/test_utils.rs
  crates/astria-sequencer/src/app/tests_app/mempool.rs
  crates/astria-sequencer/src/app/tests_app/mod.rs
  crates/astria-sequencer/src/app/tests_block_ordering.rs
  crates/astria-sequencer/src/app/tests_breaking_changes.rs
  crates/astria-sequencer/src/app/tests_execute_transaction.rs
  crates/astria-sequencer/src/benchmark_utils.rs
  crates/astria-sequencer/src/fees/state_ext.rs
  crates/astria-sequencer/src/fees/tests.rs
  crates/astria-sequencer/src/grpc/sequencer.rs
  crates/astria-sequencer/src/mempool/benchmarks.rs
  crates/astria-sequencer/src/mempool/mod.rs
  crates/astria-sequencer/src/mempool/transactions_container.rs
  crates/astria-sequencer/src/proposal/commitment.rs
  crates/astria-sequencer/src/service/consensus.rs
  crates/astria-sequencer/src/service/mempool/mod.rs
  crates/astria-sequencer/src/transaction/checks.rs
  crates/astria-sequencer/src/transaction/mod.rs
  crates/astria-sequencer/src/transaction/query.rs
  crates/astria-sequencer/src/transaction/state_ext.rs
  dev/values/hermes/local.yaml
  proto/protocolapis/astria/protocol/transaction/v1alpha1/action.proto
  proto/protocolapis/astria/protocol/transaction/v1alpha1/transaction.proto
  proto/protocolapis/astria/protocol/transactions/v1alpha1/transaction.proto
Labels: proto, sequencer, composer, docker-build, cd

#1655 fix(sequencer)!: allow compat prefixed addresses when receiving ics20 transfers
  charts/ibc-test.just
  crates/astria-sequencer/src/ibc/ics20_transfer.rs
Labels: sequencer, docker-build, cd

#1673 chore(sequencer): remove unused enable mint env
  charts/sequencer/Chart.yaml
  charts/sequencer/templates/configmaps.yaml
  crates/astria-sequencer/src/config.rs
Labels: sequencer, cd

#1674 fix: remove enable mint entry from example env config
  crates/astria-sequencer/local.env.example
Labels: sequencer

#1667 release: v1.0.0-rc.1 cuts
  .github/workflows/build.yml
  .github/workflows/docker-build.yml
  Cargo.lock
  crates/astria-bridge-withdrawer/Cargo.toml
  crates/astria-cli/Cargo.toml
  crates/astria-composer/Cargo.toml
  crates/astria-conductor/Cargo.toml
  crates/astria-merkle/Cargo.toml
  crates/astria-sequencer-relayer/Cargo.toml
  crates/astria-sequencer/Cargo.toml
Labels: ci, conductor, sequencer, sequencer-relayer, composer

#1675 chore(charts): update back to latest after proto merge
  charts/evm-rollup/Chart.yaml
  charts/evm-rollup/values.yaml
  charts/evm-stack/Chart.lock
  charts/evm-stack/Chart.yaml
  charts/hermes/Chart.yaml
  charts/hermes/values.yaml
  dev/values/hermes/local.yaml
Labels: cd

#1670 release(charts): update for v1.0.0-rc.1 image cuts
  charts/composer/Chart.yaml
  charts/composer/templates/configmap.yaml
  charts/composer/values.yaml
  charts/evm-bridge-withdrawer/Chart.yaml
  charts/evm-bridge-withdrawer/values.yaml
  charts/evm-rollup/Chart.yaml
  charts/evm-rollup/files/genesis/geth-genesis.json
  charts/evm-rollup/templates/configmap.yaml
  charts/evm-rollup/values.yaml
  charts/evm-stack/Chart.lock
  charts/evm-stack/Chart.yaml
  charts/sequencer-relayer/Chart.yaml
  charts/sequencer/Chart.lock
  charts/sequencer/Chart.yaml
  charts/sequencer/files/cometbft/config/genesis.json
  charts/sequencer/templates/configmaps.yaml
  charts/sequencer/values.yaml
Labels: ci, conductor, sequencer, sequencer-relayer, composer, cd

#1683 fix(charts): minor version issues
  charts/evm-rollup/Chart.yaml
  charts/evm-rollup/values.yaml
  charts/evm-stack/Chart.lock
  charts/evm-stack/Chart.yaml
  charts/sequencer-relayer/Chart.yaml
  charts/sequencer-relayer/values.yaml
  charts/sequencer/Chart.lock
  charts/sequencer/Chart.yaml
Labels: cd

#1574 feat(sequencer): make ABCI response for account balances deterministic
  crates/astria-core/src/primitive/v1/asset/denom.rs
  crates/astria-core/src/protocol/account/v1/mod.rs
  crates/astria-sequencer/src/accounts/query.rs
Labels: sequencer

#1688 chore(docs): minor updates to relayer doc
  specs/sequencer-relayer.md
Labels: documentation

#1704 refactor(sequencer): remove unused asset storage variant
  crates/astria-sequencer/src/accounts/storage/values.rs
  crates/astria-sequencer/src/assets/storage/values.rs
Labels: sequencer

#1712 fix(charts): packet filter
  charts/hermes/Chart.yaml
  charts/hermes/files/config.toml
Labels: cd

#1621 chore(cli): return Bech32m Prefixed Address
  crates/astria-cli/src/sequencer/account.rs
Labels: cli

#1671 feat(bridge-withdrawer): add `use_compat_address` configuration value
  charts/evm-bridge-withdrawer/Chart.yaml
  charts/evm-bridge-withdrawer/templates/configmaps.yaml
  charts/evm-bridge-withdrawer/values.yaml
  charts/evm-stack/Chart.lock
  charts/evm-stack/Chart.yaml
  crates/astria-bridge-contracts/src/lib.rs
  crates/astria-bridge-withdrawer/local.env.example
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/ethereum/watcher.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/mod.rs
  crates/astria-bridge-withdrawer/src/config.rs
  crates/astria-bridge-withdrawer/tests/blackbox/helpers/test_bridge_withdrawer.rs
  crates/astria-cli/src/bridge/collect.rs
Labels: cd

#1701 fix(sequencer): fix fee estimation
  Cargo.lock
  crates/astria-core/src/protocol/fees/v1.rs
  crates/astria-core/src/protocol/genesis/v1.rs
  crates/astria-sequencer/Cargo.toml
  crates/astria-sequencer/src/app/tests_app/mod.rs
  crates/astria-sequencer/src/app/tests_execute_transaction.rs
  crates/astria-sequencer/src/fees/action.rs
  crates/astria-sequencer/src/fees/component.rs
  crates/astria-sequencer/src/fees/mod.rs
  crates/astria-sequencer/src/fees/state_ext.rs
  crates/astria-sequencer/src/test_utils.rs
  crates/astria-sequencer/src/transaction/checks.rs
Labels: sequencer, docker-build

#1725 chore: remove redundant bin entries from all crates' Cargo.toml
  crates/astria-bridge-withdrawer/Cargo.toml
  crates/astria-cli/Cargo.toml
  crates/astria-composer/Cargo.toml
  crates/astria-conductor/Cargo.toml
  crates/astria-sequencer-relayer/Cargo.toml
  crates/astria-sequencer/Cargo.toml
Labels: conductor, sequencer, sequencer-relayer, composer

#1724 feat(ci): add non native asset Ibc test
  .github/workflows/docker-build.yml
  charts/ibc-test.just
  charts/sequencer/Chart.yaml
  charts/sequencer/values.yaml
  dev/values/validators/all-without-native.yml
Labels: ci, cd

#1722 chore(sequencer): move and improve transaction fee estimation
  crates/astria-sequencer/src/fees/query.rs
  crates/astria-sequencer/src/service/info/mod.rs
  crates/astria-sequencer/src/transaction/checks.rs
  crates/astria-sequencer/src/transaction/mod.rs
  crates/astria-sequencer/src/transaction/query.rs
Labels: sequencer, code-quality, performance

#1714 fix(bridge-withdrawer)!: correctly identify rollup return address in ics20 withdrawal actions
  crates/astria-bridge-contracts/src/lib.rs
  crates/astria-bridge-withdrawer/tests/blackbox/helpers/test_bridge_withdrawer.rs
Labels: docker-build

#1664 feat(sequencer): make fees optional at genesis
  crates/astria-core/src/protocol/genesis/v1.rs
  crates/astria-sequencer/src/app/test_utils.rs
  crates/astria-sequencer/src/fees/component.rs
Labels: sequencer, docker-build

#1728 ci: add test for rollup refund
  .github/workflows/docker-build.yml
  charts/ibc-test.just
Labels: ci, cd

#1703 feat(core, sequencer)!: make native asset optional
  .github/workflows/docker-build.yml
  charts/ibc-test.just
  charts/sequencer/Chart.yaml
  charts/sequencer/values.yaml
  crates/astria-core/src/protocol/genesis/v1.rs
  crates/astria-sequencer/src/accounts/component.rs
  crates/astria-sequencer/src/accounts/query.rs
  crates/astria-sequencer/src/app/mod.rs
  crates/astria-sequencer/src/service/info/mod.rs
  dev/values/validators/all-without-native.yml
Labels: ci, sequencer, docker-build, cd

#1696 Add `sign` and `submit` subcommands to `sequencer` CLI
  Cargo.lock
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/startup.rs
  crates/astria-bridge-withdrawer/tests/blackbox/helpers/mock_cometbft.rs
  crates/astria-cli/Cargo.toml
  crates/astria-cli/src/sequencer/mod.rs
  crates/astria-cli/src/sequencer/sign.rs
  crates/astria-cli/src/sequencer/submit.rs
  crates/astria-composer/src/executor/mod.rs
  crates/astria-composer/tests/blackbox/helper/mod.rs
  crates/astria-core/src/protocol/test_utils.rs
  crates/astria-core/src/protocol/transaction/v1/mod.rs
  crates/astria-sequencer-client/src/extension_trait.rs
  crates/astria-sequencer/src/app/mod.rs
  crates/astria-sequencer/src/app/tests_block_ordering.rs
  crates/astria-sequencer/src/fees/query.rs
  crates/astria-sequencer/src/service/consensus.rs
  crates/astria-sequencer/src/service/mempool/mod.rs
  crates/astria-sequencer/src/service/mempool/tests.rs
Labels: sequencer, composer

#1731 release: v1.0.0-rc.2
  Cargo.lock
  crates/astria-bridge-withdrawer/Cargo.toml
  crates/astria-cli/Cargo.toml
  crates/astria-composer/Cargo.toml
  crates/astria-conductor/Cargo.toml
  crates/astria-sequencer-relayer/Cargo.toml
  crates/astria-sequencer/Cargo.toml
Labels: conductor, sequencer, sequencer-relayer, composer

#1710 refactor(sequencer): use stream for allowed assets, fix query
  Cargo.lock
  crates/astria-sequencer/Cargo.toml
  crates/astria-sequencer/src/accounts/state_ext.rs
  crates/astria-sequencer/src/fees/action.rs
  crates/astria-sequencer/src/fees/query.rs
  crates/astria-sequencer/src/fees/state_ext.rs
Labels: sequencer

#1730 chore(sequencer): init allowed assets in fees component
  crates/astria-sequencer/src/accounts/component.rs
  crates/astria-sequencer/src/accounts/state_ext.rs
  crates/astria-sequencer/src/app/mod.rs
  crates/astria-sequencer/src/app/tests_app/mod.rs
  crates/astria-sequencer/src/assets/state_ext.rs
  crates/astria-sequencer/src/fees/component.rs
  crates/astria-sequencer/src/mempool/mempool_state.rs
Labels: sequencer

#1733 fix(charts): composer PrometheusRule
  charts/composer/Chart.yaml
  charts/composer/templates/_helpers.tpl
  charts/composer/templates/deployment.yaml
  charts/composer/templates/prometheusrule.yaml
  charts/composer/templates/service.yaml
  charts/composer/templates/servicemonitor.yaml
  charts/evm-stack/Chart.lock
  charts/evm-stack/Chart.yaml
Labels: cd

#1684 chore(proto): reserved only for what would be breaking change
  .github/workflows/lint.yml
  proto/protocolapis/astria/protocol/transaction/v1/action.proto
  proto/protocolapis/astria/protocol/transaction/v1alpha1/action.proto
Labels: ci, proto, allow-breaking-proto

#1718 fix(sequencer): move fee event recording to tx level
  crates/astria-sequencer/src/app/mod.rs
  crates/astria-sequencer/src/app/tests_execute_transaction.rs
  crates/astria-sequencer/src/fees/mod.rs
  crates/astria-sequencer/src/fees/state_ext.rs
Labels: sequencer

#1732 fix(charts): template evm-bridge-withdrawer objects names
  charts/deploy.just
  charts/evm-bridge-withdrawer/Chart.yaml
  charts/evm-bridge-withdrawer/templates/_helpers.tpl
  charts/evm-bridge-withdrawer/templates/configmaps.yaml
  charts/evm-bridge-withdrawer/templates/deployment.yaml
  charts/evm-bridge-withdrawer/templates/prometheusrule.yaml
  charts/evm-bridge-withdrawer/templates/secretproviderclass.yaml
  charts/evm-bridge-withdrawer/templates/service.yaml
  charts/evm-bridge-withdrawer/templates/servicemonitor.yaml
  charts/evm-bridge-withdrawer/values.yaml
  charts/evm-stack/Chart.lock
  charts/evm-stack/Chart.yaml
Labels: cd

#1737 fix(charts): genesis template
  charts/sequencer/Chart.yaml
  charts/sequencer/files/cometbft/config/genesis.json
  charts/sequencer/values.yaml
Labels: cd

#1740 chore(sequencer): bump penumbra tag
  Cargo.lock
  Cargo.toml
  crates/astria-sequencer/Cargo.toml
Labels: sequencer

#1700 chore(all): add changelogs
  .github/pull_request_template.md
  .github/workflows/lint.yml
  .markdownlint-cli2.jsonc
  README.md
  crates/astria-bridge-contracts/CHANGELOG.md
  crates/astria-bridge-withdrawer/CHANGELOG.md
  crates/astria-cli/CHANGELOG.md
  crates/astria-composer/CHANGELOG.md
  crates/astria-conductor/CHANGELOG.md
  crates/astria-config/CHANGELOG.md
  crates/astria-core/CHANGELOG.md
  crates/astria-eyre/CHANGELOG.md
  crates/astria-grpc-mock/CHANGELOG.md
  crates/astria-merkle/CHANGELOG.md
  crates/astria-sequencer-relayer/CHANGELOG.md
  crates/astria-sequencer/CHANGELOG.md
  crates/astria-telemetry/CHANGELOG.md
  justfile
Labels: ci, conductor, sequencer, sequencer-relayer, composer

#1747 fix(core, proto): fix action comments
  crates/astria-core/src/generated/astria.protocol.transaction.v1.rs
  crates/astria-core/src/generated/astria.protocol.transaction.v1alpha1.rs
  crates/astria-core/src/protocol/transaction/v1/action/mod.rs
  proto/protocolapis/astria/protocol/transaction/v1/action.proto
  proto/protocolapis/astria/protocol/transaction/v1alpha1/action.proto
Labels: proto

#1682 chore(spec): update sequencer-app docs
  crates/astria-sequencer/CHANGELOG.md
  specs/sequencer-app.md
Labels: documentation, sequencer

#1751 release: v1.0 cut
  CODEOWNERS
  Cargo.lock
  crates/astria-bridge-withdrawer/CHANGELOG.md
  crates/astria-bridge-withdrawer/Cargo.toml
  crates/astria-composer/CHANGELOG.md
  crates/astria-composer/Cargo.toml
  crates/astria-conductor/CHANGELOG.md
  crates/astria-conductor/Cargo.toml
  crates/astria-merkle/CHANGELOG.md
  crates/astria-merkle/Cargo.toml
  crates/astria-sequencer-relayer/CHANGELOG.md
  crates/astria-sequencer-relayer/Cargo.toml
  crates/astria-sequencer/CHANGELOG.md
  crates/astria-sequencer/Cargo.toml
Labels: conductor, sequencer, sequencer-relayer, composer

#1757 chore: update tests for updated contracts
  charts/deploy.just
  charts/ibc-test.just
  dev/values/rollup/dev.yaml
  dev/values/rollup/ibc-bridge-test.yaml
Labels: cd

#1680 chore(charts): disable locals in geth
  charts/evm-rollup/Chart.yaml
  charts/evm-rollup/values.yaml
  charts/evm-stack/Chart.lock
  charts/evm-stack/Chart.yaml
Labels: cd

#1758 chore(charts): update to 1.0
  charts/composer/Chart.yaml
  charts/composer/values.yaml
  charts/evm-bridge-withdrawer/Chart.yaml
  charts/evm-bridge-withdrawer/templates/configmaps.yaml
  charts/evm-bridge-withdrawer/values.yaml
  charts/evm-rollup/Chart.yaml
  charts/evm-rollup/values.yaml
  charts/evm-stack/Chart.lock
  charts/evm-stack/Chart.yaml
  charts/sequencer-relayer/Chart.yaml
  charts/sequencer-relayer/values.yaml
  charts/sequencer/Chart.lock
  charts/sequencer/Chart.yaml
  charts/sequencer/values.yaml
Labels: cd

#1613 chore(sequencer): separate test utils from shared benchmark and test utils
  crates/astria-sequencer/src/accounts/state_ext.rs
  crates/astria-sequencer/src/app/benchmark_and_test_utils.rs
  crates/astria-sequencer/src/app/benchmarks.rs
  crates/astria-sequencer/src/app/mod.rs
  crates/astria-sequencer/src/app/test_utils.rs
  crates/astria-sequencer/src/app/tests_app/mempool.rs
  crates/astria-sequencer/src/app/tests_app/mod.rs
  crates/astria-sequencer/src/app/tests_block_fees.rs
  crates/astria-sequencer/src/app/tests_block_ordering.rs
  crates/astria-sequencer/src/app/tests_breaking_changes.rs
  crates/astria-sequencer/src/app/tests_execute_transaction.rs
  crates/astria-sequencer/src/authority/state_ext.rs
  crates/astria-sequencer/src/benchmark_and_test_utils.rs
  crates/astria-sequencer/src/benchmark_utils.rs
  crates/astria-sequencer/src/bridge/bridge_sudo_change_action.rs
  crates/astria-sequencer/src/bridge/bridge_unlock_action.rs
  crates/astria-sequencer/src/bridge/query.rs
  crates/astria-sequencer/src/bridge/state_ext.rs
  crates/astria-sequencer/src/fees/state_ext.rs
  crates/astria-sequencer/src/fees/tests.rs
  crates/astria-sequencer/src/grpc/sequencer.rs
  crates/astria-sequencer/src/grpc/state_ext.rs
  crates/astria-sequencer/src/ibc/ics20_transfer.rs
  crates/astria-sequencer/src/ibc/ics20_withdrawal.rs
  crates/astria-sequencer/src/ibc/state_ext.rs
  crates/astria-sequencer/src/lib.rs
  crates/astria-sequencer/src/mempool/benchmarks.rs
  crates/astria-sequencer/src/mempool/mempool_state.rs
  crates/astria-sequencer/src/mempool/mod.rs
  crates/astria-sequencer/src/mempool/transactions_container.rs
  crates/astria-sequencer/src/proposal/commitment.rs
  crates/astria-sequencer/src/service/consensus.rs
  crates/astria-sequencer/src/service/info/mod.rs
  crates/astria-sequencer/src/service/mempool/tests.rs
  crates/astria-sequencer/src/test_utils.rs
  crates/astria-sequencer/src/transaction/checks.rs
Labels: sequencer, code-quality

#1762 fix(bridge-withdrawer, cli)!: use decimals from erc20 contract
  Cargo.lock
  crates/astria-bridge-contracts/CHANGELOG.md
  crates/astria-bridge-contracts/Cargo.toml
  crates/astria-bridge-contracts/src/lib.rs
  crates/astria-bridge-withdrawer/Cargo.toml
  crates/astria-cli/Cargo.toml
Labels: cd
