Repository astriaorg/astria, pull requests merged in 2024-05, with the labels that each got.

#1030 fix(charts): update evm rollup charts for new genesis configs
  charts/evm-rollup/Chart.yaml
  charts/evm-rollup/files/genesis/geth-genesis.json
  charts/evm-rollup/values.yaml
Labels: docker-build, cd

#1035 Revert "release(sequencer): sequencer 0.11.1"
  Cargo.lock
  charts/sequencer/Chart.yaml
  charts/sequencer/values.yaml
  crates/astria-sequencer/Cargo.toml
Labels: sequencer, cd

#1036 feat(charts): add otel service names
  charts/evm-rollup/Chart.yaml
  charts/evm-rollup/templates/configmap.yaml
  charts/evm-rollup/values.yaml
  charts/sequencer-relayer/Chart.yaml
  charts/sequencer-relayer/templates/configmaps.yaml
  charts/sequencer-relayer/values.yaml
  charts/sequencer/Chart.lock
  charts/sequencer/Chart.yaml
  charts/sequencer/templates/configmaps.yaml
  charts/sequencer/values.yaml
Labels: cd

#1038 fix(charts): deployment and celestia-node fix
  .github/workflows/release.yml
  charts/celestia-node/Chart.yaml
  charts/celestia-node/files/config.toml
  charts/celestia-node/files/scripts/start-node.sh
  charts/celestia-node/templates/statefulset.yaml
  charts/celestia-node/values.yaml
  charts/deploy.just
  charts/evm-rollup/Chart.lock
  charts/evm-rollup/Chart.yaml
  justfile
Labels: ci, cd

#1039 fix(release): charts release fix
  .github/workflows/release.yml
Labels: ci

#1026 tests(sequencer): improvements to testnet script, make script posix compliant
  crates/astria-sequencer/justfile
  crates/astria-sequencer/scripts/testnet.sh
Labels: sequencer

#1031 tests(sequencer): split app unit tests into their own files
  crates/astria-sequencer/src/app.rs
  crates/astria-sequencer/src/app/mod.rs
  crates/astria-sequencer/src/app/test_utils.rs
  crates/astria-sequencer/src/app/tests_app.rs
  crates/astria-sequencer/src/app/tests_execute_transaction.rs
Labels: sequencer

#1033 test(sequencer-relayer): reinstate black box tests
  Cargo.lock
  Cargo.toml
  crates/astria-celestia-client/Cargo.toml
  crates/astria-celestia-client/src/client.rs
  crates/astria-celestia-client/src/lib.rs
  crates/astria-celestia-client/src/metrics_init.rs
  crates/astria-celestia-client/src/submission.rs
  crates/astria-celestia-mock/Cargo.toml
  crates/astria-celestia-mock/README.md
  crates/astria-celestia-mock/src/lib.rs
  crates/astria-celestia-mock/src/rpc_impl/blob.rs
  crates/astria-celestia-mock/src/rpc_impl/header.rs
  crates/astria-celestia-mock/src/rpc_impl/mod.rs
  crates/astria-core/src/generated/celestia.blob.v1.serde.rs
  crates/astria-core/src/generated/cosmos.auth.v1beta1.serde.rs
  crates/astria-core/src/generated/cosmos.base.abci.v1beta1.serde.rs
  crates/astria-core/src/generated/cosmos.base.node.v1beta1.serde.rs
  crates/astria-core/src/generated/cosmos.base.tendermint.v1beta1.serde.rs
  crates/astria-core/src/generated/cosmos.base.v1beta1.serde.rs
  crates/astria-core/src/generated/cosmos.crypto.multisig.v1beta1.serde.rs
  crates/astria-core/src/generated/cosmos.crypto.secp256k1.serde.rs
  crates/astria-core/src/generated/cosmos.tx.signing.v1beta1.serde.rs
  crates/astria-core/src/generated/cosmos.tx.v1beta1.serde.rs
  crates/astria-core/src/generated/mod.rs
  crates/astria-core/src/generated/tendermint.abci.serde.rs
  crates/astria-core/src/generated/tendermint.p2p.serde.rs
  crates/astria-core/src/generated/tendermint.types.serde.rs
  crates/astria-grpc-mock/src/mock.rs
  crates/astria-grpc-mock/src/mock_server.rs
  crates/astria-grpc-mock/src/mounted_mock.rs
  crates/astria-grpc-mock/src/response.rs
  crates/astria-sequencer-relayer/Cargo.toml
  crates/astria-sequencer-relayer/src/relayer/mod.rs
  crates/astria-sequencer-relayer/src/relayer/read.rs
  crates/astria-sequencer-relayer/src/relayer/submission.rs
  crates/astria-sequencer-relayer/tests/blackbox/helper.rs
  crates/astria-sequencer-relayer/tests/blackbox/helpers/mock_celestia_app_server.rs
  crates/astria-sequencer-relayer/tests/blackbox/helpers/mock_sequencer_server.rs
  crates/astria-sequencer-relayer/tests/blackbox/helpers/mod.rs
  crates/astria-sequencer-relayer/tests/blackbox/helpers/test_sequencer_relayer.rs
  crates/astria-sequencer-relayer/tests/blackbox/main.rs
  tools/protobuf-compiler/src/main.rs
Labels: proto, sequencer-relayer

#1040 feat(sequencer-relayer): add metric recording highest sequencer block submitted
  crates/astria-sequencer-relayer/src/metrics_init.rs
  crates/astria-sequencer-relayer/src/relayer/celestia_client/mod.rs
  crates/astria-sequencer-relayer/src/relayer/write/mod.rs
Labels: sequencer-relayer

#1041 chore: fix typos
  crates/astria-build-info/README.md
  crates/astria-cli/src/cli/sequencer.rs
  crates/astria-composer/src/composer.rs
  crates/astria-composer/src/executor/bundle_factory/mod.rs
  crates/astria-composer/src/executor/bundle_factory/tests.rs
  crates/astria-composer/src/executor/mod.rs
  crates/astria-composer/src/executor/tests.rs
  crates/astria-composer/src/main.rs
  crates/astria-composer/tests/blackbox/helper/mod.rs
  crates/astria-conductor/src/celestia/mod.rs
  crates/astria-conductor/src/conductor.rs
  crates/astria-conductor/src/executor/client.rs
  crates/astria-conductor/src/executor/state.rs
  crates/astria-conductor/src/sequencer/block_stream.rs
  crates/astria-conductor/tests/blackbox/firm_only.rs
  crates/astria-conductor/tests/blackbox/soft_and_firm.rs
  crates/astria-conductor/tests/blackbox/soft_only.rs
  crates/astria-core/src/execution/v1alpha2/mod.rs
  crates/astria-core/src/lib.rs
  crates/astria-core/src/primitive/v1/mod.rs
  crates/astria-core/src/protocol/abci.rs
  crates/astria-core/src/sequencerblock/v1alpha1/block.rs
  crates/astria-core/src/sequencerblock/v1alpha1/celestia.rs
  crates/astria-eyre/README.md
  crates/astria-merkle/src/audit.rs
  crates/astria-merkle/src/lib.rs
  crates/astria-merkle/src/tests.rs
  crates/astria-sequencer-client/src/extension_trait.rs
  crates/astria-sequencer-relayer/src/relayer/mod.rs
  crates/astria-sequencer-relayer/src/relayer/read.rs
  crates/astria-sequencer-relayer/src/relayer/submission.rs
  crates/astria-sequencer/src/app/tests_app.rs
  crates/astria-sequencer/src/authority/state_ext.rs
  crates/astria-sequencer/src/bridge/state_ext.rs
  crates/astria-sequencer/src/ibc/state_ext.rs
  crates/astria-sequencer/src/service/info/abci_query_router.rs
  crates/astria-sequencer/src/transaction/mod.rs
  crates/astria-telemetry/src/lib.rs
  crates/astria-test-utils/src/mock/geth.rs
  specs/execution-api.md
  specs/sequencer-app.md
Labels: documentation, conductor, sequencer, sequencer-relayer, composer

#1000 feat(sequencer): implement basic app side mempool with nonce ordering
  Cargo.lock
  crates/astria-core/src/protocol/transaction/v1alpha1/mod.rs
  crates/astria-sequencer/Cargo.toml
  crates/astria-sequencer/src/app/mod.rs
  crates/astria-sequencer/src/app/test_utils.rs
  crates/astria-sequencer/src/app/tests_app.rs
  crates/astria-sequencer/src/lib.rs
  crates/astria-sequencer/src/mempool.rs
  crates/astria-sequencer/src/sequencer.rs
  crates/astria-sequencer/src/service/consensus.rs
  crates/astria-sequencer/src/service/mempool.rs
Labels: sequencer, docker-build

#1048 fix(charts): shorten metric port names
  charts/evm-rollup/Chart.yaml
  charts/evm-rollup/templates/service.yaml
  charts/evm-rollup/templates/servicemonitor.yaml
  charts/evm-rollup/templates/statefulsets.yaml
  charts/sequencer/Chart.yaml
  charts/sequencer/templates/service.yaml
  charts/sequencer/templates/servicemonitor.yaml
  charts/sequencer/templates/statefulsets.yaml
Labels: docker-build, cd

#1045 feat(conductor, relayer)!: batch multiple Sequencer blocks to save on Celestia fees
  Cargo.lock
  Cargo.toml
  crates/astria-conductor/src/block_cache.rs
  crates/astria-conductor/src/celestia/block_verifier.rs
  crates/astria-conductor/src/celestia/convert.rs
  crates/astria-conductor/src/celestia/mod.rs
  crates/astria-conductor/src/celestia/reconstruct.rs
  crates/astria-conductor/src/celestia/verify.rs
  crates/astria-conductor/tests/blackbox/helpers/macros.rs
  crates/astria-conductor/tests/blackbox/helpers/mod.rs
  crates/astria-core/src/generated/astria.sequencerblock.v1alpha1.rs
  crates/astria-core/src/generated/astria.sequencerblock.v1alpha1.serde.rs
  crates/astria-core/src/sequencerblock/v1alpha1/block.rs
  crates/astria-core/src/sequencerblock/v1alpha1/celestia.rs
  crates/astria-core/src/sequencerblock/v1alpha1/mod.rs
  crates/astria-sequencer-relayer/Cargo.toml
  crates/astria-sequencer-relayer/src/config.rs
  crates/astria-sequencer-relayer/src/metrics_init.rs
  crates/astria-sequencer-relayer/src/relayer/write/conversion.rs
  crates/astria-sequencer-relayer/src/relayer/write/mod.rs
  proto/sequencerblockapis/astria/sequencerblock/v1alpha1/celestia.proto
Labels: conductor, proto, sequencer-relayer

#1054 refactor(conductor): fetch missing blocks as necessary
  crates/astria-conductor/src/config.rs
  crates/astria-conductor/src/executor/client.rs
  crates/astria-conductor/src/executor/mod.rs
  crates/astria-conductor/tests/blackbox/helpers/macros.rs
  crates/astria-conductor/tests/blackbox/helpers/mod.rs
  crates/astria-conductor/tests/blackbox/soft_and_firm.rs
Labels: conductor

#1061 fix(conductor): retry blob fetch on request timeout
  crates/astria-conductor/src/celestia/fetch.rs
Labels: conductor

#1056 feat(proto): update ics20 withdrawal to have a memo field
  crates/astria-core/src/generated/astria.protocol.transactions.v1alpha1.rs
  crates/astria-core/src/protocol/transaction/v1alpha1/action.rs
  proto/protocolapis/astria/protocol/transactions/v1alpha1/types.proto
Labels: proto, sequencer

#1058 release: conductor 0.15.0, relayer 0.13.0
  Cargo.lock
  charts/evm-rollup/Chart.yaml
  charts/evm-rollup/values.yaml
  charts/sequencer-relayer/Chart.yaml
  charts/sequencer-relayer/templates/configmaps.yaml
  charts/sequencer-relayer/values.yaml
  charts/sequencer/Chart.lock
  charts/sequencer/Chart.yaml
  crates/astria-conductor/Cargo.toml
  crates/astria-sequencer-relayer/Cargo.toml
Labels: conductor, sequencer-relayer, cd

#1055 feat(sequencer)!: add fees to genesis state
  charts/sequencer/Chart.yaml
  charts/sequencer/files/cometbft/config/genesis.json
  crates/astria-sequencer/src/accounts/component.rs
  crates/astria-sequencer/src/app/test_utils.rs
  crates/astria-sequencer/src/app/tests_app.rs
  crates/astria-sequencer/src/app/tests_execute_transaction.rs
  crates/astria-sequencer/src/bridge/component.rs
  crates/astria-sequencer/src/genesis.rs
  crates/astria-sequencer/src/ibc/component.rs
  crates/astria-sequencer/src/sequence/component.rs
  crates/astria-sequencer/src/service/consensus.rs
  crates/astria-sequencer/src/transaction/mod.rs
  crates/astria-sequencer/test-genesis-app-state.json
Labels: sequencer, cd

#1044 refactor(proto)!: update `SignedTransaction` to contain `Any` for transaction
  crates/astria-core/src/generated/astria.protocol.transactions.v1alpha1.rs
  crates/astria-core/src/protocol/transaction/v1alpha1/mod.rs
  crates/astria-core/src/protocol/transaction/v1alpha1/snapshots/astria_core__protocol__transaction__v1alpha1__test__signed_transaction_hash.snap
  proto/protocolapis/astria/protocol/transactions/v1alpha1/types.proto
Labels: proto

#1057 tests(sequencer): add snapshot tests for app hash
  Cargo.lock
  crates/astria-sequencer/Cargo.toml
  crates/astria-sequencer/src/app/mod.rs
  crates/astria-sequencer/src/app/snapshots/astria_sequencer__app__tests_breaking_changes__app_execute_transaction_with_every_action_snapshot.snap
  crates/astria-sequencer/src/app/snapshots/astria_sequencer__app__tests_breaking_changes__app_finalize_block_snapshot.snap
  crates/astria-sequencer/src/app/snapshots/astria_sequencer__app__tests_breaking_changes__app_genesis_snapshot.snap
  crates/astria-sequencer/src/app/tests_breaking_changes.rs
Labels: sequencer

#1065 fix(sequencer): fix ibc prefix conversion
  crates/astria-sequencer/src/ibc/ics20_transfer.rs
Labels: sequencer

#1034 feat(sequencer)!: implement bridge unlock action and derestrict transfers
  crates/astria-core/src/generated/astria.protocol.transactions.v1alpha1.rs
  crates/astria-core/src/protocol/transaction/v1alpha1/action.rs
  crates/astria-sequencer/src/accounts/action.rs
  crates/astria-sequencer/src/app/snapshots/astria_sequencer__app__tests_breaking_changes__app_execute_transaction_with_every_action_snapshot.snap
  crates/astria-sequencer/src/app/test_utils.rs
  crates/astria-sequencer/src/app/tests_breaking_changes.rs
  crates/astria-sequencer/src/app/tests_execute_transaction.rs
  crates/astria-sequencer/src/bridge/bridge_lock_action.rs
  crates/astria-sequencer/src/bridge/bridge_unlock_action.rs
  crates/astria-sequencer/src/bridge/mod.rs
  crates/astria-sequencer/src/bridge/state_ext.rs
  crates/astria-sequencer/src/ibc/ics20_transfer.rs
  crates/astria-sequencer/src/transaction/mod.rs
  proto/protocolapis/astria/protocol/transactions/v1alpha1/types.proto
Labels: proto, sequencer

#1060 metrics(relayer)!: make per submission gauges into histograms
  crates/astria-sequencer-relayer/src/metrics_init.rs
  crates/astria-sequencer-relayer/src/relayer/write/mod.rs
Labels: sequencer-relayer

#1062 feat(telemetry): register metrics via callback
  crates/astria-composer/src/main.rs
  crates/astria-conductor/src/main.rs
  crates/astria-sequencer-relayer/src/main.rs
  crates/astria-sequencer/src/main.rs
  crates/astria-telemetry/src/lib.rs
Labels: conductor, sequencer, sequencer-relayer, composer

#1075 chore(sequencer-relayer): change compression ratio calculation
  crates/astria-sequencer-relayer/src/relayer/write/conversion.rs
Labels: sequencer-relayer

#1037 feat(sequencer)!: implement `FeeChangeAction` for the authority component
  crates/astria-core/src/generated/astria.protocol.transactions.v1alpha1.rs
  crates/astria-core/src/protocol/transaction/v1alpha1/action.rs
  crates/astria-sequencer/src/authority/action.rs
  crates/astria-sequencer/src/bridge/mod.rs
  crates/astria-sequencer/src/transaction/checks.rs
  crates/astria-sequencer/src/transaction/mod.rs
  proto/protocolapis/astria/protocol/transactions/v1alpha1/types.proto
Labels: proto, sequencer

#1059 feat(sequencer-utils): add subcommand to parse Celestia blob data
  Cargo.lock
  Cargo.toml
  crates/astria-cli/src/cli/mod.rs
  crates/astria-cli/src/cli/rollup.rs
  crates/astria-cli/src/cli/sequencer.rs
  crates/astria-core/src/sequencerblock/v1alpha1/celestia.rs
  crates/astria-sequencer-utils/Cargo.toml
  crates/astria-sequencer-utils/README.md
  crates/astria-sequencer-utils/src/blob_parser.rs
  crates/astria-sequencer-utils/src/cli.rs
  crates/astria-sequencer-utils/src/config.rs
  crates/astria-sequencer-utils/src/genesis_parser.rs
  crates/astria-sequencer-utils/src/lib.rs
  crates/astria-sequencer-utils/src/main.rs
  crates/astria-sequencer-utils/tests/parse_blob.rs
  crates/astria-sequencer-utils/tests/resources/parse_blob/batched_metadata/expected_brief_output.json
  crates/astria-sequencer-utils/tests/resources/parse_blob/batched_metadata/expected_brief_output.txt
  crates/astria-sequencer-utils/tests/resources/parse_blob/batched_metadata/expected_verbose_output.json
  crates/astria-sequencer-utils/tests/resources/parse_blob/batched_metadata/expected_verbose_output.txt
  crates/astria-sequencer-utils/tests/resources/parse_blob/batched_metadata/input.txt
  crates/astria-sequencer-utils/tests/resources/parse_blob/batched_rollup_data/expected_brief_output.json
  crates/astria-sequencer-utils/tests/resources/parse_blob/batched_rollup_data/expected_brief_output.txt
  crates/astria-sequencer-utils/tests/resources/parse_blob/batched_rollup_data/expected_verbose_output.json
  crates/astria-sequencer-utils/tests/resources/parse_blob/batched_rollup_data/expected_verbose_output.txt
  crates/astria-sequencer-utils/tests/resources/parse_blob/batched_rollup_data/input.txt
  crates/astria-sequencer-utils/tests/resources/parse_blob/unbatched_metadata/expected_brief_output.json
  crates/astria-sequencer-utils/tests/resources/parse_blob/unbatched_metadata/expected_brief_output.txt
  crates/astria-sequencer-utils/tests/resources/parse_blob/unbatched_metadata/expected_verbose_output.json
  crates/astria-sequencer-utils/tests/resources/parse_blob/unbatched_metadata/expected_verbose_output.txt
  crates/astria-sequencer-utils/tests/resources/parse_blob/unbatched_metadata/input.txt
  crates/astria-sequencer-utils/tests/resources/parse_blob/unbatched_rollup_data/expected_brief_output.json
  crates/astria-sequencer-utils/tests/resources/parse_blob/unbatched_rollup_data/expected_brief_output.txt
  crates/astria-sequencer-utils/tests/resources/parse_blob/unbatched_rollup_data/expected_verbose_output.json
  crates/astria-sequencer-utils/tests/resources/parse_blob/unbatched_rollup_data/expected_verbose_output.txt
  crates/astria-sequencer-utils/tests/resources/parse_blob/unbatched_rollup_data/input.txt
Labels: enhancement, sequencer, sequencer-relayer

#1076 fix(conductor): don't exit on bad Sequencer connection
  crates/astria-conductor/src/sequencer/block_stream.rs
  crates/astria-conductor/src/sequencer/mod.rs
Labels: conductor

#1074 feat(composer)! avoid holding private key in env var
  Cargo.lock
  Cargo.toml
  charts/evm-rollup/Chart.yaml
  charts/evm-rollup/templates/configmap.yaml
  charts/evm-rollup/templates/statefulsets.yaml
  charts/evm-rollup/values.yaml
  crates/astria-cli/src/commands/sequencer.rs
  crates/astria-composer/Cargo.toml
  crates/astria-composer/local.env.example
  crates/astria-composer/src/composer.rs
  crates/astria-composer/src/config.rs
  crates/astria-composer/src/executor/builder.rs
  crates/astria-composer/src/executor/mod.rs
  crates/astria-composer/src/executor/tests.rs
  crates/astria-composer/tests/blackbox/helper/mod.rs
  crates/astria-conductor/src/celestia/block_verifier.rs
  crates/astria-conductor/tests/blackbox/helpers/mod.rs
  crates/astria-core/Cargo.toml
  crates/astria-core/src/crypto.rs
  crates/astria-core/src/lib.rs
  crates/astria-core/src/protocol/test_utils.rs
  crates/astria-core/src/protocol/transaction/v1alpha1/mod.rs
  crates/astria-sequencer-client/src/tests/http.rs
  crates/astria-sequencer-relayer/Cargo.toml
  crates/astria-sequencer-relayer/src/validator.rs
  crates/astria-sequencer-relayer/tests/blackbox/helpers/test_sequencer_relayer.rs
  crates/astria-sequencer/src/app/test_utils.rs
  crates/astria-sequencer/src/app/tests_execute_transaction.rs
  crates/astria-sequencer/src/proposal/commitment.rs
  crates/astria-sequencer/src/service/consensus.rs
Labels: conductor, sequencer, sequencer-relayer, composer, docker-build, cd

#1088 chore: update celestia-node version
  charts/celestia-node/Chart.yaml
  charts/celestia-node/values.yaml
  charts/evm-rollup/Chart.lock
  charts/evm-rollup/Chart.yaml
Labels: cd

#1080 feat(conductor): respect shutdown signals during init
  crates/astria-conductor/src/celestia/mod.rs
  crates/astria-conductor/src/executor/builder.rs
  crates/astria-conductor/src/executor/client.rs
  crates/astria-conductor/src/executor/mod.rs
  crates/astria-conductor/src/sequencer/mod.rs
Labels: conductor

#1084 release: dusk-6 releases
  Cargo.lock
  charts/evm-rollup/Chart.yaml
  charts/evm-rollup/templates/configmap.yaml
  charts/evm-rollup/values.yaml
  charts/sequencer-relayer/Chart.yaml
  charts/sequencer-relayer/values.yaml
  charts/sequencer/Chart.lock
  charts/sequencer/Chart.yaml
  charts/sequencer/values.yaml
  crates/astria-composer/Cargo.toml
  crates/astria-conductor/Cargo.toml
  crates/astria-sequencer-relayer/Cargo.toml
  crates/astria-sequencer/Cargo.toml
Labels: conductor, sequencer, sequencer-relayer, composer, cd

#1078 feat(charts): Add support for forma genesis config
  charts/evm-rollup/Chart.yaml
  charts/evm-rollup/files/genesis/geth-genesis.json
Labels: cd

#1073 feat(sequencer): implement `get_pending_nonce` for sequencer API
  crates/astria-conductor/tests/blackbox/helpers/mock_grpc.rs
  crates/astria-core/src/generated/astria.sequencerblock.v1alpha1.rs
  crates/astria-core/src/generated/astria.sequencerblock.v1alpha1.serde.rs
  crates/astria-sequencer-relayer/tests/blackbox/helpers/mock_sequencer_server.rs
  crates/astria-sequencer/src/app/mod.rs
  crates/astria-sequencer/src/grpc/sequencer.rs
  crates/astria-sequencer/src/mempool.rs
  crates/astria-sequencer/src/sequencer.rs
  proto/sequencerblockapis/astria/sequencerblock/v1alpha1/service.proto
Labels: conductor, proto, sequencer, sequencer-relayer

#1096 feat(chart): secret fix, deployment fix for evm-rollup
  charts/evm-rollup/Chart.yaml
  charts/evm-rollup/templates/configmap.yaml
  charts/evm-rollup/templates/deployments.yaml
  charts/evm-rollup/templates/secretproviderclass.yaml
  charts/evm-rollup/templates/service.yaml
  charts/evm-rollup/templates/storageclasses.yaml
  charts/evm-rollup/templates/volumes.yaml
  charts/evm-rollup/values.yaml
Labels: cd

#1097 fix(chart): evm volumes fix
  charts/evm-rollup/Chart.yaml
  charts/evm-rollup/files/genesis/geth-genesis.json
  charts/evm-rollup/templates/secretproviderclass.yaml
  charts/evm-rollup/templates/volumes.yaml
Labels: cd

#1094 refactor(conductor): perform signal handling in binary and test shutdown logic
  crates/astria-conductor/src/conductor.rs
  crates/astria-conductor/src/main.rs
  crates/astria-conductor/tests/blackbox/firm_only.rs
  crates/astria-conductor/tests/blackbox/helpers/mod.rs
  crates/astria-conductor/tests/blackbox/main.rs
  crates/astria-conductor/tests/blackbox/shutdown.rs
  crates/astria-conductor/tests/blackbox/soft_and_firm.rs
  crates/astria-conductor/tests/blackbox/soft_only.rs
Labels: conductor, testing, production-quality

#1098 fix(telemetry): ensure tracer providers are shut down in all services
  crates/astria-composer/src/main.rs
  crates/astria-conductor/src/main.rs
  crates/astria-sequencer-relayer/src/main.rs
  crates/astria-sequencer/src/main.rs
  crates/astria-telemetry/src/lib.rs
Labels: conductor, sequencer, sequencer-relayer, composer

#1085 chore(ci)!: upgrade to v2 buf configs
  .github/workflows/lint.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  buf.lock
  buf.work.yaml
  buf.yaml
  proto/composerapis/buf.yaml
  proto/executionapis/buf.lock
  proto/executionapis/buf.yaml
  proto/primitives/buf.yaml
  proto/protocolapis/buf.lock
  proto/protocolapis/buf.yaml
  proto/sequencerblockapis/buf.lock
  proto/sequencerblockapis/buf.yaml
  proto/vendored/buf.lock
  proto/vendored/buf.yaml
Labels: ci, proto

#1102 fix(charts): faucet deployment fix
  charts/evm-rollup/Chart.yaml
  charts/evm-rollup/templates/deployments.yaml
Labels: cd

#1104 feat(sequencer)!: fees go to sudo poa
  crates/astria-sequencer/src/app/mod.rs
  crates/astria-sequencer/src/app/snapshots/astria_sequencer__app__tests_breaking_changes__app_finalize_block_snapshot.snap
  crates/astria-sequencer/src/app/snapshots/astria_sequencer__app__tests_breaking_changes__app_genesis_snapshot.snap
  crates/astria-sequencer/src/app/test_utils.rs
  crates/astria-sequencer/src/app/tests_app.rs
  crates/astria-sequencer/src/app/tests_breaking_changes.rs
Labels: sequencer

#1105 release(sequencer): sequencer 0.13.0
  Cargo.lock
  charts/sequencer/Chart.yaml
  charts/sequencer/values.yaml
  crates/astria-sequencer/Cargo.toml
Labels: sequencer, cd

#1087 feat(bridge-withdrawer): Bridge withdrawer transaction submission
  Cargo.lock
  Cargo.toml
  crates/astria-bridge-withdrawer/Cargo.toml
  crates/astria-bridge-withdrawer/local.env.example
  crates/astria-bridge-withdrawer/src/api.rs
  crates/astria-bridge-withdrawer/src/config.rs
  crates/astria-bridge-withdrawer/src/ethereum/state.rs
  crates/astria-bridge-withdrawer/src/lib.rs
  crates/astria-bridge-withdrawer/src/main.rs
  crates/astria-bridge-withdrawer/src/metrics_init.rs
  crates/astria-bridge-withdrawer/src/withdrawer/batch.rs
  crates/astria-bridge-withdrawer/src/withdrawer/ethereum/astria_withdrawer.rs
  crates/astria-bridge-withdrawer/src/withdrawer/ethereum/mod.rs
  crates/astria-bridge-withdrawer/src/withdrawer/ethereum/test_utils.rs
  crates/astria-bridge-withdrawer/src/withdrawer/ethereum/watcher.rs
  crates/astria-bridge-withdrawer/src/withdrawer/mod.rs
  crates/astria-bridge-withdrawer/src/withdrawer/state.rs
  crates/astria-bridge-withdrawer/src/withdrawer/submitter/builder.rs
  crates/astria-bridge-withdrawer/src/withdrawer/submitter/mod.rs
  crates/astria-bridge-withdrawer/src/withdrawer/submitter/signer.rs
  crates/astria-composer/Cargo.toml
  crates/astria-conductor/Cargo.toml
  crates/astria-core/src/primitive/v1/asset.rs
  crates/astria-core/src/protocol/transaction/v1alpha1/action.rs
  crates/astria-sequencer-relayer/Cargo.toml
Labels: conductor, sequencer-relayer, composer, bridging

#1067 feat(sequencer): query full denomination from asset ID
  crates/astria-core/src/generated/astria.protocol.asset.v1alpha1.rs
  crates/astria-core/src/generated/mod.rs
  crates/astria-core/src/protocol/abci.rs
  crates/astria-core/src/protocol/asset/mod.rs
  crates/astria-core/src/protocol/asset/v1alpha1/mod.rs
  crates/astria-core/src/protocol/mod.rs
  crates/astria-sequencer/src/accounts/state_ext.rs
  crates/astria-sequencer/src/asset/mod.rs
  crates/astria-sequencer/src/asset/query.rs
  crates/astria-sequencer/src/asset/state_ext.rs
  crates/astria-sequencer/src/ibc/ics20_transfer.rs
  crates/astria-sequencer/src/service/info/mod.rs
  proto/protocolapis/astria/protocol/asset/v1alpha1/types.proto
Labels: proto, sequencer

#1112 chore(charts): fix service monitor labels
  charts/evm-rollup/Chart.yaml
  charts/sequencer-relayer/Chart.yaml
  charts/sequencer-relayer/templates/servicemonitor.yaml
  charts/sequencer/Chart.lock
  charts/sequencer/Chart.yaml
  charts/sequencer/templates/servicemonitor.yaml
Labels: cd

#1114 chore(charts): update evm chart to have better default request limits
  charts/evm-rollup/Chart.yaml
  charts/evm-rollup/values.yaml
Labels: cd

#1111 chore: provide newtypes for verification key and signature
  Cargo.lock
  Cargo.toml
  crates/astria-cli/Cargo.toml
  crates/astria-cli/src/commands/sequencer.rs
  crates/astria-composer/Cargo.toml
  crates/astria-composer/src/executor/builder.rs
  crates/astria-conductor/Cargo.toml
  crates/astria-conductor/src/celestia/block_verifier.rs
  crates/astria-conductor/tests/blackbox/helpers/mod.rs
  crates/astria-core/Cargo.toml
  crates/astria-core/src/crypto.rs
  crates/astria-core/src/primitive/v1/mod.rs
  crates/astria-core/src/protocol/transaction/v1alpha1/mod.rs
  crates/astria-sequencer-client/Cargo.toml
  crates/astria-sequencer/Cargo.toml
  crates/astria-sequencer/src/app/mod.rs
  crates/astria-sequencer/src/app/test_utils.rs
  crates/astria-sequencer/src/app/tests_app.rs
  crates/astria-sequencer/src/app/tests_execute_transaction.rs
  crates/astria-sequencer/src/mempool.rs
  crates/astria-sequencer/src/service/consensus.rs
  crates/astria-sequencer/src/service/mempool.rs
  crates/astria-sequencer/src/transaction/checks.rs
  crates/astria-sequencer/src/transaction/mod.rs
Labels: conductor, sequencer, composer

#1092 chore(sequencer): refactor mempool
  crates/astria-core/src/primitive/v1/mod.rs
  crates/astria-sequencer/src/app/mod.rs
  crates/astria-sequencer/src/app/tests_app.rs
  crates/astria-sequencer/src/app/tests_breaking_changes.rs
  crates/astria-sequencer/src/app/tests_execute_transaction.rs
  crates/astria-sequencer/src/grpc/sequencer.rs
  crates/astria-sequencer/src/mempool.rs
  crates/astria-sequencer/src/service/consensus.rs
  crates/astria-sequencer/src/service/mempool.rs
Labels: conductor, proto, sequencer, sequencer-relayer

#1068 feat(conductor)!: rate limit sequencer cometbft requests
  Cargo.lock
  charts/evm-rollup/Chart.yaml
  charts/evm-rollup/templates/configmap.yaml
  crates/astria-conductor/Cargo.toml
  crates/astria-conductor/local.env.example
  crates/astria-conductor/src/celestia/builder.rs
  crates/astria-conductor/src/celestia/mod.rs
  crates/astria-conductor/src/celestia/verify.rs
  crates/astria-conductor/src/conductor.rs
  crates/astria-conductor/src/config.rs
  crates/astria-conductor/tests/blackbox/helpers/mod.rs
Labels: conductor, docker-build, cd

#1115 feat(conductor): add retry to execution API gRPCs
  crates/astria-conductor/src/executor/client.rs
  crates/astria-conductor/src/executor/mod.rs
Labels: conductor

#1116 fix(charts): fix relayer servicemonitor
  charts/sequencer-relayer/Chart.yaml
  charts/sequencer-relayer/templates/servicemonitor.yaml
  charts/sequencer/Chart.lock
  charts/sequencer/Chart.yaml
Labels: cd

#1117 fix(charts): relayer valid service label
  charts/sequencer-relayer/Chart.yaml
  charts/sequencer-relayer/templates/servicemonitor.yaml
  charts/sequencer/Chart.lock
  charts/sequencer/Chart.yaml
Labels: cd

#1119 fix(sequencer): fix `just run-cometbft` command
  crates/astria-sequencer/justfile
Labels: sequencer

#1081 chore: add `clippy::arithmetic-side-effects` lint and fix resulting warnings
  .github/workflows/test.yml
  crates/astria-cli/src/commands/rollup.rs
  crates/astria-composer/src/executor/bundle_factory/mod.rs
  crates/astria-composer/src/executor/mod.rs
  crates/astria-conductor/src/block_cache.rs
  crates/astria-conductor/src/celestia/block_verifier.rs
  crates/astria-conductor/src/executor/mod.rs
  crates/astria-core/src/generated/mod.rs
  crates/astria-eyre/src/lib.rs
  crates/astria-grpc-mock-test/src/lib.rs
  crates/astria-grpc-mock/src/lib.rs
  crates/astria-merkle/src/lib.rs
  crates/astria-sequencer-client/src/extension_trait.rs
  crates/astria-sequencer-relayer/src/relayer/read.rs
  crates/astria-sequencer-relayer/src/relayer/write/conversion.rs
  crates/astria-sequencer-relayer/tests/blackbox/helpers/test_sequencer_relayer.rs
  crates/astria-sequencer/src/app/mod.rs
  crates/astria-sequencer/src/bridge/state_ext.rs
  crates/astria-sequencer/src/mint/action.rs
  crates/astria-sequencer/src/proposal/commitment.rs
Labels: ci, conductor, proto, sequencer, sequencer-relayer, composer

#1091 feat(conductor): add metrics
  Cargo.lock
  crates/astria-conductor/Cargo.toml
  crates/astria-conductor/src/celestia/fetch.rs
  crates/astria-conductor/src/celestia/mod.rs
  crates/astria-conductor/src/executor/mod.rs
  crates/astria-conductor/src/lib.rs
  crates/astria-conductor/src/main.rs
  crates/astria-conductor/src/metrics_init.rs
Labels: conductor
