Repository astriaorg/astria, pull requests merged in 2024-06, with the labels that each got.

#1121 feat(conductor, proto)!: celestia base heights in commitment state
  charts/evm-rollup/Chart.yaml
  charts/evm-rollup/values.yaml
  crates/astria-conductor/src/celestia/mod.rs
  crates/astria-conductor/src/executor/mod.rs
  crates/astria-conductor/src/executor/state.rs
  crates/astria-conductor/src/executor/tests.rs
  crates/astria-conductor/tests/blackbox/firm_only.rs
  crates/astria-conductor/tests/blackbox/helpers/macros.rs
  crates/astria-conductor/tests/blackbox/soft_and_firm.rs
  crates/astria-conductor/tests/blackbox/soft_only.rs
  crates/astria-core/src/execution/v1alpha2/mod.rs
  crates/astria-core/src/generated/astria.execution.v1alpha2.rs
  crates/astria-core/src/generated/astria.execution.v1alpha2.serde.rs
  proto/executionapis/astria/execution/v1alpha2/execution.proto
Labels: conductor, proto, docker-build, cd

#1132 chore(chart): change evm back to latest on dev
  charts/evm-rollup/Chart.yaml
  charts/evm-rollup/values.yaml
Labels: cd

#1134 refactor(sequencer): remove mint module
  crates/astria-cli/src/cli/sequencer.rs
  crates/astria-cli/src/commands/mod.rs
  crates/astria-cli/src/commands/sequencer.rs
  crates/astria-core/src/generated/astria.protocol.transactions.v1alpha1.rs
  crates/astria-core/src/protocol/transaction/v1alpha1/action.rs
  crates/astria-sequencer/Cargo.toml
  crates/astria-sequencer/src/app/tests_execute_transaction.rs
  crates/astria-sequencer/src/lib.rs
  crates/astria-sequencer/src/main.rs
  crates/astria-sequencer/src/mint/action.rs
  crates/astria-sequencer/src/mint/mod.rs
  crates/astria-sequencer/src/transaction/checks.rs
  crates/astria-sequencer/src/transaction/mod.rs
  proto/protocolapis/astria/protocol/transactions/v1alpha1/types.proto
Labels: proto, sequencer

#1120 feat(conductor): skip outdated block metadata
  crates/astria-conductor/src/celestia/mod.rs
  crates/astria-conductor/src/celestia/verify.rs
  crates/astria-conductor/tests/blackbox/firm_only.rs
  crates/astria-conductor/tests/blackbox/helpers/macros.rs
  crates/astria-conductor/tests/blackbox/helpers/mod.rs
  crates/astria-conductor/tests/blackbox/soft_and_firm.rs
Labels: conductor

#1137 refactor(merkle): remove source of panics in audit API
  crates/astria-merkle/src/audit.rs
Labels: code-quality

#1129 feat: use macro to declare metric constants
  Cargo.lock
  Cargo.toml
  crates/astria-bridge-withdrawer/src/metrics_init.rs
  crates/astria-composer/src/metrics_init.rs
  crates/astria-conductor/src/metrics_init.rs
  crates/astria-sequencer-relayer/Cargo.toml
  crates/astria-sequencer-relayer/src/metrics_init.rs
  crates/astria-sequencer/src/metrics_init.rs
  crates/astria-telemetry/Cargo.toml
  crates/astria-telemetry/src/lib.rs
  crates/astria-telemetry/src/macros.rs
Labels: conductor, sequencer, sequencer-relayer, composer

#1139 chore(conductor): release conductor 0.17
  Cargo.lock
  charts/evm-rollup/Chart.yaml
  charts/evm-rollup/values.yaml
  crates/astria-conductor/Cargo.toml
Labels: conductor, cd

#1127 feat(sequencer): add `allowed_fee_asset_ids` abci query and `sequencer_client` support
  crates/astria-core/src/generated/astria.protocol.asset.v1alpha1.rs
  crates/astria-core/src/protocol/asset/v1alpha1/mod.rs
  crates/astria-sequencer-client/src/extension_trait.rs
  crates/astria-sequencer-client/src/tests/http.rs
  crates/astria-sequencer/src/asset/query.rs
  crates/astria-sequencer/src/service/info/mod.rs
  proto/protocolapis/astria/protocol/asset/v1alpha1/types.proto
  tools/protobuf-compiler/src/main.rs
Labels: proto, sequencer, bridging

#1146 fix(charts): conductor configmap fix
  charts/evm-rollup/Chart.yaml
  charts/evm-rollup/templates/configmap.yaml
Labels: cd

#1156 chore(ci): build bridge withdrawer images
  .github/workflows/docker-build.yml
Labels: ci

#1158 feat(sequencer): implement `bridge/account_last_tx_hash` abci query
  crates/astria-core/src/generated/astria.protocol.bridge.v1alpha1.rs
  crates/astria-core/src/generated/mod.rs
  crates/astria-core/src/protocol/bridge/mod.rs
  crates/astria-core/src/protocol/bridge/v1alpha1/mod.rs
  crates/astria-core/src/protocol/mod.rs
  crates/astria-sequencer-client/src/extension_trait.rs
  crates/astria-sequencer-client/src/tests/http.rs
  crates/astria-sequencer/src/bridge/mod.rs
  crates/astria-sequencer/src/bridge/query.rs
  crates/astria-sequencer/src/bridge/state_ext.rs
  crates/astria-sequencer/src/service/info/mod.rs
  crates/astria-sequencer/src/transaction/mod.rs
  proto/protocolapis/astria/protocol/bridge/v1alpha1/types.proto
Labels: proto, sequencer

#1159 chore: bump penumbra deps
  Cargo.lock
  Cargo.toml
  crates/astria-sequencer/Cargo.toml
  crates/astria-sequencer/src/transaction/mod.rs
Labels: sequencer

#1133 test(bridge-withdrawer): add submitter tests
  Cargo.lock
  crates/astria-bridge-withdrawer/Cargo.toml
  crates/astria-bridge-withdrawer/src/withdrawer/ethereum/convert.rs
  crates/astria-bridge-withdrawer/src/withdrawer/ethereum/mod.rs
  crates/astria-bridge-withdrawer/src/withdrawer/submitter/mod.rs
  crates/astria-bridge-withdrawer/src/withdrawer/submitter/tests.rs
Labels: ci, sequencer-relayer, bridging

#1063 feat(sequencer-relayer)!: add chain IDs for sequencer and Celestia to config env vars
  charts/sequencer-relayer/Chart.yaml
  charts/sequencer-relayer/templates/configmaps.yaml
  charts/sequencer-relayer/values.yaml
  charts/sequencer/Chart.lock
  charts/sequencer/Chart.yaml
  crates/astria-sequencer-relayer/local.env.example
  crates/astria-sequencer-relayer/src/config.rs
  crates/astria-sequencer-relayer/src/relayer/builder.rs
  crates/astria-sequencer-relayer/src/relayer/celestia_client/builder.rs
  crates/astria-sequencer-relayer/src/relayer/mod.rs
  crates/astria-sequencer-relayer/src/relayer/write/mod.rs
  crates/astria-sequencer-relayer/src/sequencer_relayer.rs
  crates/astria-sequencer-relayer/tests/blackbox/helpers/mock_celestia_app_server.rs
  crates/astria-sequencer-relayer/tests/blackbox/helpers/test_sequencer_relayer.rs
  crates/astria-sequencer-relayer/tests/blackbox/main.rs
  dev/values/validators/node0.yml
  dev/values/validators/single.yml
Labels: sequencer-relayer, cd

#1124 feat(core, proto)!: add bech32m addresses
  Cargo.lock
  crates/astria-bridge-withdrawer/src/withdrawer/ethereum/convert.rs
  crates/astria-bridge-withdrawer/src/withdrawer/submitter/mod.rs
  crates/astria-bridge-withdrawer/src/withdrawer/submitter/signer.rs
  crates/astria-bridge-withdrawer/src/withdrawer/submitter/tests.rs
  crates/astria-cli/src/cli/sequencer.rs
  crates/astria-cli/src/commands/sequencer.rs
  crates/astria-cli/src/lib.rs
  crates/astria-composer/src/executor/builder.rs
  crates/astria-composer/src/executor/mod.rs
  crates/astria-composer/tests/blackbox/helper/mod.rs
  crates/astria-core/Cargo.toml
  crates/astria-core/src/crypto.rs
  crates/astria-core/src/generated/astria.primitive.v1.rs
  crates/astria-core/src/generated/astria.primitive.v1.serde.rs
  crates/astria-core/src/generated/astria.protocol.transactions.v1alpha1.rs
  crates/astria-core/src/primitive/v1/mod.rs
  crates/astria-core/src/primitive/v1/snapshots/astria_core__primitive__v1__tests__snapshots.snap
  crates/astria-core/src/protocol/test_utils.rs
  crates/astria-core/src/protocol/transaction/v1alpha1/action.rs
  crates/astria-core/src/protocol/transaction/v1alpha1/mod.rs
  crates/astria-core/src/protocol/transaction/v1alpha1/snapshots/astria_core__protocol__transaction__v1alpha1__test__signed_transaction_hash.snap
  crates/astria-core/src/sequencerblock/v1alpha1/block.rs
  crates/astria-sequencer-client/src/extension_trait.rs
  crates/astria-sequencer-client/src/tests/http.rs
  crates/astria-sequencer/src/accounts/query.rs
  crates/astria-sequencer/src/accounts/state_ext.rs
  crates/astria-sequencer/src/api_state_ext.rs
  crates/astria-sequencer/src/app/mod.rs
  crates/astria-sequencer/src/app/snapshots/astria_sequencer__app__tests_breaking_changes__app_execute_transaction_with_every_action_snapshot.snap
  crates/astria-sequencer/src/app/snapshots/astria_sequencer__app__tests_breaking_changes__app_finalize_block_snapshot.snap
  crates/astria-sequencer/src/app/test_utils.rs
  crates/astria-sequencer/src/app/tests_app.rs
  crates/astria-sequencer/src/app/tests_breaking_changes.rs
  crates/astria-sequencer/src/app/tests_execute_transaction.rs
  crates/astria-sequencer/src/authority/action.rs
  crates/astria-sequencer/src/authority/state_ext.rs
  crates/astria-sequencer/src/bridge/bridge_lock_action.rs
  crates/astria-sequencer/src/bridge/bridge_unlock_action.rs
  crates/astria-sequencer/src/bridge/query.rs
  crates/astria-sequencer/src/bridge/state_ext.rs
  crates/astria-sequencer/src/config.rs
  crates/astria-sequencer/src/genesis.rs
  crates/astria-sequencer/src/ibc/ics20_transfer.rs
  crates/astria-sequencer/src/ibc/state_ext.rs
  crates/astria-sequencer/src/lib.rs
  crates/astria-sequencer/src/mempool.rs
  crates/astria-sequencer/src/proposal/commitment.rs
  crates/astria-sequencer/src/service/consensus.rs
  crates/astria-sequencer/src/service/info/mod.rs
  crates/astria-sequencer/src/service/mempool.rs
  crates/astria-sequencer/src/transaction/checks.rs
  crates/astria-sequencer/src/transaction/mod.rs
  proto/primitives/astria/primitive/v1/types.proto
  proto/protocolapis/astria/protocol/transactions/v1alpha1/types.proto
Labels: proto, sequencer, composer, core

#1160 feat(bridge-withdrawer): bridge withdrawer startup
  crates/astria-bridge-withdrawer/local.env.example
  crates/astria-bridge-withdrawer/src/config.rs
  crates/astria-bridge-withdrawer/src/withdrawer/ethereum/convert.rs
  crates/astria-bridge-withdrawer/src/withdrawer/ethereum/watcher.rs
  crates/astria-bridge-withdrawer/src/withdrawer/mod.rs
  crates/astria-bridge-withdrawer/src/withdrawer/submitter/builder.rs
  crates/astria-bridge-withdrawer/src/withdrawer/submitter/mod.rs
  crates/astria-bridge-withdrawer/src/withdrawer/submitter/tests.rs
Labels: bridging

#1161 feat(sequencer): implement refund to rollup logic upon ics20 transfer refund
  crates/astria-bridge-withdrawer/local.env.example
  crates/astria-bridge-withdrawer/src/config.rs
  crates/astria-bridge-withdrawer/src/lib.rs
  crates/astria-bridge-withdrawer/src/withdrawer/ethereum/convert.rs
  crates/astria-bridge-withdrawer/src/withdrawer/ethereum/mod.rs
  crates/astria-bridge-withdrawer/src/withdrawer/ethereum/watcher.rs
  crates/astria-bridge-withdrawer/src/withdrawer/mod.rs
  crates/astria-bridge-withdrawer/src/withdrawer/submitter/mod.rs
  crates/astria-bridge-withdrawer/src/withdrawer/submitter/tests.rs
  crates/astria-core/src/bridge.rs
  crates/astria-core/src/lib.rs
  crates/astria-core/src/primitive/v1/asset.rs
  crates/astria-core/src/primitive/v1/mod.rs
  crates/astria-core/src/serde.rs
  crates/astria-sequencer/src/ibc/ics20_transfer.rs
Labels: sequencer

#1142 feat(sequencer)!: implement bridge sudo and withdrawer addresses
  charts/sequencer/Chart.yaml
  charts/sequencer/files/cometbft/config/genesis.json
  crates/astria-bridge-withdrawer/src/withdrawer/ethereum/convert.rs
  crates/astria-bridge-withdrawer/src/withdrawer/submitter/tests.rs
  crates/astria-cli/src/commands/sequencer.rs
  crates/astria-core/src/generated/astria.protocol.transactions.v1alpha1.rs
  crates/astria-core/src/protocol/transaction/v1alpha1/action.rs
  crates/astria-sequencer/src/accounts/action.rs
  crates/astria-sequencer/src/app/snapshots/astria_sequencer__app__tests_breaking_changes__app_execute_transaction_with_every_action_snapshot.snap
  crates/astria-sequencer/src/app/snapshots/astria_sequencer__app__tests_breaking_changes__app_finalize_block_snapshot.snap
  crates/astria-sequencer/src/app/snapshots/astria_sequencer__app__tests_breaking_changes__app_genesis_snapshot.snap
  crates/astria-sequencer/src/app/test_utils.rs
  crates/astria-sequencer/src/app/tests_breaking_changes.rs
  crates/astria-sequencer/src/app/tests_execute_transaction.rs
  crates/astria-sequencer/src/authority/action.rs
  crates/astria-sequencer/src/bridge/bridge_sudo_change_action.rs
  crates/astria-sequencer/src/bridge/bridge_unlock_action.rs
  crates/astria-sequencer/src/bridge/component.rs
  crates/astria-sequencer/src/bridge/init_bridge_account_action.rs
  crates/astria-sequencer/src/bridge/mod.rs
  crates/astria-sequencer/src/bridge/state_ext.rs
  crates/astria-sequencer/src/genesis.rs
  crates/astria-sequencer/src/ibc/ics20_withdrawal.rs
  crates/astria-sequencer/src/transaction/checks.rs
  crates/astria-sequencer/src/transaction/mod.rs
  crates/astria-sequencer/test-genesis-app-state.json
  proto/protocolapis/astria/protocol/transactions/v1alpha1/types.proto
Labels: proto, sequencer, bridging, cd

#1165 feat(bridge-withdrawer): sync logic
  crates/astria-bridge-withdrawer/src/withdrawer/ethereum/watcher.rs
  crates/astria-bridge-withdrawer/src/withdrawer/mod.rs
  crates/astria-bridge-withdrawer/src/withdrawer/submitter/mod.rs
  crates/astria-bridge-withdrawer/src/withdrawer/submitter/tests.rs
  crates/astria-core/src/generated/astria.protocol.bridge.v1alpha1.rs
  crates/astria-core/src/protocol/bridge/v1alpha1/mod.rs
  crates/astria-sequencer-client/src/tests/http.rs
  crates/astria-sequencer/src/bridge/query.rs
  proto/protocolapis/astria/protocol/bridge/v1alpha1/types.proto
Labels: proto, sequencer, bridging

#1126 chore(docs): add sequencer-relayer doc to specs
  specs/sequencer-relayer.md
Labels: documentation

#1162 fix(core, sequencer): prefix removal source non-refund ics20 packet
  .gitignore
  crates/astria-bridge-withdrawer/src/withdrawer/ethereum/convert.rs
  crates/astria-bridge-withdrawer/src/withdrawer/ethereum/watcher.rs
  crates/astria-bridge-withdrawer/src/withdrawer/mod.rs
  crates/astria-bridge-withdrawer/src/withdrawer/submitter/tests.rs
  crates/astria-cli/src/commands/sequencer.rs
  crates/astria-composer/src/collectors/geth.rs
  crates/astria-composer/src/collectors/grpc.rs
  crates/astria-composer/src/executor/bundle_factory/tests.rs
  crates/astria-composer/src/executor/tests.rs
  crates/astria-core/src/primitive/v1/asset.rs
  crates/astria-core/src/protocol/account/v1alpha1/mod.rs
  crates/astria-core/src/protocol/asset/v1alpha1/mod.rs
  crates/astria-core/src/protocol/test_utils.rs
  crates/astria-core/src/protocol/transaction/v1alpha1/action.rs
  crates/astria-core/src/protocol/transaction/v1alpha1/mod.rs
  crates/astria-sequencer-client/src/extension_trait.rs
  crates/astria-sequencer-client/src/tests/http.rs
  crates/astria-sequencer/src/accounts/state_ext.rs
  crates/astria-sequencer/src/app/test_utils.rs
  crates/astria-sequencer/src/app/tests_breaking_changes.rs
  crates/astria-sequencer/src/app/tests_execute_transaction.rs
  crates/astria-sequencer/src/asset/mod.rs
  crates/astria-sequencer/src/asset/state_ext.rs
  crates/astria-sequencer/src/genesis.rs
  crates/astria-sequencer/src/ibc/ics20_transfer.rs
  crates/astria-sequencer/src/ibc/ics20_withdrawal.rs
  crates/astria-sequencer/src/proposal/commitment.rs
  crates/astria-sequencer/src/service/consensus.rs
  crates/astria-sequencer/src/service/info/mod.rs
  crates/astria-sequencer/src/transaction/checks.rs
Labels: sequencer, composer

#1172 fix(bridge-withdrawer): skip linting generated contract code
  crates/astria-bridge-withdrawer/src/withdrawer/ethereum/generated/astria_bridgeable_erc20.rs
  crates/astria-bridge-withdrawer/src/withdrawer/ethereum/generated/astria_withdrawer.rs
  crates/astria-bridge-withdrawer/src/withdrawer/ethereum/generated/astria_withdrawer_interface.rs
  crates/astria-bridge-withdrawer/src/withdrawer/ethereum/mod.rs
Labels: bridging

#1163 chore(metrics): update `metric_name` macro to handle a collection of names
  crates/astria-bridge-withdrawer/src/metrics_init.rs
  crates/astria-composer/src/metrics_init.rs
  crates/astria-conductor/src/metrics_init.rs
  crates/astria-sequencer-relayer/src/metrics_init.rs
  crates/astria-sequencer/src/metrics_init.rs
  crates/astria-telemetry/src/macros.rs
Labels: conductor, sequencer, sequencer-relayer, composer

#1168 chore(sequencer-relayer)!: remove functionality to restrict relaying blocks to only those proposed by a given validator
  charts/sequencer-relayer/Chart.yaml
  charts/sequencer-relayer/templates/configmaps.yaml
  charts/sequencer/Chart.lock
  charts/sequencer/Chart.yaml
  crates/astria-sequencer-relayer/local.env.example
  crates/astria-sequencer-relayer/src/config.rs
  crates/astria-sequencer-relayer/src/relayer/builder.rs
  crates/astria-sequencer-relayer/src/relayer/mod.rs
  crates/astria-sequencer-relayer/src/sequencer_relayer.rs
  crates/astria-sequencer-relayer/tests/blackbox/helpers/mock_sequencer_server.rs
  crates/astria-sequencer-relayer/tests/blackbox/helpers/test_sequencer_relayer.rs
  crates/astria-sequencer-relayer/tests/blackbox/main.rs
Labels: sequencer-relayer, cd

#1171 fix: ignore RUSTSEC-2021-0139
  .cargo/audit.toml
  .github/workflows/reusable-docker-build.yml
  Cargo.lock
Labels: ci

#1167 chore: bump msrv and run clippy
  .github/workflows/test.yml
  crates/astria-bridge-withdrawer/Cargo.toml
  crates/astria-composer/Cargo.toml
  crates/astria-composer/src/composer.rs
  crates/astria-composer/src/config.rs
  crates/astria-composer/src/executor/tests.rs
  crates/astria-conductor/Cargo.toml
  crates/astria-conductor/src/celestia/mod.rs
  crates/astria-conductor/tests/blackbox/helpers/mock_grpc.rs
  crates/astria-core/Cargo.toml
  crates/astria-core/src/primitive/v1/mod.rs
  crates/astria-core/src/sequencerblock/v1alpha1/mod.rs
  crates/astria-sequencer-client/Cargo.toml
  crates/astria-sequencer-relayer/Cargo.toml
  crates/astria-sequencer-relayer/src/lib.rs
  crates/astria-sequencer-relayer/src/relayer/mod.rs
  crates/astria-sequencer-relayer/src/relayer/write/conversion.rs
  crates/astria-sequencer-relayer/src/validator.rs
  crates/astria-sequencer-relayer/tests/blackbox/helpers/mock_celestia_app_server.rs
  crates/astria-sequencer-relayer/tests/blackbox/helpers/mock_sequencer_server.rs
  crates/astria-sequencer/Cargo.toml
Labels: ci, conductor, sequencer, sequencer-relayer, composer

#1174 chore: remove unused dependencies
  Cargo.lock
  crates/astria-bridge-withdrawer/Cargo.toml
  crates/astria-conductor/Cargo.toml
  crates/astria-core/Cargo.toml
  crates/astria-sequencer-relayer/Cargo.toml
Labels: conductor, sequencer-relayer

#1140 Chore(charts): update sequencer faucet chart
  charts/sequencer-faucet/Chart.yaml
  charts/sequencer-faucet/templates/configmap.yaml
  charts/sequencer-faucet/templates/deployment.yaml
  charts/sequencer-faucet/values.yaml
  charts/sequencer/Chart.yaml
  charts/sequencer/values.yaml
Labels: cd

#1177 specs: add native bridging protocol doc
  specs/bridge.md
Labels: documentation

#1182 feat(charts): option to purge geth mempool
  charts/evm-rollup/Chart.yaml
  charts/evm-rollup/templates/statefulsets.yaml
  charts/evm-rollup/templates/storageclasses.yaml
  charts/evm-rollup/values.yaml
Labels: cd

#1144 chore: register all metrics during startup
  crates/astria-bridge-withdrawer/src/lib.rs
  crates/astria-bridge-withdrawer/src/main.rs
  crates/astria-bridge-withdrawer/src/metrics.rs
  crates/astria-bridge-withdrawer/src/metrics_init.rs
  crates/astria-bridge-withdrawer/src/withdrawer/mod.rs
  crates/astria-bridge-withdrawer/src/withdrawer/submitter/builder.rs
  crates/astria-bridge-withdrawer/src/withdrawer/submitter/mod.rs
  crates/astria-bridge-withdrawer/src/withdrawer/submitter/tests.rs
  crates/astria-composer/src/collectors/geth.rs
  crates/astria-composer/src/collectors/grpc.rs
  crates/astria-composer/src/collectors/mod.rs
  crates/astria-composer/src/composer.rs
  crates/astria-composer/src/config.rs
  crates/astria-composer/src/executor/builder.rs
  crates/astria-composer/src/executor/mod.rs
  crates/astria-composer/src/executor/tests.rs
  crates/astria-composer/src/grpc.rs
  crates/astria-composer/src/lib.rs
  crates/astria-composer/src/main.rs
  crates/astria-composer/src/metrics.rs
  crates/astria-composer/src/metrics_init.rs
  crates/astria-conductor/src/celestia/builder.rs
  crates/astria-conductor/src/celestia/fetch.rs
  crates/astria-conductor/src/celestia/mod.rs
  crates/astria-conductor/src/conductor.rs
  crates/astria-conductor/src/executor/builder.rs
  crates/astria-conductor/src/executor/mod.rs
  crates/astria-conductor/src/lib.rs
  crates/astria-conductor/src/main.rs
  crates/astria-conductor/src/metrics.rs
  crates/astria-conductor/src/metrics_init.rs
  crates/astria-sequencer-relayer/src/lib.rs
  crates/astria-sequencer-relayer/src/main.rs
  crates/astria-sequencer-relayer/src/metrics.rs
  crates/astria-sequencer-relayer/src/metrics_init.rs
  crates/astria-sequencer-relayer/src/relayer/builder.rs
  crates/astria-sequencer-relayer/src/relayer/mod.rs
  crates/astria-sequencer-relayer/src/relayer/read.rs
  crates/astria-sequencer-relayer/src/relayer/write/conversion.rs
  crates/astria-sequencer-relayer/src/relayer/write/mod.rs
  crates/astria-sequencer-relayer/src/sequencer_relayer.rs
  crates/astria-sequencer/src/app/mod.rs
  crates/astria-sequencer/src/app/test_utils.rs
  crates/astria-sequencer/src/lib.rs
  crates/astria-sequencer/src/main.rs
  crates/astria-sequencer/src/metrics.rs
  crates/astria-sequencer/src/metrics_init.rs
  crates/astria-sequencer/src/sequencer.rs
  crates/astria-sequencer/src/service/consensus.rs
  crates/astria-sequencer/src/service/mempool.rs
  crates/astria-telemetry/src/lib.rs
Labels: conductor, sequencer, sequencer-relayer, composer

#1188 Mycodecrafting/sequencer seed node
  charts/sequencer/Chart.yaml
  charts/sequencer/files/cometbft/config/config.toml
  charts/sequencer/values.yaml
Labels: cd

#1181 refactor(core): parse ics20 denoms as ibc or trace prefixed variants
  Cargo.lock
  crates/astria-bridge-withdrawer/src/withdrawer/ethereum/convert.rs
  crates/astria-bridge-withdrawer/src/withdrawer/ethereum/watcher.rs
  crates/astria-bridge-withdrawer/src/withdrawer/mod.rs
  crates/astria-cli/src/commands/sequencer.rs
  crates/astria-core/Cargo.toml
  crates/astria-core/src/primitive/v1/asset.rs
  crates/astria-core/src/primitive/v1/asset/denom.rs
  crates/astria-core/src/primitive/v1/asset/mod.rs
  crates/astria-core/src/protocol/asset/v1alpha1/mod.rs
  crates/astria-sequencer-client/src/tests/http.rs
  crates/astria-sequencer/src/accounts/state_ext.rs
  crates/astria-sequencer/src/api_state_ext.rs
  crates/astria-sequencer/src/app/tests_breaking_changes.rs
  crates/astria-sequencer/src/app/tests_execute_transaction.rs
  crates/astria-sequencer/src/asset/query.rs
  crates/astria-sequencer/src/asset/state_ext.rs
  crates/astria-sequencer/src/bridge/bridge_lock_action.rs
  crates/astria-sequencer/src/bridge/bridge_sudo_change_action.rs
  crates/astria-sequencer/src/bridge/bridge_unlock_action.rs
  crates/astria-sequencer/src/bridge/state_ext.rs
  crates/astria-sequencer/src/ibc/ics20_transfer.rs
  crates/astria-sequencer/src/ibc/ics20_withdrawal.rs
  crates/astria-sequencer/src/ibc/state_ext.rs
  crates/astria-sequencer/src/service/info/mod.rs
  crates/astria-sequencer/src/state_ext.rs
Labels: sequencer

#1191 chore(sequencer-relayer): add timeout to gRPCs to Celestia app
  crates/astria-sequencer-relayer/src/relayer/celestia_client/builder.rs
Labels: sequencer-relayer

#1179 chore(astria-merkle): add benchmarks
  Cargo.lock
  Cargo.toml
  crates/astria-conductor/src/celestia/block_verifier.rs
  crates/astria-core/src/sequencerblock/v1alpha1/celestia.rs
  crates/astria-merkle/Cargo.toml
  crates/astria-merkle/benches/benchmark.rs
  crates/astria-merkle/src/lib.rs
Labels: conductor

#1138 feat(sequencer): add ttl and invalid cache to app mempool
  crates/astria-core/src/protocol/abci.rs
  crates/astria-sequencer/Cargo.toml
  crates/astria-sequencer/src/app/mod.rs
  crates/astria-sequencer/src/mempool.rs
  crates/astria-sequencer/src/metrics.rs
  crates/astria-sequencer/src/service/mempool.rs
Labels: sequencer

#1194 doc(conductor): update outdated spec
  specs/conductor.md
Labels: documentation

#1202 feat(sequencer)!: implement `Ics20TransferDepositMemo` format for incoming ics20 transfers to bridge accounts
  Cargo.lock
  crates/astria-core/Cargo.toml
  crates/astria-core/src/bridge.rs
  crates/astria-core/src/serde.rs
  crates/astria-sequencer/src/ibc/ics20_transfer.rs
Labels: sequencer

#1186 chore(core, proto)!: remove non-bech32m address bytes
  crates/astria-core/src/generated/astria.primitive.v1.rs
  crates/astria-core/src/generated/astria.primitive.v1.serde.rs
  crates/astria-core/src/primitive/v1/mod.rs
  proto/primitives/astria/primitive/v1/types.proto
Labels: proto

#1206 fix(sequencer-relayer): avoid hanging while waiting for submitter task to return
  crates/astria-sequencer-relayer/src/main.rs
  crates/astria-sequencer-relayer/src/relayer/builder.rs
  crates/astria-sequencer-relayer/src/relayer/mod.rs
  crates/astria-sequencer-relayer/src/relayer/write/mod.rs
  crates/astria-sequencer-relayer/src/sequencer_relayer.rs
  crates/astria-sequencer-relayer/tests/blackbox/helpers/test_sequencer_relayer.rs
Labels: sequencer-relayer

#1216 chore: bump penumbra deps
  Cargo.lock
  Cargo.toml
  crates/astria-sequencer/Cargo.toml
Labels: sequencer

#1214 chore(chart): update evm chart for new prefix field
  charts/evm-rollup/Chart.yaml
  charts/evm-rollup/files/genesis/geth-genesis.json
  charts/evm-rollup/values.yaml
Labels: cd

#1193 Refactor(chart, sequencer): restructure sequencer chart, adjust configs
  charts/evm-rollup/Chart.yaml
  charts/evm-rollup/values.yaml
  charts/sequencer/Chart.lock
  charts/sequencer/Chart.yaml
  charts/sequencer/files/cometbft/config/config.toml
  charts/sequencer/files/cometbft/config/genesis.json
  charts/sequencer/templates/_helpers.tpl
  charts/sequencer/templates/configmaps.yaml
  charts/sequencer/templates/ingress.yaml
  charts/sequencer/templates/service.yaml
  charts/sequencer/templates/servicemonitor.yaml
  charts/sequencer/templates/statefulsets.yaml
  charts/sequencer/templates/storageclasses.yaml
  charts/sequencer/templates/volumes.yaml
  charts/sequencer/values.yaml
  dev/values/validators/node0.yml
  dev/values/validators/node1.yml
  dev/values/validators/node2.yml
  dev/values/validators/single.yml
Labels: sequencer, composer, cd

#1219 release: dusk-8 versions
  .github/workflows/build.yml
  .github/workflows/docker-build.yml
  .github/workflows/release.yml
  .github/workflows/reusable-release-cargo.yml
  Cargo.lock
  crates/astria-composer/Cargo.toml
  crates/astria-conductor/Cargo.toml
  crates/astria-sequencer-relayer/Cargo.toml
  crates/astria-sequencer/Cargo.toml
Labels: ci, conductor, sequencer, sequencer-relayer, composer

#1222 release(conductor): fix conductor release version
  Cargo.lock
  crates/astria-conductor/Cargo.toml
Labels: conductor

#1223 chore(chart)!: dusk-8 chart version updates
  charts/deploy.just
  charts/evm-rollup/Chart.yaml
  charts/evm-rollup/files/genesis/geth-genesis.json
  charts/evm-rollup/templates/configmap.yaml
  charts/evm-rollup/values.yaml
  charts/sequencer-relayer/Chart.yaml
  charts/sequencer-relayer/templates/configmaps.yaml
  charts/sequencer-relayer/values.yaml
  charts/sequencer/Chart.lock
  charts/sequencer/Chart.yaml
  charts/sequencer/files/cometbft/config/config.toml
  charts/sequencer/files/cometbft/config/genesis.json
  charts/sequencer/values.yaml
  dev/values/validators/all.yml
  dev/values/validators/node0.yml
  dev/values/validators/node1.yml
  dev/values/validators/node2.yml
  dev/values/validators/single.yml
Labels: cd

#1226 chore(charts): update for new geth update
  charts/evm-rollup/Chart.yaml
  charts/evm-rollup/files/genesis/geth-genesis.json
  charts/evm-rollup/values.yaml
Labels: cd
