Repository astriaorg/astria, pull requests merged in 2024-08, with the labels that each got.

#1313 refactor(sequencer): move asset state methods to asset module
  crates/astria-sequencer/src/accounts/action.rs
  crates/astria-sequencer/src/accounts/component.rs
  crates/astria-sequencer/src/accounts/mod.rs
  crates/astria-sequencer/src/accounts/state_ext.rs
  crates/astria-sequencer/src/app/mod.rs
  crates/astria-sequencer/src/app/tests_app.rs
  crates/astria-sequencer/src/app/tests_breaking_changes.rs
  crates/astria-sequencer/src/app/tests_execute_transaction.rs
  crates/astria-sequencer/src/asset/state_ext.rs
  crates/astria-sequencer/src/assets/mod.rs
  crates/astria-sequencer/src/assets/query.rs
  crates/astria-sequencer/src/assets/snapshots/astria_sequencer__assets__state_ext__tests__storage_keys_are_unchanged-2.snap
  crates/astria-sequencer/src/assets/snapshots/astria_sequencer__assets__state_ext__tests__storage_keys_are_unchanged-3.snap
  crates/astria-sequencer/src/assets/snapshots/astria_sequencer__assets__state_ext__tests__storage_keys_are_unchanged.snap
  crates/astria-sequencer/src/assets/state_ext.rs
  crates/astria-sequencer/src/authority/action.rs
  crates/astria-sequencer/src/authority/component.rs
  crates/astria-sequencer/src/authority/mod.rs
  crates/astria-sequencer/src/authority/state_ext.rs
  crates/astria-sequencer/src/bridge/bridge_lock_action.rs
  crates/astria-sequencer/src/bridge/bridge_sudo_change_action.rs
  crates/astria-sequencer/src/bridge/bridge_unlock_action.rs
  crates/astria-sequencer/src/bridge/init_bridge_account_action.rs
  crates/astria-sequencer/src/bridge/mod.rs
  crates/astria-sequencer/src/bridge/query.rs
  crates/astria-sequencer/src/fee_asset_change.rs
  crates/astria-sequencer/src/grpc/sequencer.rs
  crates/astria-sequencer/src/ibc/ics20_transfer.rs
  crates/astria-sequencer/src/ibc/ics20_withdrawal.rs
  crates/astria-sequencer/src/ibc/mod.rs
  crates/astria-sequencer/src/lib.rs
  crates/astria-sequencer/src/proposal/commitment.rs
  crates/astria-sequencer/src/sequence/action.rs
  crates/astria-sequencer/src/sequence/mod.rs
  crates/astria-sequencer/src/sequencer.rs
  crates/astria-sequencer/src/service/consensus.rs
  crates/astria-sequencer/src/service/info/mod.rs
  crates/astria-sequencer/src/service/mempool.rs
  crates/astria-sequencer/src/state_ext.rs
  crates/astria-sequencer/src/transaction/checks.rs
  crates/astria-sequencer/src/transaction/mod.rs
  crates/astria-sequencer/src/transaction/query.rs
Labels: sequencer

#1317 refactor(sequencer): remove global state
  crates/astria-core/src/sequencer.rs
  crates/astria-sequencer-utils/src/genesis_example.rs
  crates/astria-sequencer/src/accounts/action.rs
  crates/astria-sequencer/src/accounts/component.rs
  crates/astria-sequencer/src/accounts/state_ext.rs
  crates/astria-sequencer/src/address/mod.rs
  crates/astria-sequencer/src/address/state_ext.rs
  crates/astria-sequencer/src/api_state_ext.rs
  crates/astria-sequencer/src/app/mod.rs
  crates/astria-sequencer/src/app/test_utils.rs
  crates/astria-sequencer/src/app/tests_app.rs
  crates/astria-sequencer/src/app/tests_breaking_changes.rs
  crates/astria-sequencer/src/app/tests_execute_transaction.rs
  crates/astria-sequencer/src/assets/mod.rs
  crates/astria-sequencer/src/authority/action.rs
  crates/astria-sequencer/src/authority/state_ext.rs
  crates/astria-sequencer/src/bridge/bridge_lock_action.rs
  crates/astria-sequencer/src/bridge/bridge_sudo_change_action.rs
  crates/astria-sequencer/src/bridge/bridge_unlock_action.rs
  crates/astria-sequencer/src/bridge/init_bridge_account_action.rs
  crates/astria-sequencer/src/bridge/query.rs
  crates/astria-sequencer/src/bridge/state_ext.rs
  crates/astria-sequencer/src/grpc/sequencer.rs
  crates/astria-sequencer/src/ibc/ibc_relayer_change.rs
  crates/astria-sequencer/src/ibc/ics20_transfer.rs
  crates/astria-sequencer/src/ibc/ics20_withdrawal.rs
  crates/astria-sequencer/src/ibc/state_ext.rs
  crates/astria-sequencer/src/mempool/benchmarks.rs
  crates/astria-sequencer/src/mempool/mod.rs
  crates/astria-sequencer/src/proposal/commitment.rs
  crates/astria-sequencer/src/sequencer.rs
  crates/astria-sequencer/src/service/consensus.rs
  crates/astria-sequencer/src/service/info/mod.rs
  crates/astria-sequencer/src/service/mempool.rs
  crates/astria-sequencer/src/test_utils.rs
  crates/astria-sequencer/src/transaction/checks.rs
  crates/astria-sequencer/src/transaction/mod.rs
Labels: sequencer

#1320 chore(core): Implement Protobuf trait for tx actions
  crates/astria-core/src/protocol/transaction/v1alpha1/action.rs
  crates/astria-core/src/protocol/transaction/v1alpha1/mod.rs
  crates/astria-sequencer/src/utils.rs
Labels: sequencer

#1302 refactor(ci): execute ics20 test from statefulset celestia container
  .github/workflows/docker-build.yml
  charts/celestia-local/Chart.yaml
  charts/celestia-local/templates/statefulsets.yaml
  charts/deploy.just
  charts/ibc-test.just
  justfile
Labels: ci, cd

#1319 chore(core, proto): migrate byte slices from Vec to Bytes
  crates/astria-composer/src/collectors/geth.rs
  crates/astria-composer/src/executor/tests.rs
  crates/astria-composer/src/test_utils.rs
  crates/astria-composer/tests/blackbox/grpc_collector.rs
  crates/astria-conductor/src/celestia/block_verifier.rs
  crates/astria-conductor/src/celestia/mod.rs
  crates/astria-conductor/src/executor/client.rs
  crates/astria-conductor/src/executor/mod.rs
  crates/astria-core/src/generated/astria.composer.v1alpha1.rs
  crates/astria-core/src/generated/astria.execution.v1alpha1.rs
  crates/astria-core/src/generated/astria.protocol.bridge.v1alpha1.rs
  crates/astria-core/src/generated/astria.protocol.transactions.v1alpha1.rs
  crates/astria-core/src/generated/astria.sequencerblock.v1alpha1.rs
  crates/astria-core/src/primitive/v1/mod.rs
  crates/astria-core/src/protocol/bridge/v1alpha1/mod.rs
  crates/astria-core/src/protocol/mod.rs
  crates/astria-core/src/protocol/test_utils.rs
  crates/astria-core/src/protocol/transaction/v1alpha1/action.rs
  crates/astria-core/src/protocol/transaction/v1alpha1/mod.rs
  crates/astria-core/src/sequencerblock/v1alpha1/block.rs
  crates/astria-core/src/sequencerblock/v1alpha1/celestia.rs
  crates/astria-sequencer-client/src/tests/http.rs
  crates/astria-sequencer-relayer/tests/blackbox/helpers/mock_sequencer_server.rs
  crates/astria-sequencer-utils/src/blob_parser.rs
  crates/astria-sequencer/src/api_state_ext.rs
  crates/astria-sequencer/src/app/test_utils.rs
  crates/astria-sequencer/src/app/tests_app.rs
  crates/astria-sequencer/src/app/tests_breaking_changes.rs
  crates/astria-sequencer/src/app/tests_execute_transaction.rs
  crates/astria-sequencer/src/grpc/sequencer.rs
  crates/astria-sequencer/src/mempool/benchmarks.rs
  crates/astria-sequencer/src/proposal/commitment.rs
  crates/astria-sequencer/src/service/consensus.rs
  crates/astria-sequencer/src/transaction/checks.rs
  tools/protobuf-compiler/src/main.rs
Labels: conductor, proto, sequencer, sequencer-relayer, composer

#1359 chore(charts): fix charts production templates
  charts/composer/Chart.yaml
  charts/composer/templates/configmap.yaml
  charts/composer/templates/deployment.yaml
  charts/composer/templates/secretproviderclass.yaml
  charts/evm-bridge-withdrawer/Chart.yaml
  charts/evm-bridge-withdrawer/templates/servicemonitor.yaml
  charts/evm-faucet/Chart.yaml
  charts/evm-faucet/templates/deployment.yaml
  charts/evm-rollup/Chart.yaml
  charts/evm-rollup/templates/configmap.yaml
  charts/evm-rollup/values.yaml
  charts/evm-stack/Chart.lock
  charts/evm-stack/Chart.yaml
  charts/sequencer-faucet/Chart.yaml
  charts/sequencer-faucet/values.yaml
Labels: cd

#1360 Chore: Upgrade celestia-node to v0.14.1
  charts/celestia-local/Chart.yaml
  charts/celestia-local/values.yaml
  charts/celestia-node/Chart.yaml
  charts/celestia-node/values.yaml
  charts/evm-rollup/Chart.lock
  charts/evm-rollup/Chart.yaml
  charts/evm-stack/Chart.lock
  charts/evm-stack/Chart.yaml
Labels: cd

#1367 fix(conductor): update for celestia-node v0.15.0
  crates/astria-conductor/src/celestia/fetch.rs
Labels: conductor, celestia

#1366 fix(relayer): change `reqwest` for `isahc` in relayer blackbox tests (ENG-699)
  Cargo.lock
  crates/astria-sequencer-relayer/Cargo.toml
  crates/astria-sequencer-relayer/tests/blackbox/helpers/test_sequencer_relayer.rs
  crates/astria-sequencer-relayer/tests/blackbox/main.rs
Labels: sequencer-relayer

#1371 refactor(core): shorten `try_from_block_info_and_data()`
  crates/astria-core/src/sequencerblock/v1alpha1/block.rs
Labels: code-quality, core

#1280 fix: abci error code
  crates/astria-composer/src/executor/mod.rs
  crates/astria-composer/tests/blackbox/helper/mod.rs
  crates/astria-core/src/protocol/abci.rs
  crates/astria-sequencer/src/accounts/query.rs
  crates/astria-sequencer/src/app/mod.rs
  crates/astria-sequencer/src/assets/query.rs
  crates/astria-sequencer/src/bridge/query.rs
  crates/astria-sequencer/src/service/info/mod.rs
  crates/astria-sequencer/src/service/mempool.rs
  crates/astria-sequencer/src/transaction/query.rs
Labels: sequencer, composer

#1332 fix(sequencer)!: fix TOCTOU issues by merging check and execution
  Cargo.lock
  crates/astria-sequencer/Cargo.toml
  crates/astria-sequencer/src/accounts/action.rs
  crates/astria-sequencer/src/accounts/mod.rs
  crates/astria-sequencer/src/accounts/state_ext.rs
  crates/astria-sequencer/src/app/action_handler.rs
  crates/astria-sequencer/src/app/mod.rs
  crates/astria-sequencer/src/app/tests_app.rs
  crates/astria-sequencer/src/app/tests_breaking_changes.rs
  crates/astria-sequencer/src/app/tests_execute_transaction.rs
  crates/astria-sequencer/src/authority/action.rs
  crates/astria-sequencer/src/authority/state_ext.rs
  crates/astria-sequencer/src/bridge/bridge_lock_action.rs
  crates/astria-sequencer/src/bridge/bridge_sudo_change_action.rs
  crates/astria-sequencer/src/bridge/bridge_unlock_action.rs
  crates/astria-sequencer/src/bridge/init_bridge_account_action.rs
  crates/astria-sequencer/src/bridge/query.rs
  crates/astria-sequencer/src/bridge/state_ext.rs
  crates/astria-sequencer/src/fee_asset_change.rs
  crates/astria-sequencer/src/ibc/ibc_relayer_change.rs
  crates/astria-sequencer/src/ibc/ics20_transfer.rs
  crates/astria-sequencer/src/ibc/ics20_withdrawal.rs
  crates/astria-sequencer/src/ibc/state_ext.rs
  crates/astria-sequencer/src/mempool/mod.rs
  crates/astria-sequencer/src/sequence/action.rs
  crates/astria-sequencer/src/sequencer.rs
  crates/astria-sequencer/src/service/mempool.rs
  crates/astria-sequencer/src/test_utils.rs
  crates/astria-sequencer/src/transaction/action_handler.rs
  crates/astria-sequencer/src/transaction/checks.rs
  crates/astria-sequencer/src/transaction/mod.rs
  crates/astria-sequencer/src/transaction/state_ext.rs
Labels: sequencer, ENG-674

#1344 fix(sequencer)!: take funds from bridge in ics20 withdrawals
  crates/astria-sequencer/src/bridge/state_ext.rs
  crates/astria-sequencer/src/ibc/ics20_withdrawal.rs
Labels: bug, sequencer

#1323 feat(sequencer): rewrite memool to have per-account transaction storage and maintenance
  Cargo.lock
  crates/astria-core/src/protocol/abci.rs
  crates/astria-sequencer/Cargo.toml
  crates/astria-sequencer/src/app/mod.rs
  crates/astria-sequencer/src/app/test_utils.rs
  crates/astria-sequencer/src/app/tests_app.rs
  crates/astria-sequencer/src/grpc/sequencer.rs
  crates/astria-sequencer/src/mempool/benchmarks.rs
  crates/astria-sequencer/src/mempool/mod.rs
  crates/astria-sequencer/src/mempool/transactions_container.rs
  crates/astria-sequencer/src/service/consensus.rs
  crates/astria-sequencer/src/service/mempool.rs
Labels: sequencer

#1374 fix(ci): enable bridge withdrawer building with tag
  .github/workflows/build.yml
  .github/workflows/docker-build.yml
  .github/workflows/reusable-docker-build.yml
Labels: ci

#1380 fix(proto): fix import name mismatch
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/startup.rs
  crates/astria-bridge-withdrawer/tests/blackbox/helpers/mock_cometbft.rs
  crates/astria-composer/src/executor/tests.rs
  crates/astria-composer/tests/blackbox/geth_collector.rs
  crates/astria-composer/tests/blackbox/grpc_collector.rs
  crates/astria-composer/tests/blackbox/helper/mock_sequencer.rs
  crates/astria-composer/tests/blackbox/helper/mod.rs
  crates/astria-core/src/generated/mod.rs
  crates/astria-core/src/protocol/account/mod.rs
  crates/astria-core/src/protocol/transaction/mod.rs
  crates/astria-core/src/sequencerblock/v1alpha1/block.rs
  crates/astria-sequencer-client/src/extension_trait.rs
  crates/astria-sequencer-client/src/tests/http.rs
  crates/astria-sequencer/src/app/mod.rs
  crates/astria-sequencer/src/service/info/mod.rs
  crates/astria-sequencer/src/service/mempool.rs
  crates/astria-sequencer/src/transaction/query.rs
Labels: proto, sequencer, composer

#1337 perf(sequencer): add benchmark for prepare_proposal (ENG-660)
  crates/astria-sequencer/Cargo.toml
  crates/astria-sequencer/src/app/benchmarks.rs
  crates/astria-sequencer/src/app/mod.rs
  crates/astria-sequencer/src/app/test_utils.rs
  crates/astria-sequencer/src/benchmark_utils.rs
  crates/astria-sequencer/src/lib.rs
  crates/astria-sequencer/src/mempool/benchmarks.rs
  crates/astria-sequencer/src/mempool/mod.rs
  crates/astria-sequencer/src/test_utils.rs
Labels: sequencer

#1343 fix(sequencer)!: fix block fees
  crates/astria-sequencer/src/accounts/action.rs
  crates/astria-sequencer/src/app/mod.rs
  crates/astria-sequencer/src/app/snapshots/astria_sequencer__app__tests_breaking_changes__app_finalize_block_snapshot.snap
  crates/astria-sequencer/src/app/tests_block_fees.rs
  crates/astria-sequencer/src/app/tests_execute_transaction.rs
  crates/astria-sequencer/src/bridge/bridge_lock_action.rs
  crates/astria-sequencer/src/bridge/bridge_sudo_change_action.rs
  crates/astria-sequencer/src/bridge/init_bridge_account_action.rs
  crates/astria-sequencer/src/ibc/ics20_withdrawal.rs
Labels: sequencer

#1372 feat(conductor)!: support disabled celestia auth
  charts/evm-rollup/Chart.yaml
  charts/evm-rollup/templates/configmap.yaml
  charts/evm-stack/Chart.lock
  charts/evm-stack/Chart.yaml
  crates/astria-conductor/local.env.example
  crates/astria-conductor/src/celestia/builder.rs
  crates/astria-conductor/src/conductor.rs
  crates/astria-conductor/src/config.rs
  crates/astria-conductor/tests/blackbox/helpers/mod.rs
  dev/values/rollup/dev.yaml
Labels: conductor, cd

#1389 fix(sequencer): bump penumbra dep to fix ibc state access bug
  Cargo.lock
  Cargo.toml
  crates/astria-sequencer/Cargo.toml
  crates/astria-sequencer/src/ibc/ics20_transfer.rs
  crates/astria-sequencer/src/ibc/ics20_withdrawal.rs
Labels: sequencer

#1398 release: biweekly release cut
  Cargo.lock
  crates/astria-bridge-withdrawer/Cargo.toml
  crates/astria-composer/Cargo.toml
  crates/astria-conductor/Cargo.toml
  crates/astria-sequencer-relayer/Cargo.toml
  crates/astria-sequencer/Cargo.toml
Labels: conductor, sequencer, sequencer-relayer, composer

#1401 chore: preview environment with astria-geth changes
  charts/evm-rollup/Chart.yaml
  charts/evm-rollup/templates/_helpers.tpl
  charts/evm-rollup/values.yaml
  charts/evm-stack/Chart.lock
  charts/evm-stack/Chart.yaml
Labels: cd

#1301 Chore(Charts): seq-faucet bech32m chart update
  charts/sequencer-faucet/Chart.yaml
  charts/sequencer-faucet/templates/configmap.yaml
  charts/sequencer-faucet/templates/deployment.yaml
  charts/sequencer-faucet/values.yaml
Labels: cd

#1399 release(charts): update with biweekly image cuts
  charts/composer/Chart.yaml
  charts/composer/values.yaml
  charts/evm-bridge-withdrawer/Chart.yaml
  charts/evm-bridge-withdrawer/templates/configmaps.yaml
  charts/evm-bridge-withdrawer/values.yaml
  charts/evm-rollup/Chart.yaml
  charts/evm-rollup/templates/configmap.yaml
  charts/evm-rollup/values.yaml
  charts/evm-stack/Chart.lock
  charts/evm-stack/Chart.yaml
  charts/sequencer-relayer/Chart.yaml
  charts/sequencer-relayer/values.yaml
  charts/sequencer/Chart.lock
  charts/sequencer/Chart.yaml
  charts/sequencer/values.yaml
Labels: conductor, sequencer, sequencer-relayer, composer, cd

#1393 fix(cli, tests): add force flag to overwrite withdrawal target path
  charts/deploy.just
  crates/astria-cli/src/commands/bridge/collect.rs
Labels: cd

#1394 fix(test): fail smoke test scripts eagerly if a command fails
  charts/deploy.just
  charts/ibc-test.just
Labels: cd

#1395 fix(test): use correct conditions to dermine smoke test success
  charts/deploy.just
Labels: cd

#1405 fix(core): restructure modules to match proto
  crates/astria-core/src/generated/astria.protocol.genesis.v1alpha1.rs
  crates/astria-core/src/generated/astria.protocol.transactions.v1alpha1.rs
  crates/astria-core/src/generated/mod.rs
  tools/protobuf-compiler/src/main.rs
Labels: proto

#1385 fix(sequencer): update mempool benchmarks (ENG-733)
  crates/astria-sequencer/src/benchmark_utils.rs
Labels: sequencer

#1361 refactor(composer): streamline geth and executor `run_until_stopped`
  crates/astria-composer/src/collectors/geth.rs
  crates/astria-composer/src/executor/mod.rs
  crates/astria-composer/src/lib.rs
  crates/astria-composer/src/utils.rs
Labels: composer, code-quality

#1403 celestia-node chart as subchart of evm-stack
  charts/celestia-node/Chart.yaml
  charts/celestia-node/templates/service.yaml
  charts/celestia-node/values.yaml
  charts/evm-rollup/Chart.lock
  charts/evm-rollup/Chart.yaml
  charts/evm-rollup/files/scripts/start-conductor.sh
  charts/evm-rollup/templates/configmap.yaml
  charts/evm-rollup/values.yaml
  charts/evm-stack/Chart.lock
  charts/evm-stack/Chart.yaml
  charts/evm-stack/values.yaml
  dev/values/rollup/dev.yaml
Labels: docker-build, cd

#1391 feat(sequencer, bridge-withdrawer)!: enforce withdrawals consumed
  crates/astria-bridge-contracts/src/lib.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/startup.rs
  crates/astria-bridge-withdrawer/tests/blackbox/helpers/test_bridge_withdrawer.rs
  crates/astria-core/src/generated/astria.protocol.memos.v1alpha1.rs
  crates/astria-core/src/generated/astria.protocol.memos.v1alpha1.serde.rs
  crates/astria-core/src/generated/astria.protocol.transactions.v1alpha1.rs
  crates/astria-core/src/generated/astria.protocol.transactions.v1alpha1.serde.rs
  crates/astria-core/src/protocol/memos/snapshots/astria_core__protocol__memos__v1alpha1__test__bridge_unlock_memo_snapshot.snap
  crates/astria-core/src/protocol/memos/snapshots/astria_core__protocol__memos__v1alpha1__test__ics20_withdrawal_from_rollup_memo_snapshot.snap
  crates/astria-core/src/protocol/memos/v1alpha1.rs
  crates/astria-core/src/protocol/transaction/v1alpha1/action.rs
  crates/astria-sequencer/src/app/snapshots/astria_sequencer__app__tests_breaking_changes__app_execute_transaction_with_every_action_snapshot.snap
  crates/astria-sequencer/src/app/tests_breaking_changes.rs
  crates/astria-sequencer/src/app/tests_execute_transaction.rs
  crates/astria-sequencer/src/bridge/bridge_unlock_action.rs
  crates/astria-sequencer/src/bridge/state_ext.rs
  crates/astria-sequencer/src/ibc/ics20_transfer.rs
  crates/astria-sequencer/src/ibc/ics20_withdrawal.rs
  proto/protocolapis/astria/protocol/memos/v1alpha1/types.proto
  proto/protocolapis/astria/protocol/transactions/v1alpha1/types.proto
Labels: proto, sequencer

#1409 fix(cli, bridge-withdrawer): dont fail entire block due to bad withdraw event
  crates/astria-bridge-contracts/src/lib.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/ethereum/watcher.rs
  crates/astria-cli/src/commands/bridge/collect.rs
Labels: bug, bridging, bridge-withdrawer, ENG-674

#1330 chore(conductor): Add instrumentation
  crates/astria-conductor/src/celestia/fetch.rs
  crates/astria-conductor/src/celestia/mod.rs
  crates/astria-conductor/src/celestia/verify.rs
  crates/astria-conductor/src/conductor.rs
  crates/astria-conductor/src/executor/channel.rs
  crates/astria-conductor/src/executor/client.rs
  crates/astria-conductor/src/executor/mod.rs
  crates/astria-conductor/src/executor/state.rs
  crates/astria-conductor/src/sequencer/mod.rs
Labels: conductor

#1192 chore(metrics): restrict `metrics` crate usage to `astria-telemetry`
  Cargo.lock
  Cargo.toml
  crates/astria-bridge-withdrawer/Cargo.toml
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/mod.rs
  crates/astria-bridge-withdrawer/src/lib.rs
  crates/astria-bridge-withdrawer/src/main.rs
  crates/astria-bridge-withdrawer/src/metrics.rs
  crates/astria-bridge-withdrawer/tests/blackbox/helpers/test_bridge_withdrawer.rs
  crates/astria-composer/Cargo.toml
  crates/astria-composer/src/collectors/geth.rs
  crates/astria-composer/src/composer.rs
  crates/astria-composer/src/config.rs
  crates/astria-composer/src/executor/tests.rs
  crates/astria-composer/src/lib.rs
  crates/astria-composer/src/main.rs
  crates/astria-composer/src/metrics.rs
  crates/astria-composer/src/rollup.rs
  crates/astria-composer/tests/blackbox/helper/mod.rs
  crates/astria-conductor/Cargo.toml
  crates/astria-conductor/src/conductor.rs
  crates/astria-conductor/src/lib.rs
  crates/astria-conductor/src/main.rs
  crates/astria-conductor/src/metrics.rs
  crates/astria-conductor/tests/blackbox/helpers/mod.rs
  crates/astria-sequencer-relayer/Cargo.toml
  crates/astria-sequencer-relayer/src/lib.rs
  crates/astria-sequencer-relayer/src/main.rs
  crates/astria-sequencer-relayer/src/metrics.rs
  crates/astria-sequencer-relayer/src/relayer/write/conversion.rs
  crates/astria-sequencer-relayer/src/sequencer_relayer.rs
  crates/astria-sequencer-relayer/tests/blackbox/helpers/test_sequencer_relayer.rs
  crates/astria-sequencer-relayer/tests/blackbox/main.rs
  crates/astria-sequencer/Cargo.toml
  crates/astria-sequencer/src/app/test_utils.rs
  crates/astria-sequencer/src/lib.rs
  crates/astria-sequencer/src/main.rs
  crates/astria-sequencer/src/metrics.rs
  crates/astria-sequencer/src/sequencer.rs
  crates/astria-sequencer/src/service/consensus.rs
  crates/astria-telemetry/Cargo.toml
  crates/astria-telemetry/src/lib.rs
  crates/astria-telemetry/src/metrics/builders.rs
  crates/astria-telemetry/src/metrics/counter.rs
  crates/astria-telemetry/src/metrics/error.rs
  crates/astria-telemetry/src/metrics/factories.rs
  crates/astria-telemetry/src/metrics/gauge.rs
  crates/astria-telemetry/src/metrics/handle.rs
  crates/astria-telemetry/src/metrics/histogram.rs
  crates/astria-telemetry/src/metrics/into_f64.rs
  crates/astria-telemetry/src/metrics/mod.rs
Labels: conductor, sequencer, sequencer-relayer, composer

#1284 chore: ibc e2e smoke test
  charts/README.md
  charts/ibc-test.just
  dev/kubetail.just
  dev/values/rollup/ibc-bridge-test.yaml
  justfile
Labels: ci, cd
