Repository astriaorg/astria, pull requests merged in 2024-09, with the labels that each got.

#1431 chore(charts): bump celestia versions
  charts/celestia-local/Chart.yaml
  charts/celestia-local/files/scripts/init-celestia-appd.sh
  charts/celestia-local/files/scripts/start-bridge.sh
  charts/celestia-local/templates/configmap.yaml
  charts/celestia-local/values.yaml
  charts/celestia-node/Chart.yaml
  charts/celestia-node/values.yaml
  charts/evm-stack/Chart.lock
  charts/evm-stack/Chart.yaml
Labels: cd

#1438 chore(ci): include `ibc-bridge-test` in `docker` CI target
  .github/workflows/docker-build.yml
Labels: ci

#1444 chore: memoize `address_bytes` of verification key
  crates/astria-core/src/crypto.rs
  crates/astria-sequencer/src/app/tests_app.rs
  crates/astria-sequencer/src/authority/mod.rs
  crates/astria-sequencer/src/benchmark_utils.rs
Labels: sequencer

#1425 feat(proto, core, sequencer)!: permit bech32 compatible addresses
  charts/sequencer/Chart.yaml
  charts/sequencer/files/cometbft/config/genesis.json
  charts/sequencer/values.yaml
  crates/astria-bridge-contracts/src/lib.rs
  crates/astria-bridge-withdrawer/tests/blackbox/helpers/test_bridge_withdrawer.rs
  crates/astria-cli/src/commands/sequencer.rs
  crates/astria-core/src/generated/astria.protocol.genesis.v1alpha1.rs
  crates/astria-core/src/generated/astria.protocol.genesis.v1alpha1.serde.rs
  crates/astria-core/src/generated/astria.protocol.transactions.v1alpha1.rs
  crates/astria-core/src/generated/astria.protocol.transactions.v1alpha1.serde.rs
  crates/astria-core/src/primitive/v1/mod.rs
  crates/astria-core/src/primitive/v1/snapshots/astria_core__primitive__v1__tests__snapshots-2.snap
  crates/astria-core/src/protocol/genesis/snapshots/astria_core__protocol__genesis__v1alpha1__tests__genesis_state_is_unchanged.snap
  crates/astria-core/src/protocol/genesis/v1alpha1.rs
  crates/astria-core/src/protocol/transaction/v1alpha1/action.rs
  crates/astria-sequencer-utils/src/genesis_example.rs
  crates/astria-sequencer/src/address/state_ext.rs
  crates/astria-sequencer/src/app/mod.rs
  crates/astria-sequencer/src/app/snapshots/astria_sequencer__app__tests_breaking_changes__app_execute_transaction_with_every_action_snapshot.snap
  crates/astria-sequencer/src/app/snapshots/astria_sequencer__app__tests_breaking_changes__app_finalize_block_snapshot.snap
  crates/astria-sequencer/src/app/snapshots/astria_sequencer__app__tests_breaking_changes__app_genesis_snapshot.snap
  crates/astria-sequencer/src/app/test_utils.rs
  crates/astria-sequencer/src/authority/state_ext.rs
  crates/astria-sequencer/src/bridge/bridge_lock_action.rs
  crates/astria-sequencer/src/bridge/bridge_sudo_change_action.rs
  crates/astria-sequencer/src/bridge/bridge_unlock_action.rs
  crates/astria-sequencer/src/bridge/query.rs
  crates/astria-sequencer/src/ibc/ics20_transfer.rs
  crates/astria-sequencer/src/ibc/ics20_withdrawal.rs
  crates/astria-sequencer/src/ibc/state_ext.rs
  crates/astria-sequencer/src/service/info/mod.rs
  crates/astria-sequencer/src/test_utils.rs
  crates/astria-sequencer/src/transaction/checks.rs
  proto/protocolapis/astria/protocol/genesis/v1alpha1/types.proto
  proto/protocolapis/astria/protocol/transactions/v1alpha1/types.proto
Labels: proto, sequencer, cd

#1459 fix volume rollupName value
  dev/values/rollup/preview-env.yaml
  dev/values/validators/preview-env.yaml
Labels: ci, conductor, proto, sequencer, sequencer-relayer, composer, cd

#1375 chore(sequencer-relayer): Add instrumentation
  crates/astria-sequencer-relayer/src/api.rs
  crates/astria-sequencer-relayer/src/relayer/celestia_client/builder.rs
  crates/astria-sequencer-relayer/src/relayer/celestia_client/mod.rs
  crates/astria-sequencer-relayer/src/relayer/mod.rs
  crates/astria-sequencer-relayer/src/relayer/read.rs
  crates/astria-sequencer-relayer/src/relayer/submission.rs
  crates/astria-sequencer-relayer/src/relayer/write/mod.rs
  crates/astria-sequencer-relayer/src/sequencer_relayer.rs
Labels: sequencer-relayer, observability

#1458 chore(charts): rollupName templates
  charts/evm-rollup/Chart.yaml
  charts/evm-rollup/templates/storageclasses.yaml
  charts/evm-rollup/templates/volumes.yaml
  charts/evm-stack/Chart.lock
  charts/evm-stack/Chart.yaml
Labels: cd

#1456 release: end of iteration release cuts
  Cargo.lock
  crates/astria-bridge-withdrawer/Cargo.toml
  crates/astria-cli/Cargo.toml
  crates/astria-composer/Cargo.toml
  crates/astria-conductor/Cargo.toml
  crates/astria-sequencer-relayer/Cargo.toml
  crates/astria-sequencer/Cargo.toml
Labels: conductor, sequencer, sequencer-relayer, composer

#1470 refactor(sequencer): use streams for fetching slinky data from state
  Cargo.lock
  crates/astria-sequencer/Cargo.toml
  crates/astria-sequencer/src/grpc/slinky.rs
  crates/astria-sequencer/src/slinky/oracle/state_ext.rs
Labels: sequencer

#1455 fix(sequencer): add `end_block` to `app_execute_transaction_with_every_action_snapshot`
  crates/astria-sequencer/src/app/snapshots/astria_sequencer__app__tests_breaking_changes__app_execute_transaction_with_every_action_snapshot.snap
  crates/astria-sequencer/src/app/tests_breaking_changes.rs
Labels: sequencer

#1376 fix(bridge-withdrawer, cli, sequencer-client): migrate from `broadcast_tx_commit` to `broadcast_tx_sync`
  Cargo.lock
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/submitter/mod.rs
  crates/astria-bridge-withdrawer/tests/blackbox/helpers/mock_cometbft.rs
  crates/astria-bridge-withdrawer/tests/blackbox/helpers/test_bridge_withdrawer.rs
  crates/astria-bridge-withdrawer/tests/blackbox/main.rs
  crates/astria-cli/src/commands/bridge/submit.rs
  crates/astria-cli/src/commands/sequencer.rs
  crates/astria-sequencer-client/Cargo.toml
  crates/astria-sequencer-client/src/extension_trait.rs
  crates/astria-sequencer-client/src/tests/http.rs
Labels: ci, sequencer, sequencer-client, cli, bridge-withdrawer

#1410 feat(proto, core, sequencer)!: add traceability to rollup deposits
  charts/evm-rollup/Chart.yaml
  charts/evm-rollup/values.yaml
  charts/evm-stack/Chart.lock
  charts/evm-stack/Chart.yaml
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/startup.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/submitter/mod.rs
  crates/astria-composer/src/executor/mod.rs
  crates/astria-core/src/generated/astria.primitive.v1.rs
  crates/astria-core/src/generated/astria.primitive.v1.serde.rs
  crates/astria-core/src/generated/astria.sequencerblock.v1alpha1.rs
  crates/astria-core/src/generated/astria.sequencerblock.v1alpha1.serde.rs
  crates/astria-core/src/primitive/v1/mod.rs
  crates/astria-core/src/protocol/transaction/v1alpha1/mod.rs
  crates/astria-core/src/protocol/transaction/v1alpha1/snapshots/astria_core__protocol__transaction__v1alpha1__test__signed_transaction_hash.snap
  crates/astria-core/src/sequencerblock/v1alpha1/block.rs
  crates/astria-sequencer/src/accounts/action.rs
  crates/astria-sequencer/src/api_state_ext.rs
  crates/astria-sequencer/src/app/snapshots/astria_sequencer__app__tests_breaking_changes__app_execute_transaction_with_every_action_snapshot.snap
  crates/astria-sequencer/src/app/snapshots/astria_sequencer__app__tests_breaking_changes__app_finalize_block_snapshot.snap
  crates/astria-sequencer/src/app/tests_app.rs
  crates/astria-sequencer/src/app/tests_block_fees.rs
  crates/astria-sequencer/src/app/tests_breaking_changes.rs
  crates/astria-sequencer/src/app/tests_execute_transaction.rs
  crates/astria-sequencer/src/authority/action.rs
  crates/astria-sequencer/src/bridge/bridge_lock_action.rs
  crates/astria-sequencer/src/bridge/bridge_sudo_change_action.rs
  crates/astria-sequencer/src/bridge/bridge_unlock_action.rs
  crates/astria-sequencer/src/bridge/init_bridge_account_action.rs
  crates/astria-sequencer/src/bridge/query.rs
  crates/astria-sequencer/src/bridge/state_ext.rs
  crates/astria-sequencer/src/fee_asset_change.rs
  crates/astria-sequencer/src/ibc/ibc_relayer_change.rs
  crates/astria-sequencer/src/ibc/ics20_transfer.rs
  crates/astria-sequencer/src/ibc/ics20_withdrawal.rs
  crates/astria-sequencer/src/mempool/mod.rs
  crates/astria-sequencer/src/mempool/transactions_container.rs
  crates/astria-sequencer/src/sequence/action.rs
  crates/astria-sequencer/src/transaction/checks.rs
  crates/astria-sequencer/src/transaction/mod.rs
  crates/astria-sequencer/src/transaction/state_ext.rs
  proto/primitives/astria/primitive/v1/types.proto
  proto/sequencerblockapis/astria/sequencerblock/v1alpha1/block.proto
Labels: proto, sequencer, composer, core, cd

#1447 feat(sequencer): report deposit events
  crates/astria-core/src/sequencerblock/v1alpha1/block.rs
  crates/astria-sequencer/src/app/tests_execute_transaction.rs
  crates/astria-sequencer/src/bridge/bridge_lock_action.rs
  crates/astria-sequencer/src/ibc/ics20_transfer.rs
  crates/astria-sequencer/src/utils.rs
Labels: sequencer

#1485 chore(chart): update geth tag
  charts/evm-rollup/Chart.yaml
  charts/evm-rollup/values.yaml
  charts/evm-stack/Chart.lock
  charts/evm-stack/Chart.yaml
Labels: cd

#1406 feat(ci): provide demo/preview environments
  charts/celestia-local/Chart.yaml
  charts/celestia-local/templates/_helpers.tpl
  charts/celestia-local/templates/ingress.yaml
  charts/celestia-local/templates/volumes.yaml
  charts/celestia-local/values.yaml
  charts/composer/Chart.yaml
  charts/composer/templates/deployment.yaml
  charts/composer/values.yaml
  charts/evm-bridge-withdrawer/Chart.yaml
  charts/evm-bridge-withdrawer/templates/deployment.yaml
  charts/evm-bridge-withdrawer/values.yaml
  charts/evm-faucet/Chart.yaml
  charts/evm-faucet/templates/deployment.yaml
  charts/evm-faucet/values.yaml
  charts/evm-rollup/Chart.yaml
  charts/evm-rollup/templates/_helpers.tpl
  charts/evm-rollup/templates/statefulsets.yaml
  charts/evm-rollup/values.yaml
  charts/evm-stack/Chart.lock
  charts/evm-stack/Chart.yaml
  charts/hermes/Chart.yaml
  charts/hermes/templates/deployment.yaml
  charts/hermes/values.yaml
  charts/sequencer-faucet/Chart.yaml
  charts/sequencer-faucet/templates/deployment.yaml
  charts/sequencer-faucet/values.yaml
  charts/sequencer-relayer/Chart.yaml
  charts/sequencer-relayer/templates/statefulset.yaml
  charts/sequencer-relayer/values.yaml
  charts/sequencer/Chart.lock
  charts/sequencer/Chart.yaml
  charts/sequencer/templates/statefulsets.yaml
  charts/sequencer/values.yaml
  dev/argo.just
  dev/argocd/pr-preview-envs/evm-appset.yaml
  dev/argocd/pr-preview-envs/sequencer-appset.yaml
  dev/helm.just
  justfile
Labels: sequencer, evm, docker-build, cd, preview

#1500 fix(ci): typo for required field in sequencer preview-env
  dev/argocd/pr-preview-envs/sequencer-appset.yaml
Labels: cd

#1387 chore(sequencer): migrate from `anyhow::Result` to `eyre::Result`
  Cargo.lock
  crates/astria-eyre/Cargo.toml
  crates/astria-eyre/src/lib.rs
  crates/astria-sequencer/Cargo.toml
  crates/astria-sequencer/src/accounts/action.rs
  crates/astria-sequencer/src/accounts/component.rs
  crates/astria-sequencer/src/accounts/query.rs
  crates/astria-sequencer/src/accounts/state_ext.rs
  crates/astria-sequencer/src/address/state_ext.rs
  crates/astria-sequencer/src/api_state_ext.rs
  crates/astria-sequencer/src/app/action_handler.rs
  crates/astria-sequencer/src/app/mod.rs
  crates/astria-sequencer/src/assets/query.rs
  crates/astria-sequencer/src/assets/state_ext.rs
  crates/astria-sequencer/src/authority/action.rs
  crates/astria-sequencer/src/authority/component.rs
  crates/astria-sequencer/src/authority/mod.rs
  crates/astria-sequencer/src/authority/state_ext.rs
  crates/astria-sequencer/src/bridge/bridge_lock_action.rs
  crates/astria-sequencer/src/bridge/bridge_sudo_change_action.rs
  crates/astria-sequencer/src/bridge/bridge_unlock_action.rs
  crates/astria-sequencer/src/bridge/component.rs
  crates/astria-sequencer/src/bridge/init_bridge_account_action.rs
  crates/astria-sequencer/src/bridge/query.rs
  crates/astria-sequencer/src/bridge/state_ext.rs
  crates/astria-sequencer/src/component.rs
  crates/astria-sequencer/src/fee_asset_change.rs
  crates/astria-sequencer/src/ibc/component.rs
  crates/astria-sequencer/src/ibc/host_interface.rs
  crates/astria-sequencer/src/ibc/ibc_relayer_change.rs
  crates/astria-sequencer/src/ibc/ics20_transfer.rs
  crates/astria-sequencer/src/ibc/ics20_withdrawal.rs
  crates/astria-sequencer/src/ibc/state_ext.rs
  crates/astria-sequencer/src/main.rs
  crates/astria-sequencer/src/mempool/mempool_state.rs
  crates/astria-sequencer/src/mempool/mod.rs
  crates/astria-sequencer/src/mempool/transactions_container.rs
  crates/astria-sequencer/src/proposal/block_size_constraints.rs
  crates/astria-sequencer/src/sequence/action.rs
  crates/astria-sequencer/src/sequence/component.rs
  crates/astria-sequencer/src/sequence/state_ext.rs
  crates/astria-sequencer/src/sequencer.rs
  crates/astria-sequencer/src/service/consensus.rs
  crates/astria-sequencer/src/service/info/mod.rs
  crates/astria-sequencer/src/service/mempool.rs
  crates/astria-sequencer/src/state_ext.rs
  crates/astria-sequencer/src/test_utils.rs
  crates/astria-sequencer/src/transaction/checks.rs
  crates/astria-sequencer/src/transaction/mod.rs
  crates/astria-sequencer/src/utils.rs
Labels: ci, sequencer

#1498 fix: build docker when workflow explicitly includes component
  .github/workflows/docker-build.yml
  .github/workflows/reusable-docker-build.yml
Labels: ci

#1499 trigger manual docker-build workflow
  .github/workflows/docker-build.yml
  .github/workflows/reusable-docker-build.yml
Labels: ci

#1428 fix(bridge-contracts): fix memo transaction hash encoding
  crates/astria-bridge-contracts/src/lib.rs
  crates/astria-bridge-withdrawer/tests/blackbox/helpers/mod.rs
  crates/astria-bridge-withdrawer/tests/blackbox/helpers/test_bridge_withdrawer.rs
  crates/astria-bridge-withdrawer/tests/blackbox/main.rs
  crates/astria-sequencer/src/bridge/bridge_unlock_action.rs
  crates/astria-sequencer/src/ibc/ics20_withdrawal.rs
Labels: bug, sequencer, bridging, docker-build

#1505 fix(sequencer): Fix incorrect error message from BridgeUnlock actions
  crates/astria-sequencer/src/transaction/mod.rs
Labels: sequencer

#1501 fix(ci): use commit SHA instead of PR number preview-env images
  .github/workflows/reusable-docker-build.yml
  dev/argocd/pr-preview-envs/evm-appset.yaml
  dev/argocd/pr-preview-envs/sequencer-appset.yaml
Labels: ci, sequencer, evm, docker-build, cd, infra

#1495 fix, refactor(sequencer): refactor ics20 logic
  crates/astria-core/src/primitive/v1/asset/denom.rs
  crates/astria-core/src/protocol/test_utils.rs
  crates/astria-core/src/sequencerblock/v1alpha1/block.rs
  crates/astria-sequencer-utils/src/blob_parser.rs
  crates/astria-sequencer/src/accounts/mod.rs
  crates/astria-sequencer/src/accounts/state_ext.rs
  crates/astria-sequencer/src/address/state_ext.rs
  crates/astria-sequencer/src/api_state_ext.rs
  crates/astria-sequencer/src/app/tests_app/mod.rs
  crates/astria-sequencer/src/app/tests_block_fees.rs
  crates/astria-sequencer/src/app/tests_breaking_changes.rs
  crates/astria-sequencer/src/app/tests_execute_transaction.rs
  crates/astria-sequencer/src/assets/state_ext.rs
  crates/astria-sequencer/src/bridge/bridge_lock_action.rs
  crates/astria-sequencer/src/bridge/state_ext.rs
  crates/astria-sequencer/src/ibc/ics20_transfer.rs
  crates/astria-sequencer/src/ibc/ics20_withdrawal.rs
  crates/astria-sequencer/src/ibc/state_ext.rs
  crates/astria-sequencer/src/transaction/checks.rs
  crates/astria-sequencer/src/utils.rs
  crates/astria-telemetry/src/display.rs
Labels: sequencer

#1463 feat(conductor): implement restart logic
  crates/astria-conductor/src/conductor/inner.rs
  crates/astria-conductor/src/conductor/mod.rs
  crates/astria-conductor/src/config.rs
  crates/astria-conductor/tests/blackbox/helpers/macros.rs
  crates/astria-conductor/tests/blackbox/helpers/mod.rs
  crates/astria-conductor/tests/blackbox/soft_and_firm.rs
Labels: conductor

#1531 release: charts from last iteration
  charts/composer/Chart.yaml
  charts/composer/values.yaml
  charts/evm-bridge-withdrawer/Chart.yaml
  charts/evm-bridge-withdrawer/values.yaml
  charts/evm-rollup/Chart.yaml
  charts/evm-rollup/values.yaml
  charts/evm-stack/Chart.lock
  charts/evm-stack/Chart.yaml
  charts/sequencer/Chart.yaml
  charts/sequencer/values.yaml
Labels: cd

#1552 fix(sequencer): install astria-eyre hook
  crates/astria-sequencer/src/main.rs
Labels: sequencer

#1506 fix(sequencer): provide context in checktx response log
  crates/astria-sequencer/src/service/mempool.rs
Labels: sequencer

#1509 feat(sequencer)!: Add IBC sudo change action
  crates/astria-core/src/generated/astria.protocol.transactions.v1alpha1.rs
  crates/astria-core/src/generated/astria.protocol.transactions.v1alpha1.serde.rs
  crates/astria-core/src/protocol/transaction/v1alpha1/action.rs
  crates/astria-sequencer/src/app/snapshots/astria_sequencer__app__tests_breaking_changes__app_execute_transaction_with_every_action_snapshot.snap
  crates/astria-sequencer/src/app/tests_breaking_changes.rs
  crates/astria-sequencer/src/app/tests_execute_transaction.rs
  crates/astria-sequencer/src/authority/action.rs
  crates/astria-sequencer/src/transaction/checks.rs
  crates/astria-sequencer/src/transaction/mod.rs
  proto/protocolapis/astria/protocol/transactions/v1alpha1/types.proto
Labels: proto, sequencer, cli, core

#1507 chore(sequencer)!: change `Deposit` byte length calculation
  crates/astria-core/src/primitive/v1/asset/denom.rs
  crates/astria-sequencer/src/app/snapshots/astria_sequencer__app__tests_breaking_changes__app_execute_transaction_with_every_action_snapshot.snap
  crates/astria-sequencer/src/app/snapshots/astria_sequencer__app__tests_breaking_changes__app_finalize_block_snapshot.snap
  crates/astria-sequencer/src/app/tests_block_fees.rs
  crates/astria-sequencer/src/app/tests_execute_transaction.rs
  crates/astria-sequencer/src/bridge/bridge_lock_action.rs
  crates/astria-sequencer/src/bridge/mod.rs
  crates/astria-sequencer/src/transaction/checks.rs
Labels: sequencer

#1504 ci(cli): astria-cli image for smoke tests
  .github/workflows/docker-build.yml
  charts/deploy.just
  charts/ibc-test.just
  justfile
Labels: ci, cd

#1560 fix(ci): workflow file issue
  .github/workflows/reusable-build.yml
Labels: ci

#1525 chore(sequencer)!: put blocks and deposits to non-verified storage (ENG-812)
  crates/astria-sequencer/src/api_state_ext.rs
  crates/astria-sequencer/src/app/mod.rs
  crates/astria-sequencer/src/app/snapshots/astria_sequencer__app__tests_breaking_changes__app_execute_transaction_with_every_action_snapshot.snap
  crates/astria-sequencer/src/app/snapshots/astria_sequencer__app__tests_breaking_changes__app_finalize_block_snapshot.snap
  crates/astria-sequencer/src/app/snapshots/astria_sequencer__app__tests_breaking_changes__app_genesis_snapshot.snap
  crates/astria-sequencer/src/app/tests_app/mod.rs
  crates/astria-sequencer/src/app/tests_execute_transaction.rs
  crates/astria-sequencer/src/assets/state_ext.rs
  crates/astria-sequencer/src/bridge/bridge_lock_action.rs
  crates/astria-sequencer/src/bridge/state_ext.rs
  crates/astria-sequencer/src/ibc/ics20_transfer.rs
  crates/astria-sequencer/src/utils.rs
Labels: sequencer

#1472 fix(conductor): fix flaky soft_and_firm test
  crates/astria-conductor/tests/blackbox/helpers/macros.rs
  crates/astria-conductor/tests/blackbox/helpers/mod.rs
  crates/astria-conductor/tests/blackbox/soft_and_firm.rs
  crates/astria-grpc-mock/src/mock.rs
  crates/astria-grpc-mock/src/mock_server.rs
  crates/astria-grpc-mock/src/mock_set.rs
  crates/astria-grpc-mock/src/mounted_mock.rs
  crates/astria-grpc-mock/src/response.rs
Labels: conductor, testing, grpc-mock

#1578 chore: rename all modules named `test` to `tests`
  crates/astria-cli/src/commands/sequencer.rs
  crates/astria-conductor/src/celestia/block_verifier.rs
  crates/astria-conductor/src/conductor/inner.rs
  crates/astria-core/src/protocol/memos/snapshots/astria_core__protocol__memos__v1alpha1__tests__ics20_transfer_deposit_memo_snapshot.snap
  crates/astria-core/src/protocol/memos/snapshots/astria_core__protocol__memos__v1alpha1__tests__ics20_withdrawal_from_rollup_memo_snapshot.snap
  crates/astria-core/src/protocol/memos/v1alpha1.rs
  crates/astria-core/src/protocol/transaction/v1alpha1/mod.rs
  crates/astria-core/src/protocol/transaction/v1alpha1/snapshots/astria_core__protocol__transaction__v1alpha1__tests__signed_transaction_hash.snap
  crates/astria-eyre/src/lib.rs
  crates/astria-sequencer/src/address/state_ext.rs
  crates/astria-sequencer/src/api_state_ext.rs
  crates/astria-sequencer/src/authority/action.rs
  crates/astria-sequencer/src/bridge/query.rs
  crates/astria-sequencer/src/bridge/snapshots/astria_sequencer__bridge__state_ext__tests__storage_keys_have_not_changed-2.snap
  crates/astria-sequencer/src/bridge/snapshots/astria_sequencer__bridge__state_ext__tests__storage_keys_have_not_changed-3.snap
  crates/astria-sequencer/src/bridge/snapshots/astria_sequencer__bridge__state_ext__tests__storage_keys_have_not_changed-4.snap
  crates/astria-sequencer/src/bridge/snapshots/astria_sequencer__bridge__state_ext__tests__storage_keys_have_not_changed.snap
  crates/astria-sequencer/src/bridge/state_ext.rs
  crates/astria-sequencer/src/grpc/sequencer.rs
  crates/astria-sequencer/src/mempool/mod.rs
  crates/astria-sequencer/src/mempool/transactions_container.rs
  crates/astria-sequencer/src/proposal/commitment.rs
  crates/astria-sequencer/src/sequence/action.rs
  crates/astria-sequencer/src/sequence/state_ext.rs
  crates/astria-sequencer/src/service/consensus.rs
  crates/astria-sequencer/src/service/info/mod.rs
Labels: conductor, sequencer

#1576 chore(all): remove `once_cell`
  Cargo.lock
  Cargo.toml
  crates/astria-bridge-withdrawer/Cargo.toml
  crates/astria-bridge-withdrawer/tests/blackbox/helpers/test_bridge_withdrawer.rs
  crates/astria-cli/Cargo.toml
  crates/astria-composer/Cargo.toml
  crates/astria-composer/src/executor/tests.rs
  crates/astria-composer/src/rollup.rs
  crates/astria-composer/tests/blackbox/helper/mod.rs
  crates/astria-conductor/Cargo.toml
  crates/astria-conductor/tests/blackbox/helpers/mod.rs
  crates/astria-config/Cargo.toml
  crates/astria-config/src/tests.rs
  crates/astria-core/Cargo.toml
  crates/astria-merkle/Cargo.toml
  crates/astria-sequencer-client/Cargo.toml
  crates/astria-sequencer-relayer/Cargo.toml
  crates/astria-sequencer-relayer/tests/blackbox/helpers/test_sequencer_relayer.rs
  crates/astria-sequencer-utils/Cargo.toml
  crates/astria-sequencer/Cargo.toml
  crates/astria-telemetry/Cargo.toml
  crates/astria-test-utils/Cargo.toml
Labels: conductor, sequencer, sequencer-relayer, composer

#1575 fix(conductor): fix flaky restart test
  crates/astria-conductor/tests/blackbox/soft_and_firm.rs
Labels: conductor, testing

#1489 Feature: Add `graph-node` to charts.
  charts/deploy.just
  charts/graph-node/.helmignore
  charts/graph-node/Chart.yaml
  charts/graph-node/templates/_helpers.tpl
  charts/graph-node/templates/configmap.yaml
  charts/graph-node/templates/deployment.yaml
  charts/graph-node/templates/ingress.yaml
  charts/graph-node/templates/servicemonitor.yaml
  charts/graph-node/templates/services.yaml
  charts/graph-node/templates/statefulsets.yaml
  charts/graph-node/templates/storageclasses.yaml
  charts/graph-node/templates/volumes.yaml
  charts/graph-node/values.yaml
Labels: cd

#1587 fix(ci): ibc bridge test timeout
  .github/workflows/docker-build.yml
  charts/ibc-test.just
Labels: ci, cd

#1573 fix(docker): use target binary build param as name of image entrypoint
  containerfiles/Dockerfile
Labels: docker

#1543 chore(docs): endpoints
  README.md
  charts/README.md
Labels: cd

#1577 chore(ci): upgrade audit-check
  .github/workflows/scheduled.yml
  .github/workflows/test.yml
Labels: ci
