Repository astriaorg/astria, pull requests merged in 2024-12, with the labels that each got.

#1759 chore(sequencer): consolidate all action handling to one module
  crates/astria-sequencer/CHANGELOG.md
  crates/astria-sequencer/src/accounts/action.rs
  crates/astria-sequencer/src/accounts/mod.rs
  crates/astria-sequencer/src/action_handler/impls/bridge_lock.rs
  crates/astria-sequencer/src/action_handler/impls/bridge_sudo_change.rs
  crates/astria-sequencer/src/action_handler/impls/bridge_unlock.rs
  crates/astria-sequencer/src/action_handler/impls/fee_asset_change.rs
  crates/astria-sequencer/src/action_handler/impls/fee_change.rs
  crates/astria-sequencer/src/action_handler/impls/ibc_relayer_change.rs
  crates/astria-sequencer/src/action_handler/impls/ibc_sudo_change.rs
  crates/astria-sequencer/src/action_handler/impls/ics20_withdrawal.rs
  crates/astria-sequencer/src/action_handler/impls/init_bridge_account.rs
  crates/astria-sequencer/src/action_handler/impls/mod.rs
  crates/astria-sequencer/src/action_handler/impls/rollup_data_submission.rs
  crates/astria-sequencer/src/action_handler/impls/sudo_address_change.rs
  crates/astria-sequencer/src/action_handler/impls/test_utils.rs
  crates/astria-sequencer/src/action_handler/impls/transaction.rs
  crates/astria-sequencer/src/action_handler/impls/transfer.rs
  crates/astria-sequencer/src/action_handler/impls/validator_update.rs
  crates/astria-sequencer/src/action_handler/mod.rs
  crates/astria-sequencer/src/app/action_handler.rs
  crates/astria-sequencer/src/app/mod.rs
  crates/astria-sequencer/src/app/tests_block_fees.rs
  crates/astria-sequencer/src/app/tests_execute_transaction.rs
  crates/astria-sequencer/src/authority/action.rs
  crates/astria-sequencer/src/authority/mod.rs
  crates/astria-sequencer/src/bridge/mod.rs
  crates/astria-sequencer/src/fees/mod.rs
  crates/astria-sequencer/src/fees/tests.rs
  crates/astria-sequencer/src/ibc/mod.rs
  crates/astria-sequencer/src/lib.rs
  crates/astria-sequencer/src/rollup_data/mod.rs
  crates/astria-sequencer/src/service/mempool/mod.rs
  crates/astria-sequencer/src/transaction/mod.rs
Labels: sequencer, code-quality

#1840 feat(sequencer, core, conductor): pass oracle data to rollup via execution API
  crates/astria-conductor/src/celestia/block_verifier.rs
  crates/astria-conductor/src/celestia/mod.rs
  crates/astria-conductor/src/celestia/reconstruct.rs
  crates/astria-conductor/src/celestia/verify.rs
  crates/astria-conductor/src/executor/mod.rs
  crates/astria-core/src/connect/mod.rs
  crates/astria-core/src/connect/utils.rs
  crates/astria-core/src/generated/astria.protocol.connect.v1.rs
  crates/astria-core/src/generated/astria.protocol.connect.v1.serde.rs
  crates/astria-core/src/generated/astria.sequencerblock.v1.rs
  crates/astria-core/src/generated/astria.sequencerblock.v1.serde.rs
  crates/astria-core/src/protocol/connect.rs
  crates/astria-core/src/protocol/test_utils.rs
  crates/astria-core/src/sequencerblock/v1/block.rs
  crates/astria-core/src/sequencerblock/v1/celestia.rs
  crates/astria-sequencer-utils/src/blob_parser.rs
  crates/astria-sequencer/src/app/vote_extension.rs
  crates/astria-sequencer/src/grpc/sequencer.rs
  proto/protocolapis/astria/protocol/connect/v1/transaction.proto
  proto/sequencerblockapis/astria/sequencerblock/v1/block.proto
Labels: conductor, proto, sequencer

#1851 fix(core): update `normalize_by_pair` to be optional
  crates/astria-core/src/connect/market_map.rs
  crates/astria-core/src/protocol/genesis/v1.rs
  crates/astria-sequencer-utils/src/genesis_example.rs
  crates/astria-sequencer/src/connect/market_map/storage/values/market_map.rs
Labels: sequencer

#1849 chore(sequencer): remove unnecessary result return
  crates/astria-sequencer/src/fees/mod.rs
  crates/astria-sequencer/src/fees/state_ext.rs
Labels: sequencer, code-quality

#1690 chore(core, sequencer): add names to all snapshot tests
  crates/astria-core/src/primitive/v1/asset/denom.rs
  crates/astria-core/src/primitive/v1/asset/snapshots/astria_core__primitive__v1__asset__denom__serde_impl__tests__ibc_prefixed.snap
  crates/astria-core/src/primitive/v1/asset/snapshots/astria_core__primitive__v1__asset__denom__serde_impl__tests__ibc_prefixed_denom.snap
  crates/astria-core/src/primitive/v1/asset/snapshots/astria_core__primitive__v1__asset__denom__serde_impl__tests__trace_prefixed.snap
  crates/astria-core/src/primitive/v1/asset/snapshots/astria_core__primitive__v1__asset__denom__serde_impl__tests__trace_prefixed_denom.snap
  crates/astria-core/src/primitive/v1/mod.rs
  crates/astria-core/src/primitive/v1/snapshots/astria_core__primitive__v1__tests__compat_bech32_non_m_address.snap
  crates/astria-core/src/primitive/v1/snapshots/astria_core__primitive__v1__tests__main_bech32m_address.snap
  crates/astria-core/src/protocol/genesis/snapshots/astria_core__protocol__genesis__v1__tests__genesis_state.snap
  crates/astria-core/src/protocol/genesis/v1.rs
  crates/astria-core/src/protocol/memos/snapshots/astria_core__protocol__memos__v1__tests__ics20_transfer_deposit_memo.snap
  crates/astria-core/src/protocol/memos/snapshots/astria_core__protocol__memos__v1__tests__ics20_withdrawal_from_rollup_memo.snap
  crates/astria-core/src/protocol/memos/v1.rs
  crates/astria-core/src/protocol/transaction/v1/mod.rs
  crates/astria-sequencer/src/accounts/storage/keys.rs
  crates/astria-sequencer/src/accounts/storage/snapshots/astria_sequencer__accounts__storage__keys__tests__balance_key.snap
  crates/astria-sequencer/src/accounts/storage/snapshots/astria_sequencer__accounts__storage__keys__tests__nonce_key.snap
  crates/astria-sequencer/src/address/storage/keys.rs
  crates/astria-sequencer/src/address/storage/snapshots/astria_sequencer__address__storage__keys__tests__base_prefix.snap
  crates/astria-sequencer/src/address/storage/snapshots/astria_sequencer__address__storage__keys__tests__ibc_compat_prefix.snap
  crates/astria-sequencer/src/app/snapshots/astria_sequencer__app__tests_breaking_changes__app_hash_at_genesis.snap
  crates/astria-sequencer/src/app/snapshots/astria_sequencer__app__tests_breaking_changes__app_hash_execute_every_action.snap
  crates/astria-sequencer/src/app/snapshots/astria_sequencer__app__tests_breaking_changes__app_hash_finalize_block.snap
  crates/astria-sequencer/src/app/storage/keys.rs
  crates/astria-sequencer/src/app/storage/snapshots/astria_sequencer__app__storage__keys__tests__block_height_key.snap
  crates/astria-sequencer/src/app/storage/snapshots/astria_sequencer__app__storage__keys__tests__block_timestamp_key.snap
  crates/astria-sequencer/src/app/storage/snapshots/astria_sequencer__app__storage__keys__tests__chain_id_key.snap
  crates/astria-sequencer/src/app/storage/snapshots/astria_sequencer__app__storage__keys__tests__revision_number_key.snap
  crates/astria-sequencer/src/app/storage/snapshots/astria_sequencer__app__storage__keys__tests__storage_version_key.snap
  crates/astria-sequencer/src/app/tests_breaking_changes.rs
  crates/astria-sequencer/src/assets/storage/keys.rs
  crates/astria-sequencer/src/assets/storage/snapshots/astria_sequencer__assets__storage__keys__tests__asset_key_test_asset.snap
  crates/astria-sequencer/src/assets/storage/snapshots/astria_sequencer__assets__storage__keys__tests__native_asset_key.snap
  crates/astria-sequencer/src/authority/storage/keys.rs
  crates/astria-sequencer/src/authority/storage/snapshots/astria_sequencer__authority__storage__keys__tests__sudo_address_key.snap
  crates/astria-sequencer/src/authority/storage/snapshots/astria_sequencer__authority__storage__keys__tests__validator_set_key.snap
  crates/astria-sequencer/src/authority/storage/snapshots/astria_sequencer__authority__storage__keys__tests__validator_updates_key.snap
  crates/astria-sequencer/src/bridge/storage/keys.rs
  crates/astria-sequencer/src/bridge/storage/snapshots/astria_sequencer__bridge__storage__keys__tests__asset_id_key.snap
  crates/astria-sequencer/src/bridge/storage/snapshots/astria_sequencer__bridge__storage__keys__tests__bridge_sudo_address_key.snap
  crates/astria-sequencer/src/bridge/storage/snapshots/astria_sequencer__bridge__storage__keys__tests__bridge_withdrawal_event_key.snap
  crates/astria-sequencer/src/bridge/storage/snapshots/astria_sequencer__bridge__storage__keys__tests__bridge_withdrawer_address_key.snap
  crates/astria-sequencer/src/bridge/storage/snapshots/astria_sequencer__bridge__storage__keys__tests__deposit_key.snap
  crates/astria-sequencer/src/bridge/storage/snapshots/astria_sequencer__bridge__storage__keys__tests__ephemeral_deposits_key.snap
  crates/astria-sequencer/src/bridge/storage/snapshots/astria_sequencer__bridge__storage__keys__tests__last_tx_id_for_bridge_acct_key.snap
  crates/astria-sequencer/src/bridge/storage/snapshots/astria_sequencer__bridge__storage__keys__tests__rollup_id_key.snap
  crates/astria-sequencer/src/grpc/storage/keys.rs
  crates/astria-sequencer/src/grpc/storage/snapshots/astria_sequencer__grpc__storage__keys__tests__block_hash_by_height_key.snap
  crates/astria-sequencer/src/grpc/storage/snapshots/astria_sequencer__grpc__storage__keys__tests__rollup_data_by_has_and_id_key.snap
  crates/astria-sequencer/src/grpc/storage/snapshots/astria_sequencer__grpc__storage__keys__tests__rollup_ids_by_hash_key.snap
  crates/astria-sequencer/src/grpc/storage/snapshots/astria_sequencer__grpc__storage__keys__tests__rollup_ids_proof_by_hash.snap
  crates/astria-sequencer/src/grpc/storage/snapshots/astria_sequencer__grpc__storage__keys__tests__rollup_transactions_proof_by_hash_key.snap
  crates/astria-sequencer/src/grpc/storage/snapshots/astria_sequencer__grpc__storage__keys__tests__sequencer_block_header_by_hash_key.snap
  crates/astria-sequencer/src/ibc/storage/keys.rs
  crates/astria-sequencer/src/ibc/storage/snapshots/astria_sequencer__ibc__storage__keys__tests__channel_balance_key.snap
  crates/astria-sequencer/src/ibc/storage/snapshots/astria_sequencer__ibc__storage__keys__tests__ibc_relayer_key.snap
  crates/astria-sequencer/src/ibc/storage/snapshots/astria_sequencer__ibc__storage__keys__tests__ibc_sudo_key.snap
Labels: sequencer, code-quality, testing

#1811 chore(sequencer): refactor fees
  Cargo.lock
  crates/astria-core/src/protocol/fees/v1.rs
  crates/astria-core/src/protocol/genesis/v1.rs
  crates/astria-core/src/protocol/transaction/v1/action/group/tests.rs
  crates/astria-core/src/protocol/transaction/v1/action/mod.rs
  crates/astria-sequencer-utils/Cargo.toml
  crates/astria-sequencer-utils/src/genesis_example.rs
  crates/astria-sequencer/Cargo.toml
  crates/astria-sequencer/src/action_handler/impls/bridge_sudo_change.rs
  crates/astria-sequencer/src/action_handler/impls/bridge_unlock.rs
  crates/astria-sequencer/src/action_handler/impls/fee_change.rs
  crates/astria-sequencer/src/action_handler/impls/transaction.rs
  crates/astria-sequencer/src/app/benchmark_and_test_utils.rs
  crates/astria-sequencer/src/app/tests_app/mempool.rs
  crates/astria-sequencer/src/app/tests_app/mod.rs
  crates/astria-sequencer/src/app/tests_execute_transaction.rs
  crates/astria-sequencer/src/fees/component.rs
  crates/astria-sequencer/src/fees/mod.rs
  crates/astria-sequencer/src/fees/query.rs
  crates/astria-sequencer/src/fees/state_ext.rs
  crates/astria-sequencer/src/fees/storage/keys.rs
  crates/astria-sequencer/src/fees/storage/mod.rs
  crates/astria-sequencer/src/fees/storage/snapshots/astria_sequencer__fees__storage__keys__tests__transfer_fees_key.snap
  crates/astria-sequencer/src/fees/storage/values.rs
  crates/astria-sequencer/src/fees/tests.rs
  crates/astria-sequencer/src/service/info/mod.rs
  crates/astria-sequencer/src/test_utils.rs
  crates/astria-sequencer/src/transaction/checks.rs
Labels: sequencer

#1869 chore: update `url` dependency
  Cargo.lock
  crates/astria-bridge-contracts/CHANGELOG.md
  crates/astria-bridge-withdrawer/CHANGELOG.md
  crates/astria-cli/CHANGELOG.md
  crates/astria-composer/CHANGELOG.md
  crates/astria-conductor/CHANGELOG.md
  crates/astria-core/CHANGELOG.md
  crates/astria-sequencer-relayer/CHANGELOG.md
  crates/astria-sequencer/CHANGELOG.md
Labels: conductor, sequencer, sequencer-relayer, composer

#1862 chore(ci): action to autoclose stale issues and prs
  .github/workflows/scheduled.yml
Labels: ci

#1872 Enable SVC annotations on faucet and graph-node
  charts/evm-faucet/Chart.yaml
  charts/evm-faucet/templates/_helper.tpl
  charts/evm-faucet/templates/service.yaml
  charts/evm-faucet/values.yaml
  charts/evm-stack/Chart.lock
  charts/evm-stack/Chart.yaml
  charts/graph-node/Chart.yaml
  charts/graph-node/templates/_helpers.tpl
  charts/graph-node/templates/services.yaml
  charts/graph-node/values.yaml
  charts/sequencer-faucet/Chart.yaml
  charts/sequencer-faucet/templates/_helpers.tpl
  charts/sequencer-faucet/templates/service.yaml
  charts/sequencer-faucet/values.yaml
Labels: cd

#1827 fix(charts): configurable components block times variables
  charts/celestia-local/Chart.yaml
  charts/celestia-local/files/scripts/init-celestia-appd.sh
  charts/celestia-local/values.yaml
  charts/evm-rollup/Chart.yaml
  charts/evm-rollup/templates/configmap.yaml
  charts/evm-rollup/values.yaml
  charts/evm-stack/Chart.lock
  charts/evm-stack/Chart.yaml
  charts/sequencer-relayer/Chart.yaml
  charts/sequencer-relayer/templates/configmaps.yaml
  charts/sequencer-relayer/values.yaml
  charts/sequencer/Chart.lock
  charts/sequencer/Chart.yaml
Labels: cd

#1873 fix(charts, evm-faucet): configurable interval, secretProvider template fix
  charts/evm-faucet/Chart.yaml
  charts/evm-faucet/templates/configmap.yaml
  charts/evm-faucet/templates/deployment.yaml
  charts/evm-faucet/values.yaml
  charts/evm-stack/Chart.lock
  charts/evm-stack/Chart.yaml
Labels: cd

#1871 chore(ci): update rust lint workflows and `just` recipes
  .github/workflows/lint.yml
  .github/workflows/test.yml
  justfile
Labels: ci

#1863 chore(sequencer-relayer): change blob submitter to use boxed blocks
  crates/astria-sequencer-relayer/src/relayer/mod.rs
  crates/astria-sequencer-relayer/src/relayer/write/mod.rs
Labels: sequencer-relayer, code-quality, override-freeze

#1880 fix(sequencer)!: fix fungible token packet data import
  crates/astria-sequencer/src/action_handler/impls/ics20_withdrawal.rs
Labels: sequencer

#1854 feat(charts): oracle sidecar
  charts/celestia-local/Chart.yaml
  charts/celestia-node/Chart.yaml
  charts/evm-stack/Chart.lock
  charts/evm-stack/Chart.yaml
  charts/hermes/Chart.yaml
  charts/sequencer/Chart.yaml
  charts/sequencer/files/cometbft/config/config.toml
  charts/sequencer/files/cometbft/config/genesis.json
  charts/sequencer/files/scripts/markets.json
  charts/sequencer/templates/_helpers.tpl
  charts/sequencer/templates/configmaps.yaml
  charts/sequencer/templates/service.yaml
  charts/sequencer/templates/servicemonitor.yaml
  charts/sequencer/templates/statefulsets.yaml
  charts/sequencer/values.yaml
  crates/astria-sequencer/src/app/vote_extension.rs
  dev/values/validators/all-without-native.yml
  dev/values/validators/all.yml
Labels: sequencer, cd

#1761 chore(sequencer): add instrumentation
  crates/astria-sequencer/src/accounts/component.rs
  crates/astria-sequencer/src/accounts/query.rs
  crates/astria-sequencer/src/accounts/state_ext.rs
  crates/astria-sequencer/src/action_handler/impls/bridge_lock.rs
  crates/astria-sequencer/src/action_handler/impls/bridge_sudo_change.rs
  crates/astria-sequencer/src/action_handler/impls/bridge_unlock.rs
  crates/astria-sequencer/src/action_handler/impls/fee_asset_change.rs
  crates/astria-sequencer/src/action_handler/impls/fee_change.rs
  crates/astria-sequencer/src/action_handler/impls/ibc_relayer_change.rs
  crates/astria-sequencer/src/action_handler/impls/ibc_sudo_change.rs
  crates/astria-sequencer/src/action_handler/impls/ics20_withdrawal.rs
  crates/astria-sequencer/src/action_handler/impls/init_bridge_account.rs
  crates/astria-sequencer/src/action_handler/impls/rollup_data_submission.rs
  crates/astria-sequencer/src/action_handler/impls/sudo_address_change.rs
  crates/astria-sequencer/src/action_handler/impls/transaction.rs
  crates/astria-sequencer/src/action_handler/impls/transfer.rs
  crates/astria-sequencer/src/action_handler/impls/validator_update.rs
  crates/astria-sequencer/src/address/state_ext.rs
  crates/astria-sequencer/src/app/mod.rs
  crates/astria-sequencer/src/app/state_ext.rs
  crates/astria-sequencer/src/assets/query.rs
  crates/astria-sequencer/src/assets/state_ext.rs
  crates/astria-sequencer/src/authority/component.rs
  crates/astria-sequencer/src/authority/state_ext.rs
  crates/astria-sequencer/src/bridge/query.rs
  crates/astria-sequencer/src/bridge/state_ext.rs
  crates/astria-sequencer/src/fees/component.rs
  crates/astria-sequencer/src/fees/mod.rs
  crates/astria-sequencer/src/fees/query.rs
  crates/astria-sequencer/src/fees/state_ext.rs
  crates/astria-sequencer/src/grpc/state_ext.rs
  crates/astria-sequencer/src/ibc/component.rs
  crates/astria-sequencer/src/ibc/host_interface.rs
  crates/astria-sequencer/src/ibc/ics20_transfer.rs
  crates/astria-sequencer/src/ibc/state_ext.rs
  crates/astria-sequencer/src/mempool/mempool_state.rs
  crates/astria-sequencer/src/mempool/mod.rs
  crates/astria-sequencer/src/mempool/transactions_container.rs
  crates/astria-sequencer/src/sequencer.rs
  crates/astria-sequencer/src/service/consensus.rs
  crates/astria-sequencer/src/service/mempool/mod.rs
  crates/astria-sequencer/src/transaction/checks.rs
Labels: sequencer, code-quality

#1819 chore(sequencer): refactor app
  crates/astria-sequencer/src/app/benchmarks.rs
  crates/astria-sequencer/src/app/mod.rs
Labels: sequencer, refactor, docker-build
