Repository astriaorg/astria, pull requests merged in 2024-01, with the labels that each got.

#670 refactor(sequencer): call abort on ABCI server on signal
  crates/astria-sequencer/src/sequencer.rs
Labels: sequencer

#662 feat(sequencer-utils): add `--chain-id` to sequencer genesis utils
  crates/astria-sequencer-utils/src/config.rs
  crates/astria-sequencer-utils/src/genesis_parser.rs
  crates/astria-sequencer/justfile
Labels: sequencer

#647 refactor(api): define abci error codes in protobuf
  Cargo.lock
  Cargo.toml
  crates/astria-composer/Cargo.toml
  crates/astria-composer/src/searcher/executor.rs
  crates/astria-composer/tests/blackbox/composer.rs
  crates/astria-conductor/Cargo.toml
  crates/astria-conductor/src/data_availability/block_verifier.rs
  crates/astria-core/src/generated/astria.sequencer.v1alpha1.rs
  crates/astria-core/src/sequencer/v1alpha1/abci.rs
  crates/astria-core/src/sequencer/v1alpha1/mod.rs
  crates/astria-sequencer-types/Cargo.toml
  crates/astria-sequencer-types/src/abci_code.rs
  crates/astria-sequencer-types/src/cometbft.rs
  crates/astria-sequencer-types/src/lib.rs
  crates/astria-sequencer-types/src/tendermint.rs
  crates/astria-sequencer-types/src/test_utils.rs
  crates/astria-sequencer/Cargo.toml
  crates/astria-sequencer/src/accounts/query.rs
  crates/astria-sequencer/src/service/consensus.rs
  crates/astria-sequencer/src/service/info/mod.rs
  crates/astria-sequencer/src/service/mempool.rs
  proto/astria/sequencer/v1alpha1/abci.proto
Labels: conductor, sequencer, composer

#664 feat(ci): lint debug fields in tracing events
  .github/workflows/lint.yml
  .github/workflows/test.yml
  Cargo.lock
  Cargo.toml
  justfile
  lint/tracing_debug_field/.cargo/config.toml
  lint/tracing_debug_field/.gitignore
  lint/tracing_debug_field/Cargo.toml
  lint/tracing_debug_field/README.md
  lint/tracing_debug_field/rust-toolchain
  lint/tracing_debug_field/src/lib.rs
  lint/tracing_debug_field/ui/main.rs
  lint/tracing_debug_field/ui/main.stderr
Labels: ci

#671 refactor: use display formatting instead of debug formatting in tracing events
  .github/workflows/test.yml
  crates/astria-composer/src/composer.rs
  crates/astria-composer/src/searcher/mod.rs
  crates/astria-conductor/src/data_availability/block_verifier.rs
  crates/astria-conductor/src/data_availability/mod.rs
  crates/astria-sequencer-relayer/src/lib.rs
  crates/astria-sequencer-relayer/src/relayer.rs
  crates/astria-sequencer-relayer/src/sequencer_relayer.rs
  crates/astria-sequencer/src/app.rs
  crates/astria-sequencer/src/service/consensus.rs
  crates/astria-telemetry/src/display.rs
  crates/astria-telemetry/src/lib.rs
Labels: ci, conductor, sequencer, sequencer-relayer, composer, production-quality, observability

#673 fix(sequencer): update app state to latest committed before starting round
  crates/astria-sequencer/src/app.rs
  crates/astria-sequencer/src/service/consensus.rs
Labels: sequencer

#677 chore(sequencer): update instrumentation for all consensus & app functions
  crates/astria-sequencer/src/app.rs
  crates/astria-sequencer/src/service/consensus.rs
Labels: sequencer

#678 refactor(conductor): use idiomatic types, streamline some executor code
  crates/astria-conductor/src/executor/client.rs
  crates/astria-conductor/src/executor/mod.rs
  crates/astria-conductor/src/executor/tests.rs
  crates/astria-core/src/execution/mod.rs
  crates/astria-core/src/execution/v1alpha2/mod.rs
  crates/astria-core/src/lib.rs
Labels: conductor

#675 fix(sequencer): allow blocksync to complete successfully
  crates/astria-sequencer/src/app.rs
  crates/astria-sequencer/src/service/consensus.rs
Labels: sequencer

#676 feat(sequencer)!: max sequencer bytes per block limit
  crates/astria-sequencer/src/app.rs
Labels: sequencer

#680 build(sequencer, conductor, composer, relayer): cut releases
  Cargo.lock
  crates/astria-composer/Cargo.toml
  crates/astria-conductor/Cargo.toml
  crates/astria-sequencer-relayer/Cargo.toml
  crates/astria-sequencer/Cargo.toml
Labels: conductor, sequencer, sequencer-relayer, composer

#684 fix(ci): fix typo in ci error message
  .github/workflows/test.yml
Labels: ci

#688 fix(ci): change foundry commit in ci
  .github/workflows/test.yml
Labels: ci

#687 feat(core): add `SignedTransaction::sha256_of_proto_encoding()` method
  crates/astria-core/src/sequencer/v1alpha1/transaction/mod.rs
  crates/astria-sequencer/src/app.rs
Labels: sequencer

#686 fix(sequencer): fix `FungibleTokenPacketData` decoding
  crates/astria-sequencer/src/accounts/ics20_transfer.rs
Labels: sequencer

#690 feat(sequencer): transfer fees to block proposer instead of burning
  Cargo.lock
  crates/astria-core/src/sequencer/v1alpha1/asset.rs
  crates/astria-sequencer/src/accounts/action.rs
  crates/astria-sequencer/src/app.rs
  crates/astria-sequencer/src/sequence.rs
  crates/astria-sequencer/src/state_ext.rs
Labels: sequencer

#651 feat(composer): bundle multiple rollup transactions into a single sequencer transaction
  crates/astria-composer/local.env.example
  crates/astria-composer/src/config.rs
  crates/astria-composer/src/searcher/collector.rs
  crates/astria-composer/src/searcher/executor/bundle_factory/mod.rs
  crates/astria-composer/src/searcher/executor/bundle_factory/tests.rs
  crates/astria-composer/src/searcher/executor/mod.rs
  crates/astria-composer/src/searcher/executor/tests.rs
  crates/astria-composer/src/searcher/mod.rs
  crates/astria-composer/tests/blackbox/composer.rs
  crates/astria-composer/tests/blackbox/helper/mod.rs
Labels: enhancement, composer

#683 feat(sequencer, cli)!: update balance queries to return every asset owned by account
  crates/astria-cli/src/commands/sequencer.rs
  crates/astria-core/src/generated/astria.sequencer.v1alpha1.rs
  crates/astria-core/src/sequencer/v1alpha1/account.rs
  crates/astria-core/src/sequencer/v1alpha1/asset.rs
  crates/astria-core/src/sequencer/v1alpha1/transaction/action.rs
  crates/astria-sequencer-client/src/tests/http.rs
  crates/astria-sequencer/src/accounts/ics20_transfer.rs
  crates/astria-sequencer/src/accounts/ics20_withdrawal.rs
  crates/astria-sequencer/src/accounts/query.rs
  crates/astria-sequencer/src/accounts/state_ext.rs
  crates/astria-sequencer/src/asset/state_ext.rs
  proto/astria/sequencer/v1alpha1/account.proto
Labels: sequencer
