Repository astriaorg/astria, pull requests merged in 2024-07, with the labels that each got.

#1189 feat(sequencer): implement abci query for bridge account info
  crates/astria-core/src/generated/astria.protocol.bridge.v1alpha1.rs
  crates/astria-core/src/protocol/bridge/v1alpha1/mod.rs
  crates/astria-sequencer-client/src/extension_trait.rs
  crates/astria-sequencer-client/src/tests/http.rs
  crates/astria-sequencer/src/bridge/query.rs
  crates/astria-sequencer/src/service/info/mod.rs
  proto/protocolapis/astria/protocol/bridge/v1alpha1/types.proto
Labels: proto, sequencer

#1224 feat(sequencer-utils): generate example genesis state
  crates/astria-core/src/lib.rs
  crates/astria-core/src/sequencer.rs
  crates/astria-core/src/snapshots/astria_core__sequencer__tests__genesis_state_is_unchanged.snap
  crates/astria-sequencer-utils/Cargo.toml
  crates/astria-sequencer-utils/README.md
  crates/astria-sequencer-utils/src/cli.rs
  crates/astria-sequencer-utils/src/genesis_example.rs
  crates/astria-sequencer-utils/src/lib.rs
  crates/astria-sequencer-utils/src/main.rs
  crates/astria-sequencer/README.md
  crates/astria-sequencer/justfile
  crates/astria-sequencer/src/accounts/component.rs
  crates/astria-sequencer/src/app/mod.rs
  crates/astria-sequencer/src/app/test_utils.rs
  crates/astria-sequencer/src/app/tests_app.rs
  crates/astria-sequencer/src/app/tests_breaking_changes.rs
  crates/astria-sequencer/src/app/tests_execute_transaction.rs
  crates/astria-sequencer/src/bridge/component.rs
  crates/astria-sequencer/src/ibc/component.rs
  crates/astria-sequencer/src/lib.rs
  crates/astria-sequencer/src/sequence/component.rs
  crates/astria-sequencer/src/service/consensus.rs
  crates/astria-sequencer/test-genesis-app-state.json
Labels: sequencer

#1233 release(sequencer): 0.14.1 patch release
  Cargo.lock
  crates/astria-sequencer/Cargo.toml
Labels: sequencer

#1196 feat(sequencer): implement transaction fee query
  crates/astria-core/src/generated/astria.protocol.transactions.v1alpha1.rs
  crates/astria-core/src/protocol/abci.rs
  crates/astria-core/src/protocol/transaction/v1alpha1/mod.rs
  crates/astria-sequencer-client/src/extension_trait.rs
  crates/astria-sequencer-client/src/tests/http.rs
  crates/astria-sequencer/src/service/info/mod.rs
  crates/astria-sequencer/src/transaction/checks.rs
  crates/astria-sequencer/src/transaction/mod.rs
  crates/astria-sequencer/src/transaction/query.rs
  proto/protocolapis/astria/protocol/transactions/v1alpha1/types.proto
Labels: proto, sequencer

#1240 fix(sequencer) fix wrong metric and remove unused metric
  crates/astria-sequencer/src/app/mod.rs
  crates/astria-sequencer/src/metrics.rs
Labels: sequencer

#1211 refactor(sequencer): fix prepare proposal metrics
  crates/astria-sequencer/src/app/mod.rs
  crates/astria-sequencer/src/metrics.rs
Labels: sequencer

#1249 fix: rollup archive node configurations
  charts/evm-rollup/Chart.yaml
  charts/evm-rollup/templates/statefulsets.yaml
Labels: cd

#1190 refactor(bridge-withdrawer)!: refactor startup to a separate subtask and remove balance check from startup
  charts/deploy.just
  charts/evm-bridge-withdrawer/Chart.yaml
  charts/evm-bridge-withdrawer/templates/configmaps.yaml
  crates/astria-bridge-withdrawer/local.env.example
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/ethereum/watcher.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/mod.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/startup.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/state.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/submitter/builder.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/submitter/mod.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/submitter/tests.rs
  crates/astria-bridge-withdrawer/src/config.rs
Labels: bridging, docker-build, cd

#1250 feat(core)!: lowerCamelCase for protobuf json mapping
  crates/astria-conductor/tests/blackbox/helpers/macros.rs
  crates/astria-core/src/generated/astria.execution.v1alpha2.serde.rs
  crates/astria-core/src/generated/astria.primitive.v1.serde.rs
  crates/astria-core/src/generated/astria.sequencerblock.v1alpha1.serde.rs
  crates/astria-core/src/generated/celestia.blob.v1.serde.rs
  crates/astria-core/src/generated/cosmos.auth.v1beta1.serde.rs
  crates/astria-core/src/generated/cosmos.base.abci.v1beta1.serde.rs
  crates/astria-core/src/generated/cosmos.base.node.v1beta1.serde.rs
  crates/astria-core/src/generated/cosmos.base.tendermint.v1beta1.serde.rs
  crates/astria-core/src/generated/cosmos.crypto.multisig.v1beta1.serde.rs
  crates/astria-core/src/generated/cosmos.tx.v1beta1.serde.rs
  crates/astria-core/src/generated/tendermint.p2p.serde.rs
  crates/astria-core/src/generated/tendermint.types.serde.rs
  tools/protobuf-compiler/src/main.rs
Labels: conductor, proto

#1252 fix(conductor): don't panic during panic
  crates/astria-conductor/tests/blackbox/helpers/mod.rs
Labels: conductor

#1244 feat(core, proto)!: make bridge unlock memo string
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/ethereum/convert.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/startup.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/submitter/tests.rs
  crates/astria-core/src/generated/astria.protocol.transactions.v1alpha1.rs
  crates/astria-core/src/protocol/transaction/v1alpha1/action.rs
  crates/astria-sequencer/src/app/tests_breaking_changes.rs
  crates/astria-sequencer/src/app/tests_execute_transaction.rs
  crates/astria-sequencer/src/bridge/bridge_unlock_action.rs
  proto/protocolapis/astria/protocol/transactions/v1alpha1/types.proto
Labels: proto, sequencer

#1243 fix(sequencer-utils): fixes issue in `parse_blob` tests
  Cargo.lock
  crates/astria-sequencer-utils/Cargo.toml
  crates/astria-sequencer-utils/tests/parse_blob.rs
Labels: sequencer

#1254 fix(charts): add resources for sequencer/cometbft
  charts/sequencer/Chart.yaml
  charts/sequencer/templates/statefulsets.yaml
  charts/sequencer/values.yaml
  dev/values/validators/all.yml
Labels: cd

#1260 (core, sequencer)!: generate serde traits impls for all protocol protobufs
  Cargo.lock
  crates/astria-cli/src/commands/sequencer.rs
  crates/astria-core/src/crypto.rs
  crates/astria-core/src/generated/astria.composer.v1alpha1.serde.rs
  crates/astria-core/src/generated/astria.execution.v1alpha1.serde.rs
  crates/astria-core/src/generated/astria.protocol.accounts.v1alpha1.serde.rs
  crates/astria-core/src/generated/astria.protocol.asset.v1alpha1.serde.rs
  crates/astria-core/src/generated/astria.protocol.bridge.v1alpha1.serde.rs
  crates/astria-core/src/generated/astria.protocol.transactions.v1alpha1.rs
  crates/astria-core/src/generated/astria.protocol.transactions.v1alpha1.serde.rs
  crates/astria-core/src/generated/astria_vendored.penumbra.core.component.ibc.v1.serde.rs
  crates/astria-core/src/generated/astria_vendored.tendermint.abci.rs
  crates/astria-core/src/generated/astria_vendored.tendermint.abci.serde.rs
  crates/astria-core/src/generated/astria_vendored.tendermint.crypto.rs
  crates/astria-core/src/generated/astria_vendored.tendermint.crypto.serde.rs
  crates/astria-core/src/generated/astria_vendored.tendermint.types.rs
  crates/astria-core/src/generated/astria_vendored.tendermint.types.serde.rs
  crates/astria-core/src/generated/astria_vendored.tendermint.version.rs
  crates/astria-core/src/generated/astria_vendored.tendermint.version.serde.rs
  crates/astria-core/src/generated/mod.rs
  crates/astria-core/src/protocol/transaction/v1alpha1/action.rs
  crates/astria-sequencer/Cargo.toml
  crates/astria-sequencer/src/app/mod.rs
  crates/astria-sequencer/src/app/test_utils.rs
  crates/astria-sequencer/src/app/tests_app.rs
  crates/astria-sequencer/src/app/tests_breaking_changes.rs
  crates/astria-sequencer/src/app/tests_execute_transaction.rs
  crates/astria-sequencer/src/authority/action.rs
  crates/astria-sequencer/src/authority/component.rs
  crates/astria-sequencer/src/authority/state_ext.rs
  crates/astria-sequencer/src/lib.rs
  crates/astria-sequencer/src/service/consensus.rs
  crates/astria-sequencer/src/test_utils.rs
  crates/astria-sequencer/src/utils.rs
  tools/protobuf-compiler/src/main.rs
Labels: conductor, proto, sequencer

#1266 fix(core, bridge, sequencer)!: dismabiguate return addresses
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/ethereum/convert.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/ethereum/watcher.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/mod.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/submitter/tests.rs
  crates/astria-bridge-withdrawer/src/lib.rs
  crates/astria-core/src/bridge.rs
  crates/astria-core/src/snapshots/astria_core__bridge__test__bridge_unlock_memo_snapshot.snap
  crates/astria-core/src/snapshots/astria_core__bridge__test__ics20_withdrawal_from_rollup_memo_snapshot.snap
  crates/astria-sequencer/src/ibc/ics20_transfer.rs
Labels: sequencer

#1267 chore: CLI bridge smoke test
  .github/workflows/docker-build.yml
Labels: ci, cd

#1268 fix: cli commands in just file
  charts/deploy.just
Labels: cd

#1261 feat(cli): add cmd to collect withdrawal events and submit as actions
  .github/workflows/docker-build.yml
  Cargo.lock
  charts/deploy.just
  crates/astria-cli/Cargo.toml
  crates/astria-cli/src/cli/bridge.rs
  crates/astria-cli/src/cli/mod.rs
  crates/astria-cli/src/cli/sequencer.rs
  crates/astria-cli/src/commands/bridge/collect.rs
  crates/astria-cli/src/commands/bridge/mod.rs
  crates/astria-cli/src/commands/bridge/submit.rs
  crates/astria-cli/src/commands/mod.rs
  crates/astria-cli/src/main.rs
Labels: ci, proto, sequencer, cd

#1270 feat(cli, bridge-withdrawer)!: share code between cli and service
  Cargo.lock
  charts/deploy.just
  crates/astria-bridge-contracts/Cargo.toml
  crates/astria-bridge-contracts/src/lib.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/ethereum/convert.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/ethereum/mod.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/ethereum/test_utils.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/ethereum/watcher.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/mod.rs
  crates/astria-bridge-withdrawer/src/config.rs
  crates/astria-cli/src/commands/bridge/collect.rs
Labels: bridging, cd

#1215 fix(bridge-withdrawer)!: fix nonce handling
  .github/workflows/docker-build.yml
  Cargo.lock
  charts/evm-bridge-withdrawer/Chart.yaml
  charts/evm-bridge-withdrawer/templates/configmaps.yaml
  charts/evm-bridge-withdrawer/values.yaml
  crates/astria-bridge-withdrawer/Cargo.toml
  crates/astria-bridge-withdrawer/local.env.example
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/mod.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/startup.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/submitter/builder.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/submitter/mod.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/submitter/tests.rs
  crates/astria-bridge-withdrawer/src/config.rs
  crates/astria-bridge-withdrawer/src/lib.rs
  crates/astria-bridge-withdrawer/src/metrics.rs
  dev/values/withdrawer/values.yaml
Labels: ci, cd

#1238 chore(sequencer): add mempool benchmarks
  Cargo.lock
  Cargo.toml
  crates/astria-merkle/Cargo.toml
  crates/astria-merkle/benches/benchmark.rs
  crates/astria-sequencer/Cargo.toml
  crates/astria-sequencer/benches/benchmark.rs
  crates/astria-sequencer/src/mempool/benchmarks.rs
  crates/astria-sequencer/src/mempool/mod.rs
Labels: sequencer

#1269 chore(test): use a temporary file to not pollute the workspace
  charts/deploy.just
Labels: cd

#1255 fix(sequencer): improve and fix instrumentation
  crates/astria-sequencer/src/accounts/action.rs
  crates/astria-sequencer/src/accounts/component.rs
  crates/astria-sequencer/src/accounts/state_ext.rs
  crates/astria-sequencer/src/address/state_ext.rs
  crates/astria-sequencer/src/app/mod.rs
  crates/astria-sequencer/src/asset/state_ext.rs
  crates/astria-sequencer/src/authority/component.rs
  crates/astria-sequencer/src/authority/state_ext.rs
  crates/astria-sequencer/src/bridge/component.rs
  crates/astria-sequencer/src/bridge/state_ext.rs
  crates/astria-sequencer/src/grpc/sequencer.rs
  crates/astria-sequencer/src/ibc/component.rs
  crates/astria-sequencer/src/ibc/ics20_withdrawal.rs
  crates/astria-sequencer/src/ibc/state_ext.rs
  crates/astria-sequencer/src/mempool/mod.rs
  crates/astria-sequencer/src/sequence/action.rs
  crates/astria-sequencer/src/sequence/component.rs
  crates/astria-sequencer/src/sequence/state_ext.rs
  crates/astria-sequencer/src/service/consensus.rs
  crates/astria-sequencer/src/service/info/mod.rs
  crates/astria-sequencer/src/service/mempool.rs
  crates/astria-sequencer/src/state_ext.rs
  crates/astria-sequencer/src/transaction/checks.rs
  crates/astria-sequencer/src/transaction/mod.rs
Labels: sequencer

#1281 fix(bridge-withdrawer): don't panic on init
  crates/astria-bridge-withdrawer/src/main.rs
Labels: bridge-withdrawer

#1175 feat(composer)!: Add chain_id check on executor build
  crates/astria-composer/src/executor/mod.rs
  crates/astria-composer/src/executor/tests.rs
  crates/astria-composer/tests/blackbox/helper/mock_sequencer.rs
Labels: composer

#1234 chore(sequencer-relayer)!: minimize resubmissions to Celestia
  Cargo.lock
  charts/sequencer-relayer/Chart.yaml
  charts/sequencer-relayer/files/scripts/start-relayer.sh
  charts/sequencer-relayer/templates/_helpers.tpl
  charts/sequencer-relayer/templates/configmaps.yaml
  charts/sequencer/Chart.lock
  charts/sequencer/Chart.yaml
  crates/astria-sequencer-relayer/Cargo.toml
  crates/astria-sequencer-relayer/local.env.example
  crates/astria-sequencer-relayer/src/config.rs
  crates/astria-sequencer-relayer/src/relayer/builder.rs
  crates/astria-sequencer-relayer/src/relayer/celestia_client/error.rs
  crates/astria-sequencer-relayer/src/relayer/celestia_client/mod.rs
  crates/astria-sequencer-relayer/src/relayer/celestia_client/tests.rs
  crates/astria-sequencer-relayer/src/relayer/mod.rs
  crates/astria-sequencer-relayer/src/relayer/submission.rs
  crates/astria-sequencer-relayer/src/relayer/write/mod.rs
  crates/astria-sequencer-relayer/src/sequencer_relayer.rs
  crates/astria-sequencer-relayer/tests/blackbox/helpers/test_sequencer_relayer.rs
  specs/sequencer-relayer.md
Labels: documentation, sequencer-relayer, cd

#1285 refactor(core, proto)!: define bridge memos in proto
  .github/workflows/docker-build.yml
  Cargo.lock
  charts/bridge-test/.helmignore
  charts/bridge-test/Chart.yaml
  charts/bridge-test/files/scripts/test-ibc-transfer.sh
  charts/bridge-test/templates/_helpers.tpl
  charts/bridge-test/templates/configmap.yaml
  charts/bridge-test/templates/job.yaml
  charts/bridge-test/values.yaml
  charts/deploy.just
  charts/ibc-test.just
  crates/astria-bridge-contracts/Cargo.toml
  crates/astria-bridge-contracts/src/lib.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/startup.rs
  crates/astria-core/src/bridge.rs
  crates/astria-core/src/generated/astria.protocol.memos.v1alpha1.rs
  crates/astria-core/src/generated/astria.protocol.memos.v1alpha1.serde.rs
  crates/astria-core/src/generated/mod.rs
  crates/astria-core/src/lib.rs
  crates/astria-core/src/protocol/memos/mod.rs
  crates/astria-core/src/protocol/memos/snapshots/astria_core__protocol__memos__v1alpha1__test__bridge_unlock_memo_snapshot.snap
  crates/astria-core/src/protocol/memos/snapshots/astria_core__protocol__memos__v1alpha1__test__ics20_transfer_deposit_memo_snapshot.snap
  crates/astria-core/src/protocol/memos/snapshots/astria_core__protocol__memos__v1alpha1__test__ics20_withdrawal_from_rollup_memo_snapshot.snap
  crates/astria-core/src/protocol/memos/v1alpha1.rs
  crates/astria-core/src/protocol/mod.rs
  crates/astria-core/src/serde.rs
  crates/astria-core/src/snapshots/astria_core__bridge__test__bridge_unlock_memo_snapshot.snap
  crates/astria-core/src/snapshots/astria_core__bridge__test__ics20_transfer_deposit_memo_snapshot.snap
  crates/astria-core/src/snapshots/astria_core__bridge__test__ics20_withdrawal_from_rollup_memo_snapshot.snap
  crates/astria-sequencer/src/ibc/ics20_transfer.rs
  dev/bridgetester.just
  dev/containerfiles/bridgetesterutility.Dockerfile
  justfile
  proto/protocolapis/astria/protocol/memos/v1alpha1/types.proto
Labels: ci, proto, sequencer, cd

#1291 fix(proto)!: Change execution API to use primitive RollupId
  charts/evm-rollup/Chart.yaml
  charts/evm-rollup/values.yaml
  charts/evm-stack/Chart.lock
  charts/evm-stack/Chart.yaml
  crates/astria-conductor/src/executor/state.rs
  crates/astria-conductor/src/executor/tests.rs
  crates/astria-conductor/tests/blackbox/helpers/macros.rs
  crates/astria-core/src/execution/v1alpha2/mod.rs
  crates/astria-core/src/generated/astria.execution.v1alpha2.rs
  crates/astria-core/src/generated/astria.execution.v1alpha2.serde.rs
  proto/executionapis/astria/execution/v1alpha2/execution.proto
Labels: conductor, proto, cd

#1300 chore(chart): Update EVM-Rollup Geth devTag
  charts/evm-rollup/Chart.yaml
  charts/evm-rollup/values.yaml
  charts/evm-stack/Chart.lock
  charts/evm-stack/Chart.yaml
Labels: cd

#1232 test(bridge withdrawer): remove unit tests and add blackbox tests
  Cargo.lock
  crates/astria-bridge-withdrawer/Cargo.toml
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/ethereum/watcher.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/mod.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/startup.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/submitter/builder.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/submitter/mod.rs
  crates/astria-bridge-withdrawer/tests/blackbox/helpers/ethereum.rs
  crates/astria-bridge-withdrawer/tests/blackbox/helpers/mock_cometbft.rs
  crates/astria-bridge-withdrawer/tests/blackbox/helpers/mock_sequencer.rs
  crates/astria-bridge-withdrawer/tests/blackbox/helpers/mod.rs
  crates/astria-bridge-withdrawer/tests/blackbox/helpers/test_bridge_withdrawer.rs
  crates/astria-bridge-withdrawer/tests/blackbox/main.rs
Labels: testing, bridge-withdrawer

#1310 fix(charts, bridge): fix ci test
  .github/workflows/lint.yml
  charts/deploy.just
  charts/evm-bridge-withdrawer/Chart.yaml
  charts/evm-stack/Chart.lock
  charts/evm-stack/Chart.yaml
  charts/evm-stack/values.yaml
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/startup.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/submitter/mod.rs
  crates/astria-bridge-withdrawer/tests/blackbox/helpers/test_bridge_withdrawer.rs
  dev/values/rollup/dev.yaml
Labels: ci, cd

#1292 chore(bridge-withdrawer): cleanup nonce handling
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/mod.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/startup.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/submitter/mod.rs
  crates/astria-bridge-withdrawer/src/metrics.rs
Labels: bridge-withdrawer

#1305 feat(sequencer, core): Add fee reporting
  crates/astria-composer/src/executor/bundle_factory/mod.rs
  crates/astria-composer/src/test_utils.rs
  crates/astria-core/src/lib.rs
  crates/astria-core/src/protocol/transaction/v1alpha1/action.rs
  crates/astria-sequencer/src/accounts/action.rs
  crates/astria-sequencer/src/app/tests_execute_transaction.rs
  crates/astria-sequencer/src/sequence/action.rs
  crates/astria-sequencer/src/state_ext.rs
Labels: sequencer, composer, core
