Repository astriaorg/astria, pull requests merged in 2024-03, with the labels that each got.

#701 feat(proto): add sequencer service proto
  .gitattributes
  .github/labeler.yml
  Cargo.lock
  crates/astria-conductor/src/executor/mod.rs
  crates/astria-conductor/src/executor/tests.rs
  crates/astria-core/Cargo.toml
  crates/astria-core/src/generated/astria.sequencer.v1alpha1.rs
  crates/astria-core/src/sequencer/v1alpha1/block/mod.rs
  crates/astria-core/src/sequencer/v1alpha1/block/tests.rs
  crates/astria-core/src/sequencer/v1alpha1/celestia.rs
  crates/astria-core/src/sequencer/v1alpha1/mod.rs
  crates/astria-core/src/sequencer/v1alpha1/test_utils.rs
  crates/astria-sequencer/Cargo.toml
  crates/astria-sequencer/local.env.example
  crates/astria-sequencer/src/config.rs
  crates/astria-sequencer/src/grpc/mod.rs
  crates/astria-sequencer/src/grpc/sequencer.rs
  crates/astria-sequencer/src/lib.rs
  crates/astria-sequencer/src/sequencer.rs
  proto/sequencerapis/astria/sequencer/v1alpha1/block.proto
  proto/sequencerapis/astria/sequencer/v1alpha1/service.proto
  proto/sequencerapis/buf.yaml
Labels: ci, conductor, sequencer

#772 feat(conductor): assert host fulfills execution API contract
  crates/astria-conductor/src/executor/mod.rs
  crates/astria-conductor/src/executor/tests.rs
Labels: conductor

#771 fix(relayer): add metrics
  crates/astria-sequencer-relayer/src/metrics_init.rs
  crates/astria-sequencer-relayer/src/relayer/mod.rs
  crates/astria-sequencer-relayer/src/relayer/read.rs
  crates/astria-sequencer-relayer/src/relayer/write.rs
Labels: sequencer-relayer

#776 feat(relayer)!: provide address, not port, to serve API requests
  Cargo.lock
  crates/astria-sequencer-relayer/Cargo.toml
  crates/astria-sequencer-relayer/local.env.example
  crates/astria-sequencer-relayer/src/api.rs
  crates/astria-sequencer-relayer/src/config.rs
  crates/astria-sequencer-relayer/src/sequencer_relayer.rs
  crates/astria-sequencer-relayer/tests/blackbox/helper.rs
  crates/astria-sequencer-relayer/tests/blackbox/main.rs
Labels: sequencer-relayer

#775 chore(conductor)!: remove all optimism functionality
  .github/workflows/test.yml
  Cargo.lock
  Cargo.toml
  crates/astria-conductor/Cargo.toml
  crates/astria-conductor/local.env.example
  crates/astria-conductor/src/conductor.rs
  crates/astria-conductor/src/config.rs
  crates/astria-conductor/src/executor/builder.rs
  crates/astria-conductor/src/executor/mod.rs
  crates/astria-conductor/src/executor/optimism.rs
  crates/astria-conductor/src/executor/tests.rs
  crates/astria-optimism/Cargo.toml
  crates/astria-optimism/OptimismPortal.abi
  crates/astria-optimism/README.md
  crates/astria-optimism/contracts/MockOptimismPortal.sol
  crates/astria-optimism/src/contract.rs
  crates/astria-optimism/src/deposit.rs
  crates/astria-optimism/src/lib.rs
  crates/astria-optimism/src/test_utils.rs
Labels: ci, conductor

#782 chore: update dependencies
  Cargo.lock
  Cargo.toml
  crates/astria-core/src/sequencer/v1alpha1/transaction/action.rs
  crates/astria-sequencer/Cargo.toml
Labels: sequencer

#780 feat(conductor)!: provide explicit HTTP, Websocket Celestia RPC URLs
  Cargo.lock
  crates/astria-conductor/Cargo.toml
  crates/astria-conductor/local.env.example
  crates/astria-conductor/src/celestia/builder.rs
  crates/astria-conductor/src/conductor.rs
  crates/astria-conductor/src/config.rs
Labels: conductor

#768 feat(sequencer)!: implement bridge accounts and related actions
  crates/astria-core/src/generated/astria.sequencer.v1alpha1.rs
  crates/astria-core/src/sequencer/v1alpha1/asset.rs
  crates/astria-core/src/sequencer/v1alpha1/block/mod.rs
  crates/astria-core/src/sequencer/v1alpha1/transaction/action.rs
  crates/astria-sequencer/src/accounts/action.rs
  crates/astria-sequencer/src/accounts/state_ext.rs
  crates/astria-sequencer/src/app.rs
  crates/astria-sequencer/src/bridge/bridge_lock_action.rs
  crates/astria-sequencer/src/bridge/init_bridge_account_action.rs
  crates/astria-sequencer/src/bridge/mod.rs
  crates/astria-sequencer/src/bridge/state_ext.rs
  crates/astria-sequencer/src/ibc/ics20_withdrawal.rs
  crates/astria-sequencer/src/lib.rs
  crates/astria-sequencer/src/sequence.rs
  crates/astria-sequencer/src/transaction/mod.rs
  proto/sequencerapis/astria/sequencer/v1alpha1/block.proto
  proto/sequencerapis/astria/sequencer/v1alpha1/transaction.proto
Labels: proto, sequencer

#777 chore(core): Update docs to reference astria-core instead of astria-proto
  README.md
  crates/astria-core/README.md
  proto/README.md
  tools/protobuf-compiler/README.md
Labels: proto

#793 review fixes for #787
  Cargo.lock
  crates/astria-core/src/generated/astria.sequencer.v1alpha1.rs
  crates/astria-core/src/sequencer/v1alpha1/account.rs
  crates/astria-core/src/sequencer/v1alpha1/asset.rs
  crates/astria-core/src/sequencer/v1alpha1/block/mod.rs
  crates/astria-core/src/sequencer/v1alpha1/celestia.rs
  crates/astria-core/src/sequencer/v1alpha1/mod.rs
  crates/astria-core/src/sequencer/v1alpha1/transaction/action.rs
  crates/astria-core/src/sequencer/v1alpha1/transaction/mod.rs
  crates/astria-sequencer-client/src/extension_trait.rs
  crates/astria-sequencer-client/src/tests/http.rs
  crates/astria-sequencer/Cargo.toml
  crates/astria-sequencer/src/accounts/state_ext.rs
  crates/astria-sequencer/src/api_state_ext.rs
  crates/astria-sequencer/src/app.rs
  crates/astria-sequencer/src/asset/state_ext.rs
  crates/astria-sequencer/src/authority/state_ext.rs
  crates/astria-sequencer/src/bridge/init_bridge_account_action.rs
  crates/astria-sequencer/src/bridge/state_ext.rs
  crates/astria-sequencer/src/grpc/sequencer.rs
  crates/astria-sequencer/src/ibc/ics20_transfer.rs
  crates/astria-sequencer/src/ibc/state_ext.rs
  crates/astria-sequencer/src/proposal/commitment.rs
  crates/astria-sequencer/src/service/consensus.rs
  crates/astria-telemetry/src/display.rs
  proto/sequencerapis/astria/sequencer/v1alpha1/block.proto
Labels: proto, sequencer

#783 chore(proto)!: delete unused proto file
  crates/astria-core/src/generated/astria.sequencer.v1alpha1.rs
  proto/sequencerapis/astria/sequencer/v1alpha1/data.proto
Labels: proto

#787 feat(sequencer): store sequencer blocks in the sequencer state
  Cargo.lock
  crates/astria-cli/src/commands/rollup.rs
  crates/astria-cli/src/commands/sequencer.rs
  crates/astria-conductor/src/conductor.rs
  crates/astria-conductor/src/executor/mod.rs
  crates/astria-conductor/src/executor/tests.rs
  crates/astria-core/src/generated/astria.sequencer.v1alpha1.rs
  crates/astria-core/src/sequencer/v1alpha1/account.rs
  crates/astria-core/src/sequencer/v1alpha1/asset.rs
  crates/astria-core/src/sequencer/v1alpha1/block/mod.rs
  crates/astria-core/src/sequencer/v1alpha1/block/tests.rs
  crates/astria-core/src/sequencer/v1alpha1/celestia.rs
  crates/astria-core/src/sequencer/v1alpha1/mod.rs
  crates/astria-core/src/sequencer/v1alpha1/transaction/action.rs
  crates/astria-core/src/sequencer/v1alpha1/transaction/mod.rs
  crates/astria-sequencer-client/src/extension_trait.rs
  crates/astria-sequencer-client/src/tests/http.rs
  crates/astria-sequencer-relayer/src/relayer/mod.rs
  crates/astria-sequencer/Cargo.toml
  crates/astria-sequencer/local.env.example
  crates/astria-sequencer/src/accounts/state_ext.rs
  crates/astria-sequencer/src/api_state_ext.rs
  crates/astria-sequencer/src/app.rs
  crates/astria-sequencer/src/asset/state_ext.rs
  crates/astria-sequencer/src/authority/state_ext.rs
  crates/astria-sequencer/src/bridge/init_bridge_account_action.rs
  crates/astria-sequencer/src/bridge/state_ext.rs
  crates/astria-sequencer/src/config.rs
  crates/astria-sequencer/src/grpc/sequencer.rs
  crates/astria-sequencer/src/ibc/ics20_transfer.rs
  crates/astria-sequencer/src/ibc/state_ext.rs
  crates/astria-sequencer/src/lib.rs
  crates/astria-sequencer/src/proposal/commitment.rs
  crates/astria-sequencer/src/sequencer.rs
  crates/astria-sequencer/src/service/consensus.rs
  crates/astria-telemetry/src/display.rs
  proto/sequencerapis/astria/sequencer/v1alpha1/block.proto
Labels: conductor, proto, sequencer, sequencer-relayer

#798 feat(relayer): warn if submission tracking is inconsistent, but continue operation
  crates/astria-sequencer-relayer/src/relayer/mod.rs
  crates/astria-sequencer-relayer/src/relayer/submission.rs
Labels: sequencer-relayer

#797 fix(conductor): simplify mapping Celestia heights to Sequencer heights
  crates/astria-conductor/src/celestia/mod.rs
  crates/astria-conductor/src/executor/mod.rs
  crates/astria-conductor/src/executor/tests.rs
Labels: conductor

#799 feat(conductor): report if conductor won't read more Celestia heights
  crates/astria-conductor/src/celestia/mod.rs
Labels: conductor

#803 fix(conductor): update reference celestia height correctly
  Cargo.lock
  Cargo.toml
  crates/astria-conductor/Cargo.toml
  crates/astria-conductor/src/block_cache.rs
  crates/astria-conductor/src/celestia/mod.rs
  crates/astria-sequencer-relayer/Cargo.toml
Labels: conductor, sequencer-relayer

#801 fix(conductor): update increment celestia height to fetch
  Cargo.lock
  Cargo.toml
  crates/astria-conductor/Cargo.toml
  crates/astria-conductor/src/block_cache.rs
  crates/astria-conductor/src/celestia/mod.rs
  crates/astria-sequencer-relayer/Cargo.toml
Labels: conductor, sequencer-relayer, docker-build

#804 fix(composer): reset timer when bundle empty
  crates/astria-composer/src/searcher/executor/mod.rs
Labels: composer

#805 chore(ci): bump cargo chef to 0.1.66
  containerfiles/Dockerfile
Labels: docker

#807 feat(relayer): report information on sequencer block submitted to Celestia
  Cargo.lock
  crates/astria-core/src/sequencer/v1alpha1/mod.rs
  crates/astria-sequencer-relayer/Cargo.toml
  crates/astria-sequencer-relayer/src/main.rs
  crates/astria-sequencer-relayer/src/relayer/write/conversion.rs
  crates/astria-sequencer-relayer/src/relayer/write/mod.rs
  crates/astria-telemetry/Cargo.toml
  crates/astria-telemetry/src/display.rs
Labels: sequencer-relayer

#802 feat(sequencer)!: include deposit data as part of rollup data
  crates/astria-core/src/generated/astria.sequencer.v1alpha1.rs
  crates/astria-core/src/sequencer/v1alpha1/block/mod.rs
  crates/astria-core/src/sequencer/v1alpha1/mod.rs
  crates/astria-core/src/sequencer/v1alpha1/test_utils.rs
  crates/astria-sequencer/src/app.rs
  crates/astria-sequencer/src/bridge/state_ext.rs
  crates/astria-sequencer/src/grpc/sequencer.rs
  crates/astria-sequencer/src/proposal/commitment.rs
  crates/astria-sequencer/src/service/consensus.rs
  proto/sequencerapis/astria/sequencer/v1alpha1/block.proto
Labels: proto, sequencer

#815 feat(conductor)!: use Sequencer gRPC API to fetch soft bocks.
  Cargo.lock
  crates/astria-conductor/Cargo.toml
  crates/astria-conductor/local.env.example
  crates/astria-conductor/src/block_cache.rs
  crates/astria-conductor/src/celestia/block_verifier.rs
  crates/astria-conductor/src/celestia/builder.rs
  crates/astria-conductor/src/celestia/mod.rs
  crates/astria-conductor/src/client_provider.rs
  crates/astria-conductor/src/conductor.rs
  crates/astria-conductor/src/config.rs
  crates/astria-conductor/src/executor/mod.rs
  crates/astria-conductor/src/executor/tests.rs
  crates/astria-conductor/src/lib.rs
  crates/astria-conductor/src/sequencer/block_stream.rs
  crates/astria-conductor/src/sequencer/client.rs
  crates/astria-conductor/src/sequencer/mod.rs
  crates/astria-conductor/src/sequencer/reporting.rs
  crates/astria-core/src/sequencer/v1alpha1/block/mod.rs
  crates/astria-core/src/sequencer/v1alpha1/mod.rs
  crates/astria-sequencer-client/Cargo.toml
  crates/astria-sequencer-client/src/lib.rs
  crates/astria-sequencer-relayer/src/relayer/mod.rs
Labels: conductor, sequencer, sequencer-relayer

#791 chore(composer): disambiguate chain-id
  crates/astria-composer/local.env.example
  crates/astria-composer/src/config.rs
  crates/astria-composer/src/searcher/executor/tests.rs
  crates/astria-composer/src/searcher/mod.rs
  crates/astria-composer/src/searcher/rollup.rs
  crates/astria-composer/tests/blackbox/composer.rs
Labels: sequencer-relayer, composer

#816 feat(conductor): sequencer api supports rollupdata type
  .github/workflows/release.yml
  crates/astria-conductor/src/executor/client.rs
  crates/astria-conductor/src/executor/tests.rs
  crates/astria-core/src/generated/astria.execution.v1alpha2.rs
  crates/astria-core/src/generated/astria.sequencer.v1.rs
  proto/executionapis/astria/execution/v1alpha2/execution.proto
  proto/executionapis/buf.lock
  proto/executionapis/buf.yaml
  proto/sequencerapis/buf.lock
Labels: ci, conductor, proto, sequencer

#821 fix(conductor): serialize rollup IDs as strings so telemetry doesn't crash
  Cargo.lock
  crates/astria-conductor/Cargo.toml
  crates/astria-conductor/src/sequencer/reporting.rs
  crates/astria-conductor/src/sequencer/snapshots/astria_conductor__sequencer__reporting__tests__snapshots-2.snap
  crates/astria-conductor/src/sequencer/snapshots/astria_conductor__sequencer__reporting__tests__snapshots.snap
  crates/astria-core/src/sequencer/v1/mod.rs
Labels: conductor, observability, core

#822 refactor(relayer): replace grab-bag constructor with config-like builder
  Cargo.lock
  crates/astria-sequencer-relayer/Cargo.toml
  crates/astria-sequencer-relayer/src/config.rs
  crates/astria-sequencer-relayer/src/main.rs
  crates/astria-sequencer-relayer/src/relayer/builder.rs
  crates/astria-sequencer-relayer/src/relayer/mod.rs
  crates/astria-sequencer-relayer/src/sequencer_relayer.rs
  crates/astria-sequencer-relayer/tests/blackbox/helper.rs
Labels: sequencer, sequencer-relayer

#819 fix(sequencer): filtered blocks success when no data expected
  crates/astria-sequencer/src/grpc/sequencer.rs
Labels: sequencer

#823 feat(relayer): implement graceful shutdown
  crates/astria-sequencer-relayer/Cargo.toml
  crates/astria-sequencer-relayer/src/relayer/builder.rs
  crates/astria-sequencer-relayer/src/relayer/mod.rs
  crates/astria-sequencer-relayer/src/relayer/write/mod.rs
  crates/astria-sequencer-relayer/src/sequencer_relayer.rs
Labels: sequencer, sequencer-relayer

#825 chore: bump penumbra deps
  Cargo.lock
  Cargo.toml
  crates/astria-sequencer/Cargo.toml
  crates/astria-sequencer/src/ibc/ics20_transfer.rs
Labels: sequencer

#796 refactor(composer): flatten module structure
  crates/astria-composer/src/api.rs
  crates/astria-composer/src/collectors/geth.rs
  crates/astria-composer/src/collectors/mod.rs
  crates/astria-composer/src/composer.rs
  crates/astria-composer/src/executor/bundle_factory/mod.rs
  crates/astria-composer/src/executor/bundle_factory/tests.rs
  crates/astria-composer/src/executor/mod.rs
  crates/astria-composer/src/executor/tests.rs
  crates/astria-composer/src/lib.rs
  crates/astria-composer/src/main.rs
  crates/astria-composer/src/rollup.rs
  crates/astria-composer/src/searcher/mod.rs
  crates/astria-composer/src/tests.rs
  crates/astria-composer/tests/blackbox/composer.rs
  crates/astria-composer/tests/blackbox/helper/mod.rs
Labels: proto, composer

#832 fix(sequencer): fix bug in `get_sequencer_block_by_hash`
  crates/astria-sequencer/src/api_state_ext.rs
Labels: sequencer

#824 chore: releases for new devnet
  Cargo.lock
  crates/astria-composer/Cargo.toml
  crates/astria-conductor/Cargo.toml
  crates/astria-sequencer-relayer/Cargo.toml
  crates/astria-sequencer/Cargo.toml
Labels: conductor, sequencer, sequencer-relayer, composer

#840 fix(ci): docker build tagging for releases
  .github/workflows/reusable-docker-build.yml
Labels: ci

#841 fix(ci): isolate docker builds to specific release
  .github/workflows/build.yml
  .github/workflows/docker-build.yml
  .github/workflows/reusable-docker-build.yml
Labels: ci

#842 fix(ci): docker images tagging again
  .github/workflows/docker-build.yml
  .github/workflows/reusable-docker-build.yml
Labels: ci

#829 refactor(conductor): simplify builder types by config-like
  crates/astria-conductor/src/celestia/builder.rs
  crates/astria-conductor/src/celestia/mod.rs
  crates/astria-conductor/src/conductor.rs
  crates/astria-conductor/src/executor/builder.rs
  crates/astria-conductor/src/executor/mod.rs
  crates/astria-conductor/src/executor/tests.rs
  crates/astria-conductor/src/sequencer/builder.rs
  crates/astria-conductor/src/sequencer/mod.rs
Labels: conductor

#834 refactor(composer): interact with executor through handle
  crates/astria-composer/src/collectors/geth.rs
  crates/astria-composer/src/composer.rs
  crates/astria-composer/src/executor/mod.rs
  crates/astria-composer/src/executor/tests.rs
  crates/astria-composer/src/lib.rs
  crates/astria-composer/src/tests.rs
  crates/astria-composer/tests/blackbox/composer.rs
  crates/astria-test-utils/src/mock/geth.rs
Labels: composer

#844 fix(sequencer): fix `is_source` prefix check
  crates/astria-sequencer/src/ibc/ics20_transfer.rs
Labels: sequencer

#845 refactor(conductor) use cancellation tokens for shutdown
  crates/astria-conductor/src/celestia/builder.rs
  crates/astria-conductor/src/celestia/mod.rs
  crates/astria-conductor/src/conductor.rs
  crates/astria-conductor/src/executor/builder.rs
  crates/astria-conductor/src/executor/mod.rs
  crates/astria-conductor/src/executor/tests.rs
  crates/astria-conductor/src/sequencer/builder.rs
  crates/astria-conductor/src/sequencer/mod.rs
Labels: conductor

#846 fix(conductor): don't panic while shutting down
  Cargo.lock
  crates/astria-conductor/Cargo.toml
  crates/astria-conductor/src/conductor.rs
  crates/astria-conductor/src/utils.rs
  crates/astria-sequencer-relayer/src/utils.rs
Labels: conductor, sequencer-relayer

#843 feat(sequencer): implement bridge deposits for incoming ICS20 transfers
  crates/astria-sequencer/src/ibc/ics20_transfer.rs
Labels: sequencer

#808 chore(composer): logging of rollup ids on startup, and submission
  Cargo.lock
  Cargo.toml
  crates/astria-composer/Cargo.toml
  crates/astria-composer/src/collectors/geth.rs
  crates/astria-composer/src/executor/bundle_factory/mod.rs
  crates/astria-composer/src/executor/bundle_factory/snapshots/astria_composer__executor__bundle_factory__tests__sized_bundle_tests__snapshots.snap
  crates/astria-composer/src/executor/bundle_factory/tests.rs
  crates/astria-composer/src/executor/mod.rs
  crates/astria-conductor/Cargo.toml
Labels: conductor, composer

#851 fix(sequencer): fix escrow channel check when receiving non-refund ics20 packet
  crates/astria-core/src/sequencer/v1/asset.rs
  crates/astria-sequencer/src/ibc/ics20_transfer.rs
Labels: sequencer

#865 fix(composer): Make snapshot testing in composer deterministic
  crates/astria-composer/src/executor/bundle_factory/snapshots/astria_composer__executor__bundle_factory__tests__sized_bundle_tests__snapshots.snap
  crates/astria-composer/src/executor/bundle_factory/tests.rs
Labels: composer

#857 feat(core): add serialization to execution v1alpha2 compliant with protobuf json mapping
  Cargo.lock
  Cargo.toml
  crates/astria-composer/src/executor/bundle_factory/snapshots/astria_composer__executor__bundle_factory__tests__sized_bundle_tests__snapshots.snap
  crates/astria-conductor/Cargo.toml
  crates/astria-conductor/src/executor/client.rs
  crates/astria-conductor/src/executor/mod.rs
  crates/astria-conductor/src/executor/state.rs
  crates/astria-conductor/src/executor/tests.rs
  crates/astria-conductor/src/sequencer/snapshots/astria_conductor__sequencer__reporting__tests__snapshots-2.snap
  crates/astria-conductor/src/sequencer/snapshots/astria_conductor__sequencer__reporting__tests__snapshots.snap
  crates/astria-core/Cargo.toml
  crates/astria-core/src/execution/v1alpha2/mod.rs
  crates/astria-core/src/generated/astria.execution.v1alpha1.rs
  crates/astria-core/src/generated/astria.execution.v1alpha2.rs
  crates/astria-core/src/generated/astria.execution.v1alpha2.serde.rs
  crates/astria-core/src/generated/astria.primitive.v1.serde.rs
  crates/astria-core/src/generated/astria.sequencer.v1.serde.rs
  crates/astria-core/src/generated/mod.rs
  crates/astria-core/src/sequencer/v1/mod.rs
  crates/astria-core/src/serde.rs
  tools/protobuf-compiler/Cargo.lock
  tools/protobuf-compiler/Cargo.toml
  tools/protobuf-compiler/src/main.rs
Labels: conductor, proto, composer

#858 test(sequencer): add unit tests for src/state_ext file
  crates/astria-sequencer/src/state_ext.rs
Labels: sequencer

#868 fix(conductor): clarify conductor log
  crates/astria-conductor/src/sequencer/block_stream.rs
Labels: conductor

#863 fix(sequencer): fix rollup ids commitment for deposits
  crates/astria-sequencer/src/proposal/commitment.rs
Labels: sequencer

#784 feat(composer): Add a gRPC collector
  .github/workflows/release.yml
  Cargo.lock
  Cargo.toml
  buf.work.yaml
  charts/evm-rollup/Chart.yaml
  charts/evm-rollup/templates/configmap.yaml
  crates/astria-composer/Cargo.toml
  crates/astria-composer/local.env.example
  crates/astria-composer/src/collectors/geth.rs
  crates/astria-composer/src/collectors/grpc.rs
  crates/astria-composer/src/collectors/mod.rs
  crates/astria-composer/src/composer.rs
  crates/astria-composer/src/config.rs
  crates/astria-composer/src/executor/tests.rs
  crates/astria-composer/src/grpc.rs
  crates/astria-composer/src/lib.rs
  crates/astria-composer/src/main.rs
  crates/astria-composer/tests/blackbox/composer.rs
  crates/astria-composer/tests/blackbox/geth_collector.rs
  crates/astria-composer/tests/blackbox/grpc_collector.rs
  crates/astria-composer/tests/blackbox/helper/mod.rs
  crates/astria-composer/tests/blackbox/main.rs
  crates/astria-core/src/generated/astria.composer.v1alpha1.rs
  crates/astria-core/src/generated/mod.rs
  crates/astria-sequencer-client/Cargo.toml
  crates/astria-sequencer-relayer/Cargo.toml
  justfile
  proto/composerapis/LICENSE
  proto/composerapis/astria/composer/v1alpha1/grpc_collector.proto
  proto/composerapis/buf.yaml
Labels: ci, proto, sequencer, sequencer-relayer, composer, cd

#883 fix(sequencer-relayer): shutdown not propagating on API server fail
  crates/astria-sequencer-relayer/local.env.example
  crates/astria-sequencer-relayer/src/relayer/mod.rs
  crates/astria-sequencer-relayer/src/relayer/write/mod.rs
  crates/astria-sequencer-relayer/src/sequencer_relayer.rs
Labels: sequencer-relayer
