Repository astriaorg/astria, pull requests merged in 2024-02, with the labels that each got.

#692 refactor(conductor): use builder to construct celestia reader
  crates/astria-conductor/src/conductor.rs
  crates/astria-conductor/src/data_availability/builder.rs
  crates/astria-conductor/src/data_availability/mod.rs
Labels: conductor

#693 refactor(conductor): remove sync-completed signal
  crates/astria-conductor/src/conductor.rs
  crates/astria-conductor/src/sequencer/mod.rs
Labels: conductor

#694 refactor(conductor): use separate channels for celestia, sequencer blocks
  crates/astria-conductor/src/conductor.rs
  crates/astria-conductor/src/data_availability/builder.rs
  crates/astria-conductor/src/data_availability/mod.rs
  crates/astria-conductor/src/executor/mod.rs
  crates/astria-conductor/src/executor/tests.rs
  crates/astria-conductor/src/sequencer/mod.rs
  crates/astria-conductor/src/sequencer/sync.rs
Labels: conductor

#695 feat(conductor)!: forward firm blocks read from celestia in sequential order
  Cargo.lock
  crates/astria-celestia-client/src/client.rs
  crates/astria-conductor/Cargo.toml
  crates/astria-conductor/local.env.example
  crates/astria-conductor/src/conductor.rs
  crates/astria-conductor/src/data_availability/block_verifier.rs
  crates/astria-conductor/src/data_availability/builder.rs
  crates/astria-conductor/src/data_availability/mod.rs
  crates/astria-conductor/src/executor/mod.rs
  crates/astria-conductor/src/executor/tests.rs
  crates/astria-sequencer/Cargo.toml
  crates/astria-telemetry/Cargo.toml
  crates/astria-telemetry/src/display.rs
  crates/astria-telemetry/src/lib.rs
Labels: conductor, sequencer

#696 chore(conductor): rename all instances of data availability to celestia
  crates/astria-conductor/src/celestia/block_verifier.rs
  crates/astria-conductor/src/celestia/builder.rs
  crates/astria-conductor/src/celestia/mod.rs
  crates/astria-conductor/src/conductor.rs
  crates/astria-conductor/src/executor/mod.rs
  crates/astria-conductor/src/lib.rs
Labels: conductor

#698 feat(conductor): fetch objects for verifying blocks concurrently
  crates/astria-conductor/src/celestia/block_verifier.rs
  crates/astria-conductor/src/celestia/mod.rs
Labels: conductor

#697 refactor(conductor): forward blocks from sequencer in sequential order
  crates/astria-conductor/src/block_cache.rs
  crates/astria-conductor/src/celestia/mod.rs
  crates/astria-conductor/src/client_provider.rs
  crates/astria-conductor/src/lib.rs
  crates/astria-conductor/src/sequencer.rs
  crates/astria-conductor/src/sequencer/mod.rs
  crates/astria-conductor/src/sequencer/sync.rs
  crates/astria-conductor/src/utils.rs
  crates/astria-core/src/sequencer/v1alpha1/block.rs
Labels: conductor

#699 refactor(conductor): adapt executor to sequential firm, soft blocks
  crates/astria-conductor/src/block_cache.rs
  crates/astria-conductor/src/celestia/mod.rs
  crates/astria-conductor/src/conductor.rs
  crates/astria-conductor/src/executor/builder.rs
  crates/astria-conductor/src/executor/mod.rs
  crates/astria-conductor/src/executor/tests.rs
  crates/astria-conductor/src/executor/track_state.rs
  crates/astria-conductor/src/sequencer.rs
  crates/astria-core/src/execution/v1alpha2/mod.rs
  crates/astria-core/src/sequencer/v1alpha1/block.rs
  crates/astria-core/src/sequencer/v1alpha1/test_utils.rs
  crates/astria-sequencer-relayer/tests/blackbox/helper.rs
Labels: conductor, sequencer-relayer

#703 feat(conductor): sync executor commitment state with sequencer reader
  crates/astria-conductor/src/block_cache.rs
  crates/astria-conductor/src/conductor.rs
  crates/astria-conductor/src/executor/builder.rs
  crates/astria-conductor/src/executor/mod.rs
  crates/astria-conductor/src/executor/state.rs
  crates/astria-conductor/src/executor/tests.rs
  crates/astria-conductor/src/sequencer.rs
Labels: conductor

#704 feat(conductor): use http client to fetch celestia blobs
  Cargo.lock
  crates/astria-conductor/Cargo.toml
  crates/astria-conductor/local.env.example
  crates/astria-conductor/src/celestia/builder.rs
  crates/astria-conductor/src/celestia/mod.rs
Labels: conductor

#710 feat(conductor, proto): add genesis info RPC, initialize in terms of it
  Cargo.lock
  Cargo.toml
  containerfiles/Cargo.toml
  crates/astria-celestia-client/Cargo.toml
  crates/astria-conductor/local.env.example
  crates/astria-conductor/src/celestia/builder.rs
  crates/astria-conductor/src/celestia/mod.rs
  crates/astria-conductor/src/conductor.rs
  crates/astria-conductor/src/config.rs
  crates/astria-conductor/src/executor/builder.rs
  crates/astria-conductor/src/executor/client.rs
  crates/astria-conductor/src/executor/mod.rs
  crates/astria-conductor/src/executor/state.rs
  crates/astria-conductor/src/executor/tests.rs
  crates/astria-conductor/src/sequencer.rs
  crates/astria-core/Cargo.toml
  crates/astria-core/src/execution/v1alpha2/mod.rs
  crates/astria-core/src/generated/astria.execution.v1alpha2.rs
  proto/astria/execution/v1alpha2/execution.proto
  specs/execution-api.md
Labels: documentation, conductor, docker, docker-build

#719 refactor(core)!: move fee asset from `UnsignedTransaction` to `SequenceAction` and `TransferAction`
  crates/astria-cli/src/commands/sequencer.rs
  crates/astria-composer/src/searcher/collector.rs
  crates/astria-composer/src/searcher/executor/bundle_factory/tests.rs
  crates/astria-composer/src/searcher/executor/mod.rs
  crates/astria-composer/src/searcher/executor/tests.rs
  crates/astria-composer/src/searcher/mod.rs
  crates/astria-core/src/generated/astria.sequencer.v1alpha1.rs
  crates/astria-core/src/sequencer/v1alpha1/block.rs
  crates/astria-core/src/sequencer/v1alpha1/mod.rs
  crates/astria-core/src/sequencer/v1alpha1/test_utils.rs
  crates/astria-core/src/sequencer/v1alpha1/transaction/action.rs
  crates/astria-core/src/sequencer/v1alpha1/transaction/mod.rs
  crates/astria-sequencer-client/src/tests/http.rs
  crates/astria-sequencer/src/accounts/action.rs
  crates/astria-sequencer/src/accounts/ics20_withdrawal.rs
  crates/astria-sequencer/src/app.rs
  crates/astria-sequencer/src/authority/action.rs
  crates/astria-sequencer/src/mint/action.rs
  crates/astria-sequencer/src/proposal/commitment.rs
  crates/astria-sequencer/src/sequence.rs
  crates/astria-sequencer/src/service/consensus.rs
  crates/astria-sequencer/src/transaction/action_handler.rs
  crates/astria-sequencer/src/transaction/mod.rs
  proto/astria/sequencer/v1alpha1/transaction.proto
Labels: sequencer, composer

#711 refactor(conductor): interact with executor via handle
  crates/astria-conductor/src/celestia/builder.rs
  crates/astria-conductor/src/celestia/mod.rs
  crates/astria-conductor/src/conductor.rs
  crates/astria-conductor/src/executor/builder.rs
  crates/astria-conductor/src/executor/mod.rs
  crates/astria-conductor/src/executor/state.rs
  crates/astria-conductor/src/executor/tests.rs
  crates/astria-conductor/src/sequencer.rs
Labels: conductor

#724 fix(conductor): each celestia height can contain multiple sequencer heights
  Cargo.lock
  crates/astria-conductor/Cargo.toml
  crates/astria-conductor/src/block_cache.rs
  crates/astria-conductor/src/celestia/block_verifier.rs
  crates/astria-conductor/src/celestia/builder.rs
  crates/astria-conductor/src/celestia/mod.rs
  crates/astria-conductor/src/client_provider.rs
  crates/astria-conductor/src/conductor.rs
  crates/astria-conductor/src/executor/builder.rs
  crates/astria-conductor/src/executor/client.rs
  crates/astria-conductor/src/executor/mod.rs
  crates/astria-conductor/src/executor/optimism.rs
  crates/astria-conductor/src/lib.rs
  crates/astria-conductor/src/main.rs
  crates/astria-conductor/src/sequencer.rs
Labels: conductor

#721 feat(sequencer)!: add `ibc_sudo_address` to genesis, only allow `IbcRelay` actions from this address
  crates/astria-sequencer/src/accounts/component.rs
  crates/astria-sequencer/src/accounts/state_ext.rs
  crates/astria-sequencer/src/app.rs
  crates/astria-sequencer/src/authority/component.rs
  crates/astria-sequencer/src/genesis.rs
  crates/astria-sequencer/src/service/consensus.rs
  crates/astria-sequencer/src/transaction/mod.rs
  crates/astria-sequencer/test-genesis-app-state.json
Labels: sequencer

#725 feat(conductor): restrict firm<>soft commitment spread and add celestia search windows
  Cargo.lock
  crates/astria-celestia-client/src/lib.rs
  crates/astria-conductor/Cargo.toml
  crates/astria-conductor/src/block_cache.rs
  crates/astria-conductor/src/celestia/block_verifier.rs
  crates/astria-conductor/src/celestia/mod.rs
  crates/astria-conductor/src/client_provider.rs
  crates/astria-conductor/src/conductor.rs
  crates/astria-conductor/src/executor/builder.rs
  crates/astria-conductor/src/executor/client.rs
  crates/astria-conductor/src/executor/mod.rs
  crates/astria-conductor/src/executor/state.rs
  crates/astria-conductor/src/lib.rs
  crates/astria-conductor/src/sequencer.rs
  crates/astria-conductor/src/utils.rs
  crates/astria-core/Cargo.toml
  crates/astria-core/src/execution/v1alpha2/mod.rs
  crates/astria-core/src/lib.rs
  crates/astria-core/src/sequencer/v1alpha1/mod.rs
  crates/astria-core/src/serde.rs
  crates/astria-sequencer-client/src/extension_trait.rs
Labels: conductor, sequencer

#691 feat(conductor, core, proto)!: add firm block syncing
  Cargo.lock
  Cargo.toml
  containerfiles/Cargo.toml
  crates/astria-celestia-client/Cargo.toml
  crates/astria-celestia-client/src/client.rs
  crates/astria-celestia-client/src/lib.rs
  crates/astria-conductor/Cargo.toml
  crates/astria-conductor/local.env.example
  crates/astria-conductor/src/block_cache.rs
  crates/astria-conductor/src/celestia/block_verifier.rs
  crates/astria-conductor/src/celestia/builder.rs
  crates/astria-conductor/src/celestia/mod.rs
  crates/astria-conductor/src/client_provider.rs
  crates/astria-conductor/src/conductor.rs
  crates/astria-conductor/src/config.rs
  crates/astria-conductor/src/data_availability/mod.rs
  crates/astria-conductor/src/executor/builder.rs
  crates/astria-conductor/src/executor/client.rs
  crates/astria-conductor/src/executor/mod.rs
  crates/astria-conductor/src/executor/optimism.rs
  crates/astria-conductor/src/executor/state.rs
  crates/astria-conductor/src/executor/tests.rs
  crates/astria-conductor/src/lib.rs
  crates/astria-conductor/src/main.rs
  crates/astria-conductor/src/sequencer.rs
  crates/astria-conductor/src/sequencer/mod.rs
  crates/astria-conductor/src/sequencer/sync.rs
  crates/astria-conductor/src/utils.rs
  crates/astria-core/Cargo.toml
  crates/astria-core/src/execution/v1alpha2/mod.rs
  crates/astria-core/src/generated/astria.execution.v1alpha2.rs
  crates/astria-core/src/lib.rs
  crates/astria-core/src/sequencer/v1alpha1/block.rs
  crates/astria-core/src/sequencer/v1alpha1/mod.rs
  crates/astria-core/src/sequencer/v1alpha1/test_utils.rs
  crates/astria-core/src/serde.rs
  crates/astria-sequencer-client/Cargo.toml
  crates/astria-sequencer-client/src/extension_trait.rs
  crates/astria-sequencer-client/src/lib.rs
  crates/astria-sequencer-relayer/tests/blackbox/helper.rs
  crates/astria-sequencer/Cargo.toml
  crates/astria-telemetry/Cargo.toml
  crates/astria-telemetry/src/display.rs
  crates/astria-telemetry/src/lib.rs
  proto/astria/execution/v1alpha2/execution.proto
  specs/execution-api.md
Labels: documentation, conductor, sequencer, sequencer-relayer, docker

#709 fix(core, conductor): relax size requirements of hash buffers
  Cargo.lock
  Cargo.toml
  containerfiles/Cargo.toml
  crates/astria-conductor/Cargo.toml
  crates/astria-conductor/src/executor/client.rs
  crates/astria-conductor/src/executor/mod.rs
  crates/astria-conductor/src/executor/state.rs
  crates/astria-conductor/src/executor/tests.rs
  crates/astria-core/Cargo.toml
  crates/astria-core/src/execution/v1alpha2/mod.rs
  crates/astria-core/src/generated/astria.execution.v1alpha2.rs
  tools/protobuf-compiler/src/main.rs
Labels: conductor, docker

#656 feat(telemetry)!: use opentelemetry
  Cargo.lock
  crates/astria-composer/Cargo.toml
  crates/astria-composer/local.env.example
  crates/astria-composer/src/config.rs
  crates/astria-composer/src/lib.rs
  crates/astria-composer/src/main.rs
  crates/astria-composer/src/searcher/executor/tests.rs
  crates/astria-composer/tests/blackbox/helper/mod.rs
  crates/astria-conductor/local.env.example
  crates/astria-conductor/src/config.rs
  crates/astria-conductor/src/main.rs
  crates/astria-sequencer-client/Cargo.toml
  crates/astria-sequencer-relayer/local.env.example
  crates/astria-sequencer-relayer/src/config.rs
  crates/astria-sequencer-relayer/src/main.rs
  crates/astria-sequencer-relayer/tests/blackbox/helper.rs
  crates/astria-sequencer/local.env.example
  crates/astria-sequencer/src/config.rs
  crates/astria-sequencer/src/main.rs
  crates/astria-telemetry/Cargo.toml
  crates/astria-telemetry/src/lib.rs
Labels: conductor, sequencer, sequencer-relayer, composer

#708 chore(sequencer): config release-v0.8.x workflows
  .github/workflows/docker-build.yml
  .github/workflows/lint.yml
  .github/workflows/release.yml
  .github/workflows/reusable-docker-build.yml
  .github/workflows/test.yml
Labels: ci

#728 chore: build all binaries, fix pr title ci
  .github/workflows/admin.yml
  .github/workflows/build.yml
  .github/workflows/lint.yml
  .github/workflows/release.yml
  .github/workflows/reusable-build.yml
  .github/workflows/reusable-release-cargo.yml
  crates/astria-cli/Cargo.toml
  crates/astria-composer/Cargo.toml
  crates/astria-conductor/Cargo.toml
  crates/astria-sequencer-relayer/Cargo.toml
  crates/astria-sequencer/Cargo.toml
Labels: ci, conductor, sequencer, sequencer-relayer, composer

#732 chore: split protos into multiple buf repos
  .github/workflows/lint.yml
  .github/workflows/release.yml
  Cargo.toml
  buf.work.yaml
  justfile
  proto/README.md
  proto/buf.yaml
  proto/executionapis/LICENSE
  proto/executionapis/astria/execution/v1alpha1/execution.proto
  proto/executionapis/astria/execution/v1alpha2/execution.proto
  proto/executionapis/buf.yaml
  proto/sequencerapis/LICENSE
  proto/sequencerapis/astria/primitive/v1/types.proto
  proto/sequencerapis/astria/sequencer/v1alpha1/abci.proto
  proto/sequencerapis/astria/sequencer/v1alpha1/account.proto
  proto/sequencerapis/astria/sequencer/v1alpha1/asset.proto
  proto/sequencerapis/astria/sequencer/v1alpha1/block.proto
  proto/sequencerapis/astria/sequencer/v1alpha1/celestia.proto
  proto/sequencerapis/astria/sequencer/v1alpha1/data.proto
  proto/sequencerapis/astria/sequencer/v1alpha1/merkle.proto
  proto/sequencerapis/astria/sequencer/v1alpha1/transaction.proto
  proto/sequencerapis/astria_vendored/penumbra/core/component/ibc/v1alpha1/ibc.proto
  proto/sequencerapis/astria_vendored/tendermint/abci/types.proto
  proto/sequencerapis/astria_vendored/tendermint/crypto/keys.proto
  proto/sequencerapis/astria_vendored/tendermint/types/types.proto
  proto/sequencerapis/astria_vendored/tendermint/version/types.proto
  proto/sequencerapis/buf.lock
  proto/sequencerapis/buf.yaml
  tools/protobuf-compiler/src/main.rs
Labels: ci

#730 feat(sequencer)!: allow specific assets for fee payment
  crates/astria-sequencer/src/accounts/action.rs
  crates/astria-sequencer/src/app.rs
  crates/astria-sequencer/src/genesis.rs
  crates/astria-sequencer/src/sequence.rs
  crates/astria-sequencer/src/service/consensus.rs
  crates/astria-sequencer/src/state_ext.rs
  crates/astria-sequencer/test-genesis-app-state.json
Labels: sequencer

#733 feat(sequencer)!: add fee for `Ics20Withdrawal` action
  crates/astria-core/src/generated/astria.sequencer.v1alpha1.rs
  crates/astria-core/src/sequencer/v1alpha1/transaction/action.rs
  crates/astria-sequencer/src/accounts/ics20_withdrawal.rs
  proto/sequencerapis/astria/sequencer/v1alpha1/transaction.proto
Labels: sequencer

#744 chore(ci): bump rust to 1.76, cargo-chef to 0.1.63
  .github/workflows/lint.yml
  .github/workflows/reusable-build.yml
  .github/workflows/test.yml
  Cargo.lock
  README.md
  containerfiles/Cargo.toml
  containerfiles/Dockerfile
  crates/astria-cli/src/commands/rollup.rs
  crates/astria-cli/src/commands/sequencer.rs
  crates/astria-composer/src/searcher/executor/mod.rs
  crates/astria-composer/src/searcher/rollup.rs
  crates/astria-composer/tests/blackbox/composer.rs
  crates/astria-conductor/justfile
  crates/astria-conductor/src/celestia/block_verifier.rs
  crates/astria-conductor/src/client_provider.rs
  crates/astria-core/src/sequencer/v1alpha1/transaction/mod.rs
  crates/astria-sequencer/src/app.rs
  crates/astria-sequencer/src/service/info/mod.rs
  justfile
  lint/tracing_debug_field/Cargo.toml
  lint/tracing_debug_field/rust-toolchain
Labels: ci, conductor, sequencer, composer, docker

#741 chore!: upgrade to penumbra release 0.66
  Cargo.lock
  Cargo.toml
  crates/astria-core/src/generated/astria.sequencer.v1alpha1.rs
  crates/astria-core/src/sequencer/v1alpha1/transaction/action.rs
  crates/astria-sequencer/Cargo.toml
  crates/astria-sequencer/README.md
  crates/astria-sequencer/src/accounts/ics20_transfer.rs
  crates/astria-sequencer/src/app.rs
  crates/astria-sequencer/src/genesis.rs
  crates/astria-sequencer/src/service/consensus.rs
  crates/astria-sequencer/test-genesis-app-state.json
  proto/sequencerapis/astria/sequencer/v1alpha1/transaction.proto
  proto/sequencerapis/astria_vendored/penumbra/core/component/ibc/v1/ibc.proto
Labels: sequencer

#739 feat!: metrics setup, and first metrics
  Cargo.lock
  Cargo.toml
  crates/astria-celestia-client/Cargo.toml
  crates/astria-celestia-client/src/client.rs
  crates/astria-celestia-client/src/lib.rs
  crates/astria-celestia-client/src/metrics_init.rs
  crates/astria-composer/local.env.example
  crates/astria-composer/src/config.rs
  crates/astria-composer/src/main.rs
  crates/astria-composer/src/searcher/executor/tests.rs
  crates/astria-composer/tests/blackbox/helper/mod.rs
  crates/astria-conductor/local.env.example
  crates/astria-conductor/src/config.rs
  crates/astria-conductor/src/executor/mod.rs
  crates/astria-conductor/src/main.rs
  crates/astria-sequencer-relayer/Cargo.toml
  crates/astria-sequencer-relayer/local.env.example
  crates/astria-sequencer-relayer/src/config.rs
  crates/astria-sequencer-relayer/src/lib.rs
  crates/astria-sequencer-relayer/src/main.rs
  crates/astria-sequencer-relayer/src/metrics_init.rs
  crates/astria-sequencer-relayer/src/relayer.rs
  crates/astria-sequencer-relayer/tests/blackbox/helper.rs
  crates/astria-sequencer/local.env.example
  crates/astria-sequencer/src/config.rs
  crates/astria-sequencer/src/main.rs
  crates/astria-telemetry/Cargo.toml
  crates/astria-telemetry/src/lib.rs
Labels: conductor, sequencer, sequencer-relayer, composer, observability

#737 feat(sequencer): add `ibc_relayer_addresses` list and allow modifications via `ibc_sudo_address`
  crates/astria-core/src/generated/astria.sequencer.v1alpha1.rs
  crates/astria-core/src/sequencer/v1alpha1/transaction/action.rs
  crates/astria-sequencer/src/accounts/component.rs
  crates/astria-sequencer/src/accounts/ibc_relayer_change.rs
  crates/astria-sequencer/src/accounts/mod.rs
  crates/astria-sequencer/src/accounts/state_ext.rs
  crates/astria-sequencer/src/app.rs
  crates/astria-sequencer/src/genesis.rs
  crates/astria-sequencer/src/service/consensus.rs
  crates/astria-sequencer/src/transaction/mod.rs
  crates/astria-sequencer/test-genesis-app-state.json
  proto/sequencerapis/astria/sequencer/v1alpha1/transaction.proto
Labels: sequencer

#750 chore: upgrade metrics to latest
  Cargo.lock
  Cargo.toml
  crates/astria-celestia-client/src/client.rs
  crates/astria-celestia-client/src/metrics_init.rs
  crates/astria-sequencer-relayer/src/metrics_init.rs
  crates/astria-sequencer-relayer/src/relayer.rs
  crates/astria-telemetry/Cargo.toml
Labels: sequencer-relayer

#756 fix(ci): fixes docker builds
  .github/workflows/reusable-run-checker.yml
  Cargo.lock
  crates/astria-telemetry/Cargo.toml
Labels: ci

#736 feat!: add pretty-printing to stdout
  crates/astria-composer/local.env.example
  crates/astria-composer/src/config.rs
  crates/astria-composer/src/main.rs
  crates/astria-composer/src/searcher/executor/tests.rs
  crates/astria-composer/tests/blackbox/helper/mod.rs
  crates/astria-conductor/local.env.example
  crates/astria-conductor/src/config.rs
  crates/astria-conductor/src/main.rs
  crates/astria-sequencer-relayer/local.env.example
  crates/astria-sequencer-relayer/src/config.rs
  crates/astria-sequencer-relayer/src/main.rs
  crates/astria-sequencer-relayer/tests/blackbox/helper.rs
  crates/astria-sequencer/local.env.example
  crates/astria-sequencer/src/config.rs
  crates/astria-sequencer/src/main.rs
  crates/astria-telemetry/src/lib.rs
Labels: conductor, sequencer, sequencer-relayer, composer

#752 feat(sequencer): implement ability to update fee assets using sudo key
  crates/astria-core/src/generated/astria.sequencer.v1alpha1.rs
  crates/astria-core/src/sequencer/v1alpha1/transaction/action.rs
  crates/astria-sequencer/src/app.rs
  crates/astria-sequencer/src/fee_asset_change.rs
  crates/astria-sequencer/src/lib.rs
  crates/astria-sequencer/src/state_ext.rs
  crates/astria-sequencer/src/transaction/mod.rs
  proto/sequencerapis/astria/sequencer/v1alpha1/transaction.proto
Labels: sequencer

#757 refactor(sequencer): move ibc-related code to its own module
  crates/astria-sequencer/src/accounts/component.rs
  crates/astria-sequencer/src/accounts/mod.rs
  crates/astria-sequencer/src/accounts/state_ext.rs
  crates/astria-sequencer/src/app.rs
  crates/astria-sequencer/src/ibc/component.rs
  crates/astria-sequencer/src/ibc/host_interface.rs
  crates/astria-sequencer/src/ibc/ibc_relayer_change.rs
  crates/astria-sequencer/src/ibc/ics20_transfer.rs
  crates/astria-sequencer/src/ibc/ics20_withdrawal.rs
  crates/astria-sequencer/src/ibc/mod.rs
  crates/astria-sequencer/src/ibc/state_ext.rs
  crates/astria-sequencer/src/lib.rs
  crates/astria-sequencer/src/sequencer.rs
  crates/astria-sequencer/src/transaction/mod.rs
Labels: sequencer

#754 chore: add some information to crates update msrv
  crates/astria-celestia-client/Cargo.toml
  crates/astria-celestia-mock/Cargo.toml
  crates/astria-cli/Cargo.toml
  crates/astria-composer/Cargo.toml
  crates/astria-conductor/Cargo.toml
  crates/astria-config/Cargo.toml
  crates/astria-core/Cargo.toml
  crates/astria-merkle/Cargo.toml
  crates/astria-optimism/Cargo.toml
  crates/astria-sequencer-client/Cargo.toml
  crates/astria-sequencer-relayer/Cargo.toml
  crates/astria-sequencer-utils/Cargo.toml
  crates/astria-sequencer/Cargo.toml
  crates/astria-telemetry/Cargo.toml
  crates/astria-test-utils/Cargo.toml
Labels: conductor, sequencer, sequencer-relayer, composer

#753 feat: print build info in all services
  Cargo.lock
  Cargo.toml
  crates/astria-build-info/Cargo.toml
  crates/astria-build-info/README.md
  crates/astria-build-info/src/lib.rs
  crates/astria-composer/Cargo.toml
  crates/astria-composer/build.rs
  crates/astria-composer/src/build_info.rs
  crates/astria-composer/src/lib.rs
  crates/astria-composer/src/main.rs
  crates/astria-conductor/Cargo.toml
  crates/astria-conductor/build.rs
  crates/astria-conductor/src/build_info.rs
  crates/astria-conductor/src/lib.rs
  crates/astria-conductor/src/main.rs
  crates/astria-sequencer-relayer/Cargo.toml
  crates/astria-sequencer-relayer/build.rs
  crates/astria-sequencer-relayer/src/build_info.rs
  crates/astria-sequencer-relayer/src/lib.rs
  crates/astria-sequencer-relayer/src/main.rs
  crates/astria-sequencer/Cargo.toml
  crates/astria-sequencer/build.rs
  crates/astria-sequencer/src/build_info.rs
  crates/astria-sequencer/src/lib.rs
  crates/astria-sequencer/src/main.rs
Labels: conductor, sequencer, sequencer-relayer, composer

#760 release: composer 0.4, conductor 0.12, sequencer 0.9, relayer 0.10
  Cargo.lock
  crates/astria-composer/Cargo.toml
  crates/astria-conductor/Cargo.toml
  crates/astria-sequencer-relayer/Cargo.toml
  crates/astria-sequencer/Cargo.toml
Labels: conductor, sequencer, sequencer-relayer, composer

#762 fix(conductor): keep wsclient alive
  crates/astria-conductor/src/celestia/mod.rs
Labels: conductor

#763 fix(ci): build composer, and allow builds on old tags
  .github/workflows/build.yml
  .github/workflows/docker-build.yml
  .github/workflows/reusable-build.yml
  .github/workflows/reusable-docker-build.yml
Labels: ci

#767 chore(ci): add metrics to pr template
  .github/pull_request_template.md
Labels: ci

#765 feat(telemetry): simplify emitting error fields with cause chains
  Cargo.lock
  Cargo.toml
  crates/astria-cli/Cargo.toml
  crates/astria-composer/Cargo.toml
  crates/astria-composer/src/composer.rs
  crates/astria-composer/src/main.rs
  crates/astria-composer/src/searcher/collector.rs
  crates/astria-composer/src/searcher/executor/mod.rs
  crates/astria-composer/src/searcher/executor/tests.rs
  crates/astria-composer/src/searcher/mod.rs
  crates/astria-conductor/Cargo.toml
  crates/astria-conductor/src/celestia/block_verifier.rs
  crates/astria-conductor/src/celestia/builder.rs
  crates/astria-conductor/src/celestia/mod.rs
  crates/astria-conductor/src/client_provider.rs
  crates/astria-conductor/src/conductor.rs
  crates/astria-conductor/src/executor/builder.rs
  crates/astria-conductor/src/executor/client.rs
  crates/astria-conductor/src/executor/mod.rs
  crates/astria-conductor/src/executor/optimism.rs
  crates/astria-conductor/src/lib.rs
  crates/astria-conductor/src/main.rs
  crates/astria-conductor/src/sequencer.rs
  crates/astria-eyre/Cargo.toml
  crates/astria-eyre/README.md
  crates/astria-eyre/src/lib.rs
  crates/astria-optimism/Cargo.toml
  crates/astria-optimism/src/contract.rs
  crates/astria-optimism/src/deposit.rs
  crates/astria-sequencer-client/Cargo.toml
  crates/astria-sequencer-relayer/Cargo.toml
  crates/astria-sequencer-relayer/src/main.rs
  crates/astria-sequencer-relayer/src/relayer.rs
  crates/astria-sequencer-relayer/src/sequencer_relayer.rs
  crates/astria-sequencer-relayer/src/validator.rs
  crates/astria-sequencer-utils/Cargo.toml
  crates/astria-sequencer-utils/src/genesis_parser.rs
  crates/astria-sequencer-utils/src/main.rs
Labels: conductor, sequencer, sequencer-relayer, composer

#770 feat(proto): address comments on #701
  crates/astria-conductor/src/executor/mod.rs
  crates/astria-core/src/sequencer/v1alpha1/block.rs
  crates/astria-core/src/sequencer/v1alpha1/celestia.rs
  crates/astria-sequencer/src/grpc/sequencer.rs
Labels: conductor, sequencer

#769 feat(relayer): retry sequencer block fetch, celestia blob submission
  Cargo.lock
  Cargo.toml
  crates/astria-celestia-client/src/client.rs
  crates/astria-celestia-client/src/lib.rs
  crates/astria-celestia-client/src/submission.rs
  crates/astria-composer/Cargo.toml
  crates/astria-sequencer-relayer/Cargo.toml
  crates/astria-sequencer-relayer/src/api.rs
  crates/astria-sequencer-relayer/src/lib.rs
  crates/astria-sequencer-relayer/src/relayer.rs
  crates/astria-sequencer-relayer/src/relayer/mod.rs
  crates/astria-sequencer-relayer/src/relayer/read.rs
  crates/astria-sequencer-relayer/src/relayer/state.rs
  crates/astria-sequencer-relayer/src/relayer/write.rs
  crates/astria-sequencer-relayer/src/sequencer_relayer.rs
  crates/astria-sequencer-relayer/src/utils.rs
  crates/astria-sequencer-relayer/tests/blackbox/helper.rs
  crates/astria-sequencer-relayer/tests/blackbox/main.rs
Labels: sequencer-relayer, composer
