Repository astriaorg/astria, pull requests merged in 2024-11, with the labels that each got.

#1780 fix(charts): graph node storage
  charts/graph-node/Chart.yaml
  charts/graph-node/templates/volumes.yaml
Labels: cd

#1779 release(bridge-withdrawer): 1.0.1 patch release
  Cargo.lock
  charts/evm-bridge-withdrawer/Chart.yaml
  charts/evm-bridge-withdrawer/values.yaml
  charts/evm-stack/Chart.lock
  charts/evm-stack/Chart.yaml
  crates/astria-bridge-withdrawer/CHANGELOG.md
  crates/astria-bridge-withdrawer/Cargo.toml
Labels: cd

#1742 chore(sequencer-relayer): add metrics for recording Celestia fees
  crates/astria-bridge-withdrawer/src/metrics.rs
  crates/astria-sequencer-relayer/src/metrics.rs
  crates/astria-sequencer-relayer/src/relayer/celestia_client/mod.rs
  crates/astria-sequencer-relayer/src/relayer/write/mod.rs
  crates/astria-telemetry/Cargo.toml
  crates/astria-telemetry/src/metrics/into_f64.rs
Labels: sequencer-relayer, override-freeze

#1705 chore(spec): update bridge spec
  specs/bridge.md
Labels: documentation, bridging

#1612 feat(cli): bridge sudo change command
  crates/astria-cli/src/sequencer/bridge_account.rs
  crates/astria-cli/src/sequencer/bridge_sudo_change.rs
  crates/astria-cli/src/sequencer/mod.rs
Labels: cli, cd

#1782 fix: hermes service monitor
  charts/hermes/templates/servicemonitor.yaml
Labels: cd

#1720 fix(charts): local blockscout
  charts/evm-stack/Chart.lock
  charts/evm-stack/Chart.yaml
  charts/evm-stack/values.yaml
  dev/values/rollup/dev.yaml
Labels: cd

#1729 feat(charts): faster celestia blocktime In ibc-test
  charts/celestia-local/Chart.yaml
  charts/celestia-local/files/scripts/init-celestia-appd.sh
  charts/celestia-local/templates/configmap.yaml
  charts/celestia-local/values.yaml
  charts/ibc-test.just
Labels: cd

#1788 chore(sequencer): implement retry logic for connecting to the oracle sidecar
  Cargo.lock
  crates/astria-sequencer/Cargo.toml
  crates/astria-sequencer/src/sequencer.rs
Labels: proto, sequencer, cd

#1699 chore(charts): celestia versions bump
  charts/celestia-local/Chart.yaml
  charts/celestia-local/values.yaml
  charts/celestia-node/Chart.yaml
  charts/celestia-node/files/config.toml
  charts/celestia-node/values.yaml
  charts/evm-stack/Chart.lock
  charts/evm-stack/Chart.yaml
Labels: cd

#1791 refactor: make extended commit info third injected tx
  crates/astria-core/src/protocol/test_utils.rs
  crates/astria-core/src/sequencerblock/v1/block.rs
  crates/astria-sequencer/src/app/mod.rs
  crates/astria-sequencer/src/app/test_utils.rs
  crates/astria-sequencer/src/service/consensus.rs
Labels: sequencer

#1707 chore(proto): move optimistic block protos to v1
  crates/astria-core/src/generated/astria.sequencerblock.optimistic.v1alpha1.rs
  crates/astria-core/src/generated/astria.sequencerblock.optimistic.v1alpha1.serde.rs
  crates/astria-core/src/generated/astria.sequencerblock.optimisticblock.v1alpha1.rs
  crates/astria-core/src/generated/astria.sequencerblock.optimisticblock.v1alpha1.serde.rs
  crates/astria-core/src/generated/astria.sequencerblock.v1alpha1.rs
  crates/astria-core/src/generated/astria.sequencerblock.v1alpha1.serde.rs
  crates/astria-core/src/generated/mod.rs
  proto/sequencerblockapis/astria/sequencerblock/optimistic/v1alpha1/service.proto
Labels: proto, auctioneer

#1689 chore(docs): updates to data verification and inclusion proof specs
  specs/data-flow-and-verification.md
  specs/sequencer-inclusion-proofs.md
Labels: documentation

#1813 fix(ci): remove unnecessary checks from ibc-tests
  charts/ibc-test.just
Labels: cd

#1817 feat(sequencer, core): put extended commit info and proof into `SequencerBlock`
  crates/astria-conductor/src/celestia/block_verifier.rs
  crates/astria-core/src/generated/astria.sequencerblock.v1.rs
  crates/astria-core/src/generated/astria.sequencerblock.v1.serde.rs
  crates/astria-core/src/sequencerblock/v1/block.rs
  crates/astria-core/src/sequencerblock/v1/celestia.rs
  crates/astria-sequencer/src/app/vote_extension.rs
  crates/astria-sequencer/src/grpc/state_ext.rs
  crates/astria-sequencer/src/grpc/storage/keys.rs
  crates/astria-sequencer/src/grpc/storage/mod.rs
  crates/astria-sequencer/src/grpc/storage/snapshots/astria_sequencer__grpc__storage__keys__tests__keys_should_not_change-7.snap
  crates/astria-sequencer/src/grpc/storage/snapshots/astria_sequencer__grpc__storage__keys__tests__keys_should_not_change-8.snap
  crates/astria-sequencer/src/grpc/storage/values/extended_commit_info.rs
  crates/astria-sequencer/src/grpc/storage/values/mod.rs
  proto/sequencerblockapis/astria/sequencerblock/v1/block.proto
  proto/sequencerblockapis/astria/sequencerblock/v1/celestia.proto
Labels: conductor, proto, sequencer

#1800 refactor(core): make crypto module into crate
  Cargo.lock
  Cargo.toml
  crates/astria-cli/src/sequencer/account.rs
  crates/astria-core-consts/Cargo.toml
  crates/astria-core-consts/src/lib.rs
  crates/astria-core-crypto/CHANGELOG.md
  crates/astria-core-crypto/Cargo.toml
  crates/astria-core-crypto/src/lib.rs
  crates/astria-core/CHANGELOG.md
  crates/astria-core/Cargo.toml
  crates/astria-core/src/lib.rs
  crates/astria-core/src/primitive/v1/mod.rs
  crates/astria-sequencer/src/app/tests_breaking_changes.rs
  crates/astria-sequencer/src/app/tests_execute_transaction.rs
Labels: sequencer, refactor, core

#1802 refactor(core): move address logic to crate
  Cargo.lock
  Cargo.toml
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/submitter/mod.rs
  crates/astria-core-address/CHANGELOG.md
  crates/astria-core-address/Cargo.toml
  crates/astria-core-address/src/lib.rs
  crates/astria-core-consts/CHANGELOG.md
  crates/astria-core/CHANGELOG.md
  crates/astria-core/Cargo.toml
  crates/astria-core/src/primitive/v1/mod.rs
  crates/astria-core/src/protocol/bridge/v1/mod.rs
  crates/astria-core/src/protocol/genesis/v1.rs
  crates/astria-core/src/protocol/transaction/v1/action/mod.rs
  crates/astria-core/src/sequencerblock/v1/block.rs
  crates/astria-sequencer-client/src/tests/http.rs
  crates/astria-sequencer/src/fees/tests.rs
  crates/astria-sequencer/src/grpc/sequencer.rs
Labels: sequencer, core

#1778 fix(charts): fix hermes config
  charts/hermes/Chart.yaml
  charts/hermes/files/config.toml
  charts/hermes/templates/configmaps.yaml
  charts/hermes/templates/servicemonitor.yaml
Labels: cd

#1807 fix(sequencer)!: ensure deposits use trace-prefixed assets
  crates/astria-sequencer/CHANGELOG.md
  crates/astria-sequencer/src/bridge/bridge_lock_action.rs
Labels: sequencer

#1832 feat(sequencer): store currency pair id mapping along with committed extended commit info
  buf.yaml
  crates/astria-core/src/generated/astria.protocol.connect.v1.rs
  crates/astria-core/src/generated/astria.protocol.connect.v1.serde.rs
  crates/astria-core/src/generated/astria_vendored.tendermint.abci.rs
  crates/astria-core/src/generated/astria_vendored.tendermint.abci.serde.rs
  crates/astria-core/src/generated/mod.rs
  crates/astria-core/src/protocol/connect.rs
  crates/astria-core/src/protocol/mod.rs
  crates/astria-sequencer/src/app/mod.rs
  crates/astria-sequencer/src/app/test_utils.rs
  crates/astria-sequencer/src/app/vote_extension.rs
  crates/astria-sequencer/src/service/consensus.rs
  proto/protocolapis/astria/protocol/connect/v1/transaction.proto
  proto/protocolapis/astria_vendored/tendermint/abci/types.proto
  tools/protobuf-compiler/src/main.rs
Labels: proto, sequencer

#1836 fix(sequencer): provide unit tests and fixes for vote extensions
  Cargo.lock
  crates/astria-core/src/connect/types.rs
  crates/astria-sequencer/Cargo.toml
  crates/astria-sequencer/src/app/mod.rs
  crates/astria-sequencer/src/app/vote_extension.rs
Labels: sequencer
