Repository astriaorg/astria, pull requests merged in 2025-03, with the labels that each got.

#2008 feat(sequencer)!: implement `RecoverClient` action
  Cargo.lock
  Cargo.toml
  crates/astria-cli/src/sequencer/sudo/mod.rs
  crates/astria-cli/src/sequencer/sudo/recover_ibc_client.rs
  crates/astria-core/src/generated/astria.protocol.fees.v1.rs
  crates/astria-core/src/generated/astria.protocol.fees.v1.serde.rs
  crates/astria-core/src/generated/astria.protocol.genesis.v1.rs
  crates/astria-core/src/generated/astria.protocol.genesis.v1.serde.rs
  crates/astria-core/src/generated/astria.protocol.transaction.v1.rs
  crates/astria-core/src/generated/astria.protocol.transaction.v1.serde.rs
  crates/astria-core/src/protocol/fees/v1.rs
  crates/astria-core/src/protocol/genesis/snapshots/astria_core__protocol__genesis__v1__tests__genesis_state.snap
  crates/astria-core/src/protocol/genesis/v1.rs
  crates/astria-core/src/protocol/transaction/v1/action/group/mod.rs
  crates/astria-core/src/protocol/transaction/v1/action/mod.rs
  crates/astria-sequencer-utils/src/genesis_example.rs
  crates/astria-sequencer/CHANGELOG.md
  crates/astria-sequencer/Cargo.toml
  crates/astria-sequencer/src/action_handler/impls/fee_change.rs
  crates/astria-sequencer/src/action_handler/impls/mod.rs
  crates/astria-sequencer/src/action_handler/impls/recover_ibc_client.rs
  crates/astria-sequencer/src/action_handler/impls/transaction.rs
  crates/astria-sequencer/src/app/benchmark_and_test_utils.rs
  crates/astria-sequencer/src/app/snapshots/astria_sequencer__app__tests_breaking_changes__app_hash_at_genesis.snap
  crates/astria-sequencer/src/app/snapshots/astria_sequencer__app__tests_breaking_changes__app_hash_execute_every_action.snap
  crates/astria-sequencer/src/app/snapshots/astria_sequencer__app__tests_breaking_changes__app_hash_finalize_block.snap
  crates/astria-sequencer/src/fees/component.rs
  crates/astria-sequencer/src/fees/mod.rs
  crates/astria-sequencer/src/fees/query.rs
  crates/astria-sequencer/src/fees/storage/keys.rs
  crates/astria-sequencer/src/fees/storage/snapshots/astria_sequencer__fees__storage__keys__tests__recover_client_fees_key.snap
  crates/astria-sequencer/src/fees/storage/snapshots/astria_sequencer__fees__storage__keys__tests__recover_ibc_client_fees_key.snap
  crates/astria-sequencer/src/fees/storage/values.rs
  crates/astria-sequencer/src/ibc/mod.rs
  crates/astria-sequencer/src/service/info/mod.rs
  crates/astria-sequencer/src/transaction/checks.rs
  proto/protocolapis/astria/protocol/fees/v1/types.proto
  proto/protocolapis/astria/protocol/genesis/v1/types.proto
  proto/protocolapis/astria/protocol/transaction/v1/action.proto
Labels: proto, sequencer

#2010 chore(sequencer): refactor bridge checks
  crates/astria-sequencer/src/action_handler/impls/bridge_lock.rs
  crates/astria-sequencer/src/action_handler/impls/bridge_unlock.rs
  crates/astria-sequencer/src/action_handler/mod.rs
  crates/astria-sequencer/src/app/snapshots/astria_sequencer__app__tests_breaking_changes__app_hash_execute_every_action.snap
  crates/astria-sequencer/src/app/tests_breaking_changes.rs
Labels: sequencer

#1999 feat(conductor): include sequencer block hash
  crates/astria-conductor/CHANGELOG.md
  crates/astria-conductor/src/executor/client.rs
  crates/astria-conductor/src/executor/mod.rs
  crates/astria-conductor/src/executor/state.rs
  crates/astria-conductor/src/executor/tests.rs
  crates/astria-conductor/tests/blackbox/helpers/macros.rs
  crates/astria-core/src/execution/v1/mod.rs
  crates/astria-core/src/generated/astria.execution.v1.rs
  crates/astria-core/src/generated/astria.execution.v1.serde.rs
  crates/astria-core/src/generated/astria.execution.v2.rs
  crates/astria-core/src/generated/astria.execution.v2.serde.rs
  dev/values/rollup/dev.yaml
  dev/values/rollup/flame-dev.yaml
  proto/executionapis/astria/execution/v1/execution.proto
  proto/executionapis/astria/execution/v2/execute_block_request.proto
  proto/executionapis/astria/execution/v2/executed_block_metadata.proto
  specs/execution-api.md
Labels: documentation, conductor, proto, cd, override-freeze

#1985 chore(sequencer): add snapshots for storage values to enforce non-state-breaking changes
  crates/astria-sequencer/src/accounts/storage/snapshots/astria_sequencer__accounts__storage__values__tests__stored_value_account_variant.snap
  crates/astria-sequencer/src/accounts/storage/snapshots/astria_sequencer__accounts__storage__values__tests__value_impl_balance.snap
  crates/astria-sequencer/src/accounts/storage/snapshots/astria_sequencer__accounts__storage__values__tests__value_impl_nonce.snap
  crates/astria-sequencer/src/accounts/storage/values.rs
  crates/astria-sequencer/src/address/storage/snapshots/astria_sequencer__address__storage__values__tests__stored_value_address_variant.snap
  crates/astria-sequencer/src/address/storage/snapshots/astria_sequencer__address__storage__values__tests__value_impl_address_prefix.snap
  crates/astria-sequencer/src/address/storage/values.rs
  crates/astria-sequencer/src/app/storage/values/mod.rs
  crates/astria-sequencer/src/app/storage/values/snapshots/astria_sequencer__app__storage__values__tests__stored_value_app_variant.snap
  crates/astria-sequencer/src/app/storage/values/snapshots/astria_sequencer__app__storage__values__tests__value_impl_block_height.snap
  crates/astria-sequencer/src/app/storage/values/snapshots/astria_sequencer__app__storage__values__tests__value_impl_block_timestamp.snap
  crates/astria-sequencer/src/app/storage/values/snapshots/astria_sequencer__app__storage__values__tests__value_impl_chain_id.snap
  crates/astria-sequencer/src/app/storage/values/snapshots/astria_sequencer__app__storage__values__tests__value_impl_revision_number.snap
  crates/astria-sequencer/src/app/storage/values/snapshots/astria_sequencer__app__storage__values__tests__value_impl_storage_version.snap
  crates/astria-sequencer/src/assets/storage/snapshots/astria_sequencer__assets__storage__values__tests__stored_value_assets_variant.snap
  crates/astria-sequencer/src/assets/storage/snapshots/astria_sequencer__assets__storage__values__tests__value_impl_trace_prefixed_denom.snap
  crates/astria-sequencer/src/assets/storage/values.rs
  crates/astria-sequencer/src/authority/storage/snapshots/astria_sequencer__authority__storage__values__tests__stored_value_authority_variant.snap
  crates/astria-sequencer/src/authority/storage/snapshots/astria_sequencer__authority__storage__values__tests__value_impl_address_bytes.snap
  crates/astria-sequencer/src/authority/storage/snapshots/astria_sequencer__authority__storage__values__tests__value_impl_validator_set.snap
  crates/astria-sequencer/src/authority/storage/values.rs
  crates/astria-sequencer/src/bridge/storage/values/mod.rs
  crates/astria-sequencer/src/bridge/storage/values/snapshots/astria_sequencer__bridge__storage__values__tests__stored_value_bridge_variant.snap
  crates/astria-sequencer/src/bridge/storage/values/snapshots/astria_sequencer__bridge__storage__values__tests__value_impl_address_bytes.snap
  crates/astria-sequencer/src/bridge/storage/values/snapshots/astria_sequencer__bridge__storage__values__tests__value_impl_block_height.snap
  crates/astria-sequencer/src/bridge/storage/values/snapshots/astria_sequencer__bridge__storage__values__tests__value_impl_deposits.snap
  crates/astria-sequencer/src/bridge/storage/values/snapshots/astria_sequencer__bridge__storage__values__tests__value_impl_ibc_prefixed_denom.snap
  crates/astria-sequencer/src/bridge/storage/values/snapshots/astria_sequencer__bridge__storage__values__tests__value_impl_rollup_id.snap
  crates/astria-sequencer/src/bridge/storage/values/snapshots/astria_sequencer__bridge__storage__values__tests__value_impl_transaction_id.snap
  crates/astria-sequencer/src/fees/storage/snapshots/astria_sequencer__fees__storage__values__tests__stored_value_fees_variant.snap
  crates/astria-sequencer/src/fees/storage/snapshots/astria_sequencer__fees__storage__values__tests__value_impl_bridge_lock_fees.snap
  crates/astria-sequencer/src/fees/storage/snapshots/astria_sequencer__fees__storage__values__tests__value_impl_bridge_sudo_change_fees.snap
  crates/astria-sequencer/src/fees/storage/snapshots/astria_sequencer__fees__storage__values__tests__value_impl_bridge_transfer_fees.snap
  crates/astria-sequencer/src/fees/storage/snapshots/astria_sequencer__fees__storage__values__tests__value_impl_bridge_unlock_fees.snap
  crates/astria-sequencer/src/fees/storage/snapshots/astria_sequencer__fees__storage__values__tests__value_impl_fee_asset_change_fees.snap
  crates/astria-sequencer/src/fees/storage/snapshots/astria_sequencer__fees__storage__values__tests__value_impl_fee_change_fees.snap
  crates/astria-sequencer/src/fees/storage/snapshots/astria_sequencer__fees__storage__values__tests__value_impl_ibc_relay_fees.snap
  crates/astria-sequencer/src/fees/storage/snapshots/astria_sequencer__fees__storage__values__tests__value_impl_ibc_relayer_change_fees.snap
  crates/astria-sequencer/src/fees/storage/snapshots/astria_sequencer__fees__storage__values__tests__value_impl_ibc_sudo_change_fees.snap
  crates/astria-sequencer/src/fees/storage/snapshots/astria_sequencer__fees__storage__values__tests__value_impl_ics20_withdrawal_fees.snap
  crates/astria-sequencer/src/fees/storage/snapshots/astria_sequencer__fees__storage__values__tests__value_impl_init_bridge_account_fees.snap
  crates/astria-sequencer/src/fees/storage/snapshots/astria_sequencer__fees__storage__values__tests__value_impl_rollup_data_submission_fees.snap
  crates/astria-sequencer/src/fees/storage/snapshots/astria_sequencer__fees__storage__values__tests__value_impl_sudo_address_change_fees.snap
  crates/astria-sequencer/src/fees/storage/snapshots/astria_sequencer__fees__storage__values__tests__value_impl_transfer_fees.snap
  crates/astria-sequencer/src/fees/storage/snapshots/astria_sequencer__fees__storage__values__tests__value_impl_validator_update_fees.snap
  crates/astria-sequencer/src/fees/storage/values.rs
  crates/astria-sequencer/src/grpc/storage/values/mod.rs
  crates/astria-sequencer/src/grpc/storage/values/snapshots/astria_sequencer__grpc__storage__values__tests__stored_value_grpc_variant.snap
  crates/astria-sequencer/src/grpc/storage/values/snapshots/astria_sequencer__grpc__storage__values__tests__value_impl_block_hash.snap
  crates/astria-sequencer/src/grpc/storage/values/snapshots/astria_sequencer__grpc__storage__values__tests__value_impl_proof.snap
  crates/astria-sequencer/src/grpc/storage/values/snapshots/astria_sequencer__grpc__storage__values__tests__value_impl_rollup_ids.snap
  crates/astria-sequencer/src/grpc/storage/values/snapshots/astria_sequencer__grpc__storage__values__tests__value_impl_rollup_transactions.snap
  crates/astria-sequencer/src/grpc/storage/values/snapshots/astria_sequencer__grpc__storage__values__tests__value_impl_sequencer_block_header.snap
  crates/astria-sequencer/src/ibc/storage/snapshots/astria_sequencer__ibc__storage__values__tests__stored_value_ibc_variant.snap
  crates/astria-sequencer/src/ibc/storage/snapshots/astria_sequencer__ibc__storage__values__tests__value_impl_address_bytes.snap
  crates/astria-sequencer/src/ibc/storage/snapshots/astria_sequencer__ibc__storage__values__tests__value_impl_balance.snap
  crates/astria-sequencer/src/ibc/storage/values.rs
  crates/astria-sequencer/src/storage/snapshots/astria_sequencer__storage__stored_value__tests__stored_value_unit_variant.snap
  crates/astria-sequencer/src/storage/stored_value.rs
  crates/astria-sequencer/src/test_utils.rs
Labels: sequencer

#2012 fix(sequencer): mempool pending nonce calcuations
  crates/astria-sequencer/CHANGELOG.md
  crates/astria-sequencer/src/app/mod.rs
  crates/astria-sequencer/src/grpc/sequencer.rs
  crates/astria-sequencer/src/mempool/mod.rs
  crates/astria-sequencer/src/mempool/transactions_container.rs
  crates/astria-sequencer/src/service/consensus.rs
Labels: sequencer

#2023 chore(charts): update for latest geth releases
  charts/evm-rollup/Chart.yaml
  charts/evm-rollup/values.yaml
  charts/evm-stack/Chart.lock
  charts/evm-stack/Chart.yaml
  charts/flame-rollup/Chart.yaml
  charts/flame-rollup/values.yaml
  dev/values/rollup/dev.yaml
  dev/values/rollup/flame-dev.yaml
Labels: cd

#1967 feat(chart): external ingress
  charts/external-ingress/Chart.yaml
  charts/external-ingress/templates/_helpers.tpl
  charts/external-ingress/templates/ingress.yaml
  charts/external-ingress/templates/services.yaml
  charts/external-ingress/values.yaml
Labels: cd

#2017 chore: cut releases
  Cargo.lock
  crates/astria-bridge-withdrawer/CHANGELOG.md
  crates/astria-bridge-withdrawer/Cargo.toml
  crates/astria-cli/CHANGELOG.md
  crates/astria-cli/Cargo.toml
  crates/astria-composer/CHANGELOG.md
  crates/astria-composer/Cargo.toml
  crates/astria-conductor/CHANGELOG.md
  crates/astria-conductor/Cargo.toml
  crates/astria-sequencer-relayer/CHANGELOG.md
  crates/astria-sequencer-relayer/Cargo.toml
  crates/astria-sequencer/CHANGELOG.md
  crates/astria-sequencer/Cargo.toml
Labels: conductor, sequencer, sequencer-relayer, composer

#2028 fix(core): change decimals to be u8 natively
  crates/astria-core/src/connect/market_map.rs
  crates/astria-core/src/protocol/connect.rs
  crates/astria-core/src/sequencerblock/v1/block.rs
  crates/astria-sequencer-utils/src/blob_parser.rs
  crates/astria-sequencer/src/connect/market_map/storage/values/market_map.rs
  crates/astria-sequencer/src/grpc/connect.rs
Labels: sequencer

#2032 (chore): unfreeze conductor and relayer
  .github/code-freeze-filter.yaml
Labels: ci

#2033 ci: freeze test fix
  .github/code-freeze-filter.yaml
  .github/workflows/code-freeze.yml
Labels: ci, override-freeze

#1990 feat(charts)!: sequencer defaults for networks
  charts/deploy.just
  charts/ibc-test.just
  charts/sequencer-relayer/Chart.yaml
  charts/sequencer-relayer/templates/_helpers.tpl
  charts/sequencer-relayer/templates/configmaps.yaml
  charts/sequencer-relayer/values.yaml
  charts/sequencer/Chart.lock
  charts/sequencer/Chart.yaml
  charts/sequencer/files/cometbft/config/config.toml
  charts/sequencer/files/cometbft/config/custom.genesis.json
  charts/sequencer/files/cometbft/config/dawn-1.genesis.json
  charts/sequencer/files/cometbft/config/dusk-11.genesis.json
  charts/sequencer/files/cometbft/config/mainnet.genesis.json
  charts/sequencer/templates/_helpers.tpl
  charts/sequencer/templates/configmaps.yaml
  charts/sequencer/values.yaml
  dev/argocd/pr-preview-envs/sequencer-appset.yaml
  dev/values/validators/mainnet.yml
Labels: cd

#2034 fix(charts): broken helper in relayer
  charts/sequencer-relayer/Chart.yaml
  charts/sequencer-relayer/templates/_helpers.tpl
  charts/sequencer/Chart.lock
  charts/sequencer/Chart.yaml
Labels: cd

#2035 chore(charts): update for releases
  charts/composer/Chart.yaml
  charts/composer/values.yaml
  charts/evm-bridge-withdrawer/Chart.yaml
  charts/evm-bridge-withdrawer/values.yaml
  charts/evm-rollup/Chart.yaml
  charts/evm-rollup/values.yaml
  charts/evm-stack/Chart.lock
  charts/evm-stack/Chart.yaml
  charts/flame-rollup/Chart.yaml
  charts/flame-rollup/values.yaml
  charts/sequencer-relayer/Chart.yaml
  charts/sequencer-relayer/templates/_helpers.tpl
  charts/sequencer/Chart.lock
  charts/sequencer/Chart.yaml
  charts/sequencer/templates/_helpers.tpl
  charts/sequencer/templates/configmaps.yaml
  dev/values/validators/all-without-native.yml
  dev/values/validators/all.yml
Labels: cd

#2036 fix(chart): cometbft version missing v
  charts/sequencer/Chart.yaml
  charts/sequencer/templates/_helpers.tpl
Labels: cd

#2024 fix(sequencer): ensure proposal execution uses latest info
  crates/astria-sequencer/CHANGELOG.md
  crates/astria-sequencer/src/app/execution_state.rs
  crates/astria-sequencer/src/app/mod.rs
  crates/astria-sequencer/src/app/snapshots/astria_sequencer__app__execution_state__tests__check_if_prepared_invalidates_mismatch.snap
  crates/astria-sequencer/src/app/snapshots/astria_sequencer__app__execution_state__tests__check_if_prepared_on_prepared_valid_will_invalidate_mismatch.snap
  crates/astria-sequencer/src/app/snapshots/astria_sequencer__app__execution_state__tests__check_if_prepared_validates_successfully.snap
  crates/astria-sequencer/src/app/snapshots/astria_sequencer__app__execution_state__tests__set_execute_block_with_non_settable_states_errors.snap
  crates/astria-sequencer/src/app/snapshots/astria_sequencer__app__execution_state__tests__set_prepared_succeeds.snap
  crates/astria-sequencer/src/app/tests_app/mempool.rs
  crates/astria-sequencer/src/app/tests_app/mod.rs
Labels: sequencer, docker-build

#2037 fix(sequencer): change how verified consensus state is fetched in `RecoverIbcClient`
  crates/astria-sequencer/CHANGELOG.md
  crates/astria-sequencer/src/action_handler/impls/recover_ibc_client.rs
Labels: sequencer, docker-build

#2038 release(sequencer, charts): cut sequencer v2.0.0-rc.2 release
  Cargo.lock
  charts/sequencer/Chart.yaml
  charts/sequencer/templates/_helpers.tpl
  crates/astria-sequencer/CHANGELOG.md
  crates/astria-sequencer/Cargo.toml
Labels: sequencer, cd

#1969 fix(sequencer): increase mempool removal cache size
  crates/astria-sequencer/CHANGELOG.md
  crates/astria-sequencer/src/mempool/mod.rs
Labels: sequencer

#2039 release(sequencer): v2.0.0 major release
  Cargo.lock
  charts/sequencer/Chart.yaml
  charts/sequencer/templates/_helpers.tpl
  charts/sequencer/templates/configmaps.yaml
  crates/astria-sequencer/CHANGELOG.md
  crates/astria-sequencer/Cargo.toml
Labels: sequencer, cd

#2031 (chore): replace `humantime` crate with `jiff`
  Cargo.lock
  Cargo.toml
  crates/astria-auctioneer/Cargo.toml
  crates/astria-auctioneer/src/auctioneer/auction/worker.rs
  crates/astria-auctioneer/src/auctioneer/mod.rs
  crates/astria-bridge-withdrawer/Cargo.toml
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/ethereum/watcher.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/startup.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/submitter/mod.rs
  crates/astria-cli/Cargo.toml
  crates/astria-cli/src/bridge/collect.rs
  crates/astria-composer/Cargo.toml
  crates/astria-composer/src/collectors/geth.rs
  crates/astria-composer/src/executor/mod.rs
  crates/astria-conductor/Cargo.toml
  crates/astria-conductor/src/celestia/fetch.rs
  crates/astria-conductor/src/celestia/mod.rs
  crates/astria-conductor/src/celestia/verify.rs
  crates/astria-conductor/src/conductor/inner.rs
  crates/astria-conductor/src/executor/client.rs
  crates/astria-conductor/src/sequencer/client.rs
  crates/astria-conductor/src/sequencer/mod.rs
  crates/astria-sequencer-client/Cargo.toml
  crates/astria-sequencer-relayer/Cargo.toml
  crates/astria-sequencer-relayer/src/relayer/mod.rs
  crates/astria-sequencer-relayer/src/relayer/read.rs
  crates/astria-sequencer-relayer/src/relayer/submission.rs
  crates/astria-sequencer-relayer/src/relayer/write/mod.rs
  crates/astria-telemetry/Cargo.toml
  crates/astria-telemetry/src/display.rs
Labels: conductor, sequencer, sequencer-relayer, composer, override-freeze

#2045 fix(charts): geth logLevel
  charts/evm-rollup/Chart.yaml
  charts/evm-rollup/templates/_helpers.tpl
  charts/evm-rollup/templates/statefulsets.yaml
  charts/evm-stack/Chart.lock
  charts/evm-stack/Chart.yaml
  charts/flame-rollup/Chart.yaml
  charts/flame-rollup/templates/_helpers.tpl
  charts/flame-rollup/templates/statefulsets.yaml
Labels: cd

#2044 chore(sequencer): avoid hashing proposal data in execution state
  crates/astria-sequencer/src/app/execution_state.rs
  crates/astria-sequencer/src/app/mod.rs
  crates/astria-sequencer/src/app/snapshots/astria_sequencer__app__execution_state__tests__check_if_prepared_invalidates_mismatch.snap
  crates/astria-sequencer/src/app/snapshots/astria_sequencer__app__execution_state__tests__check_if_prepared_on_prepared_valid_will_invalidate_mismatch.snap
  crates/astria-sequencer/src/app/snapshots/astria_sequencer__app__execution_state__tests__check_if_prepared_validates_successfully.snap
  crates/astria-sequencer/src/app/snapshots/astria_sequencer__app__execution_state__tests__set_execute_block_with_non_settable_states_errors.snap
  crates/astria-sequencer/src/app/snapshots/astria_sequencer__app__execution_state__tests__set_prepared_succeeds.snap
  crates/astria-sequencer/src/app/tests_app/mod.rs
Labels: sequencer

#1948 feat(bridge-withdrawer): support FROST threshold signing
  Cargo.lock
  buf.yaml
  charts/evm-bridge-withdrawer/Chart.yaml
  charts/evm-bridge-withdrawer/templates/configmaps.yaml
  charts/evm-bridge-withdrawer/values.yaml
  charts/evm-stack/Chart.lock
  charts/evm-stack/Chart.yaml
  crates/astria-bridge-withdrawer/CHANGELOG.md
  crates/astria-bridge-withdrawer/Cargo.toml
  crates/astria-bridge-withdrawer/local.env.example
  crates/astria-bridge-withdrawer/pub_bridge.key
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/mod.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/submitter/builder.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/submitter/mod.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/submitter/signer/frost.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/submitter/signer/key.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/submitter/signer/mod.rs
  crates/astria-bridge-withdrawer/src/config.rs
  crates/astria-bridge-withdrawer/src/main.rs
  crates/astria-bridge-withdrawer/tests/blackbox/helpers/mock_bridge_signer.rs
  crates/astria-bridge-withdrawer/tests/blackbox/helpers/mod.rs
  crates/astria-bridge-withdrawer/tests/blackbox/helpers/test_bridge_withdrawer.rs
  crates/astria-bridge-withdrawer/tests/blackbox/main.rs
  crates/astria-core/src/generated/astria.signer.v1.rs
  crates/astria-core/src/generated/astria.signer.v1.serde.rs
  crates/astria-core/src/generated/mod.rs
  proto/signerapis/astria/signer/v1/commitment_with_identifier.proto
  proto/signerapis/astria/signer/v1/frost_participant_service.proto
  proto/signerapis/astria/signer/v1/get_verifying_share_request.proto
  proto/signerapis/astria/signer/v1/round_one_request.proto
  proto/signerapis/astria/signer/v1/round_one_response.proto
  proto/signerapis/astria/signer/v1/round_two_request.proto
  proto/signerapis/astria/signer/v1/round_two_response.proto
  proto/signerapis/astria/signer/v1/verifying_share.proto
Labels: proto, cd

#2002 chore(just): organize just recipes into modules and add comments to all
  .github/workflows/docker-build.yml
  charts/README.md
  charts/deploy.just
  charts/just/clean.just
  charts/just/defaults.just
  charts/just/delete.just
  charts/just/deploy.just
  charts/just/evm.just
  charts/just/init.just
  charts/just/mod.just
  charts/just/run/ibc-test.just
  charts/just/run/mod.just
  crates/astria-sequencer-relayer/TESTING.md
  dev/just/argo.just
  dev/just/helm.just
  dev/just/kubetail.just
  justfile
Labels: ci, sequencer-relayer, testing, cd, charts

#1998 tests(sequencer): add unit tests for `bridge_account_last_tx_hash` and `transaction_fee` ABCI queries
  crates/astria-core/src/protocol/fees/v1.rs
  crates/astria-sequencer/src/bridge/query.rs
  crates/astria-sequencer/src/fees/query.rs
Labels: sequencer

#2052 chore(charts,hermes): bump hermes version
  charts/hermes/Chart.yaml
  charts/hermes/values.yaml
Labels: cd

#2062 chore: update chart upgrade format
  .github/workflows/docker-build.yml
  charts/deploy.just
  charts/sequencer/files/cometbft/config/custom.genesis.json
  charts/sequencer/files/upgrades/custom.upgrades.json
  charts/sequencer/files/upgrades/dawn-1.genesis.json
  charts/sequencer/files/upgrades/dusk-11.genesis.json
  charts/sequencer/files/upgrades/mainnet.genesis.json
  charts/sequencer/templates/configmaps.yaml
  charts/sequencer/values.yaml
  dev/values/validators/all.yml
  dev/values/validators/priceFeed.genesis.yml
  dev/values/validators/upgrade1.upgrades.yml
  system-tests/README.md
  system-tests/helpers/sequencer_controller.py
  system-tests/sequencer_upgrade_test.py
Labels: ci, docker-build, cd

#2066 chore: merge main branch to oracle feature branch
  .github/workflows/docker-build.yml
  Cargo.lock
  buf.yaml
  charts/README.md
  charts/deploy.just
  charts/evm-bridge-withdrawer/Chart.yaml
  charts/evm-bridge-withdrawer/templates/configmaps.yaml
  charts/evm-bridge-withdrawer/values.yaml
  charts/evm-stack/Chart.lock
  charts/evm-stack/Chart.yaml
  charts/hermes/Chart.yaml
  charts/hermes/values.yaml
  charts/just/clean.just
  charts/just/defaults.just
  charts/just/delete.just
  charts/just/deploy.just
  charts/just/evm.just
  charts/just/init.just
  charts/just/mod.just
  charts/just/run/ibc-test.just
  charts/just/run/mod.just
  crates/astria-bridge-withdrawer/CHANGELOG.md
  crates/astria-bridge-withdrawer/Cargo.toml
  crates/astria-bridge-withdrawer/local.env.example
  crates/astria-bridge-withdrawer/pub_bridge.key
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/mod.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/submitter/builder.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/submitter/mod.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/submitter/signer/frost.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/submitter/signer/key.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/submitter/signer/mod.rs
  crates/astria-bridge-withdrawer/src/config.rs
  crates/astria-bridge-withdrawer/src/main.rs
  crates/astria-bridge-withdrawer/tests/blackbox/helpers/mock_bridge_signer.rs
  crates/astria-bridge-withdrawer/tests/blackbox/helpers/mod.rs
  crates/astria-bridge-withdrawer/tests/blackbox/helpers/test_bridge_withdrawer.rs
  crates/astria-bridge-withdrawer/tests/blackbox/main.rs
  crates/astria-core/src/generated/astria.signer.v1.rs
  crates/astria-core/src/generated/astria.signer.v1.serde.rs
  crates/astria-core/src/generated/mod.rs
  crates/astria-core/src/protocol/fees/v1.rs
  crates/astria-sequencer-relayer/TESTING.md
  crates/astria-sequencer/src/bridge/query.rs
  crates/astria-sequencer/src/fees/query.rs
  dev/just/argo.just
  dev/just/helm.just
  dev/just/kubetail.just
  justfile
  proto/signerapis/astria/signer/v1/commitment_with_identifier.proto
  proto/signerapis/astria/signer/v1/frost_participant_service.proto
  proto/signerapis/astria/signer/v1/get_verifying_share_request.proto
  proto/signerapis/astria/signer/v1/round_one_request.proto
  proto/signerapis/astria/signer/v1/round_one_response.proto
  proto/signerapis/astria/signer/v1/round_two_request.proto
  proto/signerapis/astria/signer/v1/round_two_response.proto
  proto/signerapis/astria/signer/v1/verifying_share.proto
  system-tests/README.md
Labels: ci, proto, sequencer, sequencer-relayer, cd

#2075 fix(ci): wait for readiness in smoke CLI deployment
  charts/just/deploy.just
Labels: ci

#2056 chore(sequencer): fix signing key comments
  crates/astria-sequencer/src/app/test_utils.rs
Labels: sequencer
