Repository astriaorg/astria, pull requests merged in 2025-05, with the labels that each got.

#2043 chore(composer): fix flaky test
  crates/astria-composer/tests/blackbox/executor.rs
Labels: composer, testing

#2086 feat(composer): get existing pending transactions on startup
  charts/evm-rollup/Chart.yaml
  charts/evm-rollup/values.yaml
  charts/evm-stack/Chart.lock
  charts/evm-stack/Chart.yaml
  crates/astria-composer/CHANGELOG.md
  crates/astria-composer/src/collectors/geth.rs
  crates/astria-composer/tests/blackbox/api.rs
  crates/astria-composer/tests/blackbox/executor.rs
  crates/astria-composer/tests/blackbox/geth_collector.rs
  crates/astria-composer/tests/blackbox/grpc_collector.rs
  crates/astria-composer/tests/blackbox/helper/mod.rs
  crates/astria-test-utils/src/mock/geth.rs
Labels: enhancement, composer, cd

#2135 fix(sequencer): remove failed promotable instead of inserted tx
  crates/astria-sequencer/CHANGELOG.md
  crates/astria-sequencer/src/mempool/mod.rs
  crates/astria-sequencer/src/service/mempool/mod.rs
Labels: bug, sequencer

#2133 feat(sequencer): add mempool gRPC capabilities
  buf.yaml
  crates/astria-core/src/generated/astria.mempool.v1.rs
  crates/astria-core/src/generated/astria.mempool.v1.serde.rs
  crates/astria-core/src/generated/mod.rs
  crates/astria-core/src/protocol/abci.rs
  crates/astria-core/src/protocol/snapshots/astria_core__protocol__abci__tests__AbciErrorCode::18.snap
  crates/astria-core/src/protocol/snapshots/astria_core__protocol__abci__tests__AbciErrorCode::19.snap
  crates/astria-core/src/protocol/snapshots/astria_core__protocol__abci__tests__AbciErrorCode::20.snap
  crates/astria-core/src/protocol/snapshots/astria_core__protocol__abci__tests__AbciErrorCode::21.snap
  crates/astria-sequencer/CHANGELOG.md
  crates/astria-sequencer/src/app/benchmarks.rs
  crates/astria-sequencer/src/app/mod.rs
  crates/astria-sequencer/src/app/tests_app/mempool.rs
  crates/astria-sequencer/src/app/tests_app/mod.rs
  crates/astria-sequencer/src/app/tests_app/upgrades.rs
  crates/astria-sequencer/src/app/tests_block_ordering.rs
  crates/astria-sequencer/src/app/tests_breaking_changes.rs
  crates/astria-sequencer/src/grpc/mempool.rs
  crates/astria-sequencer/src/grpc/mod.rs
  crates/astria-sequencer/src/grpc/sequencer.rs
  crates/astria-sequencer/src/mempool/benchmarks.rs
  crates/astria-sequencer/src/mempool/mod.rs
  crates/astria-sequencer/src/mempool/transactions_container.rs
  crates/astria-sequencer/src/metrics.rs
  crates/astria-sequencer/src/sequencer.rs
  crates/astria-sequencer/src/service/consensus.rs
  crates/astria-sequencer/src/service/mempool/into_check_tx_response.rs
  crates/astria-sequencer/src/service/mempool/mod.rs
  crates/astria-sequencer/src/service/mempool/outcome.rs
  crates/astria-sequencer/src/service/mempool/tests.rs
  crates/astria-sequencer/src/transaction/mod.rs
  justfile
  proto/mempoolapis/LICENSE
  proto/mempoolapis/astria/mempool/v1/get_transaction_status_request.proto
  proto/mempoolapis/astria/mempool/v1/submit_transaction_request.proto
  proto/mempoolapis/astria/mempool/v1/submit_transaction_response.proto
  proto/mempoolapis/astria/mempool/v1/transaction_service.proto
  proto/mempoolapis/astria/mempool/v1/transaction_status.proto
Labels: enhancement, ci, proto, sequencer

#2170 ci: use nip.io instead of localdev.me
  charts/README.md
  charts/astrotrek/Chart.yaml
  charts/astrotrek/values.yaml
  charts/celestia-local/Chart.yaml
  charts/celestia-local/values.yaml
  charts/evm-faucet/Chart.yaml
  charts/evm-faucet/values.yaml
  charts/evm-rollup/Chart.yaml
  charts/evm-rollup/values.yaml
  charts/evm-stack/Chart.lock
  charts/evm-stack/Chart.yaml
  charts/external-ingress/Chart.yaml
  charts/external-ingress/values.yaml
  charts/flame-rollup/Chart.yaml
  charts/flame-rollup/values.yaml
  charts/graph-node/Chart.yaml
  charts/graph-node/values.yaml
  charts/hermes/Chart.yaml
  charts/hermes/values.yaml
  charts/hyperlane-agents/Chart.yaml
  charts/hyperlane-agents/values.yaml
  charts/just/defaults.just
  charts/just/run/ibc-test.just
  charts/just/run/mod.just
  charts/sequencer-faucet/Chart.yaml
  charts/sequencer-faucet/values.yaml
  charts/sequencer/Chart.yaml
  charts/sequencer/values.yaml
  dev/values/rollup/dev.yaml
  dev/values/rollup/evm-restart-test.yaml
  dev/values/rollup/flame-dev.yaml
  dev/values/validators/node1.yml
  dev/values/validators/node2.yml
  dev/values/validators/node3.yml
  dev/values/validators/node4.yml
  system-tests/helpers/astria_cli.py
  system-tests/helpers/evm_controller.py
  system-tests/helpers/sequencer_controller.py
  system-tests/sequencer_upgrade_test.py
Labels: cd

#2164 feat(charts): support for forma testnet
  charts/celestia-node/Chart.yaml
  charts/celestia-node/values.yaml
  charts/composer/Chart.yaml
  charts/composer/templates/deployment.yaml
  charts/evm-rollup/Chart.yaml
  charts/evm-rollup/files/genesis/forma-testnet.genesis.json
  charts/evm-rollup/files/scripts/init-geth.sh
  charts/evm-rollup/templates/_helpers.tpl
  charts/evm-rollup/templates/configmap.yaml
  charts/evm-rollup/templates/service.yaml
  charts/evm-rollup/templates/statefulsets.yaml
  charts/evm-rollup/values.yaml
  charts/evm-stack/Chart.lock
  charts/evm-stack/Chart.yaml
Labels: cd

#2166 chore(ci): add `mempool-apis` and `upgrades` to proto lint
  .github/workflows/lint.yml
  .github/workflows/reusable-run-checker.yml
Labels: ci, proto

#2179 ci: update rust cache tool
  .github/workflows/test.yml
Labels: ci

#1842 fix(sequencer): allow benchmarks to run on macOS and fix issues
  crates/astria-sequencer/benches/benchmark.rs
  crates/astria-sequencer/src/app/benchmarks.rs
  crates/astria-sequencer/src/app/mod.rs
  crates/astria-sequencer/src/benchmark_utils.rs
  crates/astria-sequencer/src/bridge/state_ext.rs
  crates/astria-sequencer/src/mempool/benchmarks.rs
  crates/astria-sequencer/src/mempool/mod.rs
  crates/astria-sequencer/src/mempool/transactions_container.rs
Labels: sequencer, ignore-stale, stale

#2178 release(sequencer): sequencer 3.0.0-rc.2 w/ chart
  Cargo.lock
  charts/sequencer/Chart.yaml
  charts/sequencer/files/upgrades/dawn-1.upgrades.json
  charts/sequencer/files/upgrades/mainnet.upgrades.json
  charts/sequencer/templates/_helpers.tpl
  charts/sequencer/templates/configmaps.yaml
  charts/sequencer/values.yaml
  crates/astria-sequencer/CHANGELOG.md
  crates/astria-sequencer/Cargo.toml
Labels: sequencer, cd

#2169 chore(sequencer): refactor sequencer `serve()` function
  crates/astria-sequencer/src/checked_actions/checked_action.rs
  crates/astria-sequencer/src/grpc/mod.rs
  crates/astria-sequencer/src/sequencer.rs
Labels: sequencer, refactor, code-quality

#2162 chore(conductor): v2.0.0-rc.2
  Cargo.lock
  crates/astria-conductor/CHANGELOG.md
  crates/astria-conductor/Cargo.toml
Labels: conductor

#2190 fix(sequencer): avoid including unexecuted rollup data
  crates/astria-sequencer/CHANGELOG.md
  crates/astria-sequencer/src/app/mod.rs
Labels: sequencer

#2191 release(charts, sequencer): sequencer v3
  Cargo.lock
  charts/sequencer-relayer/Chart.yaml
  charts/sequencer-relayer/templates/_helpers.tpl
  charts/sequencer/Chart.lock
  charts/sequencer/Chart.yaml
  charts/sequencer/templates/_helpers.tpl
  charts/sequencer/templates/configmaps.yaml
  charts/sequencer/values.yaml
  crates/astria-sequencer/CHANGELOG.md
  crates/astria-sequencer/Cargo.toml
Labels: sequencer, cd

#2159 feat(sequencer): add tx result to "executed" transaction status response
  crates/astria-core/src/generated/astria.mempool.v1.rs
  crates/astria-core/src/generated/astria.mempool.v1.serde.rs
  crates/astria-core/src/generated/tendermint.abci.rs
  crates/astria-core/src/generated/tendermint.abci.serde.rs
  crates/astria-core/src/lib.rs
  crates/astria-core/src/mempool/mod.rs
  crates/astria-core/src/mempool/v1/mod.rs
  crates/astria-core/src/mempool/v1/transaction_status/executed/mod.rs
  crates/astria-core/src/mempool/v1/transaction_status/mod.rs
  crates/astria-sequencer/CHANGELOG.md
  crates/astria-sequencer/src/app/mod.rs
  crates/astria-sequencer/src/app/tests_app/mempool.rs
  crates/astria-sequencer/src/app/tests_app/mod.rs
  crates/astria-sequencer/src/app/tests_block_ordering.rs
  crates/astria-sequencer/src/app/tests_breaking_changes.rs
  crates/astria-sequencer/src/grpc/mempool.rs
  crates/astria-sequencer/src/mempool/benchmarks.rs
  crates/astria-sequencer/src/mempool/mod.rs
  crates/astria-sequencer/src/mempool/transactions_container.rs
  crates/astria-sequencer/src/service/mempool/mod.rs
  proto/mempoolapis/astria/mempool/v1/transaction_status.proto
  proto/vendored/cosmos_sdk/cosmos/base/abci/v1beta1/abci.proto
  proto/vendored/cosmos_sdk/tendermint/abci/types.proto
  proto/vendored/tendermint/abci/types.proto
Labels: enhancement, proto, sequencer
