Repository astriaorg/astria, pull requests merged in 2025-02, with the labels that each got.

#1919 fix(conductor): remove panic source on shutdown
  crates/astria-conductor/CHANGELOG.md
  crates/astria-conductor/src/conductor/inner.rs
  crates/astria-conductor/src/conductor/mod.rs
Labels: conductor, override-freeze

#1882 feat(sequencer): add market map actions
  crates/astria-core/src/generated/astria.protocol.fees.v1.rs
  crates/astria-core/src/generated/astria.protocol.fees.v1.serde.rs
  crates/astria-core/src/generated/astria.protocol.transaction.v1.rs
  crates/astria-core/src/generated/astria.protocol.transaction.v1.serde.rs
  crates/astria-core/src/protocol/genesis/v1.rs
  crates/astria-core/src/protocol/transaction/v1/action/group/mod.rs
  crates/astria-core/src/protocol/transaction/v1/action/mod.rs
  crates/astria-sequencer-utils/src/genesis_example.rs
  crates/astria-sequencer/src/action_handler/impls/fee_change.rs
  crates/astria-sequencer/src/action_handler/impls/price_feed.rs
  crates/astria-sequencer/src/app/benchmark_and_test_utils.rs
  crates/astria-sequencer/src/app/snapshots/astria_sequencer__app__tests_breaking_changes__app_hash_at_genesis.snap
  crates/astria-sequencer/src/app/snapshots/astria_sequencer__app__tests_breaking_changes__app_hash_execute_every_action.snap
  crates/astria-sequencer/src/app/snapshots/astria_sequencer__app__tests_breaking_changes__app_hash_finalize_block.snap
  crates/astria-sequencer/src/app/tests_breaking_changes.rs
  crates/astria-sequencer/src/app/tests_execute_transaction.rs
  crates/astria-sequencer/src/connect/market_map/component.rs
  crates/astria-sequencer/src/test_utils.rs
  proto/protocolapis/astria/protocol/fees/v1/types.proto
  proto/protocolapis/astria/protocol/transaction/v1/action.proto
Labels: proto, sequencer

#1946 chore(sequencer): implement market endpoint
  crates/astria-sequencer/src/grpc/connect.rs
  crates/astria-sequencer/src/sequencer.rs
Labels: sequencer

#1951 fix(ci): tag images with full commit sha
  .github/workflows/reusable-docker-build.yml
Labels: ci, sequencer, docker-build, preview

#1954 fix(ci): tag images with full commit sha
  .github/workflows/reusable-docker-build.yml
Labels: ci

#1953 feat(auctioneer): add metrics
  crates/astria-auctioneer/CHANGELOG.md
  crates/astria-auctioneer/Cargo.toml
  crates/astria-auctioneer/src/auctioneer/auction/allocation_rule.rs
  crates/astria-auctioneer/src/auctioneer/auction/factory.rs
  crates/astria-auctioneer/src/auctioneer/auction/mod.rs
  crates/astria-auctioneer/src/auctioneer/auction/worker.rs
  crates/astria-auctioneer/src/auctioneer/mod.rs
  crates/astria-auctioneer/src/lib.rs
  crates/astria-auctioneer/src/main.rs
  crates/astria-auctioneer/src/metrics.rs
Labels: observability, auctioneer

#1959 fix(sequencer): update `put_price_for_currency_pair`
  crates/astria-sequencer/src/app/vote_extension.rs
  crates/astria-sequencer/src/connect/oracle/state_ext.rs
Labels: sequencer

#1047 ci: test using depot instead of buildjet
  .github/workflows/docker-build.yml
  .github/workflows/reusable-build.yml
  .github/workflows/test.yml
Labels: ci

#1957 fix(charts): geth flags
  charts/evm-rollup/Chart.yaml
  charts/evm-rollup/files/scripts/init-geth.sh
  charts/evm-rollup/templates/statefulsets.yaml
  charts/evm-rollup/values.yaml
  charts/evm-stack/Chart.lock
  charts/evm-stack/Chart.yaml
Labels: cd

#1877 feat(sequencer, charts)!: support uds for abci
  Cargo.lock
  charts/sequencer/Chart.yaml
  charts/sequencer/files/cometbft/config/config.toml
  charts/sequencer/files/scripts/init-cometbft.sh
  charts/sequencer/templates/_helpers.tpl
  charts/sequencer/templates/configmaps.yaml
  charts/sequencer/templates/statefulsets.yaml
  charts/sequencer/values.yaml
  crates/astria-sequencer/CHANGELOG.md
  crates/astria-sequencer/Cargo.toml
  crates/astria-sequencer/local.env.example
  crates/astria-sequencer/src/config.rs
  crates/astria-sequencer/src/sequencer.rs
Labels: sequencer, cd

#1979 charts: update geth chart and genesis bytecode
  charts/evm-rollup/Chart.yaml
  charts/evm-rollup/values.yaml
  charts/evm-stack/Chart.lock
  charts/evm-stack/Chart.yaml
  charts/sequencer/Chart.yaml
  dev/values/rollup/dev.yaml
  dev/values/rollup/ibc-bridge-test.yaml
Labels: cd

#1941 specs: add oracle specification doc
  specs/oracle.md
Labels: documentation

#1983 fix(sequencer)!: fix fee storage enum ordering
  crates/astria-sequencer/src/app/snapshots/astria_sequencer__app__tests_breaking_changes__app_hash_at_genesis.snap
  crates/astria-sequencer/src/app/snapshots/astria_sequencer__app__tests_breaking_changes__app_hash_execute_every_action.snap
  crates/astria-sequencer/src/app/snapshots/astria_sequencer__app__tests_breaking_changes__app_hash_finalize_block.snap
  crates/astria-sequencer/src/fees/storage/values.rs
Labels: bug, sequencer

#1981 fix(charts): prague and verkle heights templating
  charts/evm-rollup/Chart.yaml
  charts/evm-rollup/files/genesis/geth-genesis.json
  charts/evm-stack/Chart.lock
  charts/evm-stack/Chart.yaml
  charts/flame-rollup/Chart.yaml
  charts/flame-rollup/files/genesis/geth-genesis.json
Labels: cd

#1978 chore(charts, cometbft): upgrade cometbft version to v0.38.17 and hermes usage
  charts/hermes/Chart.yaml
  charts/hermes/values.yaml
  charts/sequencer/Chart.yaml
  charts/sequencer/values.yaml
  dev/values/hermes/local.yaml
Labels: cd

#1987 fix(charts): auctioneer metrics port
  charts/auctioneer/Chart.yaml
  charts/auctioneer/templates/service.yaml
  charts/evm-stack/Chart.lock
  charts/evm-stack/Chart.yaml
Labels: cd

#1970 feat(sequencer): add `price_update` abci event
  crates/astria-sequencer/src/app/mod.rs
  crates/astria-sequencer/src/app/tests_app/mod.rs
  crates/astria-sequencer/src/app/vote_extension.rs
Labels: sequencer

#1989 chore(sequencer): add missing storage key tests
  crates/astria-sequencer/src/fees/storage/keys.rs
  crates/astria-sequencer/src/fees/storage/snapshots/astria_sequencer__fees__storage__keys__tests__bridge_transfer_fees_key.snap
Labels: sequencer
