Repository astriaorg/astria, pull requests merged in 2025-04, with the labels that each got.

#2080 chore(core, sequencer): rename upgrade1 to aspen
  charts/just/run/mod.just
  charts/sequencer/files/upgrades/custom.upgrades.json
  charts/sequencer/values.yaml
  crates/astria-core/src/generated/astria.upgrades.v1.rs
  crates/astria-core/src/generated/astria.upgrades.v1.serde.rs
  crates/astria-core/src/protocol/test_utils.rs
  crates/astria-core/src/sequencerblock/v1/block/mod.rs
  crates/astria-core/src/upgrades/test_utils.rs
  crates/astria-core/src/upgrades/v1/aspen.rs
  crates/astria-core/src/upgrades/v1/mod.rs
  crates/astria-core/src/upgrades/v1/snapshots/astria_core__upgrades__v1__aspen__tests__price_feed_change.snap
  crates/astria-core/src/upgrades/v1/snapshots/astria_core__upgrades__v1__aspen__tests__validator_update_action_change.snap
  crates/astria-core/src/upgrades/v1/upgrade.rs
  crates/astria-core/src/upgrades/v1/upgrades.rs
  crates/astria-sequencer/src/app/mod.rs
  crates/astria-sequencer/src/app/tests_app/upgrades.rs
  crates/astria-sequencer/src/grpc/state_ext.rs
  crates/astria-sequencer/src/proposal/commitment.rs
  crates/astria-sequencer/src/upgrades/storage/keys.rs
  crates/astria-sequencer/src/upgrades/storage/snapshots/astria_sequencer__upgrades__storage__keys__tests__keys_should_not_change.snap
  crates/astria-sequencer/src/upgrades/upgrades_handler.rs
  dev/values/validators/all-without-native.yml
  dev/values/validators/aspen.upgrades.yml
  proto/upgrades/astria/upgrades/v1/upgrades.proto
  system-tests/README.md
  system-tests/aspen_upgrade_checks.py
  system-tests/sequencer_upgrade_test.py
Labels: proto, sequencer, cd

#2079 chore(sequencer): provide metrics for price feed oracle info
  crates/astria-sequencer/src/app/mod.rs
  crates/astria-sequencer/src/metrics.rs
Labels: sequencer

#2084 chore: merge main to feature branch and update changelogs
  .cargo/audit.toml
  crates/astria-conductor/CHANGELOG.md
  crates/astria-core/CHANGELOG.md
  crates/astria-sequencer/CHANGELOG.md
  crates/astria-sequencer/src/app/test_utils.rs
Labels: conductor, sequencer

#2087 chore(ci): update argo manifests to use github app creds
  dev/argocd/pr-preview-envs/evm-appset.yaml
  dev/argocd/pr-preview-envs/sequencer-appset.yaml
Labels: cd

#2088 chore: update charts
  .github/workflows/docker-build.yml
  charts/celestia-node/Chart.yaml
  charts/evm-rollup/files/genesis/geth-genesis.json
  charts/evm-rollup/values.yaml
  charts/evm-stack/Chart.lock
  charts/evm-stack/Chart.yaml
  charts/sequencer/files/cometbft/config/custom.genesis.json
  dev/values/validators/all-without-native.yml
Labels: ci, cd

#2098 chore(charts): external ingress empty brackets
  charts/external-ingress/Chart.yaml
  charts/external-ingress/values.yaml
Labels: cd

#2096 chore(conductor, core): minor updates
  crates/astria-conductor/src/celestia/reconstruct.rs
  crates/astria-conductor/src/celestia/verify.rs
  crates/astria-conductor/src/executor/mod.rs
  crates/astria-conductor/src/executor/tests.rs
  crates/astria-core/src/sequencerblock/v1/celestia.rs
  crates/astria-core/src/upgrades/v1/upgrades.rs
  crates/astria-sequencer/src/upgrades/upgrades_handler.rs
  specs/oracle.md
Labels: documentation, conductor, sequencer

#2099 fix: tendermint-rs 0.40.3
  Cargo.lock
  Cargo.toml
  crates/astria-sequencer/CHANGELOG.md
  crates/astria-sequencer/Cargo.toml
Labels: sequencer

#2100 release: sequencer release 2.0.1
  Cargo.lock
  charts/sequencer/Chart.yaml
  charts/sequencer/templates/_helpers.tpl
  crates/astria-sequencer/CHANGELOG.md
  crates/astria-sequencer/Cargo.toml
Labels: sequencer, cd

#2103 chore: merge main branch to oracle feature branch
  Cargo.lock
  Cargo.toml
  charts/external-ingress/Chart.yaml
  charts/external-ingress/values.yaml
  charts/sequencer/Chart.yaml
  charts/sequencer/templates/_helpers.tpl
  crates/astria-sequencer/CHANGELOG.md
  crates/astria-sequencer/Cargo.toml
  system-tests/sequencer_upgrade_test.py
Labels: sequencer, cd

#2106 fix: update crossbeam-channel dependency
  Cargo.lock
  crates/astria-conductor/CHANGELOG.md
Labels: conductor

#2105 chore(just): separate deploy and wait-for recipes
  charts/just/deploy.just
  charts/just/mod.just
  charts/just/wait-for.just
Labels: ci, cd

#2053 chore(bridge-withdrawer, composer): encode submission payload only once
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/submitter/mod.rs
  crates/astria-composer/src/executor/mod.rs
Labels: composer, code-quality

#2114 chore(sequencer-utils): add upgrade activation height calculator to sequencer-utils
  Cargo.lock
  crates/astria-sequencer-utils/Cargo.toml
  crates/astria-sequencer-utils/README.md
  crates/astria-sequencer-utils/src/activation_point_estimator.rs
  crates/astria-sequencer-utils/src/cli.rs
  crates/astria-sequencer-utils/src/lib.rs
  crates/astria-sequencer-utils/src/main.rs
Labels: sequencer

#2093 chore(sequencer): remove support for starting networks in post-aspen mode
  charts/just/deploy.just
  charts/sequencer/Chart.yaml
  charts/sequencer/files/cometbft/config/custom.genesis.json
  charts/sequencer/files/upgrades/custom.upgrades.json
  charts/sequencer/values.yaml
  crates/astria-core/src/generated/astria.protocol.genesis.v1.rs
  crates/astria-core/src/generated/astria.protocol.genesis.v1.serde.rs
  crates/astria-core/src/generated/astria.upgrades.v1.rs
  crates/astria-core/src/generated/astria.upgrades.v1.serde.rs
  crates/astria-core/src/oracles/price_feed/mod.rs
  crates/astria-core/src/oracles/price_feed/snapshots/astria_core__oracles__price_feed__tests__price_feed_genesis.snap
  crates/astria-core/src/protocol/genesis/snapshots/astria_core__protocol__genesis__v1__tests__genesis_state.snap
  crates/astria-core/src/protocol/genesis/v1.rs
  crates/astria-core/src/protocol/test_utils.rs
  crates/astria-core/src/upgrades/test_utils.rs
  crates/astria-core/src/upgrades/v1/aspen.rs
  crates/astria-core/src/upgrades/v1/snapshots/astria_core__upgrades__v1__aspen__tests__price_feed_change.snap
  crates/astria-sequencer-utils/src/genesis_example.rs
  crates/astria-sequencer/src/app/benchmark_and_test_utils.rs
  crates/astria-sequencer/src/app/mod.rs
  crates/astria-sequencer/src/app/snapshots/astria_sequencer__app__tests_breaking_changes__app_hash_at_genesis.snap
  crates/astria-sequencer/src/app/snapshots/astria_sequencer__app__tests_breaking_changes__app_hash_execute_every_action.snap
  crates/astria-sequencer/src/app/snapshots/astria_sequencer__app__tests_breaking_changes__app_hash_finalize_block.snap
  crates/astria-sequencer/src/app/state_ext.rs
  crates/astria-sequencer/src/app/test_utils.rs
  crates/astria-sequencer/src/app/tests_app/mempool.rs
  crates/astria-sequencer/src/app/tests_app/mod.rs
  crates/astria-sequencer/src/app/tests_app/upgrades.rs
  crates/astria-sequencer/src/app/tests_block_ordering.rs
  crates/astria-sequencer/src/app/tests_breaking_changes.rs
  crates/astria-sequencer/src/app/tests_execute_transaction.rs
  crates/astria-sequencer/src/oracles/price_feed/market_map/component.rs
  crates/astria-sequencer/src/oracles/price_feed/market_map/mod.rs
  crates/astria-sequencer/src/oracles/price_feed/oracle/component.rs
  crates/astria-sequencer/src/oracles/price_feed/oracle/mod.rs
  crates/astria-sequencer/src/service/consensus.rs
  crates/astria-sequencer/src/service/mempool/tests.rs
  crates/astria-sequencer/src/upgrades/upgrades_handler.rs
  dev/values/validators/aspen.upgrade.yml
  dev/values/validators/priceFeed.genesis.yml
  proto/protocolapis/astria/protocol/genesis/v1/types.proto
  proto/upgrades/astria/upgrades/v1/upgrades.proto
  system-tests/helpers/sequencer_controller.py
Labels: documentation, ci, conductor, proto, sequencer, sequencer-relayer, composer, docker, cd, allow-breaking-proto

#2120 chore(charts): update sequencer chart
  charts/sequencer/Chart.yaml
  charts/sequencer/templates/service.yaml
  charts/sequencer/templates/servicemonitor.yaml
  dev/values/validators/all-without-native.yml
  dev/values/validators/all.yml
Labels: cd

#2121 chore(charts): pricefeed metrics not seperate
  charts/sequencer/Chart.yaml
Labels: cd

#2122 fix(charts): incorrect image version, path support
  charts/evm-bridge-withdrawer/Chart.yaml
  charts/evm-bridge-withdrawer/values.yaml
  charts/evm-stack/Chart.lock
  charts/evm-stack/Chart.yaml
  charts/external-ingress/Chart.yaml
  charts/external-ingress/templates/ingress.yaml
Labels: cd

#2108 feat(sequencer): add name to validator update action
  charts/just/clean.just
  crates/astria-bridge-withdrawer/tests/blackbox/helpers/mock_sequencer.rs
  crates/astria-cli/src/sequencer/sudo/validator_update.rs
  crates/astria-composer/tests/blackbox/helper/mock_grpc_sequencer.rs
  crates/astria-conductor/tests/blackbox/helpers/mock_grpc.rs
  crates/astria-core/CHANGELOG.md
  crates/astria-core/src/generated/astria.protocol.transaction.v1.rs
  crates/astria-core/src/generated/astria.protocol.transaction.v1.serde.rs
  crates/astria-core/src/generated/astria.sequencerblock.v1.rs
  crates/astria-core/src/generated/astria.sequencerblock.v1.serde.rs
  crates/astria-core/src/protocol/transaction/v1/action/group/tests.rs
  crates/astria-core/src/protocol/transaction/v1/action/mod.rs
  crates/astria-sequencer-relayer/tests/blackbox/helpers/mock_sequencer_server.rs
  crates/astria-sequencer/CHANGELOG.md
  crates/astria-sequencer/src/action_handler/impls/validator_update.rs
  crates/astria-sequencer/src/app/mod.rs
  crates/astria-sequencer/src/app/snapshots/astria_sequencer__app__tests_breaking_changes__app_hash_execute_every_action.snap
  crates/astria-sequencer/src/app/snapshots/astria_sequencer__app__tests_breaking_changes__app_hash_finalize_block.snap
  crates/astria-sequencer/src/app/state_ext.rs
  crates/astria-sequencer/src/app/tests_app/mod.rs
  crates/astria-sequencer/src/app/tests_app/upgrades.rs
  crates/astria-sequencer/src/app/tests_block_ordering.rs
  crates/astria-sequencer/src/app/tests_breaking_changes.rs
  crates/astria-sequencer/src/app/tests_execute_transaction.rs
  crates/astria-sequencer/src/app/vote_extension.rs
  crates/astria-sequencer/src/authority/component.rs
  crates/astria-sequencer/src/authority/mod.rs
  crates/astria-sequencer/src/authority/state_ext.rs
  crates/astria-sequencer/src/authority/storage/keys.rs
  crates/astria-sequencer/src/authority/storage/mod.rs
  crates/astria-sequencer/src/authority/storage/snapshots/astria_sequencer__authority__storage__keys__tests__validator_count_key.snap
  crates/astria-sequencer/src/authority/storage/snapshots/astria_sequencer__authority__storage__keys__tests__validator_key.snap
  crates/astria-sequencer/src/authority/storage/snapshots/astria_sequencer__authority__storage__values__tests__value_impl_validator_count.snap
  crates/astria-sequencer/src/authority/storage/snapshots/astria_sequencer__authority__storage__values__tests__value_impl_validator_info_v1.snap
  crates/astria-sequencer/src/authority/storage/values.rs
  crates/astria-sequencer/src/grpc/sequencer.rs
  crates/astria-sequencer/src/upgrades/upgrades_handler.rs
  crates/astria-sequencer/src/utils.rs
  proto/protocolapis/astria/protocol/transaction/v1/action.proto
  proto/sequencerblockapis/astria/sequencerblock/v1/service.proto
  system-tests/README.md
  system-tests/aspen_upgrade_checks.py
  system-tests/helpers/astria_cli.py
  system-tests/helpers/sequencer_controller.py
  system-tests/sequencer_upgrade_test.py
Labels: enhancement, ci, conductor, proto, sequencer, sequencer-relayer, composer, cd, allow-breaking-proto

#2123 release(sequencer): 3.0.0-rc.1 release
  Cargo.lock
  charts/sequencer/Chart.yaml
  charts/sequencer/files/upgrades/custom.upgrades.json
  charts/sequencer/files/upgrades/dusk-11.upgrades.json
  charts/sequencer/templates/_helpers.tpl
  crates/astria-sequencer/CHANGELOG.md
  crates/astria-sequencer/Cargo.toml
  dev/values/validators/aspen.upgrade.yml
Labels: sequencer, cd

#2125 chore(charts): disable sidecar if priceFeed is disabled
  charts/sequencer/Chart.yaml
  charts/sequencer/templates/statefulsets.yaml
Labels: cd

#2127 release(conductor): 2.0.0-rc.1 with execution api v2
  Cargo.lock
  crates/astria-conductor/CHANGELOG.md
  crates/astria-conductor/Cargo.toml
Labels: conductor

#2140 fix(conductor): add explicit TLS config
  crates/astria-conductor/CHANGELOG.md
  crates/astria-conductor/Cargo.toml
  crates/astria-conductor/src/sequencer/client.rs
Labels: conductor

#2148 chore(chart): update genesis for dusk-11 cancun
  charts/evm-rollup/Chart.yaml
  charts/evm-rollup/files/genesis/flame-devnet.genesis.json
  charts/evm-stack/Chart.lock
  charts/evm-stack/Chart.yaml
Labels: cd
