Repository astriaorg/astria, pull requests merged in 2025-01, with the labels that each got.

#1885 chore(conductor): don't return empty tuple
  crates/astria-conductor/src/celestia/mod.rs
Labels: conductor, code-quality, override-freeze

#1865 chore(conductor): send boxed objects over channels
  crates/astria-conductor/src/celestia/mod.rs
  crates/astria-conductor/src/executor/builder.rs
  crates/astria-conductor/src/executor/mod.rs
Labels: conductor, code-quality, override-freeze

#1884 feat(core)!: use newtype sequencer block hashes
  crates/astria-conductor/src/celestia/block_verifier.rs
  crates/astria-conductor/src/celestia/mod.rs
  crates/astria-conductor/src/celestia/reconstruct.rs
  crates/astria-conductor/src/celestia/reporting.rs
  crates/astria-conductor/src/celestia/verify.rs
  crates/astria-conductor/src/executor/mod.rs
  crates/astria-conductor/tests/blackbox/helpers/mod.rs
  crates/astria-core/CHANGELOG.md
  crates/astria-core/src/sequencerblock/v1/block.rs
  crates/astria-core/src/sequencerblock/v1/celestia.rs
  crates/astria-sequencer-utils/src/blob_parser.rs
  crates/astria-sequencer/src/grpc/sequencer.rs
  crates/astria-sequencer/src/grpc/state_ext.rs
  crates/astria-sequencer/src/grpc/storage/values/block_hash.rs
Labels: conductor, sequencer, override-freeze

#1878 feat(sequencer): implement oracle module actions
  crates/astria-core/src/connect/oracle.rs
  crates/astria-core/src/connect/types.rs
  crates/astria-core/src/generated/astria.protocol.fees.v1.rs
  crates/astria-core/src/generated/astria.protocol.fees.v1.serde.rs
  crates/astria-core/src/generated/astria.protocol.genesis.v1.rs
  crates/astria-core/src/generated/astria.protocol.genesis.v1.serde.rs
  crates/astria-core/src/generated/astria.protocol.transaction.v1.rs
  crates/astria-core/src/generated/astria.protocol.transaction.v1.serde.rs
  crates/astria-core/src/protocol/fees/v1.rs
  crates/astria-core/src/protocol/genesis/snapshots/astria_core__protocol__genesis__v1__tests__genesis_state.snap
  crates/astria-core/src/protocol/genesis/v1.rs
  crates/astria-core/src/protocol/transaction/v1/action/group/mod.rs
  crates/astria-core/src/protocol/transaction/v1/action/mod.rs
  crates/astria-sequencer-utils/src/genesis_example.rs
  crates/astria-sequencer/src/action_handler/impls/add_currency_pairs.rs
  crates/astria-sequencer/src/action_handler/impls/fee_change.rs
  crates/astria-sequencer/src/action_handler/impls/mod.rs
  crates/astria-sequencer/src/action_handler/impls/remove_currency_pairs.rs
  crates/astria-sequencer/src/action_handler/impls/transaction.rs
  crates/astria-sequencer/src/app/benchmark_and_test_utils.rs
  crates/astria-sequencer/src/app/snapshots/astria_sequencer__app__tests_breaking_changes__app_hash_at_genesis.snap
  crates/astria-sequencer/src/app/snapshots/astria_sequencer__app__tests_breaking_changes__app_hash_execute_every_action.snap
  crates/astria-sequencer/src/app/snapshots/astria_sequencer__app__tests_breaking_changes__app_hash_finalize_block.snap
  crates/astria-sequencer/src/app/tests_breaking_changes.rs
  crates/astria-sequencer/src/app/tests_execute_transaction.rs
  crates/astria-sequencer/src/app/vote_extension.rs
  crates/astria-sequencer/src/connect/oracle/component.rs
  crates/astria-sequencer/src/connect/oracle/currency_pair_strategy.rs
  crates/astria-sequencer/src/connect/oracle/state_ext.rs
  crates/astria-sequencer/src/connect/oracle/storage/keys.rs
  crates/astria-sequencer/src/connect/oracle/storage/values/currency_pair_state.rs
  crates/astria-sequencer/src/fees/component.rs
  crates/astria-sequencer/src/fees/mod.rs
  crates/astria-sequencer/src/fees/query.rs
  crates/astria-sequencer/src/fees/storage/values.rs
  crates/astria-sequencer/src/grpc/connect.rs
  crates/astria-sequencer/src/service/mempool/tests.rs
  crates/astria-sequencer/src/transaction/checks.rs
  proto/protocolapis/astria/protocol/fees/v1/types.proto
  proto/protocolapis/astria/protocol/genesis/v1/types.proto
  proto/protocolapis/astria/protocol/transaction/v1/action.proto
Labels: proto, sequencer

#1899 Switch to OSS bitnami postgresql chart
  charts/evm-stack/Chart.lock
  charts/evm-stack/Chart.yaml
Labels: cd

#1892 chore(sequencer): remove misplaced logs
  crates/astria-sequencer/CHANGELOG.md
  crates/astria-sequencer/src/sequencer.rs
Labels: sequencer

#1903 ci(auctioneer): add auctioneer to docker-build workflow
  .github/workflows/docker-build.yml
Labels: ci, auctioneer

#1905 fix(sequencer)!: use bridge address to determine asset in bridge unlock cost estimation instead of signer
  crates/astria-sequencer/CHANGELOG.md
  crates/astria-sequencer/src/transaction/checks.rs
Labels: bug, sequencer

#1900 chore(core, sequencer): Create price feed enum action and nest relevant actions inside
  crates/astria-core/src/generated/astria.protocol.fees.v1.rs
  crates/astria-core/src/generated/astria.protocol.fees.v1.serde.rs
  crates/astria-core/src/generated/astria.protocol.genesis.v1.rs
  crates/astria-core/src/generated/astria.protocol.genesis.v1.serde.rs
  crates/astria-core/src/generated/astria.protocol.transaction.v1.rs
  crates/astria-core/src/generated/astria.protocol.transaction.v1.serde.rs
  crates/astria-core/src/protocol/fees/v1.rs
  crates/astria-core/src/protocol/genesis/snapshots/astria_core__protocol__genesis__v1__tests__genesis_state.snap
  crates/astria-core/src/protocol/genesis/v1.rs
  crates/astria-core/src/protocol/transaction/v1/action/group/mod.rs
  crates/astria-core/src/protocol/transaction/v1/action/mod.rs
  crates/astria-sequencer-utils/src/genesis_example.rs
  crates/astria-sequencer/src/action_handler/impls/add_currency_pairs.rs
  crates/astria-sequencer/src/action_handler/impls/fee_change.rs
  crates/astria-sequencer/src/action_handler/impls/mod.rs
  crates/astria-sequencer/src/action_handler/impls/price_feed.rs
  crates/astria-sequencer/src/action_handler/impls/remove_currency_pairs.rs
  crates/astria-sequencer/src/action_handler/impls/transaction.rs
  crates/astria-sequencer/src/app/benchmark_and_test_utils.rs
  crates/astria-sequencer/src/app/snapshots/astria_sequencer__app__tests_breaking_changes__app_hash_at_genesis.snap
  crates/astria-sequencer/src/app/snapshots/astria_sequencer__app__tests_breaking_changes__app_hash_execute_every_action.snap
  crates/astria-sequencer/src/app/snapshots/astria_sequencer__app__tests_breaking_changes__app_hash_finalize_block.snap
  crates/astria-sequencer/src/app/tests_breaking_changes.rs
  crates/astria-sequencer/src/app/tests_execute_transaction.rs
  crates/astria-sequencer/src/fees/component.rs
  crates/astria-sequencer/src/fees/mod.rs
  crates/astria-sequencer/src/fees/query.rs
  crates/astria-sequencer/src/fees/storage/values.rs
  crates/astria-sequencer/src/transaction/checks.rs
  proto/protocolapis/astria/protocol/fees/v1/types.proto
  proto/protocolapis/astria/protocol/genesis/v1/types.proto
  proto/protocolapis/astria/protocol/transaction/v1/action.proto
Labels: proto, sequencer

#1898 refactor(sequencer): split run method to eliminate long-lived spans
  crates/astria-sequencer/src/main.rs
  crates/astria-sequencer/src/sequencer.rs
Labels: sequencer, refactor, code-quality

#1772 fix(sequencer): remove unwrap from app utilized mempool logic
  crates/astria-sequencer/src/app/mod.rs
  crates/astria-sequencer/src/mempool/benchmarks.rs
  crates/astria-sequencer/src/mempool/mod.rs
  crates/astria-sequencer/src/mempool/transactions_container.rs
Labels: sequencer

#1883 feat(charts): update geth charts for oracle genesis values
  charts/evm-rollup/Chart.yaml
  charts/evm-rollup/files/genesis/geth-genesis.json
  charts/evm-rollup/values.yaml
  charts/evm-stack/Chart.lock
  charts/evm-stack/Chart.yaml
  charts/sequencer/values.yaml
  dev/values/rollup/dev.yaml
Labels: cd

#1908 refactor(sequencer): clarify transaction cost estimation
  crates/astria-sequencer/src/transaction/checks.rs
Labels: sequencer, code-quality

#1876 feat(charts): snapshot startup for sequencer
  charts/sequencer/Chart.yaml
  charts/sequencer/files/scripts/init-cometbft.sh
  charts/sequencer/templates/statefulsets.yaml
  charts/sequencer/values.yaml
Labels: cd

#1834 chore(composer): add missing blackbox tests
  crates/astria-composer/src/executor/tests.rs
  crates/astria-composer/tests/blackbox/api.rs
  crates/astria-composer/tests/blackbox/executor.rs
  crates/astria-composer/tests/blackbox/geth_collector.rs
  crates/astria-composer/tests/blackbox/grpc_collector.rs
  crates/astria-composer/tests/blackbox/helper/mock_abci_sequencer.rs
  crates/astria-composer/tests/blackbox/helper/mock_grpc_sequencer.rs
  crates/astria-composer/tests/blackbox/helper/mod.rs
  crates/astria-composer/tests/blackbox/main.rs
Labels: composer, testing

#1838 chore(composer): propagate errors
  crates/astria-composer/CHANGELOG.md
  crates/astria-composer/src/composer.rs
  crates/astria-composer/tests/blackbox/executor.rs
Labels: composer, code-quality

#1916 chore(sequencer): provide more thorough unit testing for actions
  crates/astria-sequencer/CHANGELOG.md
  crates/astria-sequencer/src/action_handler/impls/bridge_lock.rs
  crates/astria-sequencer/src/action_handler/impls/bridge_sudo_change.rs
  crates/astria-sequencer/src/action_handler/impls/bridge_unlock.rs
  crates/astria-sequencer/src/action_handler/impls/fee_asset_change.rs
  crates/astria-sequencer/src/action_handler/impls/fee_change.rs
  crates/astria-sequencer/src/action_handler/impls/ibc_relayer_change.rs
  crates/astria-sequencer/src/action_handler/impls/ibc_sudo_change.rs
  crates/astria-sequencer/src/action_handler/impls/ics20_withdrawal.rs
  crates/astria-sequencer/src/action_handler/impls/init_bridge_account.rs
  crates/astria-sequencer/src/action_handler/impls/sudo_address_change.rs
  crates/astria-sequencer/src/action_handler/impls/validator_update.rs
  crates/astria-sequencer/src/action_handler/mod.rs
  crates/astria-sequencer/src/benchmark_and_test_utils.rs
Labels: sequencer, testing

#1931 chore(sequencer): fix names to conform to Rust naming conventions
  crates/astria-sequencer/src/sequencer.rs
Labels: sequencer, code-quality

#1906 feat(charts): Snapshots for geth nodes
  charts/evm-rollup/Chart.yaml
  charts/evm-rollup/files/scripts/create-snapshot.sh
  charts/evm-rollup/files/scripts/init-geth.sh
  charts/evm-rollup/files/scripts/restore-snapshot.sh
  charts/evm-rollup/templates/configmap.yaml
  charts/evm-rollup/templates/cronjobs.yaml
  charts/evm-rollup/templates/secretproviderclass.yaml
  charts/evm-rollup/templates/statefulsets.yaml
  charts/evm-rollup/values.yaml
  charts/evm-stack/Chart.lock
  charts/evm-stack/Chart.yaml
Labels: cd
