Repository astriaorg/astria, changes with the owners that CODEOWNERS names for each.
All owners: @joroshiba, @noot, @SuperFluffy, @Fraser999, @astriaorg/infra

fix(charts): cometbft support for secrets (#938)
  charts/sequencer/Chart.yaml
  charts/sequencer/files/cometbft/config/config.toml
  charts/sequencer/files/scripts/init-cometbft.sh
  charts/sequencer/templates/configmaps.yaml
  charts/sequencer/templates/secretproviderclass.yaml
  charts/sequencer/templates/statefulsets.yaml
  charts/sequencer/values.yaml
  dev/values/validators/single.yml
Owners: @astriaorg/infra

update app to use staged write batch
  crates/astria-sequencer/src/app.rs
  crates/astria-sequencer/src/service/consensus.rs
Owners: @joroshiba, @noot, @SuperFluffy, @Fraser999

cleanup
  crates/astria-core/src/generated/astria.sequencer.v2.rs
  crates/astria-core/src/generated/astria.sequencer.v2.serde.rs
  crates/astria-core/src/generated/astria.sequencer.v2alpha1.rs
  crates/astria-core/src/generated/astria.sequencer.v2alpha1.serde.rs
  crates/astria-core/src/lib.rs
Owners: @joroshiba, @noot, @SuperFluffy, @Fraser999

fix broken compile
  crates/astria-conductor/Cargo.toml
  crates/astria-conductor/src/celestia/mod.rs
Owners: @joroshiba, @noot, @SuperFluffy, @Fraser999

minor fixes for running w 0.38
  Cargo.lock
  crates/astria-sequencer/src/app.rs
  crates/astria-sequencer/src/service/consensus.rs
Owners: @joroshiba, @noot, @SuperFluffy, @Fraser999

clippy
  crates/astria-sequencer/src/service/consensus.rs
Owners: @joroshiba, @noot, @SuperFluffy, @Fraser999

refactor app to set state correctly before executing in proposal phase
  crates/astria-sequencer/src/app.rs
Owners: @joroshiba, @noot, @SuperFluffy, @Fraser999

cleanup and fixes
  crates/astria-sequencer/src/app.rs
Owners: @joroshiba, @noot, @SuperFluffy, @Fraser999

clippy
  crates/astria-sequencer/src/app.rs
Owners: @joroshiba, @noot, @SuperFluffy, @Fraser999

update
  .github/workflows/docker-build.yml
  justfile
Owners: @astriaorg/infra, @joroshiba, @noot, @SuperFluffy, @Fraser999

address comments
  crates/astria-sequencer/src/app.rs
  crates/astria-sequencer/src/service/consensus.rs
Owners: @joroshiba, @noot, @SuperFluffy, @Fraser999

unit test for block execution flow
  crates/astria-sequencer/src/app.rs
Owners: @joroshiba, @noot, @SuperFluffy, @Fraser999

removed foundry test dependency
  .github/workflows/docker-build.yml
  justfile
Owners: @astriaorg/infra, @joroshiba, @noot, @SuperFluffy, @Fraser999

fix(ci): less flaky smoke test (#944)
  .github/workflows/docker-build.yml
  justfile
Owners: @astriaorg/infra, @joroshiba, @noot, @SuperFluffy, @Fraser999

CODEOWNERS:

*	@joroshiba @noot @SuperFluffy @Fraser999

/.github/	@astriaorg/infra
/containerfiles/	@astriaorg/infra
/charts/ @astriaorg/infra
/dev/ @astriaorg/infra
