Repository astriaorg/astria, changes with the owners that CODEOWNERS names for each.
All owners: @joroshiba, @astriaorg/rust-reviewers, @astriaorg/engineering, @astriaorg/infra, @astriaorg/api-reviewers

CODEOWNERS:

* @joroshiba @astriaorg/rust-reviewers

specs/ @astriaorg/engineering
justfile @astriaorg/engineering
README.md @astriaorg/engineering
taplo.toml @astriaorg/engineering
.gitattributes @astriaorg/engineering
.gitignore @astriaorg/engineering

/.github/ @astriaorg/infra
/.github/workflows/lint.yml @astriaorg/rust-reviewers
/.github/workflows/test.yml @astriaorg/rust-reviewers
/containerfiles/ @astriaorg/rust-reviewers
/charts/ @astriaorg/infra
/dev/ @astriaorg/infra
.dockerignore @astriaorg/infra
*.env.example @astriaorg/infra

*.proto @astriaorg/api-reviewers
proto/*/LICENSE @astriaorg/api-reviewers
buf.lock @astriaorg/api-reviewers
buf.yaml @astriaorg/api-reviewers
buf.work.yaml @astriaorg/api-reviewers

celestia upgrades
  charts/celestia-local/Chart.yaml
  charts/celestia-local/values.yaml
  charts/celestia-node/Chart.yaml
  charts/celestia-node/values.yaml
  charts/evm-stack/Chart.yaml
Owners: @astriaorg/infra

fix chart deps
  charts/evm-stack/Chart.lock
  charts/evm-stack/Chart.yaml
Owners: @astriaorg/infra

feat(conductor): use latest validator height
  crates/astria-conductor/src/celestia/block_verifier.rs
  crates/astria-conductor/src/celestia/verify.rs
  crates/astria-conductor/tests/blackbox/firm_only.rs
  crates/astria-conductor/tests/blackbox/soft_and_firm.rs
Owners: @joroshiba, @astriaorg/rust-reviewers

feat(conductor): use latest validator height (#2259)
  crates/astria-conductor/src/celestia/block_verifier.rs
  crates/astria-conductor/src/celestia/verify.rs
  crates/astria-conductor/tests/blackbox/firm_only.rs
  crates/astria-conductor/tests/blackbox/soft_and_firm.rs
Owners: @joroshiba, @astriaorg/rust-reviewers

release: image cuts to support celestia v6 (#2257)
  Cargo.lock
  charts/celestia-local/Chart.yaml
  charts/celestia-local/values.yaml
  charts/celestia-node/Chart.yaml
  charts/celestia-node/values.yaml
  charts/composer/Chart.yaml
  charts/composer/templates/configmap.yaml
  charts/composer/values.yaml
  charts/evm-stack/Chart.lock
  charts/evm-stack/Chart.yaml
  charts/sequencer-relayer/Chart.yaml
  charts/sequencer-relayer/templates/configmaps.yaml
  charts/sequencer/Chart.lock
  charts/sequencer/Chart.yaml
  charts/sequencer/files/upgrades/dawn-1.upgrades.json
  charts/sequencer/files/upgrades/mainnet.upgrades.json
  crates/astria-conductor/CHANGELOG.md
  crates/astria-conductor/Cargo.toml
  crates/astria-sequencer-relayer/CHANGELOG.md
  crates/astria-sequencer-relayer/Cargo.toml
Owners: @joroshiba, @astriaorg/rust-reviewers, @astriaorg/infra

chart: update evm chart for cel v6
  charts/evm-rollup/Chart.yaml
  charts/evm-rollup/templates/_helpers.tpl
  charts/evm-stack/Chart.lock
  charts/evm-stack/Chart.yaml
Owners: @astriaorg/infra

chart: update evm chart for cel v6 (#2261)
  charts/evm-rollup/Chart.yaml
  charts/evm-rollup/templates/_helpers.tpl
  charts/evm-stack/Chart.lock
  charts/evm-stack/Chart.yaml
Owners: @astriaorg/infra

release: sequencer v4-rc.2
  Cargo.lock
  crates/astria-sequencer/CHANGELOG.md
  crates/astria-sequencer/Cargo.toml
Owners: @joroshiba, @astriaorg/rust-reviewers

update celestia node config.toml to match latest changes
  charts/celestia-node/Chart.yaml
  charts/celestia-node/files/config.toml
  charts/evm-stack/Chart.lock
  charts/evm-stack/Chart.yaml
Owners: @astriaorg/infra

bump chart version
  charts/evm-stack/Chart.yaml
Owners: @astriaorg/infra

fix(charts, celestia-node): update celestia-node configs to match latest update (#2264)
  charts/celestia-node/Chart.yaml
  charts/celestia-node/files/config.toml
  charts/evm-stack/Chart.lock
  charts/evm-stack/Chart.yaml
Owners: @astriaorg/infra

chore: update evm genesis in testnet for celestia fork
  charts/evm-rollup/files/genesis/flame-testnet.genesis.json
  charts/evm-rollup/files/genesis/forma-testnet.genesis.json
Owners: @astriaorg/infra

bump charts version
  charts/evm-rollup/Chart.yaml
  charts/evm-stack/Chart.lock
  charts/evm-stack/Chart.yaml
Owners: @astriaorg/infra

chore: update evm genesis in testnet for celestia fork (#2262)
  charts/evm-rollup/Chart.yaml
  charts/evm-rollup/files/genesis/flame-testnet.genesis.json
  charts/evm-rollup/files/genesis/forma-testnet.genesis.json
  charts/evm-stack/Chart.lock
  charts/evm-stack/Chart.yaml
Owners: @astriaorg/infra

bump fork height by 1
  charts/evm-rollup/Chart.yaml
  charts/evm-rollup/files/genesis/flame-testnet.genesis.json
  charts/evm-stack/Chart.lock
  charts/evm-stack/Chart.yaml
Owners: @astriaorg/infra

also bump forma-testnet fork height
  charts/evm-rollup/files/genesis/forma-testnet.genesis.json
Owners: @astriaorg/infra

release: sequencer v4-rc.2 (#2263)
  Cargo.lock
  crates/astria-sequencer/CHANGELOG.md
  crates/astria-sequencer/Cargo.toml
Owners: @joroshiba, @astriaorg/rust-reviewers

release: blackburn for testnet
  charts/sequencer/Chart.yaml
  charts/sequencer/files/upgrades/dawn-1.upgrades.json
Owners: @astriaorg/infra

release: blackburn for testnet (#2266)
  charts/sequencer/Chart.yaml
  charts/sequencer/files/upgrades/dawn-1.upgrades.json
Owners: @astriaorg/infra

release: blackburn for mainnet
  Cargo.lock
  charts/sequencer/Chart.yaml
  charts/sequencer/files/upgrades/mainnet.upgrades.json
  charts/sequencer/templates/configmaps.yaml
  crates/astria-sequencer/CHANGELOG.md
  crates/astria-sequencer/Cargo.toml
Owners: @joroshiba, @astriaorg/rust-reviewers, @astriaorg/infra

release: blackburn for mainnet (#2267)
  Cargo.lock
  charts/sequencer/Chart.yaml
  charts/sequencer/files/upgrades/mainnet.upgrades.json
  charts/sequencer/templates/configmaps.yaml
  crates/astria-sequencer/CHANGELOG.md
  crates/astria-sequencer/Cargo.toml
Owners: @joroshiba, @astriaorg/rust-reviewers, @astriaorg/infra

chore: halt flame
  charts/evm-rollup/Chart.yaml
  charts/evm-rollup/files/genesis/flame-mainnet.genesis.json
  charts/evm-rollup/templates/_helpers.tpl
  charts/evm-stack/Chart.lock
  charts/evm-stack/Chart.yaml
Owners: @astriaorg/infra

chore: halt flame (#2268)
  charts/evm-rollup/Chart.yaml
  charts/evm-rollup/files/genesis/flame-mainnet.genesis.json
  charts/evm-rollup/templates/_helpers.tpl
  charts/evm-stack/Chart.lock
  charts/evm-stack/Chart.yaml
Owners: @astriaorg/infra
