Repository astriaorg/astria, changes with the owners that CODEOWNERS names for each.
All owners: @joroshiba, @noot, @SuperFluffy, @Fraser999, @astriaorg/infra

CODEOWNERS:

*	@joroshiba @noot @SuperFluffy @Fraser999

/.github/	@astriaorg/infra
/containerfiles/	@astriaorg/infra
/charts/ @astriaorg/infra
/dev/ @astriaorg/infra

refactor(sequencer): addressed comments from @noot
  crates/astria-sequencer/src/app.rs
Owners: @joroshiba, @noot, @SuperFluffy, @Fraser999

use regex in revision_number_from_chain_id and add tests
  Cargo.lock
  crates/astria-sequencer/Cargo.toml
  crates/astria-sequencer/src/state_ext.rs
Owners: @joroshiba, @noot, @SuperFluffy, @Fraser999

fmt
  crates/astria-sequencer/src/state_ext.rs
Owners: @joroshiba, @noot, @SuperFluffy, @Fraser999

refactor(conductor)!: use HTTP to periodically poll Celestia heights (#852)
  Cargo.lock
  charts/evm-rollup/Chart.yaml
  charts/evm-rollup/templates/configmap.yaml
  crates/astria-conductor/Cargo.toml
  crates/astria-conductor/local.env.example
  crates/astria-conductor/src/celestia/builder.rs
  crates/astria-conductor/src/celestia/latest_height_stream.rs
  crates/astria-conductor/src/celestia/mod.rs
  crates/astria-conductor/src/conductor.rs
  crates/astria-conductor/src/config.rs
Owners: @joroshiba, @noot, @SuperFluffy, @Fraser999, @astriaorg/infra

add capacity to bundle factory
  crates/astria-composer/local.env.example
  crates/astria-composer/src/composer.rs
  crates/astria-composer/src/config.rs
  crates/astria-composer/src/executor/bundle_factory/mod.rs
  crates/astria-composer/src/executor/bundle_factory/tests.rs
  crates/astria-composer/src/executor/mod.rs
  crates/astria-composer/src/executor/tests.rs
  crates/astria-composer/tests/blackbox/helper/mod.rs
Owners: @joroshiba, @noot, @SuperFluffy, @Fraser999

fix(cometbft): support for secrets from secret manager
  charts/sequencer/Chart.yaml
  charts/sequencer/files/cometbft/config/config.toml
  charts/sequencer/files/scripts/init-cometbft.sh
  charts/sequencer/templates/configmaps.yaml
  charts/sequencer/templates/secretproviderclass.yaml
  charts/sequencer/templates/statefulsets.yaml
  charts/sequencer/values.yaml
  dev/values/validators/single.yml
Owners: @astriaorg/infra

create sequencerblockapis v1alpha1
  buf.work.yaml
  crates/astria-core/src/generated/astria.sequencerblock.v1alpha1.rs
  proto/sequencerblockapis/astria/sequencerblock/v1alpha1/block.proto
  proto/sequencerblockapis/astria/sequencerblock/v1alpha1/celestia.proto
  proto/sequencerblockapis/astria/sequencerblock/v1alpha1/merkle.proto
  proto/sequencerblockapis/astria/sequencerblock/v1alpha1/service.proto
  proto/sequencerblockapis/buf.lock
  proto/sequencerblockapis/buf.yaml
Owners: @joroshiba, @noot, @SuperFluffy, @Fraser999

test(conductor): soft-only mode
  Cargo.lock
  crates/astria-conductor/Cargo.toml
  crates/astria-conductor/src/celestia/builder.rs
  crates/astria-conductor/src/celestia/mod.rs
  crates/astria-conductor/src/conductor.rs
  crates/astria-conductor/src/main.rs
  crates/astria-conductor/tests/blackbox/helpers/macros.rs
  crates/astria-conductor/tests/blackbox/helpers/mock_grpc.rs
  crates/astria-conductor/tests/blackbox/helpers/mod.rs
  crates/astria-conductor/tests/blackbox/helpers/telemetry.rs
  crates/astria-conductor/tests/blackbox/main.rs
  crates/astria-conductor/tests/blackbox/soft_only.rs
Owners: @joroshiba, @noot, @SuperFluffy, @Fraser999

lint protos
  proto/sequencerblockapis/astria/sequencerblock/v1alpha1/block.proto
  proto/sequencerblockapis/astria/sequencerblock/v1alpha1/celestia.proto
  proto/sequencerblockapis/buf.yaml
Owners: @joroshiba, @noot, @SuperFluffy, @Fraser999

move begin_block ibc stuff to end_block
  Cargo.lock
  crates/astria-sequencer/Cargo.toml
  crates/astria-sequencer/src/app.rs
  crates/astria-sequencer/src/transaction/mod.rs
Owners: @joroshiba, @noot, @SuperFluffy, @Fraser999

clippy
  crates/astria-sequencer/src/transaction/mod.rs
Owners: @joroshiba, @noot, @SuperFluffy, @Fraser999

update release workflow
  .github/workflows/release.yml
  proto/sequencerblockapis/buf.yaml
Owners: @astriaorg/infra, @joroshiba, @noot, @SuperFluffy, @Fraser999

add log
  crates/astria-sequencer/src/state_ext.rs
Owners: @joroshiba, @noot, @SuperFluffy, @Fraser999

fix
  crates/astria-sequencer/src/state_ext.rs
Owners: @joroshiba, @noot, @SuperFluffy, @Fraser999

add astria/astria dep
  .github/workflows/release.yml
  proto/sequencerblockapis/buf.lock
  proto/sequencerblockapis/buf.yaml
Owners: @astriaorg/infra, @joroshiba, @noot, @SuperFluffy, @Fraser999

rename full method
  crates/astria-composer/src/executor/bundle_factory/mod.rs
  crates/astria-composer/src/executor/bundle_factory/tests.rs
  crates/astria-composer/src/executor/mod.rs
Owners: @joroshiba, @noot, @SuperFluffy, @Fraser999

ci: smoke test fix
  .github/workflows/docker-build.yml
Owners: @astriaorg/infra

ci: smoke test fix (#941)
  .github/workflows/docker-build.yml
Owners: @astriaorg/infra

fix(sequencer): set revision number from chain id in `init_chain` (#935)
  Cargo.lock
  crates/astria-sequencer/Cargo.toml
  crates/astria-sequencer/src/api_state_ext.rs
  crates/astria-sequencer/src/app.rs
  crates/astria-sequencer/src/state_ext.rs
Owners: @joroshiba, @noot, @SuperFluffy, @Fraser999

refactor(sequnecer): addressed commets from @noot
  crates/astria-sequencer/src/app.rs
Owners: @joroshiba, @noot, @SuperFluffy, @Fraser999

fix(sequecer): is_proposer check now considers address
  crates/astria-sequencer/src/app.rs
Owners: @joroshiba, @noot, @SuperFluffy, @Fraser999

nit(sequencer): spelling error
  crates/astria-sequencer/src/app.rs
Owners: @joroshiba, @noot, @SuperFluffy, @Fraser999

feat(cli): add authority commands
  crates/astria-cli/src/cli/sequencer.rs
  crates/astria-cli/src/commands/mod.rs
  crates/astria-cli/src/commands/sequencer.rs
Owners: @joroshiba, @noot, @SuperFluffy, @Fraser999

refactor(sequencer): include suggestion from @noot
  crates/astria-cli/src/cli/sequencer.rs
Owners: @joroshiba, @noot, @SuperFluffy, @Fraser999

fix(sequecer): is_proposer check now considers proposer's address (#936)
  crates/astria-sequencer/src/app.rs
Owners: @joroshiba, @noot, @SuperFluffy, @Fraser999

feat(cli): add authority commands (#933)
  crates/astria-cli/src/cli/sequencer.rs
  crates/astria-cli/src/commands/mod.rs
  crates/astria-cli/src/commands/sequencer.rs
Owners: @joroshiba, @noot, @SuperFluffy, @Fraser999

address comments, serde for sequencerblock types
  crates/astria-core/src/generated/astria.sequencerblock.v1alpha1.rs
  crates/astria-core/src/generated/astria.sequencerblock.v1alpha1.serde.rs
  proto/sequencerblockapis/astria/sequencerblock/v1alpha1/block.proto
  tools/protobuf-compiler/src/main.rs
Owners: @joroshiba, @noot, @SuperFluffy, @Fraser999

feat(proto): create sequencerblockapis v1alpha1 (#939)
  .github/workflows/release.yml
  buf.work.yaml
  crates/astria-core/src/generated/astria.sequencerblock.v1alpha1.rs
  crates/astria-core/src/generated/astria.sequencerblock.v1alpha1.serde.rs
  proto/sequencerblockapis/astria/sequencerblock/v1alpha1/block.proto
  proto/sequencerblockapis/astria/sequencerblock/v1alpha1/celestia.proto
  proto/sequencerblockapis/astria/sequencerblock/v1alpha1/merkle.proto
  proto/sequencerblockapis/astria/sequencerblock/v1alpha1/service.proto
  proto/sequencerblockapis/buf.lock
  proto/sequencerblockapis/buf.yaml
  tools/protobuf-compiler/src/main.rs
Owners: @astriaorg/infra, @joroshiba, @noot, @SuperFluffy, @Fraser999

merge
  crates/astria-celestia-client/src/submission.rs
  crates/astria-composer/tests/blackbox/helper/mod.rs
  crates/astria-conductor/src/celestia/block_verifier.rs
  crates/astria-conductor/src/executor/mod.rs
  crates/astria-conductor/src/executor/tests.rs
  crates/astria-conductor/src/sequencer/block_stream.rs
  crates/astria-conductor/src/sequencer/client.rs
  crates/astria-conductor/src/sequencer/reporting.rs
  crates/astria-core/src/generated/astria.sequencer.v2.rs
  crates/astria-core/src/generated/astria.sequencer.v2.serde.rs
  crates/astria-core/src/generated/astria.sequencer.v2alpha1.rs
  crates/astria-core/src/generated/astria.sequencer.v2alpha1.serde.rs
  crates/astria-core/src/generated/astria.sequencerblock.v1alpha1.serde.rs
  crates/astria-sequencer-client/src/extension_trait.rs
  crates/astria-sequencer-client/src/lib.rs
  crates/astria-sequencer-relayer/tests/blackbox/helper.rs
  crates/astria-sequencer/src/api_state_ext.rs
  crates/astria-sequencer/src/app.rs
  crates/astria-sequencer/src/bridge/bridge_lock_action.rs
  crates/astria-sequencer/src/bridge/state_ext.rs
  crates/astria-sequencer/src/ibc/ics20_transfer.rs
  crates/astria-sequencer/src/proposal/commitment.rs
  tools/protobuf-compiler/src/main.rs
Owners: @joroshiba, @noot, @SuperFluffy, @Fraser999

cleanup
  crates/astria-composer/tests/blackbox/helper/mod.rs
Owners: @joroshiba, @noot, @SuperFluffy, @Fraser999

cleanup
  proto/sequencerapis/astria/sequencer/v2alpha1/block.proto
  proto/sequencerapis/astria/sequencer/v2alpha1/celestia.proto
  proto/sequencerapis/astria/sequencer/v2alpha1/service.proto
Owners: @joroshiba, @noot, @SuperFluffy, @Fraser999

remove empty file
  crates/astria-conductor/tests/blackbox/helpers/telemetry.rs
Owners: @joroshiba, @noot, @SuperFluffy, @Fraser999

move protobuf trait into sequencer/sequencerblock
  crates/astria-conductor/src/executor/client.rs
  crates/astria-conductor/src/executor/state.rs
  crates/astria-core/src/execution/v1alpha2/mod.rs
  crates/astria-core/src/lib.rs
  crates/astria-core/src/sequencer/mod.rs
  crates/astria-core/src/sequencer/v1/block/mod.rs
  crates/astria-core/src/sequencer/v1/celestia.rs
  crates/astria-core/src/sequencer/v1/mod.rs
  crates/astria-core/src/sequencer/v1/transaction/action.rs
  crates/astria-core/src/sequencerblock/mod.rs
  crates/astria-core/src/sequencerblock/v1alpha1/block.rs
  crates/astria-core/src/sequencerblock/v1alpha1/celestia.rs
  crates/astria-core/src/sequencerblock/v1alpha1/mod.rs
  crates/astria-sequencer/src/api_state_ext.rs
Owners: @joroshiba, @noot, @SuperFluffy, @Fraser999

clippy
  crates/astria-core/src/sequencerblock/v1alpha1/block.rs
  crates/astria-core/src/sequencerblock/v1alpha1/celestia.rs
Owners: @joroshiba, @noot, @SuperFluffy, @Fraser999

undo getting sequencer namespace from latest commit (instead of block)
  crates/astria-conductor/src/celestia/mod.rs
Owners: @joroshiba, @noot, @SuperFluffy, @Fraser999

test fix
  crates/astria-conductor/src/executor/tests.rs
Owners: @joroshiba, @noot, @SuperFluffy, @Fraser999

typos, commented out code
  crates/astria-conductor/src/celestia/builder.rs
  crates/astria-conductor/tests/blackbox/helpers/macros.rs
Owners: @joroshiba, @noot, @SuperFluffy, @Fraser999

fix tests
  crates/astria-sequencer-relayer/tests/blackbox/helper.rs
Owners: @joroshiba, @noot, @SuperFluffy, @Fraser999

clippy
  crates/astria-conductor/src/celestia/block_verifier.rs
  crates/astria-sequencer/src/grpc/sequencer.rs
Owners: @joroshiba, @noot, @SuperFluffy, @Fraser999

fix(ci): less flaky smoke test
  .github/workflows/docker-build.yml
  justfile
Owners: @astriaorg/infra, @joroshiba, @noot, @SuperFluffy, @Fraser999
