Repository astriaorg/astria, changes with the owners that CODEOWNERS names for each.
All owners: @joroshiba, @SuperFluffy, @bharath-123, @noot, @ethanoroshiba, @fraser999, @astriaorg/engineering, @astriaorg/infra, @superfluffy, @astriaorg/api-reviewers

chore: fix undefined `buf` variable in error message
  tools/protobuf-compiler/src/main.rs
Owners: @SuperFluffy, @joroshiba

changes afoot
  charts/evm-rollup/files/scripts/init-geth.sh
  charts/evm-rollup/templates/statefulsets.yaml
  charts/evm-rollup/values.yaml
Owners: @astriaorg/infra

fix tests
  charts/evm-rollup/values.yaml
  dev/values/rollup/dev.yaml
  dev/values/rollup/evm-restart-test.yaml
Owners: @astriaorg/infra

using latest image version
  charts/evm-rollup/values.yaml
Owners: @astriaorg/infra

fix deploy evm-rollup-restart-test recipe
  charts/just/deploy.just
Owners: @astriaorg/infra

update
  charts/evm-rollup/templates/_helpers.tpl
Owners: @astriaorg/infra

network id fix
  charts/evm-rollup/files/scripts/init-geth.sh
  charts/evm-rollup/templates/_helpers.tpl
  charts/evm-rollup/templates/statefulsets.yaml
  charts/evm-rollup/values.yaml
Owners: @astriaorg/infra

update genesis
  charts/evm-rollup/files/genesis/flame-devnet.genesis.json
Owners: @astriaorg/infra

test
  charts/evm-rollup/files/genesis/flame-devnet.genesis.json
Owners: @astriaorg/infra

update again
  charts/evm-rollup/templates/_helpers.tpl
Owners: @astriaorg/infra

add celestia information
  charts/composer/templates/_helpers.tpl
  charts/evm-rollup/files/genesis/flame-devnet.genesis.json
Owners: @astriaorg/infra

chore: update chart upgrade format
  charts/deploy.just
  charts/sequencer/files/cometbft/config/custom.genesis.json
  charts/sequencer/files/upgrades/custom.upgrades.json
  charts/sequencer/files/upgrades/dawn-1.genesis.json
  charts/sequencer/files/upgrades/dusk-11.genesis.json
  charts/sequencer/files/upgrades/mainnet.genesis.json
  charts/sequencer/templates/configmaps.yaml
  charts/sequencer/values.yaml
  dev/values/validators/all.yml
  dev/values/validators/priceFeed.genesis.yml
  dev/values/validators/upgrade1.upgrades.yml
  system-tests/README.md
  system-tests/helpers/sequencer_controller.py
  system-tests/sequencer_upgrade_test.py
Owners: @astriaorg/infra, @astriaorg/engineering, @joroshiba

fix(test): foo.bar
  foo.bar
Owners: @joroshiba

attempt adding as a ci test
  .github/workflows/docker-build.yml
Owners: @astriaorg/infra

@SuperFluffy changelog suggestion
  crates/astria-cli/CHANGELOG.md
Owners: @SuperFluffy, @joroshiba

rename files
  charts/sequencer/files/upgrades/dawn-1.upgrades.json
  charts/sequencer/files/upgrades/dusk-11.upgrades.json
  charts/sequencer/files/upgrades/mainnet.upgrades.json
Owners: @astriaorg/infra

replace system-tests protobuf files with uncommitted buf-generated ones
  charts/deploy.just
  system-tests/.gitignore
  system-tests/README.md
  system-tests/buf.gen.yaml
  system-tests/helpers/proto/README.md
  system-tests/helpers/proto/generated/service_pb2.py
  system-tests/helpers/proto/generated/service_pb2.pyi
  system-tests/helpers/proto/generated/service_pb2_grpc.py
  system-tests/helpers/proto/service.proto
  system-tests/helpers/sequencer_controller.py
  system-tests/requirements.txt
Owners: @astriaorg/infra, @astriaorg/engineering, @joroshiba, @astriaorg/api-reviewers

add buf to ci for upgrade test
  .github/workflows/docker-build.yml
Owners: @astriaorg/infra

add bridge signer to default members, fix lints
  Cargo.toml
  crates/astria-bridge-signer/src/bridge_signer.rs
  crates/astria-bridge-signer/src/main.rs
Owners: @SuperFluffy, @fraser999, @noot, @ethanoroshiba

CODEOWNERS:

* @joroshiba

astria-auctioneer/ @SuperFluffy @bharath-123
astria-bridge-contracts/ @SuperFluffy @joroshiba
astria-bridge-signer/ @noot @SuperFluffy @ethanoroshiba
astria-bridge-withdrawer/ @SuperFluffy @joroshiba
astria-build-info/ @SuperFluffy @joroshiba
astria-cli/ @SuperFluffy @joroshiba
astria-composer/ @SuperFluffy @joroshiba
astria-conductor/ @SuperFluffy @ethanoroshiba @joroshiba
astria-config/ @SuperFluffy @joroshiba
astria-core/ @SuperFluffy @fraser999
astria-core-address/ @SuperFluffy @fraser999
astria-core-consts/ @SuperFluffy @fraser999
astria-core-crypto/ @SuperFluffy @fraser999
astria-eyre/ @SuperFluffy @fraser999
astria-grpc-mock/ @SuperFluffy @fraser999
astria-grpc-mock-test/ @SuperFluffy @fraser999
astria-grpc-mock-test-codegen/ @SuperFluffy @fraser999
astria-merkle/ @SuperFluffy @joroshiba
astria-sequencer/ @noot @fraser999
astria-sequencer-client/ @SuperFluffy @fraser999
astria-sequencer-relayer/ @fraser999 @SuperFluffy
astria-sequencer-utils/ @fraser999 @noot
astria-telemetry/ @SuperFluffy @fraser999
astria-test-utils/ @SuperFluffy @joroshiba

tools/astria-address @SuperFluffy @joroshiba
tools/protobuf-compiler @SuperFluffy @joroshiba
tools/solidity-compiler @SuperFluffy @joroshiba

*.snap @joroshiba @SuperFluffy @fraser999

specs/ @astriaorg/engineering
justfile @astriaorg/engineering
README.md @astriaorg/engineering
taplo.toml @astriaorg/engineering
.gitattributes @astriaorg/engineering
.gitignore @astriaorg/engineering

/.github/ @astriaorg/infra
/.github/workflows/lint.yml @superfluffy @fraser999
/.github/workflows/test.yml @superfluffy @fraser999
/containerfiles/ @superfluffy @fraser999
/charts/ @astriaorg/infra
/dev/ @astriaorg/infra
.dockerignore @astriaorg/infra
*.env.example @astriaorg/infra

*.proto @astriaorg/api-reviewers
proto/*/LICENSE @astriaorg/api-reviewers
buf.lock @astriaorg/api-reviewers
buf.yaml @astriaorg/api-reviewers
buf.work.yaml @astriaorg/api-reviewers

/Cargo.toml @SuperFluffy @fraser999
/Cargo.lock @SuperFluffy @fraser999
/rust-toolchain @SuperFluffy @fraser999
/.cargo/ @SuperFluffy @fraser999
/nextest.toml @SuperFluffy @fraser999
/rusfmt.toml @SuperFluffy @fraser999
