Repository astriaorg/astria, changes with the owners that CODEOWNERS names for each.
All owners: @joroshiba, @SuperFluffy, @noot, @astriaorg/engineering, @astriaorg/infra, @astriaorg/api-reviewers, @astriaorg/rust-reviewers

remove data_hash from begin_block
  crates/astria-sequencer/src/app.rs
Owners: @astriaorg/rust-reviewers

deploys
  charts/celestia-local/files/scripts/init-celestia-appd.sh
  charts/hermes/templates/configmaps.yaml
  charts/hermes/templates/deployment.yaml
  charts/hermes/templates/ingress.yaml
  charts/hermes/templates/secretproviderclass.yaml
  charts/hermes/values.yaml
  dev/values/hermes/local.yml
  justfile
Owners: @astriaorg/infra, @astriaorg/engineering

lint
  charts/hermes/values.yaml
Owners: @astriaorg/infra

format
  crates/astria-composer/tests/blackbox/grpc_collector.rs
  crates/astria-core/src/sequencerblock/v1alpha1/block.rs
  crates/astria-sequencer-client/src/extension_trait.rs
Owners: @astriaorg/rust-reviewers

cleanup
  proto/protocolapis/astria/protocol/transactions/v1alpha1/types.proto
Owners: @astriaorg/api-reviewers

CODEOWNERS:

* @joroshiba @SuperFluffy @noot

specs/ @astriaorg/engineering
justfile @astriaorg/engineering
README.md @astriaorg/engineering
taplo.toml @astriaorg/engineering
.gitattributes @astriaorg/engineering
.gitignore @astriaorg/engineering

/.github/ @astriaorg/infra
/containerfiles/ @astriaorg/infra
/charts/ @astriaorg/infra
/dev/ @astriaorg/infra
.dockerignore @astriaorg/infra
*.env.example @astriaorg/infra

*.proto @astriaorg/api-reviewers
proto/*/LICENSE @astriaorg/api-reviewers
buf.lock @astriaorg/api-reviewers
buf.yaml @astriaorg/api-reviewers
buf.work.yaml @astriaorg/api-reviewers

*.rs @astriaorg/rust-reviewers
Cargo.toml @astriaorg/rust-reviewers
Cargo.lock @astriaorg/rust-reviewers
rust-toolchain @astriaorg/rust-reviewers
.cargo/ @astriaorg/rust-reviewers
nextest.toml @astriaorg/rust-reviewers
rusfmt.toml @astriaorg/rust-reviewers
